<template>
  <q-page>
    <indexTrash />
  </q-page>
</template>

<script>
import indexTrash from 'src/components/back/trash/trash.vue'

export default {
  name: 'mainTrash',
  components: {
    indexTrash
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
