<template>
  <q-form @submit="save" class="row" v-if="render">
    <div class="col-12 text-right">
      <!--<q-btn @click="openStatusModal" v-if="quote.id && quote.status_id < 2 && quote.user.id === user.id" class="float-right q-pl-sm q-pr-sm text-capitalize" style="margin-top: -80px" rounded dense color="secondary" label="Validate" icon-right="check" />
      <q-btn @click="openStatusModal" v-if="quote.id && quote.status_id === 2 && user.rol === 'admin'" class="float-right q-ml-md q-pl-sm q-pr-sm text-capitalize" style="margin-top: -80px" rounded dense color="primary" label="Confirm" />-->
    </div>
    <div class="col-12 col-sm-6 col-md-4 q-pa-sm" :class="{ 'q-pt-lg': quote.id }">
      <q-select ref="clientSelect" v-if="!quote.id" @input="setClient" :loading="loadingClient" label="Client" rounded outlined v-model="quote.client_id" use-input hide-selected fill-input :options="clientsOptions" @filter="filterClient" :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : null" :option-label="opt => Object(opt) === opt && 'name' in opt ?  opt.name : ''" :option-disable="opt => Object(opt) === opt ? opt.inactive === true : true" emit-value map-options :rules="[val => !!val || 'this field is required']">
        <template v-slot:no-option>
          <q-item>
            <q-item-section class="text-grey text-center">
              0 results...
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section class="text-grey text-center">
              <q-btn @click="openModel(1)" color="primary" flat dense :label="$t('newUser')" />
            </q-item-section>
          </q-item>
        </template>
        <template v-slot:append>
          <q-btn @click="openModel(1)" color="primary" flat dense icon="add" />
        </template>
      </q-select>
      <div v-else class="cursor-pointer q-mt-lg full-width price-label23 relative">
        <div class="q-pt-sm">{{quote.client.name}} {{quote.client.last_name}}</div>
        <div class="q-field__label2 no-pointer-events absolute ellipsis q-ml-sm">Client</div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 q-pa-sm">
      <q-input debounce="2000" v-model="quote.code" label="Code" readonly rounded outlined :rules="[val => !!val || 'this field is required']">
      </q-input>
    </div>
    <div class="col-12 col-sm-6 col-md-4 q-pa-sm" :class="{ 'q-pt-lg': quote.id }">
      <q-select v-if="!quote.id" @input="setDealer" :loading="loadingDealer" label="Dealer" rounded outlined v-model="quote.dealer_id" use-input hide-selected fill-input :options="dealersOptions" @filter="filterDealer" :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : null" :option-label="opt => Object(opt) === opt && 'name' in opt ?  opt.name : ''" :option-disable="opt => Object(opt) === opt ? opt.inactive === true : true" emit-value map-options>
        <template v-slot:no-option>
          <q-item>
            <q-item-section class="text-grey text-center">
              0 results...
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section class="text-grey text-center">
              <q-btn @click="openModel(2)" color="primary" flat dense :label="$t('newDealer')" />
            </q-item-section>
          </q-item>
        </template>
        <template v-slot:append>
          <q-btn @click="openModel(2)" color="primary" flat dense icon="add" />
        </template>
      </q-select>
      <div v-else class="cursor-pointer q-mt-lg full-width price-label23 relative">
        <div class="q-pt-sm" v-if="quote.dealer">{{quote.dealer.name}} {{quote.dealer.last_name}}</div>
        <div class="q-pt-sm" v-else>No dealer</div>
        <div class="q-field__label2 no-pointer-events absolute ellipsis q-ml-sm">Dealer</div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 q-pa-sm">
      <q-input readonly :rules="[val => !!val || 'this field is required']" rounded outlined label="Creation date" v-model="dateCreation">
        <template v-slot:append>
          <q-icon v-show="!quote.id || quote.status_id === 1 || quote.status_id === 2 && user.rol === 'admin'" name="event" class="cursor-pointer">
            <q-popup-proxy ref="qDateProxy" cover transition-show="scale" transition-hide="scale">
              <q-date v-model="dateCreation">
                <div class="row items-center justify-end">
                  <q-btn v-close-popup label="Close" color="primary" flat />
                </div>
              </q-date>
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
    </div>
    <div class="col-12 col-sm-6 col-md-4 q-pa-sm">
      <q-input :readonly="quote.status_id === 3 && user.rol !== 'admin' || quote.status_id === 2 && user.rol !== 'admin'" :rules="[val => !!val || 'this field is required']" rounded outlined label="Validity date" v-model="dateValidity">
        <template v-slot:append>
          <q-icon v-show="!quote.id || quote.status_id === 1 || quote.status_id === 2 && user.rol === 'admin' || quote.status_id === 3 && user.rol === 'admin'" name="event" class="cursor-pointer">
            <q-popup-proxy ref="qDateProxy2" cover transition-show="scale" transition-hide="scale">
              <q-date v-model="dateValidity">
                <div class="row items-center justify-end">
                  <q-btn v-close-popup label="Close" color="primary" flat />
                </div>
              </q-date>
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
    </div>
    <div class="col-12 col-sm-6 col-md-4 q-pa-sm" v-if="$route.params.id">
      <q-checkbox v-model="upNumber" label="Increase revision"></q-checkbox>
    </div>
    <div class="col-12 q-pa-sm">
      <p class="font-14 text-primary text-bold text-capitalize">
        {{$t('items')}} <q-btn @click="pushNewItems" icon="add" color="primary" flat dense />
        <span class="float-right" v-if="quote.id && exchangeRate && parseFloat(exchangeRate) !== parseFloat(oldRate)">
          <div>
           <span class="text-secondary">
             New rate {{exchangeRate}} (USD/EUR) <q-icon name="edit" color="green-9" />
            <q-popup-edit :auto-save="true" v-model="exchangeRate" class="bg-accent text-white">
              <q-input @input="reRender" rounded dense outlined v-model="exchangeRate" autofocus>
                <template v-slot:append>
                  <q-icon name="attach_money" />
                </template>
              </q-input>
            </q-popup-edit>
           </span>
            <q-btn @click="recalculateTotalItems" flat dense icon="calculate" color="secondary">
              <q-tooltip content-class="bg-secondary text-capitalize" :offset="[10, 10]">
                Recalculate
              </q-tooltip>
            </q-btn>
              |
              Old rate {{oldRate}} (USD/EUR)
          </div>
        </span>
      </p>
      <!--items-->
      <itemss v-if="render && renderItem" :oldRate="oldRate" />
      <!--end items-->
    </div>
    <div class="col-12 col-sm-6 col-md-2 q-mt-lg q-pa-sm q-pt-lg">
      <div class="cursor-pointer full-width price-label2 relative">
        <div class="q-pt-sm">{{formattedCost(quote.subtotal)}}</div>
        <q-popup-edit @before-show="quote.subtotal = ''" :auto-save="true" :disable="quote.status_id === 3 && user.rol !== 'admin' || quote.status_id === 2 && user.rol !== 'admin'" @input="reRender" v-model="quote.subtotal" class="bg-accent text-white">
          <q-input @input="reRender" rounded dense outlined v-model="quote.subtotal" autofocus>
            <template v-slot:append>
              <q-icon name="attach_money" />
            </template>
          </q-input>
        </q-popup-edit>
        <div class="q-field__label2 no-pointer-events absolute ellipsis">Total EX WORKS</div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-2 q-mt-lg q-pa-sm q-pt-lg">
      <div class="cursor-pointer full-width price-label2 relative">
        <div class="q-pt-sm">{{formattedCost(quote.discount)}}</div>
        <q-popup-edit @before-show="quote.discount = ''" :auto-save="true" :disable="quote.status_id === 3 && user.rol !== 'admin' || quote.status_id === 2 && user.rol !== 'admin'" @input="setTotal" v-model="quote.discount" class="bg-accent text-white">
          <q-input @input="setTotal" rounded dense outlined v-model="quote.discount" autofocus>
            <template v-slot:append>
              <q-icon name="attach_money" />
            </template>
          </q-input>
        </q-popup-edit>
        <div class="q-field__label2 no-pointer-events absolute ellipsis q-pl-sm">Discount</div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-2 q-mt-lg q-pa-sm q-pt-lg">
      <div class="cursor-pointer full-width price-label2 relative">
        <div class="q-pt-sm">{{formattedCost(quote.packaging_value)}}</div>
        <q-popup-edit @before-show="quote.packaging_value = ''" :auto-save="true" :disable="quote.status_id === 3 && user.rol !== 'admin' || quote.status_id === 2 && user.rol !== 'admin'" @input="setTotal" v-model="quote.packaging_value" class="bg-accent text-white">
          <q-input @input="setTotal" rounded dense outlined v-model="quote.packaging_value" autofocus>
            <template v-slot:append>
              <q-icon name="attach_money" />
            </template>
          </q-input>
        </q-popup-edit>
        <div class="q-field__label2 no-pointer-events absolute">Crating, local freig...</div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-2 q-mt-lg q-pa-sm q-pt-lg">
      <div @click="openStatusModal" class="cursor-pointer full-width price-label2 relative">
        <div class="q-pt-sm">{{formattedCost(quote.freight_value)}}</div>
        <q-popup-edit @save="setExchangeRate" disable style="z-index: 1" :auto-save="true" @input="setTotal" v-model="quote.freight_value" class="bg-accent text-white">
          <q-input @input="reRender" debounce="1500" rounded dense outlined v-model="quote.freight_value" autofocus>
            <template v-slot:append>
              <q-icon name="attach_money" />
            </template>
          </q-input>
        </q-popup-edit>
        <div class="q-field__label2 no-pointer-events absolute q-pl-sm">Ocean Freight</div>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-2 q-mt-lg q-pa-sm">
      <q-input disable :rules="[val => !!val || 'this field is required']" v-model="quote.totalWeight" label="Total weight stimated" min="0" type="number" rounded outlined>
      </q-input>
    </div>
    <div class="col-12 col-sm-6 col-md-2 q-mt-lg q-pa-sm q-pt-lg">
      <div class="cursor-pointer full-width price-label2 relative">
        <div class="q-pt-sm">{{formattedCost(quote.total)}}</div>
        <q-popup-edit :auto-save="true" :disable="quote.status_id === 3 || quote.status_id === 2 && user.rol !== 'admin'" v-model="quote.total" class="bg-accent text-white">
          <q-input rounded dense outlined v-model="quote.total" autofocus>
            <template v-slot:append>
              <q-icon name="attach_money" />
            </template>
          </q-input>
        </q-popup-edit>
        <div class="q-field__label2 no-pointer-events absolute ellipsis q-pl-sm">Total</div>
      </div>
    </div>
    <div class="col-12 col-sm-12 text-left" style="margin-top:-10px"  v-if="$route.params.id">
      <q-tabs
        inline-label
        v-model="lang"
        class="text-primary text-left pull-left float-left"
      >
        <q-tab name="es" label="Spanish" />
        <q-tab name="en" label="English" />
        <q-tab name="pt" label="Potugues" />
      </q-tabs>
    </div>
    <div class="col-12 q-pa-sm" v-if="$route.params.id">
      <label class="text-bold font-12 text-primary q-mb-sm">Shipping or Misc Instructions</label>
      <q-editor v-if="lang === 'es'" @blur="translateDesc" v-model="quote.description" class="q-mt-sm" min-height="5rem" />
      <q-editor v-if="lang === 'en'" @blur="translateDesc" v-model="quote.description_en" class="q-mt-sm" min-height="5rem" />
      <q-editor v-if="lang === 'pt'" @blur="translateDesc" v-model="quote.description_br" class="q-mt-sm" min-height="5rem" />
    </div>
    <div class="col-12 q-pa-sm"  v-if="$route.params.id">
      <label class="text-bold font-12 text-primary q-mb-sm">General conditions of sale</label>
      <q-editor v-if="lang === 'es'" @input="reRender" v-model="lastPage" class="q-mt-sm" min-height="5rem" />
      <q-editor v-if="lang === 'en'" @input="reRender" v-model="lastPageEn" class="q-mt-sm" min-height="5rem" />
      <q-editor v-if="lang === 'pt'" @input="reRender" v-model="lastPageBr" class="q-mt-sm" min-height="5rem" />
    </div>
    <div class="col-12 text-center q-mt-lg">
      <q-btn v-if="quote.id && quote.status_id < 2 && user.rol !== 'admin'" :loading="loading" rounded size="md" densed class="text-capitalize" :label="$t('save')" type="submit" color="primary" />
      <q-btn v-if="quote.id && user.rol === 'admin'" :loading="loading" rounded size="md" densed class="text-capitalize" :label="$t('save')" type="submit" color="primary" />
      <q-btn v-if="!quote.id" :loading="loading" rounded size="md" densed class="text-capitalize" :label="$t('save')" type="submit" color="primary" />
    </div>
    <q-dialog @hide="loadClients" v-model="openModelModal" style="z-index:999999999999999999">
      <div class="bg-white round-10 full-width relative"  style="position: relative">
        <q-btn id="closeModal" flat dense size="sm" color="red" v-close-popup style="height: 30px" icon="close" class="absolute-right">
          <q-tooltip content-class="bg-red">
            Close
          </q-tooltip>
        </q-btn>
        <clientAdd v-if="typeForm === 1" />
        <dealerAdd v-if="typeForm === 2" />
      </div>
    </q-dialog>
    <q-dialog @before-show="setProviders" @hide="setTotal" v-model="statusModal">
      <div class="bg-white round-10 full-width relative q-pa-md"  style="position: relative; max-width: 550px">
        <span class="font-18 text-primary text-bold text-capitalize">
          Ocean Freight Calculator
        </span>
        <q-btn id="closeModal" flat dense size="sm" color="red" v-close-popup style="height: 30px" icon="close" class="absolute-right">
          <q-tooltip content-class="bg-red">
            Close
          </q-tooltip>
        </q-btn>
        <div class="row q-mt-lg">
          <div class="col-12">
            <providerList v-if="render" @setOceanFreightTotal="setOceanFreightTotal" @setOceanPrice="setOceanPrice" :data="providers" />
          </div>
        </div>
      </div>
    </q-dialog>
  </q-form>
</template>

<script>
import countrys from 'src/utilities/country.json'
import { show, editQuote, generateReference } from 'src/api/quotes'
import { search } from 'src/api/clients'
import { searchDealer } from 'src/api/dealer'
import clientAdd from 'src/components/back/clients/add'
import dealerAdd from 'src/components/back/dealers/add'
import itemss from './items'
import statusForm from './statusForm'
import providerList from './providerList'
import { getExchangeRate } from 'src/api/rate'
import { generateKey, translate } from 'src/api/translate'

export default {
  name: 'addquote',
  props: {
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    },
    itemFilter () {
      return this.$store.getters['quote/itemSelected']
    },
    quoteFilter () {
      return this.$store.getters['quote/quote']
    }
  },
  watch: {
    itemFilter (item) {
      // this.setProvider(item)
    },
    quoteFilter (quote) {
      if (this.control === 0) {
        this.$delete(quote, 'dealer_id')
        this.$delete(quote, 'client_id')
        this.$delete(quote, 'code')
        this.$delete(quote, 'blueprints')
      }
      this.quote = quote
      this.quote.id = null
      this.quote.uuid = null
      this.dateCreation = this.getDate()
      this.dateValidity = this.getAvailableDate()
      this.loadQuotes = true
      this.items = []
      quote.items.map(data => {
        data.id = data.item_id
        this.items.push(data)
      })
      this.renderItem = false
      setTimeout(() => {
        this.renderItem = true
        this.reRender()
      }, 10)
      this.control = this.control + 1
    }
  },
  components: {
    itemss,
    clientAdd,
    dealerAdd,
    statusForm,
    providerList
  },
  data () {
    return {
      quote: {},
      upNumber: false,
      loading: false,
      clients: [],
      clientsOptions: this.clients,
      dealers: [],
      dealersOptions: this.dealers,
      render: true,
      clientMenu: false,
      loadingClient: false,
      loadingDealer: false,
      dateCreation: this.getDate(),
      dateValidity: this.getDate(),
      items: [],
      position: 1,
      typeForm: null,
      openModelModal: false,
      statusModal: false,
      providers: [],
      lastPage: '<p style="font-size: 8pt; text-align: justify">1.- Cualquier equipo no mencionado expresamente en la presente oferta no forma parte del suministro de ATS.</p> <p style="font-size: 8pt; text-align: justify">2.- ATS se reserva el derecho a modificar y/o corregir cualquier error u omision en la presente oferta.</p> <p style="font-size: 8pt; text-align: justify">3.- Todas las dimensiones reflejadas en la presente oferta estan sujetas a la realizacion de un plano definitivo aprobado por el cliente.</p> <p style="font-size: 8pt; text-align: justify">4.- El cliente es responsible del resguardo y manipulacion de los equipos una vez ATS haya entregado los mismos en el lugar acordado.</p> <p style="font-size: 8pt; text-align: justify">5.- El cliente dispone de 30 dias calendarios a la entrega de los equipos en el lugar acordado para la verificacion y comprobacion de la recepcion, luego de este tiempo, ATS no se hace responsable de los posibles daños, falta de materiales, etc.</p> <p style="font-size: 8pt; text-align: justify">6.- Los precios fueron calculados a la tasa de cambio del dia del Euro/Dólar: 1.18, ATS se reserva el derecho de realizar modificaciones debido a este concepto.</p> <p style="font-size: 8pt; text-align: justify">7.- Todos los cargos bancarios del banco emisor, debe ser asumido por el cliente, todos los cargos del banco receptor corren por cuenta de ATS.</p> <p style="font-size: 8pt; text-align: justify">8.- En la presente oferta no se incluye Tecnico y/o Supervisor para el armado y el montaje, el mismo podra ser cotizado en caso de ser requerido por el cliente debidamente cargados y embalados, cumpliendo con los maximos controles para garantizar un despacho adecuado. <p style="font-size: 8pt; text-align: justify">9.- ATS no se hace responsable de cualquier daño o deterioro debido a una mala manipulacion u otras circunstancias que no este bajo el contro de ATS.</p> <p style="font-size: 8pt; text-align: justify">10.- Las Garantias ofrecidas son trasladadas directamente desde fabrica, el cliente recibira una carta donde cada proveedor reconoce la cobertura de la misma.</p> <p style="font-size: 8pt; text-align: justify">11.- El precio del Flete es calculado a la fecha de la oferta, pudiendo variar al momento del cierre, por lo que ATS se reserva a realizar modificaciones en caso de existir.</p> <p style="font-size: 8pt; text-align: justify">12.- ATS, a través de sus proveedores garantizan y se responsabilizan por los tiempos de fabricacion, los tiempos de fletes locales e internacionales, son manejados por terceros y estan sujetos a la disponibilidad de los mismos.</p> <p style="font-size: 8pt; text-align: justify">13.- El cliente debe informar con tiempo los documentos necesarios para importacion y las condiciones (si aplica), pudiendo afectar el precio final.</p> <p style="font-size: 8pt; text-align: justify">14.- ATS se reserva el derecho de aplicar nuevos cargos por concepto de penalidades, morosidades, almacenes u otros, debido a retrasos en el pago del balance final por mas de 30 dias, en caso de exceder 6 meses, ATS dispondra de los bienes fabricados y al anticipo se le descontara los conceptos antes señalados y si existiese una diferencia la misma sera tomado como un credito a favor del cliente para una nueva oferta con precios actualizados.</p> <p style="font-size: 8pt; text-align: justify">15.- La presente oferta no incluye ningun tipo de obra, en caso de requerirse, ATS cotizara a traves del representante local en moneda local.</p> <p style="font-size: 8pt; text-align: justify">16.- No se incluye nigun tipo de permisos, estudios preliminares, gestion aduanal para la importacion o cualquier otro que no este expresamente mencionado en la oferta.</p> <p style="font-size: 8pt; text-align: justify">17.- ATS se compromete a emitir los planos de cimentacion, una vez confirmada la operacion, la misma no tendra costo adicional, para ello se requiere, por parte del cliente, el estudio de mecanica de suelos del lugar de la instalacion y un levantamiento topografico.</p> <p style="font-size: 8pt; text-align: justify">18.- Las garantias emitidas por los equipos son contra defectos de fabricacion, es importante que las obras se realicen con personal calificado, los daños o golpes, sufridos por los equipos por concepto de manupulacion o incorrecta instalacion no seran responsabilidad de ATS.</p> <p style="font-size: 8pt; text-align: justify">19.- ATS se compromete con el cliente, aun acompañamiento durante toda la fase del proyecto (Ingenieria y Obras), independientemente de la empresa que sea beneficiada por las obras, es importante mencionar que este acompañamiento se realizaria por visitas programadas y/o consultas remotas (correos y videollamadas).</p> <p style="font-size: 8pt; text-align: justify">20.- Debido a la actual situación global de transporte, ATS se ve obligada a cotizar solo precios indicativos y no vinculantes. ATS no puede aceptar actualmente ningun transporte en su alcance al momento de realizar el pedido, sino solo 15 días antes del envio con precios actualizados.</p>',
      lastPageEn: '<p style="font-size: 8pt; text-align: justify">1.- Any equipment not expressly mentioned in this offer is not part of the ATS supply.</p> <p style="font-size : 8pt; text-align: justify">2.- ATS reserves the right to modify and/or correct any error or omission in this offer.</p> <p style="font-size: 8pt; text- align: justify">3.- All the dimensions reflected in this offer are subject to the completion of a final plan approved by the client.</p> <p style="font-size: 8pt; text-align: justify ">4.- The client is responsible for the protection and handling of the equipment once ATS has delivered it to the agreed place.</p> <p style="font-size: 8pt; text-align: justify"> 5.- The client has 30 calendar days from the delivery of the equipment at the agreed place for verification and proof of reception, after this time, ATS is not responsible for possible damage, lack of materials, etc. </p> <p style="font-size: 8pt !important; text-align: justify">6.- Prices were calculated at the Euro/Dollar exchange rate of the day: 1.18, ATS reserves the right to make changes due to this concept.</p> <p style=" font-size: 8pt; text-align: justify">7.- All bank charges from the issuing bank must be borne by the client, all charges from the receiving bank are borne by ATS.</p> <p style="font-size: 8pt; text-align: justify">8.- This offer does not include a Technician and/or Supervisor for assembly and assembly, it could be quoted if required by the client, properly loaded and packed, complying with the maximum controls to ensure proper dispatch <p style="font-size: 8pt; text-align: justify">9.- ATS is not responsible for any damage or deterioration due to poor handling or other circumstances that are not under the control of ATS.</p> <p style="font-size: 8pt; text-align: justify">10.- The Guarantees offered are transferred directly from the factory, the client will receive a letter where each supplier acknowledges the coverage thereof.</p> <p style="font-size: 8pt; text-align: justify">11.- The freight price is calculated on the date of the offer, and may vary at the time of closing, so ATS reserves the right to make changes if they exist.</p> <p style="font-size: 8pt; text-align: justify">12.- ATS, through its suppliers, guarantees and is responsible for manufacturing times, local and international freight times, are handled by third parties and are subject to their availability.< /p> <p style="font-size: 8pt; text-align: justify">13.- The client must inform in time the necessary documents for importation and the conditions (if applicable), which may affect the final price.</p> <p style="font-size: 8pt; text-align: justify">14.- ATS reserves the right to apply new charges for penalties, delinquencies, warehouses or others, due to delays in the payment of the final balance for more than 30 days, in case of exceeding 6 months, ATS will dispose of the manufactured goods and the aforementioned concepts will be deducted from the advance and if there is a difference, it will be taken as a credit in favor of the client for a new offer with updated prices.</p> <p style= "font-size: 8pt; text-align: justify">15.- This offer does not include any type of work, if required, ATS will quote through the local representative in local currency.</p> <p style="font-size: 8pt ; text-align: justify">16.- No type of permits, preliminary studies, customs management for imports or any other that is not expressly mentioned in the offer is not included.</p> <p style="font-size : 8pt; text-align: justify">17.- ATS undertakes to issue the foundation plans, once the operation is confirmed, it will have no additional cost, for this the client requires the soil mechanics study of the installation location and a topographic survey.</p> <p style="font-size: 8pt; text-align: justify">18.- The guarantees issued by the equipment are against manufacturing defects, it is important that the works are carried out with qualified personnel, the damages or blows suffered by the equipment due to handling or incorrect installation do not they will be the responsibility of ATS.</p> <p style="font-size: 8pt; text-align: justify">19.- ATS is committed to the client, even accompaniment throughout the project phase (Engineering and Works), regardless of the company that is benefited by the works, it is important to mention that this accompaniment would be carried out for scheduled visits and/or remote consultations (emails and video calls).</p> <p style="font-size: 8pt; text-align: justify">20.- Due to the current global transport situation, ATS is forced to quote only indicative and non-binding prices. ATS cannot currently accept any transport in its scope at the moment',
      lastPageBr: '<p style="font-size: 8pt; text-align: justify">1.- Qualquer equipamento não mencionado expressamente nesta oferta não faz parte do fornecimento ATS.</p> <p style="font-size: 8pt; text-align: justify">2.- ATS reserva-se o direito de modificar e/ou corrigir qualquer erro ou omissão nesta oferta.</p> <p style="font-size: 8pt; text-align: justify ">3.- Todas as dimensões refletidas nesta oferta estão sujeitas à realização de um plano final aprovado pelo cliente.</p> <p style="font-size: 8pt; text-align: justify ">4. - O cliente é responsável pela proteção e manuseio do equipamento uma vez que o ATS o tenha entregue no local acordado.</p> <p style="font-size: 8pt; text-align: justify"> 5.- O cliente tem 30 dias corridos a partir da entrega do equipamento no local acordado para verificação e comprovação de recebimento, após este prazo, a ATS não se responsabiliza por possíveis danos, falta de materiais, etc. </p> <p style="font-size: 8pt; text-align: justify">6.- Os preços foram calculados à taxa de câmbio Euro/Dólar do dia: 1,18, a ATS reserva-se o direito de fazer alterações devido a este conceito.</p> <p style=" font-size: 8pt; text-align: justify">7.- Todos os encargos bancários do banco emissor devem ser suportados pelo cliente, todos os encargos do banco destinatário são suportados pela ATS.</p> <p style="font-size: 8pt; text-align: justify">8.- Esta oferta não inclui Técnico e/ou Supervisor para montagem e montagem, podendo ser cotada se necessário pelo cliente, devidamente carregados e embalados, obedecendo aos máximos controles para garantir o envio adequado <p style="font-size: 8pt; text-align: justify">9.- A ATS não se responsabiliza por qualquer dano ou deterioração devido a mau manuseio ou outras circunstâncias que não estão sob o controle da ATS.</p> <p style="font-size: 8pt; text-align: justify">10.- As Garantias oferecidas são transferidas diretamente da fábrica, o cliente receberá uma carta onde cada o fornecedor reconhece sua cobertura.</p> <p style="font-size: 8pt; text-align: justify">11.- O preço do frete é calculado na data da oferta, podendo variar no momento do fechamento, portanto a ATS se reserva o direito de fazer alterações caso existam.</p> <p style ="font-size: 8pt; text-align: justify">12.- ATS, através de seus fornecedores, garante e se responsabiliza pelos tempos de fabricação, tempos de fretes locais e internacionais, são tratados por terceiros e estão sujeitos à sua disponibilidade.< /p> <p style= "font-size: 8pt; text-align: justify">13.- O cliente deve informar atempadamente os documentos necessários para a importação e as condições (se aplicável), que podem afectar o preço final.</p> <p style="font-size: 8pt ; text-align: justify">14.- A ATS reserva-se o direito de aplicar novas cobranças por multas, inadimplências, armazéns ou outros, por atrasos no pagamento do saldo final superiores a 30 dias, no caso de exceder 6 meses, A ATS alienará os produtos manufaturados e os conceitos mencionados serão deduzidos do adiantamento e se houver diferença, será tomado como crédito a favor do cliente para uma nova oferta com preços atualizados.</p> <p style= "font-size: 8pt; text-align: justify">15.- Esta oferta não inclui nenhum tipo de trabalho, se necessário, a ATS cotará através do representante local em moeda local.</p> <p style="font-size: 8pt ; text-align: justify">16.- Não está incluído nenhum tipo de licença, estudos prévios, gestão aduaneira de importação ou qualquer outro que não esteja expressamente mencionado na oferta.</p> <p style="font-size: 8pt; text-align: justify">17.- A ATS se compromete a emitir os planos de fundação, uma vez confirmada a operação, não terá custo adicional, para isso o cliente exige o estudo de mecânica do solo do local de instalação e levantamento topográfico.< /p> <p style="font-size: 8pt; text-align: justify">18.- As garantias emitidas pelo equipamento são contra defeitos de fabricação, é importante que os trabalhos sejam realizados com pessoal qualificado, os danos ou golpes sofridos pelo equipamento devido ao manuseio ou instalação incorreta não serão de responsabilidade do ATS.</p> <p style="font-size: 8pt; text-align: justify">19.- A ATS se compromete com o cliente, inclusive o acompanhamento em toda a fase do projeto (Engenharia e Obras), independentemente da empresa beneficiada pelas obras, é importante mencionar que esse acompanhamento seria realizado para visitas agendadas e/ou consultas remotas (e-mails e videochamadas).</p> <p style="font-size: 8pt; text-align: justify">20.- Devido à atual situação global do transporte, a ATS é obrigada a cotar apenas preços indicativos e não vinculativos.',
      renderItem: true,
      loadQuotes: false,
      oldRate: 0,
      exchangeRate: null,
      control: 0,
      lang: 'es'
    }
  },
  methods: {
    save () {
      if (this.items.length < 1) {
        this.$SendNotify('negative', 'You need to enter at least one item', 'red')
        return false
      }
      if (!this.quote.subtotal) {
        this.$SendNotify('negative', 'You need to enter quote subtotal.', 'red')
        return false
      }
      if (!this.quote.total) {
        this.$SendNotify('negative', 'You need to enter quote total.', 'red')
        return false
      }
      this.quote.date_creation = this.dateCreation
      this.quote.date_validation = this.dateValidity
      this.quote.items = this.items
      this.quote.providers = this.providers
      this.loading = true
      if (this.quote.id) {
        if (this.quote.status_id === 3 && this.user.rol !== 'admin') {
          return false
        }
        this.quote.last_page = this.lastPage
        this.quote.last_page_en = this.lastPageEn
        this.quote.last_page_br = this.lastPageBr
        this.quote.upNumber = this.upNumber ? this.upNumber : ''
        return editQuote(this.quote, (resp) => {
          // this.$RoutePush('/dashboard/quotes')
          this.$SendNotify('positive', resp.data.success, 'primary')
          this.showQuote()
          this.loading = false
        }, (err) => {
          this.loading = false
          console.log(err)
          this.$SendNotify('negative', err, 'red-9')
        })
        return true
      }
      this.quote.last_page = this.lastPage
      this.quote.last_page_en = this.lastPageEn
      this.quote.last_page_br = this.lastPageBr
      this.quote.packaging_value = this.quote.packaging_value ? this.quote.packaging_value : 0
      this.$store.dispatch('quote/add', this.quote)
        .then((resp) => {
          this.loading = false
          this.$SendNotify('positive', 'The quote has been saved.', 'primary')
          this.$RoutePush('/dashboard/quotes/edit/' + resp.data.success)
          setTimeout(() => {
            this.renderItem = false
            this.showQuote()
          }, 500)
          this.reRender()
        })
        .catch((err) => {
          this.loading = false
          this.$SendNotify('negative', err, 'red')
          console.log(err)
        })
    },
    reRender () {
      this.render = false
      this.render = true
      this.renderItem = false
      this.renderItem = true
      if (this.loadQuotes) {
        console.clear()
      }
    },
    filterClient (val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.clientsOptions = this.clients.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    setClient (item) {
      const data = {}
      data.client_id = item
      return generateReference(data, (resp) => {
        this.quote.client_id = item
        this.quote.code = resp.data.success.code
        this.setLang(item)
        this.reRender()
      }, (err) => {
        console.log(err)
        this.$SendNotify('negative', err, 'red-9')
      })
    },
    filterDealer (val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.dealersOptions = this.dealers.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    setDealer (item) {
      this.quote.dealer_id = item
      this.reRender()
    },
    getDate () {
      var d = new Date(Date.now()),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear()

      if (month.length < 2)
        month = '0' + month
      if (day.length < 2)
        day = '0' + day

      return [year, month, day].join('-')
    },
    pushNewItems () {
      var data = {}
      if (!this.$route.params.id) {
        data.position = this.position
      } else {
        let last = this.items.length - 1
        this.position = this.items.length > 0 ? this.items[last].position : 1
        if (this.items.length > 0) {
          this.position++
        }
        data.position = this.position
      }
      data.name = ''
      data.quantity = 0
      data.price = 0
      data.total = 0
      data.weight = 0
      data.attributes = []
      data.subitems = []
      data.totalWeight = 0
      data.show_title = true
      data.show_title2 = true
      this.items.push(data)
      let last = this.items.length - 1
      this.position = this.items[last].position
      this.position++
    },
    removeItems (idx) {
      this.items.splice(idx, 1)
      this.providers = []
      this.calculateSubtotal()
    },
    calculateSubtotal () {
      var total = 0
      this.items.map(data => {
        total = parseFloat(total) + parseFloat(data.total)
      })
      this.quote.subtotal = total.toFixed(2)
      this.setTotal()
      this.reRender()
    },
    calculateSubtotalWeight () {
      var total = 0
      this.items.map(data => {
        total = parseFloat(total) +  parseFloat(data.totalWeight)
      })
      this.quote.totalWeight = total.toFixed(2)
      this.reRender()
    },
    openModel (type) {
      this.typeForm = type
      this.openModelModal = !this.openModelModal
    },
    formattedCost(item) {
      var formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
        minimumFractionDigits: 2,
        //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
      });

      return formatter.format(item)
    },
    setTotal () {
      this.quote.total = 0
      const discount = this.quote.discount ? this.quote.discount : 0
      const packaging_value = this.quote.packaging_value ? this.quote.packaging_value : 0
      const freight_value = this.quote.freight_value ? this.quote.freight_value : 0
      this.quote.total = (parseFloat(this.quote.subtotal) -  parseFloat(discount))
      this.quote.total = (parseFloat(this.quote.total) +  parseFloat(packaging_value))
      this.quote.total = (parseFloat(this.quote.total) +  parseFloat(freight_value))
      this.reRender()
    },
    openStatusModal () {
      this.statusModal = !this.statusModal
    },
    setProviders () {
      this.items.map(item => {
        var issetProvider = this.providers.filter(data => {
          return data.id === item.provider_id
        })
        if (issetProvider.length < 1) {
          this.providers.push(item.provider)
        }
      })
      this.setOceanFreight()
    },
    setOceanFreight () {
      for (var i = 0; i < this.providers.length; i++) {
        var items = this.items.filter(info => {
          return info.provider_id === this.providers[i].id
        })
        this.providers[i].totalWeight = 0
        items.map(item => {
          this.providers[i].totalWeight = (parseFloat(this.providers[i].totalWeight) + parseFloat(item.totalWeight))
        })
      }
      this.setTotalContainer()
    },
    setTotalContainer () {
      for (var i = 0; i < this.providers.length; i++) {
        var container = (this.providers[i].totalWeight / 18)
        container =container.toFixed(2)
        let split
        if (split = container.split('.')) {
          var container40 = split[0]
          var container20 = split[1]
        }
        if (container20 && container20 < 50) {
          if (container20 === '00') {
            container20 = 0
          } else {
            container20 = 1
          }
        } else {
          container20 = 0
          container40 = parseInt(container40) + parseInt(1)
        }
        let total20
        let total40
        let tCurrency
        if (this.quote.id) {
          var provi = this.quote.providers.filter(data => {
            return data.provide_id === this.providers[i].id
          })
          if (provi.length > 0) {
            total20 = provi[0].price20
            total40 = provi[0].price40
            tCurrency = provi[0].tCurrency
          }
        }
        this.providers[i].totalContainer = container
        this.providers[i].container40 = container40
        this.providers[i].container20 = container20
        this.providers[i].price40 = total40 ? total40 : 0
        this.providers[i].price20 = total20 ? total20 : 0
        this.providers[i].resultContainer = split[0] + '.' + split[1]
        this.providers[i].tCurrency = tCurrency ? tCurrency : 'usd'
      }
    },
    setOceanFreightTotal (total) {
      this.quote.freight_value = total
      this.reRender()
    },
    listClients () {
      this.$store.dispatch('client/all')
        .then((resp) => {
          this.clients = resp.data.success
          this.listDealer()
        })
        .catch((err) => {
          this.$SendNotify('negative', err, 'red')
          console.log(err)
        })
    },
    listDealer () {
      this.$store.dispatch('dealer/all')
        .then((resp) => {
          this.dealers = resp.data.success
          this.getRate()
        })
        .catch((err) => {
          this.$SendNotify('negative', err, 'red')
          console.log(err)
        })
    },
    loadClients () {
      this.listClients()
    },
    showQuote () {
      this.items = []
      return show(this.$route.params.id, (resp) => {
        this.quote = resp.data.success
        this.lastPage = resp.data.success.last_page
        this.dateCreation = resp.data.success.date_creation
        this.dateValidity = resp.data.success.date_validation
        resp.data.success.items.map(data => {
          this.items.push(data)
        })
        this.oldRate = parseFloat(this.getOldRate(this.lastPage))
        this.renderItem = false
        if (this.quote.id) {
          this.renderItem = false
          setTimeout(() => {
            this.renderItem = true
            this.reRender()
          }, 10)
        }
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      })
    },
    setOceanPrice (data) {
      this.providers = data
      console.log(this.providers)
      this.reRender()
    },
    getOldRate (string) {
      var firstSplit =  string.split('Euro/Dólar: ')
      var secondSplit = firstSplit[1].split(',')
      return secondSplit[0]
    },
    getRate () {
      return getExchangeRate((resp) => {
        let rate = resp.data.rates.USD.toFixed(2)
        this.exchangeRate = parseFloat(rate)
        if (!this.$route.params.id) {
          this.setExchangeRate()
        }
        this.reRender()
      }, (err) => {
        console.log(err)
        this.$SendNotify('negative', err, 'red-9')
      })
    },
    recalculateTotalItems () {
      this.$q.dialog({
        title: 'New exchange rate',
        message: '¿are you sure to apply the new exchange rate?',
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
      }).onOk(() => {
        this.confirmRecalculate()
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    confirmRecalculate () {
      this.items.map(data => {
        const feeBank = 0.03
        let newExchangeRate = (parseFloat(this.exchangeRate) + parseFloat(feeBank))
        if (data.cost_type === true) {
          var totalCost = parseFloat(data.cost)
        } else {
          var totalCost = (parseFloat(data.cost) + parseFloat(data.subitemsTotal))
        }
        if (data.tCurrency === 'eur') {
          data.price = totalCost * newExchangeRate *  parseFloat(data.profit) * parseFloat(data.dealerProfit)
          data.costWithTax = data.cost * newExchangeRate *  parseFloat(data.profit) * parseFloat(data.dealerProfit)
        }
        data.total = data.quantity * data.price
      })
      this.setExchangeRate()
      this.calculateSubtotal()
      this.$SendNotify('positive', 'New exchange rate applied successfully', 'primary')
    },
    setExchangeRate () {
      const split1 = this.lastPage.split('Euro/Dólar')
      const split2 = this.lastPage.split(', ATS se reserva el derecho de realizar modificaciones debido a este concepto')
      this.lastPage = split1[0] + ' Euro/Dólar: ' + this.exchangeRate + ', ATS se reserva el derecho de realizar modificaciones debido a este concepto' + split2[1]
      const englistSplit = this.lastPageEn.split('Euro/Dollar')
      const englistSplit2 = this.lastPageEn.split(', ATS reserves the right to make changes due to this concept')
      this.lastPageEn = englistSplit[0] + ' Euro/Dollar: ' + this.exchangeRate + ', ATS reserves the right to make changes due to this concept' + englistSplit2[1]
      const brSplit = this.lastPageBr.split('Euro/Dólar')
      const brSplit2 = this.lastPageBr.split(', a ATS reserva-se o direito de fazer alterações devido a este conceito')
      this.lastPageBr = brSplit[0] + ' Euro/Dólar: ' + this.exchangeRate + ', a ATS reserva-se o direito de fazer alterações devido a este conceito' + brSplit2[1]
      this.oldRate = parseFloat(this.getOldRate(this.lastPage))
    },
    getAvailableDate () {
      var now = new Date(this.getDate())
      now.setDate(now.getDate() + 16)
      var month = '' + (now.getMonth() + 1), day = '' + now.getDate(), year = now.getFullYear()
      if (month.length < 2)
        month = '0' + month
      if (day.length < 2)
        day = '0' + day
      return [year, month, day].join('-')
    },
    setLang (id) {
      const client = this.clients.find(data => data.id === id)
      switch (client.country) {
        case 'US':
          this.quote.lang = 'en'
          this.translate(this.lastPage, 1)
          break;
        case 'BR':
          this.quote.lang = 'pt'
          this.translate(this.lastPage, 1)
          break;
        default:
          this.quote.lang = 'es'
          break;
      }
    },
    translate (body, type) {
      let data = {}
      data.text = body
      data.source = 'es'
      data.target = 'en'
      return translate(data, (resp) => {
        if (type === 1) {
          this.quote.last_page_en = resp.data.responseData.translatedText
        }
        if (type === 2) {
          this.quote.description_en = resp.data.success
        }
        this.reRender()
        this.translatePt(body, type)
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      });
    },
    translatePt (body, type) {
      let data = {}
      data.text = body
      data.source = 'es'
      data.target = 'pt'
      return translate(data, (resp) => {
        if (type === 1) {
          this.quote.last_page_br = resp.data.responseData.translatedText
        }
        if (type === 2) {
          this.quote.description_br = resp.data.success
        }
        this.reRender()
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      });
    },
    translateDesc () {
      this.translate(this.quote.description, 2)
    }
  },
  beforeMount () {
    this.quote.description = ''
    this.quote.subtotal = 0
    this.quote.total = 0
    this.quote.upNumber = false
    this.quote.discount = 0
    this.quote.packaging_value = 0
    this.quote.freight_value = 0
    this.listClients()
    if (this.$route.params.id) {
      this.showQuote()
    } else {
      this.dateValidity = this.getAvailableDate()
    }
  }
}
</script>
