<template>
  <q-markup-table separator="cell" flat bordered>
    <thead>
      <tr>
        <th class="text-left" style="width: 50px">
          {{$t('position')}}
        </th>
        <th class="text-left" style="width: 350px">
          {{$t('items')}}
        </th>
        <th class="text-left" style="width: 100px">
          {{$t('quantity')}}
        </th>
        <th class="text-left" style="width: 180px">
          {{$t('price')}} (USD)
        </th>
        <th class="text-left">
          {{$t('total')}} (USD)
        </th>
        <th class="text-left" style="width: 125px">
          {{$t('weight')}}
        </th><th class="text-left" style="width: 100px">
          {{$t('totalWeight')}}
        </th>
        <th class="text-left">
          Features
        </th>
        <th class="text-left">
          Accesory
        </th>
        <th class="text-left">
          {{$t('action')}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(item, idx) in items" :key="idx">
        <td class="text-left">
          <q-input :disable="$parent.$parent.quote.status_id === 3 && user.rol !== 'admin' || $parent.$parent.quote.status_id === 2 && user.rol !== 'admin'" dense v-model="item.position" rounded outlined :rules="[val => !!val || 'this field is required']">
          </q-input>
        </td>
        <td class="text-left">
          <q-input :disable="$parent.$parent.quote.status_id === 3 && user.rol !== 'admin' || $parent.$parent.quote.status_id === 2 && user.rol !== 'admin'" dense @input="searchItem(idx)" @click="openItemModal(idx)" debounce="1000" v-model="item.name" label="Item" rounded outlined :rules="[val => !!val || 'this field is required']">
          </q-input>
        </td>
        <td class="text-left">
          <div class="full-width price-label">
            {{concatOwl(item.quantity)}}
            <q-popup-edit @before-show="item.quantity = ''" :auto-save="true" :disable="$parent.$parent.quote.status_id === 3 && user.rol !== 'admin' || $parent.$parent.quote.status_id === 2 && user.rol !== 'admin'" @save="calculateTotal(idx)"  v-model="item.quantity" class="bg-accent text-white">
              <q-input rounded dense outlined v-model="item.quantity" autofocus>
              </q-input>
            </q-popup-edit>
          </div>
        </td>
        <td class="text-left relative price-read">
          <div class="full-width price-label">
            {{formattedCost(item.price)}}
            <q-popup-edit :auto-save="true" :disable="$parent.$parent.quote.status_id === 3 && user.rol !== 'admin' || $parent.$parent.quote.status_id === 2 && user.rol !== 'admin'" @save="calculateTotal(idx)"  v-model="item.price" class="bg-accent text-white">
              <q-input rounded dense outlined v-model="item.price" autofocus>
                <template v-slot:append>
                  <q-icon name="attach_money" />
                </template>
              </q-input>
            </q-popup-edit>
          </div>
        </td>
        <td class="text-left">
          <div class="cursor-pointer full-width price-label">
            {{formattedCost(item.total)}}
          </div>
        </td>
        <td class="text-left">
          <q-input :disable="$parent.$parent.quote.status_id === 3 && user.rol !== 'admin' || $parent.$parent.quote.status_id === 2 && user.rol !== 'admin'" dense @input="calculateTotalWeight(idx)" :readonly="!item.name" v-model="item.weight" min="0" type="double" rounded outlined :rules="[val => !!val || 'this field is required']">
            <template v-slot:append>
              <q-btn flat dense size="8pt" @click="sumWeight(idx)" icon="calculate" color="primary">
                <q-popup-proxy ref="wightProxy">
                  <q-banner>
                    <calculator :type="2" @setWeight="setWeight" />
                  </q-banner>
                </q-popup-proxy>
              </q-btn>
            </template>
          </q-input>
        </td>
        <td class="text-left">
          <q-input :disable="$parent.$parent.quote.status_id === 3 && user.rol !== 'admin' || $parent.$parent.quote.status_id === 2 && user.rol !== 'admin'" dense @input="calculateTotalWeight(idx)" :readonly="!item.name" v-model="item.totalWeight" min="0" type="double" rounded outlined :rules="[val => !!val || 'this field is required']">
          </q-input>
        </td>
        <td class="text-left">
          <q-checkbox style="margin-top: -20px" v-model="item.show_title" size="30px" />
        </td>
        <td class="text-left">
          <q-checkbox style="margin-top: -20px" v-model="item.show_title2" size="30px" />
        </td>
        <td class="text-left">
          <q-btn :disable="$parent.$parent.quote.status_id === 3 && user.rol !== 'admin' || $parent.$parent.quote.status_id === 2 && user.rol !== 'admin'" style="margin-top: -25px" icon="edit" @click="editPriceUnit(idx)" size="sm" color="primary" flat dense>
            <q-tooltip content-class="bg-primary">
              Edit item
            </q-tooltip>
          </q-btn>
          <q-btn :disable="$parent.$parent.quote.status_id === 3 && user.rol !== 'admin' || $parent.$parent.quote.status_id === 2 && user.rol !== 'admin'" style="margin-top: -25px" flat dense icon="delete" color="red" size="sm" @click="deleteItem(idx)">
            <q-tooltip content-class="bg-red">
              Delete item
            </q-tooltip>
          </q-btn>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <q-dialog @hide="clearData" persistent v-model="itemsDialog">
        <div class="bg-white round-10">
          <div class="q-pa-lg relative" style="max-width: 500px">
            <q-btn style="height: 30px; z-index: 9999" flat dense icon="close" color="red" class="absolute-right" @click="itemsDialog = !itemsDialog">
              <q-tooltip content-class="bg-red">
                Close
              </q-tooltip>
            </q-btn>
            <listItem v-if="!resourceItem.id" :searchItems="searchItems" :selectedItem="selectedItem" />
            <div class="row" style="width: 100%" v-if="resourceItem.id">
              <div class="col-12">
                <q-tabs inline-label v-model="tab" class="text-primary">
                  <q-tab name="attributes" icon="new_releases" :label="$t('attribute')" />
                  <q-tab name="subitems" icon="format_list_numbered" :label="$t('accesory')" />
                  <q-tab name="price" icon="attach_money" :label="$t('unitPrice')" />
                </q-tabs>
              </div>
              <div class="col-12">
                <q-tab-panels v-model="tab" animated swipeable transition-prev="jump-up" transition-next="jump-up">
                  <q-tab-panel name="price">
                    <div class="full-width row">
                      <div class="col-12">
                        <p class="text-bold text-primary text-capitalize font-14">
                          {{$t('priceCalculator')}} - <span v-if="unitPrice > 0">{{$price(unitPrice, '$')}}</span>
                        </p>
                      </div>
                      <div class="col-12 q-pa-sm font-14 text-right">
                        <q-toggle @input="confirmPrice = false" v-model="cost_type" :label="cost_type ? 'Total' : 'Unit'" />
                      </div>
                      <div class="col-12">
                        <q-form @submit="calculateUnitPrice" class="row" v-if="render">
                          <div class="col-12 col-md-6 text-center q-pa-sm">
                            <label class="text-bold font-12 text-primary">{{$t('currency')}}</label>
                            <div class="q-gutter-sm">
                              <q-radio @input="showCalculateTotal" v-model="tCurrency" val="usd" label="Usd" color="primary" />
                              <q-radio @input="showCalculateTotal" v-model="tCurrency" val="eur" label="Eur" color="primary" />
                            </div>
                          </div>
                          <div class="col-12 col-md-6 q-pa-sm text-center">
                            <label class="text-bold font-12 text-primary">
                              {{$t('costEquip')}}
                              <q-btn flat dense icon="calculate">
                                <q-popup-proxy>
                                  <q-banner>
                                    <calculator :type="1" @setCost="setCost" />
                                  </q-banner>
                                </q-popup-proxy>
                              </q-btn>
                            </label>
                            <div class="full-width price-label" style="margin-top: 0px">
                              <div class="text-left">{{formattedCost(priceUnitData.equipCost ? priceUnitData.equipCost : 0)}}</div>
                              <q-popup-edit :auto-save="true" @save="showCalculateTotal" v-model="priceUnitData.equipCost" class="bg-accent text-white">
                                <q-input type="number" @input="showCalculateTotal" rounded dense outlined v-model="priceUnitData.equipCost" autofocus>
                                  <template v-slot:append>
                                    <q-icon name="attach_money" />
                                  </template>
                                </q-input>
                              </q-popup-edit>
                            </div>
                          </div>
                          <div class="col-12 col-md-6 q-pa-sm text-center">
                            <label class="text-bold font-12 text-primary">{{$t('profit')}}(Factor)</label>
                            <q-input dense @input="showCalculateTotal" v-model="priceUnitData.profit" mask="#.##" min="0" rounded outlined :rules="[val => !!val || 'this field is required', val => val < 1.99 || 'this field cannot exceed 1.99']">
                            </q-input>
                          </div>
                          <div class="col-12 col-md-6 q-pa-sm text-center" v-if="dealer > 0">
                            <label class="text-bold font-12 text-primary">{{$t('dealerProfit')}}(Factor)</label>
                            <q-input dense @input="showCalculateTotal" :readonly="!dealer" v-model="priceUnitData.dealerProfit" min="0" mask="#.##" rounded outlined :rules="[val => !!val || 'this field is required', val => val < 1.99 || 'this field cannot exceed 1.99']">
                            </q-input>
                          </div>
                          <div class="col-12 col-md-6 q-pa-sm text-center" v-if="tCurrency === 'eur'">
                            <label class="text-bold font-12 text-primary">
                              {{$t('rateChange')}}
                              <span v-if="respaldoRate !== 0 && respaldoRate !== exchangeRate" @click="exchangeRate = respaldoRate" class="clickable cursor-pointer font-12 text-secondary">
                                 | New {{respaldoRate}}
                              </span>
                            </label>
                            <q-input :readonly="!$route.params.id" mask="#.##" dense @input="showCalculateTotal" v-model="exchangeRate" min="0" rounded outlined :rules="[val => !!val || 'this field is required']">
                              <template v-slot:prepend>
                                <span class="font-10">1 EUR =</span>
                              </template>
                            </q-input>
                          </div>
                          <div class="col-12 col-md-12 q-pa-sm text-center">
                            <q-btn v-if="!confirmPrice" type="submit" color="primary" rounded :label="$t('calculate')">
                            </q-btn>
                            <q-btn v-if="confirmPrice" type="submit" color="primary" rounded :label="$t('next')">
                            </q-btn>
                          </div>
                        </q-form>
                      </div>
                    </div>
                  </q-tab-panel>
                  <q-tab-panel name="attributes">
                    <div class="text-h6 text-bold text-primary q-mb-md">
                      {{$t('attribute')}}
                    </div>
                    <q-form @submit="saveAttibutes">
                      <div class="row" v-for="(attribute, attr) in $parent.$parent.items[searchIdx].attributes" :key="attr">
                        <div class="col-12 col-md-5 q-pa-sm">
                          <q-input dense readonly @input="reRender" v-model="attribute.name" label="Feature name" rounded outlined :rules="[val => !!val || 'this field is required']" />
                        </div>
                        <div class="col-12 col-md-5 q-pa-sm">
                          <q-input dense :readonly="!attribute.variable" v-if="!attribute.variable" @input="reRender" v-model="attribute.value" label="Feature value" rounded outlined />
                          <q-input dense :rules="[val => !!val || 'this field is required']" v-else @input="reRender" v-model="attribute.value" label="Feature value" rounded outlined />
                        </div>
                        <div class="col-12 col-md-2">
                          <q-toggle checked-icon="check" unchecked-icon="clear" @input="reRender" v-model="attribute.selected" color="primary" keep-color />
                        </div>
                      </div>
                      <div class="col-12 q-mt-md text-center">
                        <q-btn type="submit" color="primary" rounded :label="$t('next')" />
                      </div>
                    </q-form>
                  </q-tab-panel>
                  <q-tab-panel name="subitems">
                    <div class="text-h6 text-bold text-primary q-mb-md" v-if="$parent.$parent.items[searchIdx].optionSubitems.length > 0">
                      {{$t('accesory')}} - <span v-if="subitemsTotal > 0">{{$price(subitemsTotal, '$')}}</span>
                    </div>
                    <div class="row">
                      <div class="col-12 text-left" v-if="!showSubitemsForms">
                        <q-option-group v-model="checkGroup" :options="$parent.$parent.items[searchIdx].optionSubitems" color="primary" type="checkbox" />
                      </div>
                      <div class="col-12" v-else>
                        <q-form @submit="saveAccesories">
                          <div class="row" v-for="(subitem, sub) in $parent.$parent.items[searchIdx].subitems" :key="sub">
                            <div class="col-12 col-md-4 q-pa-sm">
                              <q-input dense readonly @input="reRender" v-model="subitem.name" label="Accessory name" rounded outlined :rules="[val => !!val || 'this field is required']" />
                            </div>
                            <div class="col-12 col-md-3 q-pa-sm q-pt-lg">
                              <div class="full-width price-label">
                                {{concatOwl(subitem.quantity)}}
                                <q-popup-edit @before-show="subitem.quantity = ''" :auto-save="true" @save="calculateItemTotal"  v-model="subitem.quantity" class="bg-accent text-white">
                                  <q-input rounded dense outlined v-model="subitem.quantity" autofocus>
                                  </q-input>
                                </q-popup-edit>
                              </div>
                            </div>
                            <div class="col-12 col-md-3 q-pa-sm">
                              <div class="full-width price-label" style="margin-top: 0px">
                                <div class="text-left">{{formattedCost(subitem.price ? subitem.price : 0)}}</div>
                                <q-popup-edit @before-show="subitem.price = ''" :auto-save="true" @save="calculateItemTotal" v-model="subitem.price" class="bg-accent text-white">
                                  <q-input type="number" @input="calculateItemTotal" rounded dense outlined v-model="subitem.price" autofocus>
                                    <template v-slot:append>
                                      <q-icon name="attach_money" />
                                    </template>
                                  </q-input>
                                </q-popup-edit>
                              </div>
                            </div>
                            <div class="col-12 col-md-2 q-mt-md">
                              <q-btn flat dense size="8pt" @click="sumPriceAccesories(sub)" icon="calculate" color="primary">
                                <q-popup-proxy>
                                  <q-banner>
                                    <calculator :type="3" @setAccesoriesPrice="setAccesoriesPrice" />
                                  </q-banner>
                                </q-popup-proxy>
                              </q-btn>
                              <q-btn @click="deleteSubItem(sub)" flat dense color="red" icon="delete" />
                            </div>
                          </div>
                        </q-form>
                      </div>
                      <div class="col-12 text-center">
                        <q-btn @click="showSubitemsForms = false" class="q-mr-sm" v-if="showSubitemsForms" color="red" rounded label="Back" />
                        <q-btn @click="saveAccesories" v-if="showSubitemsForms" color="primary" rounded :label="$t('next')" />
                        <q-btn @click="setSubitems" v-if="!showSubitemsForms" color="primary" rounded :label="$t('next')" />
                      </div>
                    </div>
                  </q-tab-panel>
                </q-tab-panels>
              </div>
            </div>
          </div>
        </div>
      </q-dialog>
    </tfoot>
  </q-markup-table>
</template>

<script>
import { getExchangeRate } from 'src/api/rate'
import { delSubitem, delItem } from 'src/api/quotes'
import { search } from 'src/api/item'
import listItem from './listItem'
import calculator from 'src/components/utils/calculate'

export default {
  name: 'itemsTable',
  props: {
    oldRate: Number
  },
  components: {
    listItem,
    calculator
  },
  computed: {
    rate () {
      return this.$store.getters['quote/rate']
    },
    itemFilter () {
      return this.$store.getters['quote/itemSelected']
    },
    user () {
      return this.$store.getters['auth/user']
    }
  },
  watch: {
    rate (rate) {
      this.reRender()
    },
    itemFilter (item) {
      this.resourceItem = item
      this.$parent.$parent.items[this.searchIdx].name = item.name
      this.$parent.$parent.items[this.searchIdx].id = item.id
      this.$parent.$parent.items[this.searchIdx].uuid = item.uuid
      this.$parent.$parent.items[this.searchIdx].attributes = []
      this.$parent.$parent.items[this.searchIdx].provider_id = item.provider.id
      this.$parent.$parent.items[this.searchIdx].optionSubitems = item.subitems
      this.$parent.$parent.items[this.searchIdx].provider = item.provider
      for (var i = 0; i < item.attributes.length; i++) {
        item.attributes[i].selected = true
        this.$parent.$parent.items[this.searchIdx].attributes.push(item.attributes[i])
      }
      // cualuqier cosa borrar aqui
      this.$parent.$parent.setProviders()
      this.reRender()
    }
  },
  data () {
    return {
      items: this.$parent.$parent.items,
      dealer: null,
      searchIdx: null,
      selectedItem: {},
      itemsDialog: false,
      searchItems: [],
      resourceItem: {},
      tCurrency: 'usd',
      priceUnitData: {},
      unitPrice: 0,
      confirmPrice: false,
      render: true,
      splitterModel: 20,
      tab: 'attributes',
      exchangeRate: 0,
      subitems: [],
      subitemsTotal: 0,
      costWithProfit: 0,
      accessoriesIdx: null,
      showSubitemsForms: false,
      checkGroup: [],
      cost_type: false,
      oldCost: 0,
      hasOldCost: false,
      respaldoRate: 0
    }
  },
  methods: {
    clearData () {
      this.searchIdx = null
      this.confirmPrice = false
      this.searchItems = []
      this.tab = 'attributes'
      this.resourceItem = {}
      this.checkGroup = []
      this.priceUnitData = {}
      this.unitPrice = 0
      this.subitemsTotal = 0
      this.oldCost = 0
      this.respaldoRate = 0
    },
    searchItem (idx) {
      this.searchIdx = idx
      this.selectedItem = this.$parent.$parent.items[idx]
      const data = {}
      data.name = this.$parent.$parent.items[idx].name
      return search(data, (resp) => {
        this.$parent.$parent.items[idx].name = ''
        this.searchItems = resp.data.success
        this.setDealer()
        this.itemsDialog = true
      }, (err) => {
        console.log(err)
        this.$SendNotify('negative', err, 'red-9')
      })
    },
    openItemModal (idx) {
      this.getRate()
      if (this.searchItems.length > 0) {
        this.searchIdx = idx
        this.selectedItem = this.$parent.$parent.items[idx]
        this.setDealer()
        this.itemsDialog = true
      }
    },
    calculateUnitPrice () {
      if (!this.priceUnitData.equipCost) {
        this.$SendNotify('negative', 'Insert a valid cost', 'red-9')
        return false
      }
      if (this.confirmPrice) {
        this.$parent.$parent.items[this.searchIdx].price = this.unitPrice.toFixed(2)
        this.$parent.$parent.items[this.searchIdx].subitemsTotal = this.subitemsTotal
        this.$parent.$parent.items[this.searchIdx].cost = this.priceUnitData.equipCost
        this.$parent.$parent.items[this.searchIdx].profit = this.priceUnitData.profit
        this.$parent.$parent.items[this.searchIdx].dealerProfit = this.priceUnitData.dealerProfit
        this.$parent.$parent.items[this.searchIdx].cost = this.priceUnitData.equipCost
        this.$parent.$parent.items[this.searchIdx].tCurrency = this.tCurrency
        this.$parent.$parent.items[this.searchIdx].costWithTax = this.costWithProfit.toFixed(2)
        this.$parent.$parent.items[this.searchIdx].checkGroup = this.checkGroup
        this.$parent.$parent.items[this.searchIdx].cost_type = this.cost_type
        this.$parent.$parent.items[this.searchIdx].oldCost = this.oldCost
        this.calculateTotal(this.searchIdx)
        this.priceUnitData = {}
        this.tab = 'attributes'
        this.showSubitemsForms = false
        this.checkGroup = []
        this.itemsDialog = false
        return false
      }
      const feeBank = 0.03
      let newExchangeRate = (parseFloat(this.exchangeRate) + parseFloat(feeBank))
      if (this.cost_type === true) {
        var totalCost = parseFloat(this.priceUnitData.equipCost)
      } else {
        var totalCost = (parseFloat(this.priceUnitData.equipCost) + parseFloat(this.subitemsTotal))
      }
      if (this.tCurrency === 'usd') {
        this.unitPrice = parseFloat(totalCost) * parseFloat(this.priceUnitData.profit) * parseFloat(this.priceUnitData.dealerProfit)
        this.costWithProfit = this.priceUnitData.equipCost * parseFloat(this.priceUnitData.profit) * parseFloat(this.priceUnitData.dealerProfit)
      }
      if (this.tCurrency === 'eur') {
        this.unitPrice = totalCost * newExchangeRate *  parseFloat(this.priceUnitData.profit) * parseFloat(this.priceUnitData.dealerProfit)
        this.costWithProfit = this.priceUnitData.equipCost * newExchangeRate *  parseFloat(this.priceUnitData.profit) * parseFloat(this.priceUnitData.dealerProfit)
      }
      this.confirmPrice = true
      this.calculateSubitemWithTax()
    },
    calculateSubitemWithTax () {
      const feeBank = 0.03
      let newExchangeRate = (parseFloat(this.exchangeRate) + parseFloat(feeBank))
      for (var i = 0; i < this.$parent.$parent.items[this.searchIdx].subitems.length; i++) {
        if (this.tCurrency === 'usd') {
          this.$parent.$parent.items[this.searchIdx].subitems[i].costWithTax = this.$parent.$parent.items[this.searchIdx].subitems[i].price * parseFloat(this.priceUnitData.profit) * parseFloat(this.priceUnitData.dealerProfit)
          this.$parent.$parent.items[this.searchIdx].subitems[i].costWithTax = this.$parent.$parent.items[this.searchIdx].subitems[i].costWithTax.toFixed(2)
        }
        if (this.tCurrency === 'eur') {
          this.$parent.$parent.items[this.searchIdx].subitems[i].costWithTax = this.$parent.$parent.items[this.searchIdx].subitems[i].price * newExchangeRate *  parseFloat(this.priceUnitData.profit) * parseFloat(this.priceUnitData.dealerProfit)
          this.$parent.$parent.items[this.searchIdx].subitems[i].costWithTax = this.$parent.$parent.items[this.searchIdx].subitems[i].costWithTax.toFixed(2)
        }
      }
      console.log(this.$parent.$parent.items[this.searchIdx])
    },
    editPriceUnit (idx) {
      this.getRate()
      this.searchIdx = idx
      this.itemsDialog = true
      this.tab = "attributes"
      this.resourceItem = this.$parent.$parent.items[idx]
      this.setDealer()
      this.unitPrice = parseFloat(this.$parent.$parent.items[this.searchIdx].price)
      this.priceUnitData.equipCost = this.$parent.$parent.items[this.searchIdx].cost
      this.priceUnitData.profit = this.$parent.$parent.items[this.searchIdx].profit
      if (this.$parent.$parent.items[this.searchIdx].checkGroup.length > 0) {
        this.checkGroup = this.$parent.$parent.items[this.searchIdx].checkGroup
        this.showSubitemsForms = true
      } else {
        this.showSubitemsForms = false
        this.checkGroup = []
      }
      this.priceUnitData.dealerProfit = this.$parent.$parent.items[this.searchIdx].dealerProfit
      this.priceUnitData.equipCost = this.$parent.$parent.items[this.searchIdx].cost
      this.tCurrency = this.$parent.$parent.items[this.searchIdx].tCurrency
      this.subitemsTotal = this.$parent.$parent.items[this.searchIdx].subitemsTotal
      this.costWithProfit = this.$parent.$parent.items[this.searchIdx].costWithTax
      this.cost_type = this.$parent.$parent.items[this.searchIdx].cost_type
      this.oldCost = this.$parent.$parent.items[this.searchIdx].oldCost
    },
    getRate () {
      return getExchangeRate((resp) => {
        let rate = resp.data.rates.USD.toFixed(2)
        this.exchangeRate = rate
        this.reRender()
        if (this.$route.params.id) {
          this.validateOldRate()
        }
      }, (err) => {
        console.log(err)
        this.$SendNotify('negative', err, 'red-9')
      })
    },
    showCalculateTotal () {
      this.confirmPrice = false
      this.render = false
      this.render = true
    },
    setDealer () {
      if (this.$parent.$parent.quote.dealer_id) {
        this.dealer = this.$parent.$parent.quote.dealer_id
        return true
      }
      this.priceUnitData.dealerProfit = 1
    },
    deleteItem (idx) {
      this.$q.dialog({
        title: 'Items',
        message: '¿You  are sure to delete this item from this quote?, if you press ok all items data will be lost and all total go recalculate.',
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
      }).onOk(() => {
        this.confirmDeleteItem(idx)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    confirmDeleteItem (idx) {
      if (this.$route.params.id) {
        if (this.$parent.$parent.items[idx].isset) {
          var id = this.$parent.$parent.items[idx].id
        } else {
          this.$parent.$parent.removeItems(idx)
          this.reAdjustPosition()
          return false
        }
        if (id) {
          this.$parent.$parent.removeItems(idx)
          this.reAdjustPosition()
          return delItem(id, (resp) => {
            this.$SendNotify('negative', 'Item deleted success.', 'red-9')
            this.$parent.$parent.calculateSubtotal()
            this.$parent.$parent.calculateSubtotalWeight()
          }, (err) => {
            this.$SendNotify('negative', err, 'red-9')
            console.log(err)
          })
        }
        return true
        this.$parent.$parent.calculateSubtotal()
        this.$parent.$parent.calculateSubtotalWeight()
      }
      this.$parent.$parent.removeItems(idx)
      this.reAdjustPosition()
    },
    calculateTotal (idx) {
      this.$parent.$parent.items[idx].total = (this.$parent.$parent.items[idx].quantity * this.$parent.$parent.items[idx].price).toFixed(2)
      this.calculateTotalWeight(idx)
      this.$parent.$parent.calculateSubtotal()
    },
    calculateTotalWeight (idx) {
      this.$parent.$parent.items[idx].totalWeight = (this.$parent.$parent.items[idx].quantity * this.$parent.$parent.items[idx].weight).toFixed(2)
      this.$parent.$parent.calculateSubtotalWeight()
    },
    reRender () {
      console.clear()
      this.render = false
      this.render = true
    },
    saveAttibutes () {
      this.tab = 'subitems'
    },
    formattedCost(item) {
      var formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
        minimumFractionDigits: 2,
        //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
      });

      return formatter.format(item)
    },
    concatOwl (quantity) {
      return quantity ? quantity + '.00' : 0
    },
    deleteSubItem (idx) {
      if (this.$route.params.id) {
        if (this.$parent.$parent.items[this.searchIdx].subitems[idx].load) {
          var id = this.$parent.$parent.items[this.searchIdx].subitems[idx].id
          this.$parent.$parent.items[this.searchIdx].subitems.splice(idx, 1)
          this.calculateItemTotal()
          return delSubitem(id, (resp) => {
            this.$SendNotify('negative', 'Accesory deleted success.', 'red-9')
          }, (err) => {
            this.$SendNotify('negative', err, 'red-9')
            console.log(err)
          })
        } else {
          this.$parent.$parent.items[this.searchIdx].subitems.splice(idx, 1)
          this.calculateItemTotal()
        }
      } else {
        this.$parent.$parent.items[this.searchIdx].subitems.splice(idx, 1)
        this.calculateItemTotal()
      }
    },
    saveAccesories () {
      let error = false
      this.$parent.$parent.items[this.searchIdx].subitems.map(data => {
        if (data.price === 0 || data.price === '' || !data.price) {
          error = true
          this.$SendNotify('negative', 'Set price for ' + data.name + ' accesory', 'red-9')
        }
        if (data.quantity === 0 || data.quantity === '' || !data.quantity) {
          error = true
          this.$SendNotify('negative', 'Set quantity for ' + data.name + ' accesory', 'red-9')
        }
      })
      if (error) { return false }
      this.tab = 'price'
    },
    calculateItemTotal () {
      let total = 0
      this.$parent.$parent.items[this.searchIdx].subitems.map(data => {
        total = total + (parseFloat(data.quantity) * parseFloat(data.price))
      })
      this.$parent.$parent.items[this.searchIdx].subitemsTotal = total
      this.subitemsTotal = total
      this.reRender()
    },
    setCost (total) {
      this.priceUnitData.equipCost = total
      this.reRender()
    },
    setWeight (weight) {
      this.$parent.$parent.items[this.searchIdx].weight = weight.toFixed(2)
      this.calculateTotalWeight(this.searchIdx)
      this.reRender()
    },
    sumWeight (idx) {
      this.searchIdx = idx
    },
    sumPriceAccesories (idx) {
      this.accessoriesIdx = idx
    },
    setAccesoriesPrice (total) {
      this.$parent.$parent.items[this.searchIdx].subitems[this.accessoriesIdx].price = total
      this.calculateItemTotal()
    },
    setSubitems () {
      if (this.$parent.$parent.items[this.searchIdx].optionSubitems.length < 1) {
        this.tab = 'price'
        return false
      }
      if (!this.$route.params.id) {
        this.$parent.$parent.items[this.searchIdx].subitems = []
        let search
        this.checkGroup.map(data => {
          search = this.$parent.$parent.items[this.searchIdx].optionSubitems.filter(item => {
            return item.id === data
          })
          this.$parent.$parent.items[this.searchIdx].subitems.push(search[0])
        })
        this.showSubitemsForms = true
      } else {
        let search
        this.checkGroup.map(data => {
          search = this.$parent.$parent.items[this.searchIdx].optionSubitems.filter(item => {
            return item.id === data
          })
          var searchSubtem = this.$parent.$parent.items[this.searchIdx].subitems.filter(data => {
            return data.subitem_id === search[0].id || data.id === search[0].id
          })
          console.log(searchSubtem)
          if (searchSubtem.length < 1) {
            this.$parent.$parent.items[this.searchIdx].subitems.push(search[0])
          }
        })
        this.showSubitemsForms = true
      }
    },
    reAdjustPosition () {
      for (var i = 0; i < this.$parent.$parent.items.length; i++) {
        this.$parent.$parent.items[i].position = i + 1
      }
    },
    validateOldRate () {
      if (parseFloat(this.oldRate) !== parseFloat(this.exchangeRate)) {
        console.log('validado')
        this.respaldoRate = this.exchangeRate
        this.exchangeRate = this.oldRate
      }
    }
  },
  beforeMount () {
  }
}
</script>
