<template>
  <q-list separator>
    <q-item-label>
      <p class="font-14 q-mt-md text-primary text-bold">
        {{$t('selectItem')}} {{selectedItem.position}}
      </p>
    </q-item-label>
    <q-item clickable :class="{ 'q-mt-md': idx > 0 }" v-for="(item, idx) in searchItems" :key="idx" @click="showItem(item.uuid)">
      <q-item-section>
        <q-item-label>{{item.name}}</q-item-label>
        <q-item-label caption lines="1">
          {{item.reference}} - {{item.maker}}
        </q-item-label>
      </q-item-section>
      <q-item-section side top>
        <q-icon name="category" color="primary" />
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script>
import { getExchangeRate } from 'src/api/rate'
import { show } from 'src/api/item'

export default {
  name: 'maincomponent',
  components: {
  },
  props: {
    searchItems: {
      type: Array
    },
    selectedItem: {
      type: Object
    }
  },
  data () {
    return {
    }
  },
  methods: {
    showItem (uuid) {
      return show(uuid, (resp) => {
        this.$store.dispatch('quote/setSelectedItem', resp.data.success)
        this.getRate()
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      })
    },
    getRate () {
      return getExchangeRate((resp) => {
        let rate = resp.data.rates.USD.toFixed(2)
        this.$store.dispatch('quote/setRate', rate)
      }, (err) => {
        console.log(err)
        this.$SendNotify('negative', err, 'red-9')
      })
    }
  },
  beforeMount () {
  },
  created () {
  }
}
</script>
