<template>
  <div class="row">
    <div class="col-12">
      <q-markup-table class="shadow-0" v-if="render">
        <thead>
          <tr>
            <th class="text-left text-bold font-12">Provider</th>
            <th class="text-left text-bold font-12">{{$t('currency')}}</th>
            <th class="text-right text-bold font-12">#Container 40</th>
            <th class="text-right text-bold font-12">#Container 20</th>
            <th class="text-right text-bold font-12" style="width: 100px">Price 40</th>
            <th class="text-right text-bold font-12">Price 20</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(provider, idx) in data" :key="idx">
            <td class="text-left text-capitalize font-12">{{provider.name}} <span class="font-9">({{provider.totalWeight.toFixed(2)}}/18 = {{provider.resultContainer}})</span></td>
            <td class="text-left text-capitalize font-12">
              <div class="q-gutter-sm">
                <q-radio @input="calculateTotalOcean" v-model="provider.tCurrency" val="usd" label="Usd" color="primary" />
                <q-radio @input="calculateTotalOcean" v-model="provider.tCurrency" val="eur" label="Eur" color="primary" />
              </div>
            </td>
            <td class="text-right font-12">
              <q-input v-model="provider.container40" @input="calculateTotalOcean" rounded outlined dense />
            </td>
            <td class="text-right font-12">
              <q-input v-model="provider.container20" @input="calculateTotalOcean" rounded outlined dense />
            </td>
            <td class="text-right font-12 p" style="width: 100px">
              <div class="full-width price-label" style="margin-top: 0px;">
                {{formattedCost(provider.price40)}}
                <q-popup-edit @before-show="provider.price40 = ''" :auto-save="true" v-model="provider.price40" class="bg-accent text-white" v-slot="scope">
                  <q-input @input="calculateTotalOcean" rounded dense outlined v-model="provider.price40" dense autofocus>
                    <template v-slot:append>
                      <q-icon name="attach_money" />
                      <q-btn flat dense size="8pt" @click="sumPriceOcean(idx, 1)" icon="calculate" color="primary">
                        <q-popup-proxy ref="wightProxy">
                          <q-banner>
                            <calculator :type="4" @setOceanPrice="setOceanPrice" />
                          </q-banner>
                        </q-popup-proxy>
                      </q-btn>
                    </template>
                  </q-input>
                </q-popup-edit>
              </div>
            </td>
            <td class="text-right font-12">
              <div class="full-width price-label" style="margin-top: 0px;">
                {{formattedCost(provider.price20)}}
                <q-popup-edit @before-show="provider.price20 = ''" :auto-save="true" v-model="provider.price20" class="bg-accent text-white" v-slot="scope">
                  <q-input @input="calculateTotalOcean" rounded dense outlined v-model="provider.price20" dense autofocus>
                    <template v-slot:append>
                      <q-icon name="attach_money" />
                      <q-btn flat dense size="8pt" @click="sumPriceOcean(idx, 2)" icon="calculate" color="primary">
                        <q-popup-proxy ref="wightProxy">
                          <q-banner>
                            <calculator :type="4" @setOceanPrice="setOceanPrice" />
                          </q-banner>
                        </q-popup-proxy>
                      </q-btn>
                    </template>
                  </q-input>
                </q-popup-edit>
              </div>
            </td>
          </tr>
        </tbody>
      </q-markup-table>
    </div>
    <div class="col-12 text-right q-mt-lg">
      <div class="row d-flex justify-end">
        <div class="col-4 col-md-3">
           <p class="text-bold">
            Profit ATS(Factor):
          </p>
        </div>
        <div class="col-8 col-md-3 q-pl-sm">
          <q-input @input="calculateTotalOcean" style="margin-top: -5px" dense v-model="profit" mask="#.##" min="0" rounded outlined :rules="[val => !!val || 'this field is required', val => val < 1.99 || 'this field cannot exceed 1.99']">
          </q-input>
        </div>
      </div>
    </div>
    <div class="col-12 text-right" style="margin-top: -20px">
      <div class="col-12 text-right q-mt-lg">
      <div class="row d-flex justify-end">
        <div class="col-4 col-md-3">
           <p class="text-bold">
            {{$t('rateChange')}}
          </p>
        </div>
        <div class="col-8 col-md-3 q-pl-sm">
          <q-input :readonly="!$route.params.id" mask="#.##" style="margin-top: -5px" dense v-model="exchangeRate" min="0" rounded outlined :rules="[val => !!val || 'this field is required', val => val < 1.99 || 'this field cannot exceed 1.99']">
          </q-input>
        </div>
      </div>
    </div>
    </div>
    <div class="col-12 text-right q-mt-sm">
      <div class="row d-flex justify-end">
        <div class="col-4 col-md-3">
           <p class="text-bold">
            Ocean Freight:
          </p>
        </div>
        <div class="col-8 col-md-3 q-pl-sm">
          <div class="full-width price-label" style="margin-top: -10px;">
            {{formattedCost(totalOcean)}}
            <q-popup-edit :auto-save="true" v-model="totalOcean" class="bg-accent text-white" v-slot="scope">
              <q-input @input="setOceanTotal" rounded dense outlined v-model="totalOcean" dense autofocus>
                <template v-slot:append>
                  <q-icon name="attach_money" />
                </template>
              </q-input>
            </q-popup-edit>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 q-mt-md text-center">
      <q-btn v-close-popup color="primary" label="Save" rounded />
    </div>
  </div>
</template>

<script>
import { getExchangeRate } from 'src/api/rate'
import calculator from 'src/components/utils/calculate'

export default {
  name: 'maincomponent',
  components: {
    calculator
  },
  props: {
    data: {
      type: Array
    }
  },
  data () {
    return {
      render: true,
      totalOcean: 0,
      profit: 1,
      exchangeRate: 0,
      feeBank: 0.03,
      oceanIdx: null,
      oceanType: null
    }
  },
  methods: {
    formattedCost(item) {
      var formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
        minimumFractionDigits: 2,
        //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
      });

      return formatter.format(item)
    },
    reRender () {
      this.render = false
      this.render = true
    },
    calculateTotalOcean () {
      this.totalOcean = 0
      let newExchangeRate = (parseFloat(this.exchangeRate) + parseFloat(this.feeBank))
      this.data.map(item => {
        if (item.tCurrency === 'usd') {
          var total40 = (item.container40 * parseFloat(item.price40))
          var total20 = (item.container20 * parseFloat(item.price20))
          var total = total40 + total20
          this.totalOcean = this.totalOcean + total
        }
        if (item.tCurrency === 'eur') {
          var total40 = (item.container40 * parseFloat(item.price40)) * newExchangeRate
          var total20 = (item.container20 * parseFloat(item.price20)) * newExchangeRate
          var total = total40 + total20
          this.totalOcean = this.totalOcean + total
        }
      })
      this.totalOcean = this.totalOcean * this.profit
      this.$emit('setOceanFreightTotal', this.totalOcean)
      this.reRender()
    },
    setOceanTotal () {
      this.$emit('setOceanFreightTotal', this.totalOcean)
    },
    getRate () {
      return getExchangeRate((resp) => {
        let rate = resp.data.rates.USD.toFixed(2)
        this.exchangeRate = rate
        this.reRender()
      }, (err) => {
        console.log(err)
        this.$SendNotify('negative', err, 'red-9')
      })
    },
    sumPriceOcean (idx, oceanType) {
      this.oceanIdx = idx
      this.oceanType = oceanType
    },
    setOceanPrice (total) {
      if (this.oceanType === 1) {
        this.data[this.oceanIdx].price40 = total
      }
      if (this.oceanType === 2) {
        this.data[this.oceanIdx].price20 = total
      }
      this.reRender()
      this.calculateTotalOcean()
      this.$emit('setOceanPrice', this.data)
    }
  },
  beforeMount () {
  },
  created () {
    this.getRate()
  }
}
</script>
