<template>
  <div style="width: 320px">
    <q-list>
      <q-item clickable v-ripple v-for="(revision, idx) in revisions" :key="idx">
        <q-item-section>{{getLabel(revision.pdf)}}</q-item-section>
        <q-item-section avatar>
          <q-btn type="a" :href="revision.pdf" target="_blank" round icon="picture_as_pdf" color="primary" />
        </q-item-section>
      </q-item>
      <q-item clickable v-ripple v-if="revisions.length < 1">
        <q-item-section>Offert don`t have reviews...</q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>

export default {
  name: 'revisionList',
  components: {
  },
  props: {
    revisions: {
      type: Array
    },
    pdf: {
      type: String
    }
  },
  data () {
    return {
    }
  },
  methods: {
    getLabel (pdf) {
      var split = pdf.split('/')
      var length = split.length
      var label=  split[length - 1].split('.')
      return label[0]
    }
  },
  beforeMount () {
  },
  created () {
  }
}
</script>
