<template>
  <q-form @submit="conformValidation" class="row">
    <div class="col-12">
      <p class="font-12 text-capitalize text-justify"><b>Important:</b> 
        <span v-if="quote.status_id < 2"> After starting the validation process for this quote, it can no longer be modified by you. only an administrator can modify it.</span>
        <span v-else> You are about to confirm the quote: <b>{{quote.code}}</b>, by carrying out this process we will proceed to send the emails of the client, the dealer if it exists and the administrator who validated and confirmed the offer.</span>
      </p>
      <p class="font-12 text-capitalize text-justify"><b>Remember:</b> 
        <span v-if="quote.status_id < 2"> a maximum of 5 notes of 20 characters.</span>
      </p>
    </div>
    <div class="col-12" v-if="quote.status_id < 2">
      <label class="text-bold font-12 text-primary q-mb-sm">Shipping or Misc Instructions</label>
      <q-editor @input="reRender" v-model="quote.description" class="q-mt-sm" min-height="5rem" />
    </div>
    <div class="col-12 q-mt-md text-center">
      <q-btn v-if="quote.status_id === 1" :loading="loading" rounded size="md" densed class="text-capitalize" label="Validate" type="submit" color="primary" />
      <q-btn v-if="quote.status_id === 2" :loading="loading" rounded size="md" densed class="text-capitalize" label="Confirm" type="submit" color="primary" />
    </div>
  </q-form>
</template>

<script>
import { toggleStatus } from 'src/api/quotes'

export default {
  name: 'maincomponent',
  components: {
  },
  props: {
  },
  data () {
    return {
      loading: false,
      quote: null
    }
  },
  methods: {
    conformValidation () {
      let title
      if (this.quote.status_id < 2) {
        title = 'Quote validation process'
      } else {
        title = 'Quote confirmation process'
      }
      this.$q.dialog({
        title: title,
        message: '¿Are you sure you want to start the process of validating this quote?',
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
      }).onOk(() => {
        this.toggleStatus()
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    toggleStatus () {
      this.loading = true
      let message
      if (this.quote.status_id === 1) {
        this.quote.quote_statuse_id = 2
        message = 'Quote validation success.'
      }
      if (this.quote.status_id === 2) {
        this.quote.quote_statuse_id = 3
        message = 'Quote confirmation success.'
      }
      return toggleStatus(this.quote, (resp) => {
        this.$SendNotify('positive', message, 'primary')
        this.quote = this.$parent.$parent.$parent.$parent.quote = resp.data.success.quote
        this.$parent.$parent.$parent.$parent.reRender()
        document.querySelector('#closeModal').click()
        if (resp.data.success.pdf) {
          window.open(resp.data.success.pdf, '_blank')
        }
        this.loading = false
      }, (err) => {
        this.loading = false
        console.log(err)
        this.$SendNotify('negative', err, 'red-9')
      })
    },
    reRender () {
      this.render = false
      this.render = true
    }
  },
  beforeMount () {
    this.quote = this.$parent.$parent.$parent.$parent.quote
  },
  created () {
  }
}
</script>
