<template>
  <div class="full-width">
    <q-table :pagination.sync="pagination" ref="userTable" tabindex="0" :filter="search" :data="data" :columns="columns" row-key="id" class="shadow-0 table round-10">
    <template v-slot:top-left class="q-pa-sm">
       <div class="row" v-if="$route.path !== '/dashboard/main'">
        <p class="font-18 text-primary text-bold">
          {{$t('quote')}}
        </p>
        <q-btn to="/dashboard/quotes/create" flat dense icon="add" color="primary" style="margin-top: -14px">
          <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
            {{$t('newQuote')}}
          </q-tooltip>
        </q-btn>
      </div>
    </template>
    <template v-slot:top-right class="q-pa-sm">
      <div class="row">
        <div class="col-12 col-md-4 col-sm-12 q-pa-sm text-center">
          <label class="text-bold text-primary" style="font-size: 12pt">Start</label>
          <q-input type="date" @input="$parent.filterByDate" outlined dense rounded v-model="date.min" />
        </div>
        <div class="col-12 col-md-4 col-sm-12 q-pa-sm text-center">
          <label class="text-bold text-primary" style="font-size: 12pt">End</label>
          <q-input type="date" @input="$parent.filterByDate" outlined dense rounded v-model="date.max"/>
        </div>
        <div class="col-12 col-md-4 col-sm-12 q-pa-sm text-center">
          <label class="text-bold text-primary" style="font-size: 12pt">Search</label>
          <q-input rounded label="Search" dense outlined  debounce="300" v-model="search" class="q-pl-sm q-pr-sm q-mb-sm" placeholder="">
          </q-input>
        </div>
      </div>
    </template>
    <template v-slot:body="props">
      <q-tr :props="props">
        <q-td key="code" :props="props">
          <p class="font-11">{{props.row.code}}</p>
        </q-td>
        <q-td key="dateCreate" :props="props">
          <p class="font-11 text-capitalize">{{props.row.date_creation}}</p>
        </q-td>
        <q-td key="dateFinish" :props="props">
          <p class="font-11">{{props.row.date_validation}}</p>
        </q-td>
        <q-td key="subtotal" :props="props">
          <p class="font-11 text-capitalize">{{$price(props.row.subtotal, '$')}}</p>
        </q-td>
        <q-td key="total" :props="props">
          <p class="font-11 text-capitalize">{{$price(props.row.total, '$')}}</p>
        </q-td>
        <q-td key="country" :props="props">
          <p class="font-11 text-capitalize">{{props.row.country}}</p>
        </q-td>
        <q-td key="client" :props="props">
          <p class="font-11 text-capitalize">{{props.row.client}}</p>
        </q-td>
        <q-td key="option" :props="props">
          <div v-if="!props.row.is_complete" class="full-width">
            <q-btn flat @click="openStatusModal(props.row.uuid)" :disable="props.row.status_id !== 1" v-if="props.row.id && props.row.user_id === user.id || props.row.id && user.rol === 'admin'" class="text-capitalize" dense desed color="secondary" icon-right="check_circle">
              <q-tooltip content-class="bg-secondary text-capitalize" :offset="[10, 10]">
                Validation
              </q-tooltip>
            </q-btn>
            <q-btn @click="openStatusModal(props.row.uuid)" :disable="props.row.status_id !== 2" v-if="props.row.id && user.rol === 'admin'" class="text-capitalize" flat dense color="primary" icon-right="fact_check">
              <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
                Confirm quote.
              </q-tooltip>
            </q-btn>
            <q-btn flat @click="uploadBluePrint(props.row)" class="text-capitalize" dense desed color="teal" icon-right="upload_file">
              <q-tooltip content-class="bg-teal text-capitalize" :offset="[10, 10]">
                Upload Blueprints
              </q-tooltip>
            </q-btn>
            <q-btn flat @click="showPdf(props.row.uuid)" class="text-capitalize" dense desed color="orange" icon-right="picture_as_pdf">
              <q-tooltip content-class="bg-orange text-capitalize" :offset="[10, 10]">
                Quote pdf
              </q-tooltip>
            </q-btn>
            <q-btn v-if="props.row.revision_count > 0" @click="openRevisionModal(props.row.uuid)" icon="search" flat densed color="purple-8" dense>
              <q-tooltip content-class="bg-purple-8 text-capitalize" :offset="[10, 10]">
                <span>Revisions</span>
              </q-tooltip>
            </q-btn>
            <q-btn :to="'/dashboard/quotes/edit/' +  props.row.uuid" icon="edit" flat densed color="primary" dense>
              <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
                {{$t('edit')}}
              </q-tooltip>
            </q-btn>
            <q-btn v-if="user.rol === 'admin'" @click="confirmDelete(props.row.uuid)" icon="delete" flat densed color="red" dense>
              <q-tooltip content-class="bg-red-9 text-capitalize" :offset="[10, 10]">
                {{$t('delete')}}
              </q-tooltip>
            </q-btn>
          </div>
          <div v-else>
            <q-chip size="12px" color="primary" class="text-white">
              Complete
            </q-chip>
          </div>
        </q-td>
      </q-tr>
    </template>
  </q-table>
  <q-dialog v-model="statusModal">
        <div class="bg-white full-width relative q-pa-md"  style="position: relative">
          <span class="font-18 text-primary text-bold text-capitalize">
            <span>Quote validation process</span>
          </span>
          <q-btn id="closeModal" flat dense size="sm" color="red" v-close-popup style="height: 30px" icon="close" class="absolute-right">
          </q-btn>
          <div class="row q-mt-lg">
            <div class="col-12">
              <q-form @submit="conformValidation" class="row" v-if="render">
                <div class="col-12" style="margin-top: -20px">
                  <p class="font-12 text-capitalize text-justify"><b>Important:</b>
                    <span v-if="quote.status_id < 2"> After starting the validation process for this quote, it can no longer be modified by you. only an administrator can modify it.</span>
                    <span v-else> You are about to confirm the quote: <b>{{quote.code}}</b>, Carrying Out This Process We Will Proceed to generate quote pdf and Send The Offer To The Opportunities Box Where You Will Be Able To Visualize The Reviews Of The Offers And You Will Be Able To Send Emails.</span>
                  </p>
                  <p v-if="quote.status_id === 2 && quote.blueprints" class="font-12 text-capitalize text-justify"><b>Quote blueprints: </b>
                    <a :href="quote.blueprintsUrl" target="_blank" style="text-decoration: none">
                      {{quote.blueprints}}
                    </a>
                </p>
                  <p class="font-12 text-capitalize text-justify"><b>Remember:</b>
                    <span> a maximum of 6 notes of 45 characters.</span>
                  </p>
                </div>
                <div class="col-12">
                  <label class="text-bold font-12 text-primary q-mb-sm">Shipping or Misc Instructions</label>
                  <q-editor @input="reRender" v-model="quote.description" class="q-mt-sm" min-height="5rem" />
                </div>
                <div class="col-12 q-mt-lg">
                  <label class="text-bold font-12 text-primary q-mb-sm">General conditions of sale</label>
                  <q-editor @input="reRender" v-model="lastPage" class="q-mt-sm" min-height="5rem" />
                </div>
                <div class="col-12 q-mt-md text-center">
                  <q-btn v-if="quote.status_id === 1" :loading="loading" rounded size="md" densed class="text-capitalize" label="Validate" type="submit" color="primary" />
                  <q-btn v-if="quote.status_id === 2" :loading="loading" rounded size="md" densed class="text-capitalize" label="Confirm Quote" icon-right="fact_check" type="submit" color="primary" />
                </div>
              </q-form>
            </div>
          </div>
        </div>
      </q-dialog>
      <q-dialog v-model="openBluePrintModal">
        <div class="bg-white full-width relative q-pa-md"  style="position: relative">
          <span class="font-18 text-primary text-bold text-capitalize">
            <span>Upload blueprints</span>
          </span>
          <q-btn id="closeModal" flat dense size="sm" color="red" v-close-popup style="height: 30px" icon="close" class="absolute-right">
          </q-btn>
          <div class="row q-mt-lg">
            <div class="col-12" v-if="planPdf" style="margin-top: -20px">
              <p class="font-12 text-capitalize text-justify"><b>Show quote blueprints pdf: </b>
                <a :href="planPdf" target="_blank" style="text-decoration: none">
                  {{pdfLabel}}
                </a>
                <q-btn flat dense icon="delete" @click="clearBluePrint" color="red" size="md" />
              </p>
            </div>
            <div class="col-12">
              <q-form @submit="uploadPlans" class="row">
                <div class="col-12 q-pa-sm">
                  <q-file accept=".pdf, pdf/*" :rules="[val => !!val || 'this field is required']" label="Quote blueprints" rounded outlined v-model="file" ref="profilePhoto" />
                </div>
                <div class="col-12 text-center">
                  <q-btn :loading="uploadPlan" rounded size="md" densed class="text-capitalize q-ml-md" :label="$t('save')" type="submit" color="primary" />
                </div>
              </q-form>
            </div>
          </div>
        </div>
      </q-dialog>
      <q-dialog v-model="showRevisionModal">
        <div class="bg-white relative q-pa-md"  style="position: relative">
          <span class="font-18 text-primary text-bold text-capitalize">
            <span>Quote reviews</span>
          </span>
          <q-btn id="closeModal" flat dense size="sm" color="red" v-close-popup style="height: 30px" icon="close" class="absolute-right">
          </q-btn>
          <div class="row q-mt-lg">
            <div class="col-12" style="margin-top: -20px">
              <revisionsList :revisions="revisions" :pdf="nowPdf" />
            </div>
          </div>
        </div>
      </q-dialog>
      <q-dialog @hide="clearPdfData" v-model="openPdf" persistent :maximized="maximizedToggle" transition-show="slide-up" transition-hide="slide-down">
      <q-card class="d-flex flex-center">
        <q-bar class="bg-primary">
          <p class="text-white font-12 q-mt-md text-bold" v-if="labelOpportunity">PDF {{labelOpportunity.code}}</p>
          <q-space />
          <q-btn color="white" dense flat icon="close" v-close-popup>
            <q-tooltip class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>
        <q-card-section class="q-pa-none full-height row d-flex flex-center">
          <div v-if="visibleLoading" class="centerLoadingPdf">
            <q-spinner-gears size="72px" color="primary" />
            <p class="font-12 text-bold text-primary">Loading pdf...</p>
          </div>
          <iframe v-show="showPdfIsLoaded" id="pdfIframe" :src="pdfSrc" style="width: 100%; height: 100vh" frameBorder="0"></iframe>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { domain } from 'src/api/data'
import { del } from 'src/api/quotes'
import statusForm from './statusForm'
import revisionsList from './revisions'
import { toggleStatus } from 'src/api/quotes'
import { show, upBlueprints, showPdf, clearBlueprints } from 'src/api/quotes'

export default {
  // name: 'ComponentName',
  props: {
    data: Array
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    }
  },
  components: {
    statusForm,
    revisionsList
  },
  data () {
    return {
      pagination: {
        sortBy: 'ASC',
        descending: false,
        page: 1,
        rowsPerPage: 20
      },
      url: domain,
      loading: false,
      columns: [
        { name: 'code', required: true, label: 'Code', align: 'center', field: row => row.code, sortable: false, classes: 'ellipsis', style: 'width: 100px' },
        { name: 'dateCreate', align: 'center', label: this.$t('dateCreate'), field: row => row.date_creation, sortable: false },
        { name: 'dateFinish', align: 'center', classes: 'ellipsis', label: this.$t('dateValidation'), field: row => row.date_validation, sortable: false, align: 'center', style: 'width: 100px' },
        { name: 'subtotal', label: 'Subtotal', field: row => row.subtotal, align: 'center', sortable: false },
        { name: 'total', label: 'Total', field: row => row.total, align: 'center', sortable: false },
        { name: 'country', label: this.$t('country'), field: row => row.country, align: 'center', sortable: false },
        { name: 'client', label: this.$t('clients'), field: row => row.client, align: 'center', sortable: false },
        { name: 'option', align: 'center', label: this.$t('show'), sortable: false }
      ],
      search: '',
      statusModal: false,
      quote: {},
      render: true,
      openBluePrintModal: false,
      quoteUploadPlans: {},
      file: null,
      uploadPlan: false,
      planPdf: null,
      pdfLabel: '-',
      lastPage: '<p style="font-size: 8pt; text-align: justify">1.- Cualquier equipo no mencionado expresamente en la presente oferta no forma parte del suministro de ATS.</p> <p style="font-size: 8pt; text-align: justify">2.- ATS se reserva el derecho a modificar y/o corregir cualquier error u omision en la presente oferta.</p> <p style="font-size: 8pt; text-align: justify">3.- Todas las dimensiones reflejadas en la presente oferta estan sujetas a la realizacion de un plano definitivo aprobado por el cliente.</p> <p style="font-size: 8pt; text-align: justify">4.- El cliente es responsible del resguardo y manipulacion de los equipos una vez ATS haya entregado los mismos en el lugar acordado.</p> <p style="font-size: 8pt; text-align: justify">5.- El cliente dispone de 30 dias calendarios a la entrega de los equipos en el lugar acordado para la verificacion y comprobacion de la recepcion, luego de este tiempo, ATS no se hace responsable de los posibles daños, falta de materiales, etc.</p> <p style="font-size: 8pt; text-align: justify">6.- Los precios fueron calculados a la tasa de cambio del dia del Euro/Dólar: 1.18, ATS se reserva el derecho de realizar modificaciones debido a este concepto.</p> <p style="font-size: 8pt; text-align: justify">7.- Todos los cargos bancarios del banco emisor, debe ser asumido por el cliente, todos los cargos del banco receptor corren por cuenta de ATS.</p> <p style="font-size: 8pt; text-align: justify">8.- En la presente oferta no se incluye Tecnico y/o Supervisor para el armado y el montaje, el mismo podra ser cotizado en caso de ser requerido por el cliente debidamente cargados y embalados, cumpliendo con los maximos controles para garantizar un despacho adecuado. <p style="font-size: 8pt; text-align: justify">9.- ATS no se hace responsable de cualquier daño o deterioro debido a una mala manipulacion u otras circunstancias que no este bajo el contro de ATS.</p> <p style="font-size: 8pt; text-align: justify">10.- Las Garantias ofrecidas son trasladadas directamente desde fabrica, el cliente recibira una carta donde cada proveedor reconoce la cobertura de la misma.</p> <p style="font-size: 8pt; text-align: justify">11.- El precio del Flete es calculado a la fecha de la oferta, pudiendo variar al momento del cierre, por lo que ATS se reserva a realizar modificaciones en caso de existir.</p> <p style="font-size: 8pt; text-align: justify">12.- ATS, a través de sus proveedores garantizan y se responsabilizan por los tiempos de fabricacion, los tiempos de fletes locales e internacionales, son manejados por terceros y estan sujetos a la disponibilidad de los mismos.</p> <p style="font-size: 8pt; text-align: justify">13.- El cliente debe informar con tiempo los documentos necesarios para importacion y las condiciones (si aplica), pudiendo afectar el precio final.</p> <p style="font-size: 8pt; text-align: justify">14.- ATS se reserva el derecho de aplicar nuevos cargos por concepto de penalidades, morosidades, almacenes u otros, debido a retrasos en el pago del balance final por mas de 30 dias, en caso de exceder 6 meses, ATS dispondra de los bienes fabricados y al anticipo se le descontara los conceptos antes señalados y si existiese una diferencia la misma sera tomado como un credito a favor del cliente para una nueva oferta con precios actualizados.</p> <p style="font-size: 8pt; text-align: justify">15.- La presente oferta no incluye ningun tipo de obra, en caso de requerirse, ATS cotizara a traves del representante local en moneda local.</p> <p style="font-size: 8pt; text-align: justify">16.- No se incluye nigun tipo de permisos, estudios preliminares, gestion aduanal para la importacion o cualquier otro que no este expresamente mencionado en la oferta.</p> <p style="font-size: 8pt; text-align: justify">17.- ATS se compromete a emitir los planos de cimentacion, una vez confirmada la operacion, la misma no tendra costo adicional, para ello se requiere, por parte del cliente, el estudio de mecanica de suelos del lugar de la instalacion y un levantamiento topografico.</p> <p style="font-size: 8pt; text-align: justify">18.- Las garantias emitidas por los equipos son contra defectos de fabricacion, es importante que las obras se realicen con personal calificado, los daños o golpes, sufridos por los equipos por concepto de manupulacion o incorrecta instalacion no seran responsabilidad de ATS.</p> <p style="font-size: 8pt; text-align: justify">19.- ATS se compromete con el cliente, aun acompañamiento durante toda la fase del proyecto (Ingenieria y Obras), independientemente de la empresa que sea beneficiada por las obras, es importante mencionar que este acompañamiento se realizaria por visitas programadas y/o consultas remotas (correos y videollamadas).</p> <p style="font-size: 8pt; text-align: justify">20.- Debido a la actual situación global de transporte, ATS se ve obligada a cotizar solo precios indicativos y no vinculantes. ATS no puede aceptar actualmente ningun transporte en su alcance al momento de realizar el pedido, sino solo 15 días antes del envio con precios actualizados.</p>',
      date: {},
      showRevisionModal: false,
      revisions: [],
      nowPdf: '',
      quotedBy: false,
      dealer: false,
      approve: true,
      quoteUploadUuId: null,
      other: false,
      email_contact_2: '',
      email_contact_3: '',
      openPdf: false,
      pdfSrc: null,
      maximizedToggle: true,
      showPdfIsLoaded: false,
      visibleLoading: true,
      labelOpportunity: null
    }
  },
  methods: {
    confirmDelete (id) {
      this.$q.dialog({
        title: this.$t('delete'),
        message: this.$t('quoteDelete'),
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
        this.delete(id)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    delete (id) {
      return del(id, (resp) => {
        this.$parent.list()
        this.$SendNotify('negative', resp.data.success, 'red-9')
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      })
    },
    openStatusModal (uuid) {
      return show(uuid, (resp) => {
        this.quote = resp.data.success
        this.email_contact_2 = this.quote.email_contact_2
        this.email_contact_3 = this.quote.email_contact_3
        if (this.quote.last_page) {
          this.lastPage = this.quote.last_page
        }
        this.statusModal = !this.statusModal
        this.reRender()
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      })
    },
    conformValidation () {
      let title
      if (this.quote.status_id < 2) {
        title = 'Quote validation process'
      } else {
        title = 'Quote confirmation process'
      }
      this.$q.dialog({
        title: title,
        message: '¿Are you sure you want to start the process of validating this quote?',
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
      }).onOk(() => {
        this.toggleStatus()
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    toggleStatus () {
      let message
      if (this.quote.status_id === 1) {
        this.quote.quote_statuse_id = 2
        message = 'Quote validation success.'
      }
      if (this.quote.status_id === 2) {
        this.quote.quote_statuse_id = 3
        this.quote.quotedBy = this.quotedBy
        this.quote.dealer = this.dealer
        this.quote.approve = this.approve
        message = 'Quote confirmation success. Opportunity generated successfully'
      }
      this.quote.email_contact_2 = this.email_contact_2
      this.quote.email_contact_3 = this.email_contact_3
      this.quote.last_page = this.lastPage
      this.loading = true
      return toggleStatus(this.quote, (resp) => {
        this.$SendNotify('positive', message, 'primary')
        this.$parent.list()
        this.statusModal = !this.statusModal
        this.email_contact_2 = ''
        this.email_contact_3 = ''
        this.loading = false
        if (this.quote.status_id === 2) {
          this.$router.push('/dashboard')
        }
      }, (err) => {
        this.loading = false
        console.log(err)
        this.$SendNotify('negative', err, 'red-9')
      })
    },
    reRender () {
      this.render = false
      this.render = true
    },
    uploadBluePrint (item) {
      console.log(item)
      this.quoteUploadPlans.id = item.id
      this.quoteUploadUuId = item.uuid
      this.planPdf = item.blueprintsUrl
      this.pdfLabel = item.blueprintsLabel
      this.openBluePrintModal = true
    },
    uploadPlans () {
      this.uploadPlan = true
      var formData = new FormData()
      formData.append('file', this.file)
      formData.append('id', this.quoteUploadPlans.id)
      return upBlueprints(formData, (resp) => {
        this.uploadPlan = false
        this.file = null
        this.$emit('loadQuote')
        this.uploadBluePrint(resp.data.success)
        this.$SendNotify('positive', 'Blueprint upload success.', 'primary')
      }, (err) => {
        this.uploadPlan = false
        this.$SendNotify('negative', err, 'red-9')
      })
    },
    showPdf (uuid) {
      return showPdf(uuid, (resp) => {
        if (resp.data.success.pdf) {
          this.pdfSrc = resp.data.success.pdf
          this.labelOpportunity = resp.data.success
          window.open(this.pdfSrc, '_blank')
        }
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      })
    },
    openRevisionModal (uuid) {
      return show(uuid, (resp) => {
        this.showRevisionModal = true
        this.revisions = resp.data.success.revisions
        this.nowPdf = resp.data.success.pdf
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      })
    },
    clearBluePrint (uuid) {
      this.$q.dialog({
        title: 'Blueprints',
        message: '¿Are you sure you want to clear this blueprints?',
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
      }).onOk(() => {
        this.confirmClearBluePrint(uuid)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    confirmClearBluePrint (uuid) {
      var data = {}
      data.uuid = this.quoteUploadUuId
      return clearBlueprints(data, (resp) => {
        this.$emit('loadQuote')
        this.uploadBluePrint(resp.data.success)
        this.$SendNotify('negative', 'Quote blueprints clear.', 'red-9')
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      })
    },
    loadPdf () {
      this.showPdfIsLoaded = true
      this.visibleLoading = false
    },
    clearPdfData () {
      this.showPdfIsLoaded = false
      this.visibleLoading = true
    }
  }
}
</script>
