<template>
  <q-page>
    <indexAccesories />
  </q-page>
</template>

<script>
import indexAccesories from 'src/components/back/accesories/index.vue'

export default {
  name: 'indexAccesorieshow',
  components: {
    indexAccesories
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
