<template>
  <q-form @submit="save" class="row" v-if="render">
    <div class="col-12 col-md-6 q-pa-sm">
      <q-input autofocus v-model="client.name" label="name" rounded outlined :rules="[val => !!val || 'this field is required']" />
    </div>
    <div class="col-12 col-md-6 q-pa-sm">
      <q-input v-model="client.last_name" label="Last name" rounded outlined :rules="[val => !!val || 'This field is required.']" />
    </div>
    <div class="col-12 col-md-12 q-pa-sm">
      <q-input v-model="client.email" label="Email" rounded outlined :rules="[val => !!val || 'This field is required.', val => val.includes('@') || 'The mail must have @', val => val.includes('.') || 'The email entered must end in .com, .org, etc']" />
    </div>
    <div class="col-12 col-md-6 q-pa-sm">
      <q-select @input="setCode" use-input hide-selected fill-input input-debounce="0" @filter="filterClientSelect" outlined label="Country" rounded v-model="client.country" :options="countriesOptions" :option-value="opt => Object(opt) === opt && 'code' in opt ? opt.code : ''" :option-label="opt => Object(opt) === opt && 'name' in opt ? opt.name : ''" :rules="[val => !!val || 'this field is required.']" emit-value map-options />
    </div>
    <div class="col-12 col-md-6 q-pa-sm">
      <q-input v-model="client.brand" label="Company" rounded outlined />
    </div>
    <div @input="reRender" class="col-12 col-md-6 q-pa-sm">
      <q-input v-model="client.phone" label="Telephone" rounded outlined />
    </div>
    <div @input="reRender" class="col-12 col-md-6 q-pa-sm">
      <q-input v-model="client.cellphone" label="Cellphone" rounded outlined :rules="[val => !!val || 'This field is required.', val => val.includes('+') || 'Specify the code of your country']" />
    </div>
    <div class="col-12 text-center">
      <q-btn :loading="loading" rounded size="md" densed class="text-capitalize" :label="$t('save')" type="submit" color="primary" />
    </div>
  </q-form>
</template>

<script>
import countrys from 'src/utilities/country.json'
import { show, editClient } from 'src/api/clients'

export default {
  name: 'addClient',
  props: {
  },
  computed: {
  },
  data () {
    return {
      client: {},
      loading: false,
      countries: countrys,
      countriesOptions: countrys,
      render: true
    }
  },
  methods: {
    save () {
      this.loading = true
      if (this.client.id) {
        return editClient(this.client, (resp) => {
          this.$RoutePush('/dashboard/clients')
          this.$SendNotify('positive', resp.data.success, 'primary')
          this.loading = false
        }, (err) => {
          this.loading = false
          console.log(err)
          this.$SendNotify('negative', err, 'red-9')
        })
        return true
      }
      this.$store.dispatch('client/add', this.client)
        .then((resp) => {
          this.loading = false
          this.$SendNotify('positive', resp.data.success, 'primary')
          if (this.$route.path !== '/dashboard/quotes/create') {
            this.$RoutePush('/dashboard/clients') 
          } else {
            document.querySelector('#closeModal').click()
          }
        })
        .catch((err) => {
          this.loading = false
          this.$SendNotify('negative', err, 'red')
          console.log(err)
        })
    },
    filterClientSelect (val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.countriesOptions = this.countries.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    setCode (country) {
      var search = this.countries.filter(data => {
        return data.code === country
      })
      this.client.phone = search[0].dial_code
      this.client.cellphone = search[0].dial_code
      this.client.country_label = search[0].name
    },
    reRender () {
      this.render = false
      this.render = true
    }
  },
  beforeMount () {
    if (this.$route.params.id) {
      return show(this.$route.params.id, (resp) => {
        this.client = resp.data.success
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      })
    }
  }
}
</script>
