<template>
  <q-table :pagination.sync="pagination" ref="userTable" tabindex="0" :filter="search" :data="data" :columns="columns" row-key="id" class="shadow-0 round-10 table">
    <template v-slot:top-left class="q-pa-sm">
      <p class="font-18 text-primary text-bold">
        Trash opportunities
      </p>
    </template>
    <template v-slot:top-right class="q-pa-sm">
      <q-input rounded label="Search" dense outlined  debounce="300" v-model="search" class="q-pl-sm q-pr-sm q-mb-sm" placeholder="">
      </q-input>
    </template>
    <template v-slot:body="props">
      <q-tr :props="props">
        <q-td key="id" :props="props" class="relative">
          <p class="font-10 q-pt-md">{{props.row.code}}</p>
          <q-chip @click.native="showQuote(props.row.uuid)" v-if="props.row.clientStatus_id === 7" color="primary" size="8px" style="position: absolute; top: 0px; left: 10px" class="text-white cursor-pointer">Negotiate</q-chip>
          <q-chip v-if="props.row.emailPause" size="8px" color="red" class="text-white" style="margin-top: -110px; margin-right: -50px">
            <span>Email paused</span>
          </q-chip>
        </q-td>
        <q-td key="client" :props="props">
          <p class="font-10 q-pt-md text-capitalize">{{props.row.client}}</p>
        </q-td>
        <q-td key="clientStatus" :props="props">
          <p class="font-10 q-pt-md text-capitalize">{{props.row.clientStatus}}</p>
        </q-td>
        <q-td key="total" :props="props">
          <p class="font-10 q-pt-md text-capitalize">
            {{$price(props.row.total, '$')}}
          </p>
        </q-td>
        <q-td key="options" :props="props">
          <q-btn v-if="user.rol === 'admin'" @click="confirmRestore(props.row.id)" icon="restore_from_trash" flat densed color="primary" dense>
            <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
              Restore
            </q-tooltip>
          </q-btn>
          <q-btn v-if="user.rol === 'admin'" @click="confirmDelete(props.row.id)" icon="delete" flat densed color="red" dense>
            <q-tooltip content-class="bg-red-9 text-capitalize" :offset="[10, 10]">
              {{$t('delete')}}
            </q-tooltip>
          </q-btn>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script>
import { domain } from 'src/api/data'
import { restoreQuote, delOpportunity } from 'src/api/quotes'

export default {
  // name: 'ComponentName',
  props: {
    data: Array
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    }
  },
  components: {
  },
  data () {
    return {
      pagination: {
        sortBy: 'ASC',
        descending: false,
        page: 1,
        rowsPerPage: 20
      },
      url: domain,
      loading: false,
      columns: [
        { name: 'id', required: true, label: 'Code', align: 'center', field: row => row.id, sortable: false, classes: 'ellipsis', style: 'width: 100px' },
        { name: 'client', label: this.$t('clients'), field: row => row.client, align: 'center', sortable: false },
        { name: 'clientStatus', label: 'Status', field: row => row.clientStatus, align: 'center', sortable: false },
        { name: 'total', label: 'Total', field: row => row.total, align: 'center', sortable: false },
        { name: 'options', label: 'Options', align: 'center', sortable: false }
      ],
      search: ''
    }
  },
  methods: {
    confirmRestore (id) {
      this.$q.dialog({
        title: 'Restore',
        message: '¿You  are sure to restore this quote?, if you press ok all data will restore.',
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
        this.restore(id)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    restore (id) {
      var data = {}
      data.quote_id = id
      return restoreQuote(data, (resp) => {
        this.$SendNotify('positive', resp.data.success, 'primary')
        this.$emit('getUser')
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      })
    },
    confirmDelete (id) {
      this.$q.dialog({
        title: this.$t('delete'),
        message: this.$t('quoteDelete'),
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
        this.delete(id)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    delete (id) {
      return delOpportunity(id, (resp) => {
        this.$emit('getUser')
        this.$SendNotify('negative', resp.data.success, 'red-9')
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      })
    }
  }
}
</script>
