<template>
  <div class="row">
    <div class="col-12">
      <counts v-if="count" :clients="count.totalClient" :dealers="count.totalDealar" :persons="count.totalUser" :items="count.totalItem" />
    </div>
    <div class="col-12 text-left q-pl-lg" v-if="opportunities.length > 0 && user.rol === 'admin'">
      <q-tabs v-model="tab" inline-label class="text-primary text-left float-left" :class="{'full-width': $q.screen.lt.md}">
        <q-tab name="quote" icon="request_quote" label="Quote opportunities" />
        <q-tab name="requisition" icon="pending_actions" label="Requisition email tracking" />
        <q-tab name="material" icon="precision_manufacturing" label="Material Equipment tracking" />
      </q-tabs>
    </div>
    <div class="col-12 q-pa-lg" v-if="opportunities.length > 0 && user.rol === 'admin' || user.rol === 'CAD'">
      <q-tab-panels v-model="tab" animated class="shadow-2 rounded-borders round-10">
        <q-tab-panel name="quote">
          <opportunitiesChar :win="win" :lose="lose" :total="opportunitiesTotal" v-if="render" @listOpportunities="listOpportunities" :opportunities="opportunities" />
        </q-tab-panel>
        <q-tab-panel name="requisition">
          <requisitionOportunities v-if="render" @listOpportunitiesRequisitions="listOpportunitiesRequisitions" :opportunities="requisitionOportunities" />
        </q-tab-panel>
        <q-tab-panel name="material">
          <requisitionOportunitiesMaterial v-if="render" @listOpportunitiesRequisitions="listOpportunitiesRequisitionsmechanical" :opportunities="requisitionOportunitiesMechanical" />
        </q-tab-panel>
      </q-tab-panels>
    </div>
  </div>
</template>

<script>
import { getCount } from 'src/api/main'
import { getOpportunities } from 'src/api/quotes'
import { listOportunities, listOportunitiesMechanical } from 'src/api/requisitions'
import counts from './main/counts'
import opportunitiesChar from './main/opportunities'
import requisitionOportunities from './main/requisitionOportunities'
import requisitionOportunitiesMaterial from './main/materialOportunitiesList'

export default {
  name: 'maincomponent',
  components: {
    counts,
    opportunitiesChar,
    requisitionOportunities,
    requisitionOportunitiesMaterial
  },
  computed: {
    token () {
      return this.$store.getters['auth/token']
    },
    user () {
      return this.$store.getters['auth/user']
    }
  },
  data () {
    return {
      date: '',
      count: null,
      opportunities: [],
      render: true,
      opportunitiesTotal: 0,
      win: 0,
      lose: 0,
      tab: 'quote',
      requisitionOportunities: [],
      requisitionOportunitiesMechanical: []
    }
  },
  methods: {
    loadCount () {
      return getCount((resp) => {
        this.count = resp.data.success
      }, (err) => {
        console.log(err)
        this.$SendNotify('negative', err, 'red-9')
      })
    },
    async listOpportunities () {
      await getOpportunities()
        .then(resp => {
          this.render = false
          this.opportunities = resp.data.success.opportunities
          this.opportunitiesTotal = resp.data.success.total
          this.win = resp.data.success.totalWin
          this.lose = resp.data.success.totalLose
          setTimeout(() => {
            this.render = true
          }, 200)
        })
        .catch(err => {
          console.log(err)
          this.$SendNotify('negative', err, 'red-9')
        })
    },
    async listOpportunitiesRequisitions () {
      await listOportunities()
        .then(resp => {
          this.requisitionOportunities = resp.data.success
        })
        .catch(err => {
          console.log(err)
          this.$SendNotify('negative', err, 'red-9')
        })
    },
    async listOpportunitiesRequisitionsmechanical () {
      await listOportunitiesMechanical()
        .then(resp => {
          this.requisitionOportunitiesMechanical = resp.data.success
        })
        .catch(err => {
          console.log(err)
          this.$SendNotify('negative', err, 'red-9')
        })
    }
  },
  async beforeMount () {
    this.loadCount()
    await this.listOpportunities()
    await this.listOpportunitiesRequisitions()
    await this.listOpportunitiesRequisitionsmechanical()
  },
  created () {
    if (this.user.rol === 'CAD') {
      this.tab = 'requisition'
    }
  }
}
</script>
