<template>
  <q-page>
    <addPurchase />
  </q-page>
</template>

<script>
import addPurchase from 'src/components/back/purchaseOrders/add.vue'

export default {
  name: 'mainQuote',
  components: {
    addPurchase
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
