<template>
  <q-page>
    <indexPurchase />
  </q-page>
</template>

<script>
import indexPurchase from 'src/components/back/purchaseOrders/index.vue'

export default {
  name: 'mainQuote',
  components: {
    indexPurchase
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
