<template>
  <div class="row q-pa-lg">
    <div class="col-12">
      <tableAccesories
        @newAccesories="openAddModal"
        @reloadData="listAccesoriesData"
        @edit="editAccesories"
        :data="accesories"
      />
      <q-dialog @before-hide="accesory = {}" v-model="newAccesory">
        <q-card class="round-10">
          <q-card-section>
            <span class="text-h6 text-primary">
              {{$t('addNewAcc')}}
            </span>
            <q-btn style="height: 30px; z-index: 9999" flat dense icon="close" color="red" class="absolute-right" v-close-popup>
              <q-tooltip content-class="bg-red">
                Close
              </q-tooltip>
            </q-btn>
          </q-card-section>
          <q-card-section>
            <formAdd :loading="loading" @saveAccesory="saveAccesory" @setTranslate="setTranslate" :accesory="accesory" />
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
import tableAccesories from 'src/components/back/accesories/components/table'
import formAdd from 'src/components/back/accesories/components/form'
import { listAccesory, addAccesory, editAccesory } from 'src/api/accesories'

export default {
  name: 'indexAccesories',
  components: {
    tableAccesories,
    formAdd
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    }
  },
  data () {
    return {
      accesories: [],
      newAccesory: false,
      accesory: {},
      loading: false
    }
  },
  methods: {
    async listAccesoriesData () {
      await listAccesory()
        .then(resp => {
          this.accesories = resp.data.success
        })
        .catch(err => {
          if (err.error) {
            if (typeof err.error === 'object') {
              const message = Object.values(err.error).shift();
              if (message.length > 0) {
                const newMessage = message.shift()
                this.$SendNotify("negative", `${newMessage}`, "red-9");
              }
            } else {
              this.$SendNotify("negative", `${err.error}`, "red-9");
            }
          } else {
            this.$SendNotify("negative", err.message, "red-9");
          }
        })
    },
    openAddModal () {
      this.newAccesory = !this.newAccesory
    },
    async saveAccesory (accesory) {
      if (accesory.id) {
        await editAccesory(accesory)
          .then(async (resp) => {
            this.accesory = {}
            this.openAddModal()
            await this.listAccesoriesData()
            this.$SendNotify('positive', resp.data.success, 'primary')
            this.loading = false
          })
          .catch(err => {
            this.loading = false
            if (err.error) {
              if (typeof err.error === 'object') {
                const message = Object.values(err.error).shift();
                if (message.length > 0) {
                  const newMessage = message.shift()
                  this.$SendNotify("negative", `${newMessage}`, "red-9");
                }
              } else {
                this.$SendNotify("negative", `${err.error}`, "red-9");
              }
            } else {
              this.$SendNotify("negative", err.message, "red-9");
            }
          })
        return true
      }
      this.loading = true
      await addAccesory(accesory)
        .then(async (resp) => {
          this.accesory = {}
          this.openAddModal()
          await this.listAccesoriesData()
          this.$SendNotify('positive', resp.data.success, 'primary')
          this.loading = false
        })
        .catch(err => {
          this.loading = false
          if (err.error) {
            if (typeof err.error === 'object') {
              const message = Object.values(err.error).shift();
              if (message.length > 0) {
                const newMessage = message.shift()
                this.$SendNotify("negative", `${newMessage}`, "red-9");
              }
            } else {
              this.$SendNotify("negative", `${err.error}`, "red-9");
            }
          } else {
            this.$SendNotify("negative", err.message, "red-9");
          }
        })
    },
    editAccesories (accesory) {
      this.accesory = accesory
      this.openAddModal()
    },
    setTranslate (body, lang) {
      this.accesory[lang] = body
    }
  },
  async created () {
    await this.listAccesoriesData()
  }
}
</script>
