<template>
  <q-form @submit="save" class="row" v-if="render">
    <div class="col-12">
      <q-tabs
        v-model="tab"
        active-color="primary"
        indicator-color="secondary"
      >
        <q-tab name="Spanish" label="Spanish" />
        <q-tab name="English" label="English" />
        <q-tab name="Portuguese" label="Portuguese" />
      </q-tabs>
    </div>
    <div class="col-12 q-pa-sm q-mt-md">
      <q-tab-panels v-model="tab" animated class="shadow-0 rounded-borders">
        <q-tab-panel name="Spanish">
          <q-input @input="translate" debounce="1000" autofocus v-model="accesory.name" label="Nombre" rounded outlined :rules="[val => !!val || 'this field is required']" />
        </q-tab-panel>
        <q-tab-panel name="English">
          <q-input autofocus v-model="accesory.en_translate" label="Name" rounded outlined :rules="[val => !!val || 'this field is required']" />
        </q-tab-panel>
        <q-tab-panel name="Portuguese">
          <q-input autofocus v-model="accesory.br_translate" label="Nome" rounded outlined :rules="[val => !!val || 'this field is required']" />
        </q-tab-panel>
      </q-tab-panels>
    </div>
    <div class="col-12 text-center">
      <q-btn :loading="loading" rounded size="md" densed class="text-capitalize" :label="$t('save')" type="submit" color="primary" />
    </div>
  </q-form>
</template>

<script>
import { generateKey, translate } from 'src/api/translate'

export default {
  name: 'addAccosories',
  props: {
    accesory: Object,
    loading: Boolean
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    }
  },
  data () {
    return {
      render: true,
      tab: 'Spanish'
    }
  },
  methods: {
    save () {
      this.$emit('saveAccesory', this.accesory)
    },
    translate (body) {
      let data = {}
      data.text = body
      data.source = 'es'
      data.target = 'en'
      return translate(data, (resp) => {
        this.$emit("setTranslate", resp.data.success, 'en_translate')
        this.translatePt(body)
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      });
    },
    translatePt (body) {
      let data = {}
      data.text = body
      data.source = 'es'
      data.target = 'pt'
      return translate(data, (resp) => {
        this.$emit("setTranslate", resp.data.success, 'br_translate')
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      });
    }
  },
  async created () {
  }
}
</script>
