<template>
  <div class="row q-pa-lg">
    <div class="col-12 q-mt-lg">
      <q-card>
        <q-card-section>
          <p class="font-18 text-primary text-bold text-capitalize">
            <span >{{user.first_name}} {{user.last_name}}</span>
          </p>
        </q-card-section>
        <q-card-section>
          <formProfile />
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>
import formProfile from './components/form'

export default {
  name: 'maincomponent',
  components: {
    formProfile
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    }
  },
  data () {
    return {
    }
  },
  methods: {
  },
  beforeMount () {
  },
  created () {
  }
}
</script>
