<template>
  <q-icon name="straighten" size="14pt" class="cursor-pointer">
    <q-menu>
      <q-list>
        <q-item clickable v-for="unit in listArrays" :key="unit" @click="setData(unit)">
          {{ unit }}
        </q-item>
      </q-list>
    </q-menu>
    <q-tooltip content-class="bg-primary">
      Select the unit of measure
    </q-tooltip>
  </q-icon>
</template>

<script>

export default {
  name: 'longitudeSelector',
  props: {
    type: {
      type: String,
      default: () => {
        return 'medidas'
      }
    },
    idx: {
      type: Number,
      default: () => {
        return 0
      }
    },
    model: String
  },
  computed: {
    listArrays () {
      if (this.type === 'medidas') {
        return this.unitiesMedidas
      }
      if (this.type === 'peso') {
        return this.weightUnits
      }
      if (this.type === 'volumen') {
        return this.volUnits
      }
      if (this.type === 'voltage') {
        return this.voltages
      }
      if (this.type === 'catwalk') {
        return this.catwalk
      }
      if (this.type === 'capacity') {
        return this.capacities
      }
      if (this.type === 'velocity') {
        return this.capacities
      }
    }
  },
  data () {
    return {
      capacities: ['t/h', 'm3/h', 'bph'],
      capacities: ['t/h', 'bu/h', 'm/s', 'fpm'],
      unitiesMedidas: ['m', 'mm', 'ft', 'in'],
      weightUnits: ['kg', 'ton'],
      catwalk: ['T/H', 'BU/H'],
      volUnits: ['m3', 'ft3'],
      voltages: ['220/380 V - 3F – 50Hz', '254/440V - 3F – 60Hz', '277/460V - 3F – 60Hz', '220/480V - 3F – 60Hz']
    }
  },
  methods: {
    setData (e) {
      this.$emit('unit-of-measure', this.idx, e, this.model)
    }
  },
  beforeMount () {
  }
}
</script>
