<template>
  <div class="row full-width" v-if="render">
    <div class="col-12 q-pa-sm">
      <p class="font-14 text-primary text-bold text-capitalize">
        {{$t('attribute')}}
        <q-btn  @click="pushNewAttribute" icon="add" color="primary" flat dense v-if="$parent.$parent.item.attributes.length === 0">
          <q-tooltip content-class="bg-primary">
            {{$t('addNewAttr')}}
          </q-tooltip>
        </q-btn>
      </p>
    </div>
    <div class="col-12">
      <div class="row full-width" v-for="(attribute, idx) in $parent.$parent.item.attributes" :key="idx">
        <div class="col-12 col-md-3 q-pa-sm" v-if="lang === 'es'">
          <q-input debounce="2000" @input="translate(attribute.name, idx)" @blur="translate(attribute.name, idx)" v-model="attribute.name" label="Name" rounded outlined :rules="[val => !!val || 'this field is required']" />
        </div>
        <div class="col-12 col-md-3 q-pa-sm" v-if="lang === 'en'">
          <q-input @input="reRender" v-model="attribute.name_en" label="Name english" rounded outlined :rules="[val => !!val || 'this field is required']" />
        </div>
        <div class="col-12 col-md-3 q-pa-sm" v-if="lang === 'pt'">
          <q-input @input="reRender" v-model="attribute.name_br" label="Name portugues" rounded outlined :rules="[val => !!val || 'this field is required']" />
        </div>
        <div class="col-12 col-md-3 q-pa-sm">
          <q-input @input="reRender" v-model="attribute.value" label="Feature value" rounded outlined />
        </div>
        <div class="col-12 col-md-2 q-pa-sm q-pt-md">
          <q-toggle checked-icon="check" unchecked-icon="clear" @input="clearVariables(idx)" v-model="attribute.variable" color="primary" keep-color label="Variable" />
        </div>
        <div class="col-12 col-md-1 q-pa-sm q-pt-md">
          <q-btn @click="deleteAttribute(idx)" icon="delete" color="red" flat dense />
        </div>
      </div>
    </div>
    <div class="col-12 text-center" v-if="$parent.$parent.item.attributes.length > 0">
      <q-btn rounded color="primary" label="New Feature" @click="pushNewAttribute" />
    </div>
  </div>
</template>

<script>
import { del } from 'src/api/attribute'
import { generateKey, translate } from 'src/api/translate'

export default {
  name: 'addItem',
  props: {
    lang: String
  },
  computed: {
  },
  data () {
    return {
      data: {},
      render: true
    }
  },
  methods: {
    pushNewAttribute () {
      this.data.name = ''
      this.data.variable = false
      this.data.value = ''
      this.$parent.$parent.item.attributes.push(this.data)
      this.data = {}
    },
    reRender () {
      this.render = false
      this.render = true
    },
    deleteAttribute (idx) {
      const id = this.$parent.$parent.item.attributes[idx].id
      this.$parent.$parent.item.attributes.splice(idx, 1)
      if (this.$route.params.id) {
        return del(id, (resp) => {
          this.$SendNotify('negative', resp.data.success, 'red')
        }, (err) => {
          console.log(err)
          this.$SendNotify('negative', err, 'red-9')
        })
      }
    },
    clearVariables (idx) {
      if (this.$parent.$parent.item.attributes[idx].variable) {
        this.$parent.$parent.item.attributes[idx].value = ''
      }
      this.reRender()
    },
    translate (body, idx) {
      let data = {}
      data.text = body
      data.source = 'es'
      data.target = 'en'
      return translate(data, (resp) => {
        this.$parent.$parent.item.attributes[idx].name_en = resp.data.success
        this.reRender()
        this.translatePt(body, idx)
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      });
    },
    translatePt (body, idx) {
      let data = {}
      data.text = body
      data.source = 'es'
      data.target = 'pt'
      return translate(data, (resp) => {
        this.$parent.$parent.item.attributes[idx].name_br = resp.data.success
        this.reRender()
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      });
    }
  },
  beforeMount () {
  }
}
</script>
