<template>
  <q-form @submit="save" class="row" v-if="render">
    <div class="col-12 col-sm-12 text-left" style="margin-top:-80px">
      <q-tabs
        inline-label
        v-model="lang"
        class="text-primary text-left pull-left float-right"
      >
        <q-tab name="es" label="Spanish" />
        <q-tab name="en" label="English" />
        <q-tab name="pt" label="Portugues" />
      </q-tabs>
    </div>
    <div class="col-12 col-md-4 q-pa-sm">
      <q-input v-model="item.reference" label="Code" rounded outlined :rules="[val => !!val || 'this field is required']" />
    </div>
    <div class="col-12 col-md-4 q-pa-sm" v-if="lang === 'es'">
      <q-input v-model="item.name" :loading="searchingProduct" debounce="1500" @input="searchItem" @blur="translate(item.name, 1)" label="Name" rounded outlined :rules="[val => !!val || 'this field is required']">
      </q-input>
    </div>
    <div class="col-12 col-md-4 q-pa-sm" v-if="lang === 'en'">
      <q-input v-model="item.name_en" label="Name english" rounded outlined>
      </q-input>
    </div>
    <div class="col-12 col-md-4 q-pa-sm" v-if="lang === 'pt'">
      <q-input v-model="item.name_br" label="Name portugues" rounded outlined>
      </q-input>
    </div>
    <div class="col-12 col-md-4 q-pa-sm">
      <q-select outlined label="Provider" rounded v-model="item.provider_id" :options="providers" :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : ''" :option-label="opt => Object(opt) === opt && 'name' in opt ? opt.name : ''" :rules="[val => !!val || 'this field is required.']" emit-value map-options>
        <template v-slot:append>
          <q-btn icon="add" flat dense color="primary" @click.stop="openModelModal = true" class="cursor-pointer" />
        </template>
      </q-select>
    </div>
    <!--<div class="col-12 col-md-6 q-pa-sm">
      <q-input v-model="item.quote_number" label="Provider quote number" rounded outlined :rules="[val => !!val || 'this field is required']" />
    </div>-->
    <div class="col-12 col-md-12 q-pa-sm">
      <q-file v-if="!$route.params.id" rounded outlined v-model="file" label="Select Qr image" accept=".jpg, image/*" />
      <q-file v-else rounded outlined v-model="file" label="Select Qr image" accept=".jpg, image/*" />
    </div>
    <div class="col-12 col-md-12 q-pa-sm">
    <q-tab-panels v-model="lang" animated>
      <q-tab-panel name="es">
        <q-editor v-model="item.description" class="q-mt-sm" @blur="translate(item.description, 2)" min-height="10rem" :toolbar="[
          [
            {
              label: $q.lang.editor.align,
              icon: $q.iconSet.editor.align,
              fixedLabel: true,
              list: 'only-icons',
              options: ['left', 'center', 'right', 'justify']
            }
          ],
          ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
          ['token', 'hr', 'link', 'custom_btn'],
          [
            {
              label: $q.lang.editor.formatting,
              icon: $q.iconSet.editor.formatting,
              list: 'no-icons',
              options: [
                'p',
                'h1',
                'h2',
                'h3',
                'h4',
                'h5',
                'h6',
                'code'
              ]
            },
            {
              label: $q.lang.editor.fontSize,
              icon: $q.iconSet.editor.fontSize,
              fixedLabel: true,
              fixedIcon: true,
              list: 'no-icons',
              options: [
                'size-1',
                'size-2',
                'size-3',
                'size-4',
                'size-5',
                'size-6',
                'size-7'
              ]
            },
            {
              label: $q.lang.editor.defaultFont,
              icon: $q.iconSet.editor.font,
              fixedIcon: true,
              list: 'no-icons',
              options: [
                'default_font',
                'arial',
                'arial_black',
                'comic_sans',
                'courier_new',
                'impact',
                'lucida_grande',
                'times_new_roman',
                'verdana'
              ]
            },
            'removeFormat'
          ],
          ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

          ['undo', 'redo'],
          ['viewsource']
        ]"
        :fonts="{
          arial: 'Arial',
          arial_black: 'Arial Black',
          comic_sans: 'Comic Sans MS',
          courier_new: 'Courier New',
          impact: 'Impact',
          lucida_grande: 'Lucida Grande',
          times_new_roman: 'Times New Roman',
          verdana: 'Verdana'
        }" />
      </q-tab-panel>
      <q-tab-panel name="en">
        <q-editor v-model="item.description_en" class="q-mt-sm" min-height="10rem" :toolbar="[
          [
            {
              label: $q.lang.editor.align,
              icon: $q.iconSet.editor.align,
              fixedLabel: true,
              list: 'only-icons',
              options: ['left', 'center', 'right', 'justify']
            }
          ],
          ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
          ['token', 'hr', 'link', 'custom_btn'],
          [
            {
              label: $q.lang.editor.formatting,
              icon: $q.iconSet.editor.formatting,
              list: 'no-icons',
              options: [
                'p',
                'h1',
                'h2',
                'h3',
                'h4',
                'h5',
                'h6',
                'code'
              ]
            },
            {
              label: $q.lang.editor.fontSize,
              icon: $q.iconSet.editor.fontSize,
              fixedLabel: true,
              fixedIcon: true,
              list: 'no-icons',
              options: [
                'size-1',
                'size-2',
                'size-3',
                'size-4',
                'size-5',
                'size-6',
                'size-7'
              ]
            },
            {
              label: $q.lang.editor.defaultFont,
              icon: $q.iconSet.editor.font,
              fixedIcon: true,
              list: 'no-icons',
              options: [
                'default_font',
                'arial',
                'arial_black',
                'comic_sans',
                'courier_new',
                'impact',
                'lucida_grande',
                'times_new_roman',
                'verdana'
              ]
            },
            'removeFormat'
          ],
          ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

          ['undo', 'redo'],
          ['viewsource']
        ]"
        :fonts="{
          arial: 'Arial',
          arial_black: 'Arial Black',
          comic_sans: 'Comic Sans MS',
          courier_new: 'Courier New',
          impact: 'Impact',
          lucida_grande: 'Lucida Grande',
          times_new_roman: 'Times New Roman',
          verdana: 'Verdana'
        }" />
      </q-tab-panel>
      <q-tab-panel name="pt">
        <q-editor v-model="item.description_br" class="q-mt-sm" min-height="10rem" :toolbar="[
          [
            {
              label: $q.lang.editor.align,
              icon: $q.iconSet.editor.align,
              fixedLabel: true,
              list: 'only-icons',
              options: ['left', 'center', 'right', 'justify']
            }
          ],
          ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
          ['token', 'hr', 'link', 'custom_btn'],
          [
            {
              label: $q.lang.editor.formatting,
              icon: $q.iconSet.editor.formatting,
              list: 'no-icons',
              options: [
                'p',
                'h1',
                'h2',
                'h3',
                'h4',
                'h5',
                'h6',
                'code'
              ]
            },
            {
              label: $q.lang.editor.fontSize,
              icon: $q.iconSet.editor.fontSize,
              fixedLabel: true,
              fixedIcon: true,
              list: 'no-icons',
              options: [
                'size-1',
                'size-2',
                'size-3',
                'size-4',
                'size-5',
                'size-6',
                'size-7'
              ]
            },
            {
              label: $q.lang.editor.defaultFont,
              icon: $q.iconSet.editor.font,
              fixedIcon: true,
              list: 'no-icons',
              options: [
                'default_font',
                'arial',
                'arial_black',
                'comic_sans',
                'courier_new',
                'impact',
                'lucida_grande',
                'times_new_roman',
                'verdana'
              ]
            },
            'removeFormat'
          ],
          ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

          ['undo', 'redo'],
          ['viewsource']
        ]"
        :fonts="{
          arial: 'Arial',
          arial_black: 'Arial Black',
          comic_sans: 'Comic Sans MS',
          courier_new: 'Courier New',
          impact: 'Impact',
          lucida_grande: 'Lucida Grande',
          times_new_roman: 'Times New Roman',
          verdana: 'Verdana'
        }" />
      </q-tab-panel>
    </q-tab-panels>
    </div>
    <div class="col-12">
      <attribute :lang="lang" />
    </div>
    <div class="col-12">
      <subitems :lang="lang" />
    </div>
    <div class="col-12 text-center">
      <q-btn :loading="loading" rounded size="md" densed class="text-capitalize" :label="$t('save')" type="submit" color="primary" />
    </div>
    <div class="col-12">
      <q-dialog @hide="refreshProviders" v-model="openModelModal">
        <div class="bg-white round-10 full-width relative"  style="position: relative">
          <q-btn style="height: 30px; z-index: 9999" flat dense icon="close" color="red" class="absolute-right" v-close-popup>
            <q-tooltip content-class="bg-red">
              Close
            </q-tooltip>
          </q-btn>
          <providerAdd />
        </div>
      </q-dialog>
      <q-dialog v-model="listProduct">
        <div class="bg-white round-10">
          <div class="q-pa-lg relative" style="max-width: 500px">
            <q-btn style="height: 30px; z-index: 9999" flat dense icon="close" color="red" class="absolute-right" v-close-popup>
              <q-tooltip content-class="bg-red">
                Close
              </q-tooltip>
            </q-btn>
            <q-list separator>
              <q-item-label>
                <p class="font-14 q-mt-md text-primary text-bold">
                 Load reference item
                </p>
              </q-item-label>
              <q-item clickable :class="{ 'q-mt-md': idx > 0 }" v-for="(item, idx) in searchItems" :key="idx" @click="setItem(item.uuid)">
                <q-item-section>
                  <q-item-label>{{item.name}}</q-item-label>
                  <q-item-label caption lines="1">
                    {{item.reference}} - {{item.maker}}
                  </q-item-label>
                </q-item-section>
                <q-item-section side top>
                  <q-icon name="category" color="primary" />
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </div>
      </q-dialog>
    </div>
  </q-form>
</template>

<script>
import { show, editItem } from 'src/api/item'
import attribute from './attribute'
import subitems from './subitem'
import providerAdd from 'src/components/back/provider/add'
import { search } from 'src/api/item'
import { generateKey, translate } from 'src/api/translate'

export default {
  name: 'addItem',
  props: {
  },
  computed: {
    providers () {
      return this.$store.getters['provider/providers']
    }
  },
  components: {
    attribute,
    subitems,
    providerAdd
  },
  data () {
    return {
      item: {
        attributes: [],
        subitems: []
      },
      loading: false,
      file: null,
      openModelModal: false,
      searchItems: [],
      listProduct: false,
      searchingProduct: false,
      key: null,
      lang: 'es',
      render: true
    }
  },
  methods: {
    save () {
      var form = new FormData()
      if (this.file) {
        form.append('file', this.file)
      }
      form.append('name', this.item.name)
      form.append('name_en', this.item.name_en)
      form.append('name_br', this.item.name_br)
      form.append('reference', this.item.reference)
      form.append('maker', this.item.maker)
      form.append('provider_id', this.item.provider_id)
      form.append('description', this.item.description)
      form.append('description_en', this.item.description_en)
      form.append('description_br', this.item.description_br)
      form.append('quote_number', this.item.quote_number)
      form.append('attributesAll', JSON.stringify(this.item.attributes))
      form.append('subitems', JSON.stringify(this.item.subitems))
      this.loading = true
      if (this.item.id) {
        return editItem(this.item.uuid, form, (resp) => {
          this.$SendNotify('positive', resp.data.success, 'primary')
          this.$RoutePush('/dashboard/items')
          this.loading = false
        }, (err) => {
          this.loading = false
          console.log(err)
          this.$SendNotify('negative', err, 'red-9')
        })
        return true
      }
      this.$store.dispatch('item/add', form)
        .then((resp) => {
          this.loading = false
          this.$SendNotify('positive', resp.data.success, 'primary')
          this.$RoutePush('/dashboard/items')
        })
        .catch((err) => {
          this.loading = false
          this.$SendNotify('negative', err, 'red')
          console.log(err)
        })
    },
    refreshProviders () {
      this.$parent.$parent.$parent.listProviders()
    },
    searchItem () {
      if (this.item.id) {
        return false
      }
      const data = {}
      data.name = this.item.name
      this.searchingProduct = true
      return search(data, (resp) => {
        this.searchingProduct = false
        if (resp.data.success.length > 0) {
          this.listProduct = true
        }
        this.searchItems = resp.data.success
      }, (err) => {
        this.searchingProduct = false
        console.log(err)
        this.$SendNotify('negative', err, 'red-9')
      })
    },
    setItem (id) {
      return show(id, (resp) => {
        this.item = resp.data.success
        this.item.id = null
        this.listProduct = false
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      })
    },
    translate (data, attr) {
      if(!data) { return false }
      this.confirmTranslateEn(data, attr)
    },
    confirmTranslateEn (body, attr) {
      let data = {}
      data.text = body
      data.source = 'es'
      data.target = 'en'
      return translate(data, (resp) => {
        if (attr === 1) {
          this.item.name_en = resp.data.success
        }
        if (attr === 2) {
          this.item.description_en = resp.data.success
        }
        this.searchingProduct = false
        this.reRender()
        this.confirmTranslateBr(body, attr)
      }, (err) => {
        this.searchingProduct = false
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      });
    },
    confirmTranslateBr (body, attr) {
      let data = {}
      data.text = body
      data.source = 'es'
      data.target = 'pt'
      return translate(data, (resp) => {
        if (attr === 1) {
          this.item.name_br = resp.data.success
        }
        if (attr === 2) {
          this.item.description_br = resp.data.success
        }
        this.searchingProduct = false
        this.reRender()
      }, (err) => {
        this.searchingProduct = false
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      });
    },
    reRender () {
      this.render = false
      this.render = true
    }
  },
  beforeMount () {
    if (this.$route.params.id) {
      this.item.description = ''
      this.item.description_en = ''
      return show(this.$route.params.id, (resp) => {
        this.item = resp.data.success
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      })
    } else {
      this.item.description = ''
      this.item.description_en = ''
    }
  }
}
</script>
