<template>
  <div class="row full-width" v-if="render">
    <div class="col-12 q-pa-sm">
      <p class="font-14 text-primary text-bold text-capitalize">
        {{$t('accesory')}}
        <q-btn @click="pushNewSubitem" icon="add" color="primary" flat dense>
          <q-tooltip content-class="bg-primary">
            {{$t('addNewAcc')}}
          </q-tooltip>
        </q-btn>
      </p>
    </div>
    <div class="col-12 col-md-4 q-pa-sm" v-for="(subitem, idx) in $parent.$parent.item.subitems" :key="idx">
      <div class="row full-width">
        <div class="col-10">
          <q-input v-if="lang === 'es'" debounce="2000" @input="translate(subitem.name, idx)" @blur="translate(subitem.name, idx)" v-model="subitem.name" label="Name" rounded outlined :rules="[val => !!val || 'this field is required']" />
          <q-input v-if="lang === 'en'" @input="reRender" v-model="subitem.name_en" label="Name english" rounded outlined :rules="[val => !!val || 'this field is required']" />
          <q-input v-if="lang === 'pt'" @input="reRender" v-model="subitem.name_br" label="Name portugues" rounded outlined :rules="[val => !!val || 'this field is required']" />
        </div>
        <div class="col-1 q-pa-sm">
          <q-btn @click="deleteSubitem(idx)" icon="delete" color="red" flat dense />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { del } from 'src/api/subitem'
import { generateKey, translate } from 'src/api/translate'

export default {
  name: 'addItem',
  props: {
    lang: String
  },
  computed: {
  },
  data () {
    return {
      data: {},
      render: true
    }
  },
  methods: {
    pushNewSubitem () {
      this.data.name = ''
      this.$parent.$parent.item.subitems.push(this.data)
      this.data = {}
    },
    reRender () {
      this.render = false
      this.render = true
    },
    deleteSubitem (idx) {
      const id = this.$parent.$parent.item.subitems[idx].id
      this.$parent.$parent.item.subitems.splice(idx, 1)
      if (this.$route.params.id) {
        return del(id, (resp) => {
          this.$SendNotify('negative', resp.data.success, 'red')
        }, (err) => {
          console.log(err)
          this.$SendNotify('negative', err, 'red-9')
        })
      }
    },
    translate (body, idx) {
      let data = {}
      data.text = body
      data.source = 'es'
      data.target = 'en'
      return translate(data, (resp) => {
        this.$parent.$parent.item.subitems[idx].name_en = resp.data.success
        this.reRender()
        this.translatePt(body, idx)
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      });
    },
    translatePt (body, idx) {
      let data = {}
      data.text = body
      data.source = 'es'
      data.target = 'pt'
      return translate(data, (resp) => {
        this.$parent.$parent.item.subitems[idx].name_br = resp.data.success
        this.reRender()
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      });
    }
  },
  beforeMount () {
  }
}
</script>
