<template>
  <q-table :pagination.sync="pagination" ref="userTable" tabindex="0" :filter="search" :data="data" :columns="columns" row-key="id" class="shadow-0 round-10 table">
    <template v-slot:top-left class="q-pa-sm">
      <div class="row">
        <p class="font-18 text-primary text-bold">
          Items
        </p>
        <q-btn to="/dashboard/items/create" icon="add" color="primary" flat dense style="margin-top: -12px">
          <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
            {{$t('newItem')}}
          </q-tooltip>
        </q-btn>
      </div>
    </template>
    <template v-slot:top-right class="q-pa-sm">
      <q-input rounded label="Search" dense outlined  debounce="300" v-model="search" class="q-pl-sm q-pr-sm q-mb-sm" placeholder="">
      </q-input>
    </template>
    <template v-slot:body="props">
      <q-tr :props="props">
        <q-td key="id" :props="props">
          <p class="font-11">{{props.row.id}}</p>
        </q-td>
        <q-td key="name" :props="props">
          <p class="font-11 text-capitalize">{{props.row.name}}</p>
        </q-td>
        <q-td key="reference" :props="props">
          <p class="font-11">{{props.row.reference}}</p>
        </q-td>
        <q-td key="maker" :props="props">
          <p class="font-11 text-capitalize">{{props.row.maker}}</p>
        </q-td>
        <q-td key="image" :props="props">
          <q-img width="55px" v-if="props.row.image" :src="url + '/images/items/' + props.row.image" />
        </q-td>
        <q-td key="option" :props="props">
          <q-btn :to="'/dashboard/items/edit/' +  props.row.uuid" icon="edit" flat densed color="primary" dense>
            <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
              {{$t('edit')}}
            </q-tooltip>
          </q-btn>
          <q-btn v-if="user.rol === 'admin'" @click="confirmDelete(props.row.uuid)" icon="delete" flat densed color="red" dense>
            <q-tooltip content-class="bg-red-9 text-capitalize" :offset="[10, 10]">
              {{$t('delete')}}
            </q-tooltip>
          </q-btn>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script>
import { domain } from 'src/api/data'
import { del } from 'src/api/item'

export default {
  // name: 'ComponentName',
  props: {
    data: Array
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    }
  },
  components: {
  },
  data () {
    return {
      pagination: {
        sortBy: 'ASC',
        descending: false,
        page: 1,
        rowsPerPage: 20
      },
      url: domain,
      loading: false,
      columns: [
        { name: 'id', required: true, label: 'Id', align: 'center', field: row => row.id, sortable: false, classes: 'ellipsis', style: 'width: 100px' },
        { name: 'name', align: 'center', label: this.$t('name'), field: row => row.name, sortable: false },
        { name: 'reference', align: 'center', classes: 'ellipsis', label: this.$t('reference'), field: row => row.reference, sortable: false, align: 'center', style: 'width: 100px' },
        { name: 'maker', label: this.$t('maker'), field: row => row.maker, align: 'center', sortable: false },
        { name: 'image', label: this.$t('image'), field: row => row.phone, align: 'center', sortable: false },
        { name: 'option', align: 'center', label: this.$t('show'), sortable: false }
      ],
      search: '',
      url: domain
    }
  },
  methods: {
    confirmDelete (id) {
      this.$q.dialog({
        title: this.$t('delete'),
        message: this.$t('itemDelete'),
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
        this.delete(id)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    delete (id) {
      return del(id, (resp) => {
        this.$parent.list()
        this.$SendNotify('negative', resp.data.success, 'red-9')
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      })
    }
  }
}
</script>
