<template>
  <div class="full-width row q-pa-lg">
    <div class="col-12">
      <q-card class="round-10">
        <q-card-section>
          <p class="font-18 text-primary text-bold text-capitalize">
            <span v-if="!$route.params.id">{{$t('newProduct')}}</span>
            <span v-else>{{$t('editProduct')}}</span>
          </p>
          <q-tabs
            inline-label
            v-model="lang"
            style="margin-top: -50px"
            class="text-primary text-left pull-left float-right"
          >
            <q-tab name="es" label="Spanish" />
            <q-tab name="en" label="English" />
            <q-tab name="pt" label="Portugues" />
          </q-tabs>
        </q-card-section>
        <q-card-section>
          <formProduct :tabs="lang" />
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>
import formProduct from './components/form'

export default {
  name: 'addProduct',
  components: {
    formProduct
  },
  computed: {
  },
  data () {
    return {
      lang: 'es'
    }
  },
  methods: {
    add () {
    }
  },
  beforeMount () {
  }
}
</script>
