<template>
  <div class="row q-pa-lg">
    <div class="col-12">
      <tableProducts @reloadProduct="listProductData" :data="products" />
    </div>
  </div>
</template>

<script>
import tableProducts from 'src/components/back/products/components/table'
import { listProduct } from 'src/api/products'

export default {
  name: 'indexProduct',
  components: {
    tableProducts
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    }
  },
  data () {
    return {
      products: []
    }
  },
  methods: {
    async listProductData () {
      await listProduct('')
        .then(resp => {
          this.products = resp.data.success
        })
        .catch(err => {
          if (err.error) {
            if (typeof err.error === 'object') {
              const message = Object.values(err.error).shift();
              if (message.length > 0) {
                const newMessage = message.shift()
                this.$SendNotify("negative", `${newMessage}`, "red-9");
              }
            } else {
              this.$SendNotify("negative", `${err.error}`, "red-9");
            }
          } else {
            this.$SendNotify("negative", err.message, "red-9");
          }
        })
    }
  },
  async created () {
    await this.listProductData()
  }
}
</script>
