<template>
  <div class="full-width row q-pa-lg">
    <div class="col-12">
      <q-form @submit="savePurchase">
        <q-card class="round-10">
          <q-card-section>
            <p class="font-18 text-primary text-bold text-capitalize">
              <span v-if="!$route.params.id">{{$t('newPurchase')}}</span>
              <span v-else>{{$t('editPurchase')}}</span>
            </p>
          </q-card-section>
          <q-card-section style="margin-top: -30px">
            <searchQuote ref="searchSection" @calculateTotal="calculateTotal" :quote="quote" v-if="!loadedQuote" @setQuote="setQuote" @setProvider="setProvider" @setDate="setDate" />
          </q-card-section>
          <q-card-section class="text-center" style="margin-top: -30px" v-if="provider && render">
            <items :purchase="purchase" :currency="purchase.currency" @set-quote-amount="setQuoteAmount" @set-quote-number="setQuoteNumber" @set-quote-description="setQuoteDescription" />
          </q-card-section>
          <q-card-section class="text-left" style="margin-top: -15px" v-if="provider">
            <div class="row" v-if="render && provider">
              <!--<div class="col-12 col-md-4 q-pa-sm">
                <label class="text-bold text-primary" style="font-size: 12pt">Payment condition</label>
                <q-input @input="reRender" rounded outlined v-model="purchase.payment_conditions" class="q-mt-sm" :rules="[val => !!val || 'this field is required']" />
              </div>
              <div class="col-12 col-md-4 q-pa-sm">
                <label class="text-bold text-primary" style="font-size: 12pt">Shipping condition</label>
                <q-input @input="reRender" rounded outlined v-model="purchase.shipping_conditions" class="q-mt-sm" :rules="[val => !!val || 'this field is required']" />
              </div>-->
              <div class="col-12 col-md-4 q-pa-sm">
                <label class="text-bold text-primary" style="font-size: 12pt">Shipping</label>
                <q-select :rules="[val => !!val || 'Select one option']" :options="shippingMethods" class="text-left" dense v-model="purchase.shipping" label="Select one option" rounded outlined>
                </q-select>
              </div>
              <div class="col-12 col-md-4 q-pa-sm" v-if="purchase.shipping === 'FOB'">
                <label class="text-bold text-primary" style="font-size: 12pt">Port of departure</label>
                <q-input :rules="[val => !!val || 'This field is required']" class="text-left" dense v-model="purchase.port_of_departure" label="Port of departure" rounded outlined>
                </q-input>
              </div>
              <div class="col-12 col-md-4 q-pa-sm" v-if="purchase.shipping === 'CIF'">
                <label class="text-bold text-primary" style="font-size: 12pt">Port of destination</label>
                <q-input :rules="[val => !!val || 'This field is required']" class="text-left" dense v-model="purchase.port_of_destination" label="Port of destination" rounded outlined>
                </q-input>
              </div>
              <div class="col-12 col-md-4 q-pa-sm" v-if="purchase.shipping === 'DAP'">
                <label class="text-bold text-primary" style="font-size: 12pt">Full address</label>
                <q-input class="text-left" dense v-model="purchase.full_address" label="Full address" rounded outlined>
                </q-input>
              </div>
              <div class="col-12 col-md-4 q-pa-sm">
                <label class="text-bold text-primary" style="font-size: 12pt">Currency</label>
                <q-option-group :rules="[val => !!val || 'This field is required']" @input="reRender" inline v-model="purchase.currency" type="radio" :options="currencyOptions" class="">
                </q-option-group>
              </div>
              <div class="col-12 q-pa-sm">
                <label class="text-bold text-primary" style="font-size: 12pt">Commercial terms</label>
                <section class="full-width row q-mt-md">
                  <div class="col-12 col-md-4" :class="{ 'q-pr-md': $q.screen.gt.sm }">
                    <label class="text-bold text-primary" style="font-size: 12pt">Advance</label>
                    <q-input @input="presetBalancePorcent" mask="##" :rules="[val => !!val || 'This field is required']" class="text-left" dense v-model="purchase.advance" label="10%" rounded outlined>
                      <template v-slot:append>
                        %
                      </template>
                    </q-input>
                  </div>
                  <div class="col-12 col-md-4" :class="{ 'q-px-md': $q.screen.gt.sm }">
                    <label class="text-bold text-primary" style="font-size: 12pt">Balance</label>
                    <q-input readonly :rules="[val => !!val || 'This field is required']" class="text-left" dense v-model="purchase.balance" label="90%" rounded outlined>
                      <template v-slot:append>
                        %
                      </template>
                    </q-input>
                  </div>
                  <div class="col-12 col-md-4" :class="{ 'q-pl-md': $q.screen.gt.sm }">
                    <label class="text-bold text-primary" style="font-size: 12pt">Condition</label>
                    <q-select :options="conditionsOptions" :rules="[val => !!val || 'Select one option']" class="text-left" dense v-model="purchase.condition" label="Select on option" rounded outlined>
                    </q-select>
                  </div>
                  <div class="col-12 col-md-6" :class="{ 'q-pr-md': $q.screen.gt.sm }">
                    <label class="text-bold text-primary" style="font-size: 12pt">Advance total</label>
                    <q-input readonly @input="presetBalancePorcent" :rules="[val => !!val || 'This field is required']" class="text-left" dense v-model="purchase.advance_total" rounded outlined>
                      <template v-slot:append>
                        <span class="text-primary font-10 text-uppercase">{{ purchase.currency }}</span>
                      </template>
                    </q-input>
                  </div>
                  <div class="col-12 col-md-6" :class="{ 'q-pl-md': $q.screen.gt.sm }">
                    <label class="text-bold text-primary" style="font-size: 12pt">Balance total</label>
                    <q-input readonly :rules="[val => !!val || 'This field is required']" class="text-left" dense v-model="purchase.balance_total" rounded outlined>
                      <template v-slot:append>
                        <span class="text-primary font-10 text-uppercase">{{ purchase.currency }}</span>
                      </template>
                    </q-input>
                  </div>
                  <div class="col-12" v-if="purchase.condition === 'Other'">
                    <label class="text-bold text-primary" style="font-size: 12pt">Condition complement</label>
                    <q-input class="text-left" dense v-model="purchase.condition_other" label="Condition complement" rounded outlined>
                    </q-input>
                  </div>
                </section>
              </div>
              <div class="col-12 col-md-12 q-pa-sm">
                <label class="text-bold text-primary" style="font-size: 12pt">Description</label>
                <q-editor @input="reRender" v-model="purchase.description" class="q-mt-sm" min-height="15rem" />
              </div>
              <div class="col-12 text-center q-mt-lg">
                <q-btn :loading="loading" rounded size="md" class="text-capitalize" :label="$t('save')" type="submit" color="primary" />
              </div>
            </div>
          </q-card-section>
        </q-card>
      </q-form>
    </div>
  </div>
</template>

<script>
import searchQuote from './components/searchQuote'
import items from './components/items'
import { show, editPurchaseOrder } from 'src/api/purchaseOrders'

export default {
  name: 'maincomponent',
  components: {
    searchQuote,
    items
  },
  computed: {
  },
  data () {
    return {
      loadedQuote: false,
      quote: {},
      purchase: {
        quote_amount: 0,
        advance_total: 0,
        balance_total: 0
      },
      providers: [],
      provider: null,
      items: [],
      loading: false,
      currencyOptions: [
        {
          label: 'Usd',
          value: 'usd'
        },
        {
          label: 'Eur',
          value: 'eur'
        }
      ],
      render: true,
      shippingMethods: [
        'x Works',
        'FOB',
        'CIF',
        'DAP'
      ],
      conditionsOptions: [
        'Prior Shipment',
        'Letter of Credit',
        'Other'
      ]
    }
  },
  methods: {
    setQuote (quote) {
      this.quote = quote
      this.items = []
    },
    setProvider (id) {
      this.items = this.quote.items.filter(data => {
        return data.provider_id === id
      })
      this.items.map(item => {
        this.purchase.currency = item.tCurrency
        if (item.cost === 0) {
          item.totalCost = item.quantity * item.subitemsTotal
          item.cost = item.subitemsTotal
        } else {
          if (!item.cost_type) {
            item.cost = item.cost + item.subitemsTotal
            item.totalCost = item.quantity * item.cost
          } else {
            item.totalCost = item.quantity * item.cost
          }
        }
        item.quote_amount = 0
        return item
      })
      this.calculateTotal()
      this.provider = id
    },
    savePurchase () {
      this.purchase.quote_id = this.quote.id
      this.purchase.provider_id = this.provider
      this.purchase.creationForm = true
      this.purchase.date = this.$refs.searchSection.getDate()
      if (this.purchase.id) {
        this.loading = true
        return editPurchaseOrder(this.purchase, (resp) => {
          this.loading = false
          this.$SendNotify('positive', resp.data.success, 'primary')
          this.$RoutePush('/dashboard/purchase-orders')
        }, (err) => {
          this.loading = false
          console.log(err)
          this.$SendNotify('negative', err, 'red-9')
        })
        return false
      }
      this.loading = true
      this.$store.dispatch('purchaseOrder/add', this.purchase)
        .then((resp) => {
          this.loading = false
          this.purchase = {}
          this.provider = null
          this.items = []
          this.purchase.description = ''
          this.$refs.searchSection.date = this.$refs.searchSection.getDate()
          this.$refs.searchSection.providerId = null
          this.$SendNotify('positive', 'The purchase order has been saved.', 'primary')
        })
        .catch((err) => {
          this.loading = false
          this.$SendNotify('negative', err, 'red')
          console.log(err)
        })
    },
    setDate (date) {
      this.purchase.date = date
    },
    reRender () {
      this.render = false
      this.render = true
    },
    filterPo (id) {
      return show(id, (resp) => {
        this.purchase = resp.data.success
        this.quote = this.purchase.quote
        this.provider = this.purchase.provider.id
        this.items = this.purchase.items
        this.$refs.searchSection.reference = this.purchase.quote.code
        this.loadedQuote = true
        this.loadedQuote = false
        setTimeout(() => {
          this.$refs.searchSection.setProviders()
        }, 300)
        this.$refs.searchSection.providerId = this.purchase.provider.id
        this.reRender()
      }, (err) => {
        this.$SendNotify('negative', err, 'red')
        console.log(err)
      })
    },
    formattedCost(item) {
      var formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
        minimumFractionDigits: 2,
        //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
      });

      return formatter.format(item)
    },
    calculateTotal () {
      this.purchase.total = 0
      this.purchase.subtotal = 0
      this.items.map(data => {
        this.purchase.total += parseFloat(data.totalCost)
        this.purchase.subtotal += parseFloat(data.totalCost)
      })
      this.reRender()
    },
    setQuoteNumber (e) {
      this.purchase.quote_number = e
    },
    setQuoteDescription (e) {
      this.purchase.quote_description = e
    },
    setQuoteAmount (e) {
      this.purchase.quote_amount = e
    },
    presetBalancePorcent (e) {
      if (!e) {
        this.purchase.balance = 0
      this.purchase.advance_total = 0
      this.purchase.balance_total = 0
        return
      }
      this.purchase.balance = 0
      const porcent  = e.replace('%', '')
      const restPorcent = 100 - porcent
      this.purchase.balance = parseInt(restPorcent)
      this.reRender()
      this.calculateTotalBalance()
    },
    calculateTotalBalance() {
      if (this.purchase.quote_amount === 0) {
        this.$SendNotify('negative', 'Please fill quote amount', 'red')
        return false
      }
      const advancePorcent = parseInt(this.purchase.advance);
      this.purchase.advance_total = this.purchase.quote_amount * (advancePorcent / 100)
      this.purchase.balance_total = this.purchase.quote_amount - this.purchase.advance_total
    }
  },
  beforeMount () {
    this.purchase.description = ''
    if (this.$route.params.id) {
      this.filterPo(this.$route.params.id)
    }
  }
}
</script>
