<template>
  <div class="full-width q-pa-lg row">
    <div class="col-12">
      <tableItems @loadPurchase="list" :data="pruchaseOrders" />
    </div>
  </div>
</template>

<script>
import tableItems from './components/table'

export default {
  name: 'maincomponent',
  components: {
    tableItems
  },
  computed: {
    pruchaseOrders () {
      return this.$store.getters['quote/completeQuotes']
    }
  },
  data () {
    return {
    }
  },
  methods: {
    list () {
      this.$store.dispatch('quote/listCompleteQuote')
        .then((resp) => {
          console.log(resp)
        })
        .catch((err) => {
          this.$SendNotify('negative', err, 'red')
          console.log(err)
        })
    }
  },
  beforeMount () {
    this.list()
  }
}
</script>
