<template>
  <q-page>
    <mainD />
  </q-page>
</template>

<script>
import mainD from 'src/components/back/main.vue'

export default {
  name: 'mainp',
  components: {
    mainD
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
