<template>
  <q-page>
    <profileIndex />
  </q-page>
</template>

<script>
import profileIndex from 'src/components/back/profile/profile.vue'

export default {
  name: 'mainp',
  components: {
    profileIndex
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
