<template>
  <login />
</template>

<script>
import login from '../auth/login'

export default {
  // name: 'ComponentName',
  components: {
    login
  },
  computed: {
  },
  data () {
    return {}
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
