<template>
  <div class="row">
    <div class="col-12">
      <q-markup-table separator="cell" flat bordered>
        <thead>
          <tr>
            <th class="text-left" style="width: 230px">
              Quote #
            </th>
            <th class="text-left">
              Description
            </th>
            <th class="text-left" style="width: 150px">
              Quote total.
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="render">
            <td class="text-left">
              <q-input @input="setQuoteNumber" label="Quote number" rounded :rules="[val => !!val || 'This field is required.']" dense outlined v-model="purchase.quote_number">
              </q-input>
            </td>
            <td class="text-left">
              <q-input @input="setQuoteDescription" :rules="[val => !!val || 'This field is required.']" class="text-left" dense v-model="purchase.note" label="Description of quote" rounded outlined>
              </q-input>
            </td>
            <td class="text-left relative price-read">
              <div class="full-width price-label q-mb-lg" style="margin-top: 2px">
                {{formattedCost(purchase.quote_amount)}}
                <q-popup-edit :auto-save="true" v-model="purchase.quote_amount" class="bg-accent text-white">
                  <q-input autofocus @input="setQuoteAmount" rounded dense outlined v-model="purchase.quote_amount">
                    <template v-slot:append>
                      <q-icon name="attach_money" />
                    </template>
                  </q-input>
                </q-popup-edit>
              </div>
            </td>
          </tr>
        </tbody>
      </q-markup-table>
    </div>
  </div>
</template>

<script>

export default {
  name: 'itemComponent',
  props: {
    purchase: Object,
    currency: String
  },
  computed: {
  },
  data () {
    return {
      render: true,
    }
  },
  methods: {
    concatOwl (quantity) {
      return quantity ? quantity + '.00' : 0
    },
    formattedCost(item) {
      var formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
        minimumFractionDigits: 2,
        //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
      });

      return formatter.format(item)
    },
    reRender() {
      this.render = false
      this.render = true
    },
    setQuoteNumber (e) {
      this.reRender()
      this.$emit('set-quote-number', e)
    },
    setQuoteDescription (e) {
      this.reRender()
      this.$emit('set-quote-description', e)
    },
    setQuoteAmount (e) {
      this.reRender()
      this.$emit('set-quote-amount', e)
    }
  },
  beforeMount () {
  }
}
</script>
