<template>
  <div class="row">
    <div class="col-12 col-md-3 text-left q-pa-sm">
      <label class="text-bold text-primary" style="font-size: 12pt">Quote</label>
      <q-input :disable="disable" debounce="1500" @input="filterQuote" :loading="loading" v-model="reference" label="Code" rounded outlined :rules="[val => !!val || 'this field is required']" class="q-mt-sm">
      </q-input>
    </div>
    <div class="col-12 col-md-3 text-left q-pa-sm">
      <label class="text-bold text-primary" style="font-size: 12pt">Date</label>
      <q-input class="q-mt-sm" :rules="[val => !!val || 'this field is required']" rounded outlined label="Emit date" v-model="date" @input="setDate">
        <template v-slot:append>
          <q-icon name="event" class="cursor-pointer">
            <q-popup-proxy ref="qDateProxy2" cover transition-show="scale" transition-hide="scale">
              <q-date @input="setDate" v-model="date">
                <div class="row items-center justify-end">
                  <q-btn v-close-popup label="Close" color="primary" flat />
                </div>
              </q-date>
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
    </div>
    <div class="col-12 col-md-6 q-pa-sm" v-if="render">
      <label class="text-bold text-primary" style="font-size: 12pt" v-if="providersOptions.length > 0">Select provider</label>
      <q-option-group inline v-model="providerId" type="radio" :options="providersOptions" class="q-mt-sm" @input="fillProviders">
        <template v-slot:label="opt">
          <div class="row items-center">
            <span class="text-teal">{{ opt.label }}</span>
            <q-icon :name="opt.icon" color="teal" size="1.5em" class="q-ml-sm" />
          </div>
        </template>
        <template v-slot:label-0="opt">
          <!-- custom label for option at index 0 -->
          <span class="text-weight-bold">{{ opt.label }}</span>
          <span> (has QTooltip)</span>
          <q-tooltip class="bg-primary" :offset="[0,0]">Tooltip</q-tooltip>
        </template>
      </q-option-group>
    </div>
  </div>
</template>

<script>
import { showByRefs } from 'src/api/quotes'

export default {
  name: 'searchComponent',
  props: {
    quote: Object
  },
  computed: {
  },
  data () {
    return {
      loading: false,
      reference: null,
      providersOptions: [],
      data: {},
      providerId: null,
      render: true,
      date: null,
      disable: false
    }
  },
  methods: {
    filterQuote () {
      if (!this.reference) {
        return false
      }
      if (this.quote.id) {
        return false
      }
      this.loading = true
      return showByRefs(this.reference, (resp) => {
        this.loading = false
        this.$emit('setQuote', resp.data.success)
        setTimeout(() => {
          this.setProviders()
        }, 300)
      }, (err) => {
        this.loading = false
        this.$SendNotify("negative", err, "red-9")
        console.log(err)
      })
    },
    setProviders () {
      this.providersOptions = []
      if (!this.$route.params.id) {
        this.providerId = null
      }
      this.quote.providers.map(data => {
        var search = this.quote.items.filter(item => {
          return item.provider_id ===  data.provide_id
        })
        if (search.length > 0) {
          this.data.label = data.provider
          this.data.value = data.provide_id
          this.providersOptions.push(this.data)
          this.data = {}
        }
      })
      this.$emit('calculateTotal')
      this.reRender()
    },
    reRender () {
      this.render = false
      this.render = true
    },
    fillProviders (id) {
      this.$emit('setProvider', id)
      this.reRender()
    },
    setDate () {
      this.$emit('setDate', this.date)
    },
    getDate () {
      var d = new Date(Date.now()),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear()

      if (month.length < 2) 
        month = '0' + month
      if (day.length < 2) 
        day = '0' + day

      return [year, month, day].join('-')
    }
  },
  beforeMount () {
    this.date = this.getDate()
    this.setDate()
    if (this.$route.params.id) {
      this.disable = true
    }

    if (this.$route.query.quote) {
      this.reference = this.$route.query.quote
      this.disable = true
      this.filterQuote()
    }
  }
}
</script>
