<template>
  <q-table :pagination.sync="pagination" ref="userTable" tabindex="0" :filter="search" :data="data" :columns="columns" row-key="id" class="shadow-0 table round-10">
    <template v-slot:top-left class="q-pa-sm">
      <div class="row">
        <p class="font-18 text-primary text-bold">
          Purchase Orders
        </p>
        <!--<q-btn to="/dashboard/purchase-orders/create" icon="add" color="primary" flat style="margin-top: -12px" flat dense>
          <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
            {{$t('newPurchase')}}
          </q-tooltip>
        </q-btn>-->
      </div>
    </template>
    <template v-slot:top-right class="q-pa-sm">
      <q-input rounded label="Search" dense outlined  debounce="300" v-model="search" class="q-pl-sm q-pr-sm q-mb-sm" placeholder="">
      </q-input>
    </template>
    <template v-slot:body="props">
      <q-tr :props="props">
        <q-td key="reference" :props="props">
          <p class="font-11">{{props.row.code}}</p>
        </q-td>
        <q-td key="date" :props="props">
          <p class="font-11 text-capitalize">{{props.row.client}}</p>
        </q-td>
        <q-td key="quote" :props="props">
          <p class="font-11">{{props.row.country}}</p>
        </q-td>
        <q-td key="total" :props="props">
          <p class="font-11 text-capitalize">{{$price(props.row.total, '$')}}</p>
        </q-td>
        <q-td key="option" :props="props">
          <!--<q-btn flat @click="showPdf(props.row.uuid)" class="text-capitalize" dense desed color="orange"icon-right="picture_as_pdf">
            <q-tooltip content-class="bg-orange text-capitalize" :offset="[10, 10]">
              Purchase pdf
            </q-tooltip>
          </q-btn>
          <q-btn @click="sendEmail(props.row.uuid)" icon="email" flat densed color="purple" dense>
            <q-tooltip content-class="bg-purple text-capitalize" :offset="[10, 10]">
              Send PO
            </q-tooltip>
          </q-btn>
          <q-btn :to="'/dashboard/purchase-orders/edit/' +  props.row.uuid" icon="edit" flat densed color="primary" dense>
            <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
              {{$t('edit')}}
            </q-tooltip>
          </q-btn>
          <q-btn v-if="user.rol === 'admin'" @click="confirmDelete(props.row.uuid)" icon="delete" flat densed color="red" dense>
            <q-tooltip content-class="bg-red-9 text-capitalize" :offset="[10, 10]">
              {{$t('delete')}}
            </q-tooltip>
          </q-btn>-->
          <q-btn :to="'/dashboard/purchase-orders/create?quote=' + props.row.code" icon="shopping_basket" flat densed color="primary" dense>
            <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
              {{$t('generatePo')}}
            </q-tooltip>
          </q-btn>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script>
import { domain } from 'src/api/data'
import { del, showPdf, sendPdf } from 'src/api/purchaseOrders'

export default {
  // name: 'ComponentName',
  props: {
    data: Array
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    }
  },
  components: {
  },
  data () {
    return {
      pagination: {
        sortBy: 'ASC',
        descending: false,
        page: 1,
        rowsPerPage: 20
      },
      url: domain,
      loading: false,
      columns: [
        { name: 'reference', required: true, label: this.$t('quote'), align: 'center', field: row => row.reference, sortable: true, classes: 'ellipsis' },
        { name: 'date', align: 'center', label: this.$t('client'), field: row => row.date, sortable: false },
        { name: 'quote', label: this.$t('country'), field: row => row.quote, align: 'center', sortable: false },
        { name: 'total', label: this.$t('total'), field: row => row.provider, align: 'center', sortable: false },
        { name: 'option', align: 'center', label: this.$t('show'), sortable: false }
      ],
      search: '',
      url: domain
    }
  },
  methods: {
    confirmDelete (id) {
      this.$q.dialog({
        title: this.$t('delete'),
        message: this.$t('purchaseDelete'),
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
        this.delete(id)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    delete (id) {
      return del(id, (resp) => {
        this.$emit('loadPurchase')
        this.$SendNotify('negative', resp.data.success, 'red-9')
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      })
    },
    showPdf (uuid) {
      return showPdf(uuid, (resp) => {
        if (resp.data.success.pdf) {
          window.open(resp.data.success.pdf, '_blank')
        }
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      })
    },
    sendEmail (id) {
      this.$q.dialog({
        title: 'Email',
        message: '¿Are you sure you want to send this purchase order by mail??',
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
        this.confirmSendEmail(id)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    confirmSendEmail (uuid) {
      return sendPdf(uuid, (resp) => {
        this.$SendNotify('positive', resp.data.success, 'primary')
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      })
    }
  }
}
</script>
