<template>
  <q-page>
    <addProviders />
  </q-page>
</template>

<script>
import addProviders from 'src/components/back/provider/add.vue'

export default {
  name: 'addprovider',
  components: {
    addProviders
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
