<template>
  <q-page>
    <indexProvider />
  </q-page>
</template>

<script>
import indexProvider from 'src/components/back/provider/index.vue'

export default {
  name: 'indexProviders',
  components: {
    indexProvider
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
