<template>
  <q-page>
    <addClients />
  </q-page>
</template>

<script>
import addClients from 'src/components/back/dealers/add.vue'

export default {
  name: 'mainp',
  components: {
    addClients
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
