<template>
  <q-layout view="lHh LpR fFf">
    <q-header elevated  bordered class="bg-primary text-white">
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="leftDrawer = !leftDrawer"/>
        <q-space />
        <q-chip @click.native="$RoutePush('/dashboard/profile/' + user.uuid)" class="clickable cursor-pointer shadow-0">
          <q-avatar size="30px">
            <img :src="url + '/images/profile/' + user.image" class="shadow-15">
          </q-avatar>
          <span class="text-primary text-bold text-uppercase">{{user.first_name}}</span>
          <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
            {{$t('profile')}}
          </q-tooltip>
        </q-chip>
        <q-btn @click="confirmLogout" icon="logout" dense flat class="q-ml-lg">
          <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
            {{$t('logout')}}
          </q-tooltip>
        </q-btn>
      </q-toolbar>
    </q-header>
    <q-drawer content-class="bg-grey-3 text-white" elevated :width="240" :breakpoint="700" v-model="leftDrawer">
      <listAdmin :mini="miniMode" />
    </q-drawer>
    <q-page-container class="bg-grey-3">
      <router-view />
      <q-ajax-bar ref="bar" position="top" color="secondary" size="5px"/>
    </q-page-container>
  </q-layout>
</template>

<script>
import { domain } from 'src/api/data'
import listAdmin from 'src/components/back/layout/listAdmin'

export default {
  name: 'MainLayout',
  components: {
    listAdmin
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    }
  },
  data () {
    return {
      leftDrawer: true,
      url: domain,
      showProfile: false,
      miniMode:false
    }
  },
  methods: {
    logout () {
      this.$store.dispatch('auth/closeSession')
        .then((resp) => {
          this.$RoutePush('/')
        })
        .catch((err) => {
          this.loading = false
          this.$SendNotify('negative', 'Error cerrando sesión...', 'red-9')
        })
    },
    confirmLogout () {
      this.$q.dialog({
        title: this.$t('offSing'),
        message: this.$t('sureOffSing'),
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
      }).onOk(() => {
        this.logout()
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    }
  },
  beforeMount () {
  }
}
</script>
