<template>
  <q-form @submit="save" class="row" v-if="render">
    <div class="col-12 col-md-6 q-pa-sm" style="margin-top: -12px">
      <q-tab-panels v-model="tabs" animated class="shadow-0 rounded-borders">
        <q-tab-panel name="es">
          <q-input @input="translate" debounce="1000" autofocus v-model="product.name" label="Nombre" rounded outlined :rules="[val => !!val || 'this field is required']" />
        </q-tab-panel>
        <q-tab-panel name="en">
          <q-input autofocus v-model="product.en_translate" label="Name" rounded outlined :rules="[val => !!val || 'this field is required']" />
        </q-tab-panel>
        <q-tab-panel name="pt">
          <q-input autofocus v-model="product.br_translate" label="Nome" rounded outlined :rules="[val => !!val || 'this field is required']" />
        </q-tab-panel>
      </q-tab-panels>
    </div>
    <div class="col-12 col-md-6 q-pa-sm">
      <q-input v-model="product.density" type="number" label="Density" rounded outlined :rules="[val => !!val || 'This field is required.']" />
    </div>
    <div class="col-12 text-center">
      <q-btn :loading="loading" rounded size="md" densed class="text-capitalize" :label="$t('save')" type="submit" color="primary" />
    </div>
  </q-form>
</template>

<script>
import { addProduct, showProduct, editProduct } from 'src/api/products'
import { generateKey, translate } from 'src/api/translate'

export default {
  name: 'addProduct',
  props: {
    tabs: {
      type: String,
      default: () => {
        return 'es'
      }
    }
  },
  computed: {
  },
  data () {
    return {
      product: {},
      render: true,
      loading: false
    }
  },
  methods: {
    async save () {
      if (this.$route.params.id) {
        await editProduct(this.product)
          .then(resp => {
            this.$RoutePush('/dashboard/products')
            this.$SendNotify('positive', resp.data.success, 'primary')
            this.loading = false
          })
          .catch(err => {
            this.loading = false
            if (err.error) {
              if (typeof err.error === 'object') {
                const message = Object.values(err.error).shift();
                if (message.length > 0) {
                  const newMessage = message.shift()
                  this.$SendNotify("negative", `${newMessage}`, "red-9");
                }
              } else {
                this.$SendNotify("negative", `${err.error}`, "red-9");
              }
            } else {
              this.$SendNotify("negative", err.message, "red-9");
            }
          })
        return true
      }
      await addProduct(this.product)
        .then(resp => {
          this.$RoutePush('/dashboard/products')
          this.$SendNotify('positive', resp.data.success, 'primary')
          this.loading = false
        })
        .catch(err => {
          this.loading = false
          if (err.error) {
            if (typeof err.error === 'object') {
              const message = Object.values(err.error).shift();
              if (message.length > 0) {
                const newMessage = message.shift()
                this.$SendNotify("negative", `${newMessage}`, "red-9");
              }
            } else {
              this.$SendNotify("negative", `${err.error}`, "red-9");
            }
          } else {
            this.$SendNotify("negative", err.message, "red-9");
          }
        })
    },
    reRender () {
      this.render = false
      this.render = true
    },
    translate (body) {
      let data = {}
      data.text = body
      data.source = 'es'
      data.target = 'en'
      return translate(data, (resp) => {
        this.product['en_translate'] = resp.data.success
        this.translatePt(body)
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      });
    },
    translatePt (body) {
      let data = {}
      data.text = body
      data.source = 'es'
      data.target = 'pt'
      return translate(data, (resp) => {
        this.product['br_translate'] = resp.data.success
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      });
    }
  },
  async created () {
    if (this.$route.params.id) {
      await showProduct(this.$route.params.id)
        .then(resp => {
          this.product = resp.data.success
        })
        .catch(err => {
          if (err.error) {
            if (typeof err.error === 'object') {
              const message = Object.values(err.error).shift();
              if (message.length > 0) {
                const newMessage = message.shift()
                this.$SendNotify("negative", `${newMessage}`, "red-9");
              }
            } else {
              this.$SendNotify("negative", `${err.error}`, "red-9");
            }
          } else {
            this.$SendNotify("negative", err.message, "red-9");
          }
        })
    }
  }
}
</script>
