<template>
  <q-table :pagination.sync="pagination" ref="userTable" tabindex="0" :filter="search" :data="data" :columns="columns" row-key="id" class="shadow-0 table round-10">
    <template v-slot:top-left>
      <div class="row">
        <p class="font-18 text-primary text-bold">
          {{ $t('products') }}
        </p>
        <q-btn to="/dashboard/products/create" icon="add" color="primary" flat dense style="margin-top: -12px">
          <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
            {{$t('newProduct')}}
          </q-tooltip>
        </q-btn>
      </div>
    </template>
    <template v-slot:top-right>
      <q-input rounded label="Search" dense outlined  debounce="300" v-model="search" class="q-pl-sm q-pr-sm q-mb-sm" placeholder="">
      </q-input>
    </template>
    <template v-slot:body="props">
      <q-tr :props="props">
        <q-td key="id" :props="props">
          <p class="font-11">{{props.row.id}}</p>
        </q-td>
        <q-td key="name" :props="props">
          <p class="font-11 text-capitalize">{{props.row.name}}</p>
        </q-td>
        <q-td key="density" :props="props">
          <p class="font-11">{{props.row.density}}</p>
        </q-td>
        <q-td key="option" :props="props">
          <q-btn :to="'/dashboard/products/edit/' +  props.row.uuid" icon="edit" flat densed color="primary" dense>
            <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
              {{$t('edit')}}
            </q-tooltip>
          </q-btn>
          <q-btn v-if="user.rol === 'admin'" @click="confirmDelete(props.row.uuid)" icon="delete" flat densed color="red" dense>
            <q-tooltip content-class="bg-red-9 text-capitalize" :offset="[10, 10]">
              {{$t('delete')}}
            </q-tooltip>
          </q-btn>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script>
import { domain } from 'src/api/data'
import { deleteProduct } from 'src/api/products'

export default {
  // name: 'ComponentName',
  props: {
    data: Array
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    }
  },
  components: {
  },
  data () {
    return {
      pagination: {
        sortBy: 'ASC',
        descending: false,
        page: 1,
        rowsPerPage: 20
      },
      url: domain,
      loading: false,
      columns: [
        { name: 'id', required: true, label: 'Id', align: 'center', field: row => row.id, sortable: false, classes: 'ellipsis', style: 'width: 100px' },
        { name: 'name', align: 'center', label: this.$t('name'), field: row => row.name, sortable: false },
        { name: 'density', align: 'center', label: this.$t('density'), field: row => row.density, sortable: false },
        { name: 'option', align: 'center', label: this.$t('show'), sortable: false }
      ],
      search: ''
    }
  },
  methods: {
    confirmDelete (id) {
      this.$q.dialog({
        title: this.$t('delete'),
        message: this.$t('productDelete'),
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
        this.delete(id)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    async delete (id) {
      await deleteProduct(id)
        .then(resp => {
          this.$SendNotify('negative', resp.data.success, 'red')
          this.$emit('reloadProduct')
        })
        .catch(err => {
          this.loading = false
          if (err.error) {
            if (typeof err.error === 'object') {
              const message = Object.values(err.error).shift();
              if (message.length > 0) {
                const newMessage = message.shift()
                this.$SendNotify("negative", `${newMessage}`, "red-9");
              }
            } else {
              this.$SendNotify("negative", `${err.error}`, "red-9");
            }
          } else {
            this.$SendNotify("negative", err.message, "red-9");
          }
        })
    }
  }
}
</script>
