<template>
  <q-form @submit="sendResponse" class="row">
    <div class="col-12">
      <q-select label="Response" rounded outlined v-model="response.user_status" :options="options" :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : null" :option-label="opt => Object(opt) === opt && 'label' in opt ?  opt.label : ''" :option-disable="opt => Object(opt) === opt ? opt.inactive === true : true" emit-value map-options :rules="[val => !!val || 'this field is required']">
      </q-select>
    </div>
    <div class="col-12 q-mt-md">
      <q-input type="textarea" :rules="[val => !!val || 'this field is required']" rounded outlined label="Comment" v-model="response.comment">
      </q-input>
    </div>
    <div class="col-12 q-mt-md text-center">
      <q-btn :loading="loading" label="send" rounded  color="primary" type="submit" />
    </div>
  </q-form>
</template>

<script>
import { filterQuote, postComment } from 'src/api/quotes'


export default {
  // name: 'ComponentName',
  props: {
    quote: {
      type: Object
    }
  },
  computed: {
  },
  data () {
    return {
      options: [
        {
          id: 7,
          label: 'Estamos listos para negociar el proyecto'
        },
        {
          id: 6,
          label: 'Esta en estudio. aun no se ha tomado decisión'
        },
        {
          id: 5,
          label: 'El proyecto sufrira una modificación'
        },
        {
          id: 2,
          label: 'Suspendido Temporalmente'
        },
        {
          id: 3,
          label: 'Se ha decidido por otro proveedor'
        },
        {
          id: 4,
          label: 'Suspendido definitivamente'
        }
      ],
      response: {},
      loading: false
    }
  },
  methods: {
    sendResponse () {
      this.response.uuid = this.$route.params.uuid
      this.loading = true
      return postComment(this.response, resp => {
        this.$SendNotify('positive', resp.data.success, 'primary')
        this.response = {}
        this.loading = false
      }, err => {
        this.loading = false
        this.$SendNotify('negative', err, 'red')
        console.log(err)
      })
    }
  },
  created () {
  }
}
</script>
