<template>
  <div class="row no-gutters">
    <div class="col-12">
      <p class="text-black">
        <span class="text-bold font-9">Nota:</span>
        Usted está recibiendo una cotización a través de nuestro SQS (Smart Quoting System - Sistema de cotización Inteligente).
      </p>
      <p class="text-black font-9 text-justify">
        Si tiene alguna duda, comentario o consulta referente a la cotización enviada por favor escriba a su agente comercial o al siguiente correo: <span class="text-bold">agentes@agri-techsolutions.com</span>.
      </p>
      <p class="text-black font-9 text-justify">
        Para nosotros es muy importante contar con sus comentarios acerca de la cotización enviada, así como del proyecto diseñado por nuestro departamento técnico y la asesoría brindada por parte de nuestro agente comercial, de esta manera podemos ir mejorando continuamente para brindar un mejor servicio a nuestros clientes, por eso también encontrara un espacio disponible para que pueda dejar sus impresiones.
      </p>
      <p class="text-black font-9 text-justify">
        Agradecemos de antemano, el brindarnos la oportunidad de participar en vuestros proyectos y confiar en nuestra soluciones.
      </p>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  props: {
    uuid: String
  },
  computed: {
  },
  data () {
    return {
      thumbStyle: {
        right: '4px',
        borderRadius: '5px',
        backgroundColor: '#033a78',
        width: '5px',
        opacity: 0.75
      },

      barStyle: {
        right: '2px',
        borderRadius: '9px',
        backgroundColor: '#033a78',
        width: '9px',
        opacity: 0.2
      }
    }
  },
  methods: {
  },
  created () {
  }
}
</script>
