<template>
  <div class="row d-flex flex-center items-center justify-center" style="height: 100vh">
    <div class="col-12 col-md-4" v-if="quote && quote.id && accept_terms">
      <div class="row full-width">
        <div class="col-12">
          <q-card>
            <q-card-section>
              <div class="row">
                <div class="col-12">
                  <center>
                    <q-img src="images/logo.png" width="250px" />
                  </center>
                </div>
                <div class="col-12 text-center q-mt-md" v-if="quote.id">
                  <p class="text-bold text-h6 text-primary text-capitalize">
                    QUOTE {{quote.code}}
                  </p>
                </div>
                <div class="col-12" v-if="quote.id">
                  <div class="row full-width justify-center">
                    <div class="col-6 text-center">
                      <a :href="quote.pdf" target="_blank" style="text-decoration: none">
                        <q-icon name="picture_as_pdf" color="primary" size="32pt" /> 
                      </a>
                      <div class="full-width arrow-up">
                        <q-icon name="arrow_upward" color="primary" size="18pt"/>
                        <p class="text-bold text-primary">
                          Quote here
                        </p>
                      </div>
                    </div>
                    <div class="col-6 text-center" v-if="quote.blueprintsUrl">
                      <a :href="quote.blueprintsUrl" target="_blank" style="text-decoration: none">
                        <q-icon name="picture_as_pdf" color="secondary" size="32pt" /> 
                      </a>
                      <div class="full-width arrow-up">
                        <q-icon name="arrow_upward" color="secondary" size="18pt"/>
                        <p class="text-bold text-secondary">
                          Blueprints here
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12" v-if="quote.id && quote.email_count === 1">
                  <notes />
                </div>
                <div class="col-12"  v-if="quote.id && quote.email_count > 1">
                  <formResponse :quote="quote" />
                </div>
              </div>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
    <q-dialog persistent v-model="showTermsAndConditions">
      <div class="bg-white">
        <div class="q-pa-lg relative" style="max-width: 600px">
          {{accept_terms}}
          <terms :uuid="quote.uuid" @aceptedTerms="aceptedTerms" />
        </div>
      </div>
    </q-dialog>
  </div>
</template>

<script>
import formResponse from './formResponse'
import terms from './terms'
import notes from './notes'
import { filterQuote } from 'src/api/quotes'

export default {
  // name: 'ComponentName',
  components: {
    formResponse,
    terms,
    notes
  },
  computed: {
  },
  data () {
    return {
      quote: {},
      showTermsAndConditions: false,
      accept_terms: null
    }
  },
  methods: {
    show (uuid) {
      return filterQuote(uuid, resp => {
        if (!this.accept_terms) {
          this.showTermsAndConditions = true
        }
        this.quote = resp.data.success
      }, err => {
        console.log(err)
      })
    },
    aceptedTerms (quote) {
      this.quote = quote
      this.accept_terms = this.$cookies.get("quote_" + this.$route.params.uuid)
      if (this.accept_terms) {
        this.showTermsAndConditions = false
      }
    }
  },
  created () {
    this.show(this.$route.params.uuid)
  },
  beforeMount () {
    this.accept_terms = this.$cookies.get("quote_" + this.$route.params.uuid)
    console.log(this.$cookies.keys())
  }
}
</script>
