<template>
  <div class="row">
    <div class="col-12">
      <p class="font-11 text-primary text-bold">Leer y Aceptar las Condiciones y Termninos para acceder a la cotización:</p>
    </div>
    <div class="col-12 text-justify font-11">
      Por favor lea cuidadosamente los términos y condiciones para acceder a la información suministrada por nuestro departamento técnico comercial, es importante entender que Usted acepta y está de acuerdo con estas condiciones sin prejuicio alguno:
    </div>
    <div class="col-12 text-justify">
     <br> 1º Agri Technology Solutions podrá actualizar los términos y condiciones para acceder a la información (Cotización y Planos) cada vez que lo considere necesario, por lo que será responsabilidad del cliente revisar los términos y condiciones cada vez que reciba y acceda a la información suministrada por el sistema de cotizaciones.<br><br>
      
      2º Si el cliente no esta de acuerdo con las condiciones y términos para acceder a la información (Cotización y Planos) deberá ponerse en contacto con el agente comercial correspondiente para informar que condición o término no se está de acuerdo con la finalidad de poder revisar o realizar una enmienda para que pueda obtener la información directa por parte del agente comercial en caso de que nuestra oficina principal lo apruebe.<br><br>
      
      3º En caso de no llegar a un mutuo acuerdo de las condiciones y términos, Agri Technology Solutions rescindirá de enviar la cotización sin prejuicio alguno y el cliente NO podrá revisar la información preparada por el equipo técnico y comercial de Agri Technology Solutions.<br><br>
      
      4º Aceptación del Cliente a los Términos y Condiciones, el usuario declara haber leído y aceptado los términos y condiciones de Agri Technology Solutions y estar totalmente de acuerdo.<br><br>
      
      5º Propiedad Intelectual, Si el proyecto incluye Diseños y Generación de Planos, realizado por Agri Technology Solutions, se hace saber que los mismos están protegidos por derechos de propiedad intelectual, marcas, tratados internacionales y/u otros derechos de propiedad intelectual o industrial y por las Leyes de Estados Unidos y de otros países, según se aplicable. Cada Diseño y Elaboración de Planos, así como la propia Cotización están también protegido como un trabajo colectivo o una compilación bajo las leyes de propiedad intelectual norteamericanas y otras leyes y tratados. El cliente se obliga a cumplir todas las leyes de propiedad intelectual y otras, así como cualquier otra restricción al respecto contenida en la información proporcionada por Agri Technology Solutions.<br><br>
      
      6º El Cliente NO podrá difundir la información provista por Agri Technology Solutions a otras personas o empresas que sean competencia directa o indirecta de Agri Technology Solutions sin previa autorización de Agri Technology Solutions.<br><br>

      7º El Cliente acepta que la información provista es solo para uso interno y beneficio de su organización, para el cliente como persona natural o empresa legalmente constituida.<br><br>

      8º El Cliente NO podrá vender o transferir la información proporcionada por Agri Technology Solutions para beneficios de terceros sin previa autorización de Agri Technology Solutions.<br><br>

      9º El Cliente acuerda NO usar, transferir, distribuir o disponer de cualquier información contenida y enviada por Agri Technology Solutions de cualquier manera que pudiera competir con el negocio de Agri Technology Solutions.<br><br>

      10º El Cliente reconoce que la información enviada por Agri Technology Solutions ha sido desarrollado, compilado, preparado, revisado, seleccionado y estructurado por Agri Technology Solutions, a través de métodos y criterios cuyo desarrollo e implementación ha significado una gran inversión en términos de tiempo, esfuerzo y dinero y constituye propiedad intelectual valiosa y secretos comerciales de Agri Technology Solutions.<br><br>

      11º El Cliente acuerda proteger los derechos de Agri Technology Solutions, durante y después del período de vigencia de la cotización, y cumplir con todos aquellos requerimientos razonables y por escrito que Agri Technology Solutions puedan hacerle con el objeto de proteger sus derechos, tanto contractuales como legales.<br><br>

      12º El Cliente acuerda notificar a Agri Technology Solutions por escrito tan pronto tome conocimiento de cualquier acceso o uso no autorizado de la información prevista por Agri Technology Solutions que infringa cualquier ley de propiedad intelectual o industrial u otra.<br><br>

      13º El Cliente NO podrá copiar, reproducir, compilar, desintegrar, revertir, distribuir, publicar, mostrar, desarrollar, modificar, cargar, crear trabajos a partir de, transmitir o de cualquier manera explotar todo o parte de la información, con la excepción de bajar la información o hacer copias impresas o digitales para su uso interno dentro de su organización, siempre y cuando toda copia mantenga todos los avisos de derecho de propiedad intelectual.<br><br>

      14º El análisis y presentación incluída en la información provista por Agri Technology Solutions NO podra ser redistribuido o publicado por el Cliente sin el consentimiento previo por escrito de Agri technology Solutions.
      
      15º Cualquier modificación al contenido enviado por Agri Technology Solutions sera considerado una violacion a los derechos de propiedad intelectual y otros de Agri Technology Solutions.<br><br>

      16º El Cliente NO podrá ofrecer ninguna manera, para la venta o distribución por cualquier medio, inlcuyendo pero no limitado a televisión abierta, radio, redes sociales, hyperlinks framing en internet sin el consentimiento precio por escrito de Agri Technology Solutions.<br><br>

      17º El cliente NO podrá usar ninguno de los nombres y marcas pertenecientes a Agri Technology Solutions de manera tal de dar la impresión que tales nombres o marcas pertenecen o estan asociadas con el usuario o implican un permiso de uso por parte de Agri Technology Solution sin previa autorizacion escrita por Agri technology Solutions.<br><br>

      18º El Cliente Acepta ser penalizado en caso de infringir o violar los terminos y condicones expresadas en este acuerdo, sin previo consentimiento de Agri Technology Solutions y que hayan sido previamente aceptados por el Cliente, sin derecho a replica ni defensa alguna, la penalizacion sera igual a un 3% del Valor de la Propuesta o Cotizacion. <br><br>

      19º Si el Cliente requiere compartir la información proporcionada por cualquier motivo y evitar ser sancionado o penalizado, por violación de los terminos y condiciones del uso de la información provista, se debe informar previamente al agente comercial correspondiente, para notificar el uso del contenido para ser compartido a terceros, en este caso, el agente comercial le hara llegar un documento de autorizacion del uso de la informacion acordando un fee para tal proposito que sera evaluado según sea el caso.<br><br>

      20º El Cliente Acepta que NO adquiere ningún derecho o licencia sobre la informacion porporcionada por Agri Technology Solutions, y los materiales contenidos en él, distinto del derecho de uso limitado del Servicio de acuerdo a los Términos y Condiciones. <br><br>

      21º Al conectarse a acceder a la información a través de un link o botón, el Cliente declara que ha leído y acuerda regirse por estos Términos y Condiciones. <br><br>

      22º Todos los derechos presentes o futuros sobre secretos comerciales, derechos de autor, patentes, marcas, nombres comerciales, servicios de marcas, bases de datos, know-how y otros derechos de cualquier tipo bajo las leyes de cualquier autoridad gubernamental, nacional o extranjera, incluyendo los derechos en y sobre todas las aplicaciones y registros relativos a la información provista por Agri Technology Solutions (los "Derechos PI") serán considerados, entre el Cliente y Agri Technology Solutions, y permanecerán única y exclusivamente propiedad de Agri Technology Solutions.<br><br>

      23º Todos los derechos presentes y futuros de cualquier tipo sobre la información provista por Agri Technology Solutions (incluyendo el derecho de explotar todo o cualquier parte de la informacion provista por Agri Technology Solutions, sobre cualquier tecnología presente o futura) están reservados para Agri Technology Solutions.<br><br>

      24º El cliente Acepta recibir correos de seguimiento, el cual se realizará de forma periódica cada 10 días, hasta obtener alguna respuesta por parte del cliente, de igual forma podrá recibir llamadas y mensajes de texto o whatsapp con el mismo propósito, con el objetivo de poder lograr cerrar la negociación del proyecto, así mismo, recibir boletines informativos y publicitarios, que serán de gran utilidad para el Cliente.<br><br>

      25º El cliente Acepta leer cuidadosamente, la última hoja de la cotización que se refiere a las condiciones de venta o comercialización de los equipos incluidos en la propuesta comercial. <br><br>
      
      26º Agri Technology Solutions no será responsable de otra informacion, obras u otros equipos colocados por otro intermediario ni tampoco de verificar la exactitud de cualquier información proporcionada por Usted, por lo que Agri Technology Solutions tendrá derecho a confiar en esa información y no tendrá responsabilidad alguna por los errores, deficiencias u omisiones en cualquier Servicio que resulte de información inexacta o incompleta proporcionada a Agri Technology Solutions.<br><br>

      27º El Cliente declara, garantiza y asegura que: (i) tiene la capacidad de celebrar el presente acuerdo; (ii) tiene por lo menos 18 años de edad; (iii) no usará ninguno de los derechos otorgados en este documento para ningún propósito ilegal; y (iv) utilizará la información proporcionada por Agri Technology Solutions sólo como está indicado en estos Términos y Condiciones.<br><br>

      28º El Cliente acuerda, bajo su propio costo, indemnizar, defender y mantener indemne de cualquier tipo de daño a Agri Technology Solutions, sus empleados, representantes, Proveedores y agentes, frente a cualquier reclamo, juicio, acción o cualquier otro tipo de procedimiento, que estén basados o provengan del uso de la informacion proporcionada o de cualquier link o boton, incluyendo pero sin limitarse a: (i) el uso de la información por parte del Cliente o de alguien utilizando su computador; (ii) violaciones a los Términos y Condiciones por el Cliente o cualquier persona usando su computador; (iii) reclamos por cualquier uso de la información por el Cliente o por un tercero utilizando su computador que infrinja cualquier Derecho PI (según se define más arriba) o de cualquier otra clase o que de alguna manera resulte en perjuicio o daño para cualquier tercero; (iv) cualquier eliminación, adición, inserción o alteración de, o cualquier uso no autorizado de la informacion proporcionada por el Cliente o por un tercero usando su computador; o (v) cualquier declaración en contrario o que revoque cualquier declaración, garantía o aprobación hecha por el Cliente contenida en el presente documento. El Cliente acuerda pagar todos los costos, daños y gastos (incluyendo honorarios razonables de los abogados) y costos adjudicados contra o incurridos por o que tengan conexión o que provengan de cualquiera de dichos reclamos, juicios, acciones o procedimientos.<br><br>
      
      29º Estos Términos y Condiciones estarán regidos y se someten a las leyes y a la jurisdicción EEUU.<br><br>

      30º El Cliente toma conocimiento que Agri Technology Solutions tiene el derecho de cambiar el contenido o las especificaciones técnicas de los equipos presentes en la cotizacion o de cualquier aspecto en cualquier momento a su solo arbitrio. Adicionalmente el Cliente acepta que dichos cambios podrán implicar que el Usuario no se encuentre facultado para acceder a la informacion.
    </div>
    <div class="col-12 q-mt-sm">
      <q-checkbox label="Acepto los términos y condiciones" v-model="termAccept" />
    </div>
    <div class="col-12 text-center">
      <q-btn :loading="loading" label="Continue" color="primary" rounded @click="termsAcceptM" />
    </div>
  </div>
</template>

<script>
import { acceptTerms } from 'src/api/quotes'

export default {
  // name: 'ComponentName',
  props: {
    uuid: String
  },
  computed: {
  },
  data () {
    return {
      termAccept: false,
      loading: false
    }
  },
  methods: {
    termsAcceptM () {
      console.log()
      var data = {}
      data.uuid = this.uuid
      data.accept_terms = this.termAccept
      this.loading = true
      return acceptTerms(data, resp => {
        this.loading = false
        this.$SendNotify('positive', 'Terms and conditions accepted', 'primary')
        this.$cookies.set("quote_" + this.$route.params.uuid, true, "1y");
        this.$emit('aceptedTerms', resp.data.success)
      }, err => {
        this.loading = false
        this.$SendNotify('negative', err, 'red')
        console.log(err)
      })
    }
  },
  created () {
  }
}
</script>
