<template>
  <q-card class="round-10 mechanic-requisition">
    <q-card-section>
      <p class="text-h5 text-bold text-primary">
        <span class="text-bold">Item complements </span><q-btn color="red" flat dense round v-close-popup icon="close" class="float-right"></q-btn>
      </p>
    </q-card-section>
    <q-card-section>
      <q-form @submit="emitItem">
        <q-splitter
          v-model="splitterModel"
          style="height: auto; width: 100%"
        >
          <template v-slot:before>
            <q-tabs
              v-model="tab"
              vertical
              class="text-primary font-12"
            >
              <q-tab
                v-if="
                  item.conveyor_type == 'Chain Conveyor' ||
                  item.conveyor_type == 'Curve Chain Conveyor' ||
                  item.conveyor_type == 'Double Deck Chain Conveyor' ||
                  item.conveyor_type == 'Belt Conveyor' ||
                  item.conveyor_type == 'Screw Conveyor' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Bucket Elevator' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Chain Loop' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Accessories'
                "
                name="general"
                label="General"
                class="font-12"
              />
              <q-tab
                v-if="
                  item.conveyor_type == '' && item.material_handling_equipment == 'Accessories'
                "
                name="accessories"
                label="Accessories"
                class="font-12"
              />
              <q-tab
                v-if="
                  item.conveyor_type == '' && item.material_handling_equipment == 'Accessosries'
                "
                name="valves"
                label="Valves / Gates / Distributor"
                class="font-12"
              />
              <q-tab
                name="gates"
                v-if="
                  item.conveyor_type == 'Chain Conveyor' ||
                  item.conveyor_type == 'Curve Chain Conveyor' ||
                  item.conveyor_type == 'Double Deck Chain Conveyor' ||
                  item.conveyor_type == 'Screw Conveyor' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Chain Loop'
                "
                label="Gates"
                class="font-12"
              />
              <q-tab
                name="length"
                v-if="
                  item.conveyor_type == 'Curve Chain Conveyor' ||
                  item.conveyor_type == 'Double Deck Chain Conveyor' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Chain Loop'
                "
                label="Length and Bend"
                class="font-12"
              />
              <q-tab
                name="covers"
                v-if="
                  item.conveyor_type == 'Belt Conveyor' &&
                  item.type_belt == 'Open Belt Conveyor'
                "
                label="Cover"
                class="font-12"
              />
              <q-tab
                name="options"
                v-if="
                  item.conveyor_type == '' && item.material_handling_equipment == 'Bucket Elevator'
                "
                label="Features"
                class="font-12"
              />
              <q-tab
                name="sensors"
                v-if="
                  item.conveyor_type == 'Chain Conveyor' ||
                  item.conveyor_type == 'Curve Chain Conveyor' ||
                  item.conveyor_type == 'Double Deck Chain Conveyor' ||
                  item.conveyor_type == 'Belt Conveyor' ||
                  item.conveyor_type == 'Screw Conveyor' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Bucket Elevator' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Chain Loop'
                "
                label="Sensors"
                class="font-12"
              />
              <q-tab
                name="tolva"
                v-if="
                  item.conveyor_type == 'Chain Conveyor' ||
                  item.conveyor_type == 'Curve Chain Conveyor' ||
                  item.conveyor_type == 'Double Deck Chain Conveyor' ||
                  item.conveyor_type == 'Belt Conveyor' ||
                  item.conveyor_type == 'Screw Conveyor' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Chain Loop'
                "
                label="Tolva & Inclination"
                class="font-12"
              />
              <q-tab
                name="comments"
                v-if="
                  item.conveyor_type == 'Chain Conveyor' ||
                  item.conveyor_type == 'Curve Chain Conveyor' ||
                  item.conveyor_type == 'Double Deck Chain Conveyor' ||
                  item.conveyor_type == 'Belt Conveyor' ||
                  item.conveyor_type == 'Screw Conveyor' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Bucket Elevator' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Chain Loop' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Accessories'
                "
                label="Comments"
                class="font-12"
              />
            </q-tabs>
          </template>
          <template v-slot:after>
            <q-tab-panels
              v-model="tab"
              animated
              swipeable
              vertical
              transition-prev="jump-up"
              transition-next="jump-up"
            >
              <q-tab-panel
                name="general"
                class="full-width"
                v-if="
                  item.conveyor_type == 'Chain Conveyor' ||
                  item.conveyor_type == 'Curve Chain Conveyor' ||
                  item.conveyor_type == 'Double Deck Chain Conveyor'||
                  item.conveyor_type == 'Belt Conveyor' ||
                  item.conveyor_type == 'Screw Conveyor' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Bucket Elevator' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Chain Loop' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Accessories'
                "
              >
                <div class="row">
                  <div class="col-12 col-md-12 relative">
                    <label class="font-12 text-bold text-primary">Product</label>
                    <q-btn class="reload-product-mechanic" @click="loadProduct" flat dense size="7pt" color="primary" round icon="refresh">
                      <q-tooltip content-class="bg-primary">
                        Reload products
                      </q-tooltip>
                    </q-btn>
                    <q-select :option-value="opt => Object(opt) === opt && 'name' in opt ? opt.name : null" :option-label="opt => Object(opt) === opt && 'name' in opt ?  opt.name : ''" emit-value map-options @input="setProductDensity" :rules="[(vall) => !!vall || 'This field is required.']" outlined :options="products" v-model="item.product" dense rounded label="Select" />
                  </div>
                  <div class="col-12 col-md-6" :class="{'q-pr-md': $q.screen.gt.sm}">
                    <label class="font-12 text-bold text-primary">Density</label>
                    <q-input dense @input="emitItem" :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.density" type="text" placeholder="90 KG/M3" />
                  </div>
                  <div class="col-12 col-md-6" :class="{'q-pl-md': $q.screen.gt.sm}">
                    <label class="font-12 text-bold text-primary">Quantity</label>
                    <q-input type="number" dense @input="emitItem" :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model.number="item.quantity" placeholder="1" />
                  </div>
                  <div class="col-12 col-md-6" v-if="item.material_handling_equipment != 'Accessories'" :class="{'q-pr-md': $q.screen.gt.sm}">
                    <label class="font-12 text-bold text-primary">Capacity</label>
                    <q-input dense @input="emitItem" :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.capacity" type="text" placeholder="1">
                      <template v-slot:append>
                        <lingitudeSelector :model="'capacity'" @unit-of-measure="setUnitOfMeasure" :type="'capacity'" />
                      </template>
                    </q-input>
                  </div>
                  <div class="col-12 col-md-6" v-if="item.material_handling_equipment != 'Accessories'" :class="{'q-pl-md': $q.screen.gt.sm}">
                    <label class="font-12 text-bold text-primary">Chain Speed</label>
                    <q-select @input="emitItem" emit-value map-options :rules="[(vall) => !!vall || 'This field is required.']" outlined :options="chainSpeedOptions" v-model="item.chain_speed" dense rounded label="Select">
                      <template v-slot:selected-item="item">
                        <span class="ellipsis q-pa-none">
                          {{ item.opt }}
                        </span>
                      </template>
                    </q-select>
                  </div>
                  <div v-if="item.chain_speed == 'Other' && render" class="col-12 col-md-12">
                    <label class="font-12 text-bold text-primary">Chain speed other</label>
                    <q-input dense @input="emitItem" :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.chain_speed_other" type="text" placeholder="12 M/S">
                      <template v-slot:append>
                        <lingitudeSelector :model="'chain_speed_other'" @unit-of-measure="setUnitOfMeasure" :type="'velocity'" />
                      </template>
                    </q-input>
                  </div>
                  <div v-if="item.conveyor_type == 'Chain Conveyor' || item.conveyor_type == 'Belt Conveyor'  || item.conveyor_type == 'Screw Conveyor'" class="col-12 col-md-6" :class="{'q-pr-md': $q.screen.gt.sm}">
                    <label class="font-12 text-bold text-primary">Length (I-O)</label>
                    <q-input dense @input="emitItem" :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.inlet_to_outlet" type="text" placeholder="Lenght">
                      <template v-slot:append>
                        <lingitudeSelector :model="'inlet_to_outlet'" @unit-of-measure="setUnitOfMeasure" :type="'medidas'" />
                      </template>
                    </q-input>
                  </div>
                  <div
                    v-if="item.material_handling_equipment != 'Accessories'"
                    class="col-12 col-md-6"
                    :class="{'q-pl-md': $q.screen.gt.sm  && item.conveyor_type == 'Chain Conveyor' || $q.screen.gt.sm  && item.conveyor_type == 'Belt Conveyor'  || $q.screen.gt.sm  && item.conveyor_type == 'Screw Conveyor', 'q-pr-md': item.conveyor_type == '' && item.material_handling_equipment == 'Chain Loop' || $q.screen.gt.sm && item.conveyor_type == '' && item.material_handling_equipment == 'Bucket Elevator'}"
                  >
                    <label class="font-12 text-bold text-primary">Inlets</label>
                    <q-input dense @input="emitItem" :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.inlet" type="number" placeholder="5" />
                  </div>
                  <div class="col-12 col-md-6" v-if="item.conveyor_type == '' && item.material_handling_equipment == 'Chain Loop'" :class="{'q-pl-md': $q.screen.gt.sm}">
                    <label class="font-12 text-bold text-primary">Inspection Inlet</label>
                    <q-input dense @input="emitItem" :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.inspection_inlet" type="number" placeholder="5" />
                  </div>
                  <div class="col-12 col-md-6" v-if="item.conveyor_type == 'Belt Conveyor'" :class="{'q-pr-md': $q.screen.gt.sm  && item.conveyor_type == 'Belt Conveyor'}">
                    <label class="font-12 text-bold text-primary">Type</label>
                    <q-select @input="emitItem" emit-value map-options :rules="[(vall) => !!vall || 'This field is required.']" outlined :options="typeBeltOptions" v-model="item.type_belt" dense rounded label="Select">
                      <template v-slot:selected-item="item">
                        <span class="ellipsis q-pa-none">
                          {{ item.opt }}
                        </span>
                      </template>
                    </q-select>
                  </div>
                  <div class="col-12 col-md-6" v-if="item.conveyor_type == 'Belt Conveyor'" :class="{'q-pl-md': $q.screen.gt.sm  && item.conveyor_type == 'Belt Conveyor'}">
                    <label class="font-12 text-bold text-primary">Tripper</label>
                    <q-select @input="emitItem" emit-value map-options :rules="[(vall) => !!vall || 'This field is required.']" outlined :options="tripperBeltOptions" v-model="item.tripper_belt" dense rounded label="Select">
                      <template v-slot:selected-item="item">
                        <span class="ellipsis q-pa-none">
                          {{ item.opt }}
                        </span>
                      </template>
                    </q-select>
                  </div>
                </div>
              </q-tab-panel>
              <q-tab-panel
                name="gates"
                class="full-width"
                v-if="
                  item.conveyor_type == 'Chain Conveyor' ||
                  item.conveyor_type == 'Curve Chain Conveyor' ||
                  item.conveyor_type == 'Double Deck Chain Conveyor' ||
                  item.conveyor_type == 'Screw Conveyor' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Chain Loop'
                "
              >
                <div class="row">
                  <div class="col-12">
                    <label class="font-12 text-bold text-primary">Intermediate Slide Gates</label>
                    <q-input dense @input="emitItem" :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.intermediate_slide_gates" type="number" placeholder="5" />
                  </div>
                  <div class="col-12">
                    <label class="font-12 text-bold text-primary">Type of Intermediate Slide Gates</label>
                    <q-select @input="emitItem" emit-value map-options :rules="[(vall) => !!vall || 'This field is required.']" outlined :options="gatesTypesOptions" v-model="item.type_of_intermediate_slide_gates" dense rounded label="Select">
                      <template v-slot:selected-item="item">
                        <span class="ellipsis q-pa-none">
                          {{ item.opt }}
                        </span>
                      </template>
                    </q-select>
                  </div>
                </div>
              </q-tab-panel>
              <q-tab-panel
                name="options"
                class="full-width"
                v-if="
                  item.conveyor_type == '' && item.material_handling_equipment == 'Bucket Elevator'
                "
              >
                <div class="row">
                  <div class="col-12 col-md-6" :class="{'q-pr-md': $q.screen.gt.sm}">
                    <label class="font-12 text-bold text-primary">Discharge Height</label>
                    <q-input dense @input="emitItem" :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.discharge_height" type="text" placeholder="12 m">
                      <template v-slot:append>
                        <lingitudeSelector :model="'discharge_height'" @unit-of-measure="setUnitOfMeasure" :type="'medidas'" />
                      </template>
                    </q-input>
                  </div>
                  <div class="col-12 col-md-6" :class="{'q-pl-md': $q.screen.gt.sm}">
                    <label class="font-12 text-bold text-primary">Explosion Vents</label>
                    <q-select @input="emitItem" emit-value map-options :rules="[(vall) => !!vall || 'This field is required.']" outlined :options="yesOrNotOptions" v-model="item.explosion_vents" dense rounded label="Select">
                      <template v-slot:selected-item="item">
                        <span class="ellipsis q-pa-none">
                          {{ item.opt }}
                        </span>
                      </template>
                    </q-select>
                  </div>
                  <div class="col-12">
                    <label class="font-12 text-bold text-primary">Ladders and rest Platforms</label>
                    <q-select @input="emitItem" emit-value map-options :rules="[(vall) => !!vall || 'This field is required.']" outlined :options="yesOrNotOptions" v-model="item.ladders_and_rest_platforms" dense rounded label="Select">
                      <template v-slot:selected-item="item">
                        <span class="ellipsis q-pa-none">
                          {{ item.opt }}
                        </span>
                      </template>
                    </q-select>
                  </div>
                  <div class="col-12">
                    <label class="font-12 text-bold text-primary">Distributor Platform</label>
                    <q-select @input="emitItem" emit-value map-options :rules="[(vall) => !!vall || 'This field is required.']" outlined :options="yesOrNotOptions" v-model="item.distributor_platform" dense rounded label="Select">
                      <template v-slot:selected-item="item">
                        <span class="ellipsis q-pa-none">
                          {{ item.opt }}
                        </span>
                      </template>
                    </q-select>
                  </div>
                </div>
              </q-tab-panel>
              <q-tab-panel
                name="sensors"
                class="full-width"
                v-if="
                  item.conveyor_type == 'Chain Conveyor' ||
                  item.conveyor_type == 'Curve Chain Conveyor' ||
                  item.conveyor_type == 'Double Deck Chain Conveyor' ||
                  item.conveyor_type == 'Belt Conveyor' ||
                  item.conveyor_type == 'Screw Conveyor' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Bucket Elevator' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Chain Loop'
                "
              >
                <div class="row">
                  <div class="col-12">
                    <label class="font-12 text-bold text-primary">Sensors</label>
                    <q-option-group
                      v-model="item.sensors"
                      :options="optionsSensors"
                      color="primary"
                      type="checkbox"
                      @input="emitItem"
                    />
                  </div>
                </div>
              </q-tab-panel>
              <q-tab-panel
                name="tolva"
                class="full-width"
                v-if="
                  item.conveyor_type == 'Chain Conveyor' ||
                  item.conveyor_type == 'Curve Chain Conveyor' ||
                  item.conveyor_type == 'Double Deck Chain Conveyor' ||
                  item.conveyor_type == 'Belt Conveyor' ||
                  item.conveyor_type == 'Screw Conveyor' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Chain Loop'
                "
              >
                <div class="row">
                  <div class="col-12" v-if="item.conveyor_type != 'Belt Conveyor' && item.conveyor_type != 'Screw Conveyor'">
                    <label class="font-12 text-bold text-primary">Bypass hopper or Trench Inlet</label>
                    <q-input dense @input="emitItem" :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.bypass_hooper" type="number" placeholder="" />
                  </div>
                  <div class="col-12" v-if="item.conveyor_type != 'Belt Conveyor'  && item.conveyor_type != 'Screw Conveyor'">
                    <label class="font-12 text-bold text-primary">Length of trench inlets</label>
                    <q-input dense @input="emitItem" :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.Length_trench_inlets" type="text" placeholder="">
                      <template v-slot:append>
                        <lingitudeSelector :model="'Length_trench_inlets'" @unit-of-measure="setUnitOfMeasure" :type="'medidas'" />
                      </template>
                    </q-input>
                  </div>
                  <div class="col-12" v-if="item.conveyor_type == 'Chain Conveyor'  || item.conveyor_type == 'Belt Conveyor' || item.conveyor_type == 'Screw Conveyor'">
                    <label class="font-12 text-bold text-primary">Inclination</label>
                    <q-input dense @input="emitItem" :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.inclination" type="text" placeholder="" />
                  </div>
                </div>
              </q-tab-panel>
              <q-tab-panel
                name="comments"
                class="full-width"
                v-if="
                  item.conveyor_type == 'Chain Conveyor' ||
                  item.conveyor_type == 'Curve Chain Conveyor' ||
                  item.conveyor_type == 'Double Deck Chain Conveyor' ||
                  item.conveyor_type == 'Belt Conveyor' ||
                  item.conveyor_type == 'Screw Conveyor' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Bucket Elevator' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Chain Loop' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Accessories'
                "
              >
                <div class="row">
                  <div class="col-12" v-if="render">
                    <label class="font-12 text-bold text-primary">Comments</label>
                    <q-input @input="debounce(item.comments, 1000)" dense :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.comments" type="text" placeholder="this a comments" />
                  </div>
                  <div class="col-12">
                    <label class="font-12 text-bold text-primary">Comments english</label>
                    <q-input  @input="emitItem" dense :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.comments_en" type="text" placeholder="this a comments" />
                  </div>
                  <div class="col-12">
                    <label class="font-12 text-bold text-primary">Comments portugues</label>
                    <q-input  @input="emitItem" dense :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.comments_pt" type="text" placeholder="this a comments" />
                  </div>
                </div>
              </q-tab-panel>
              <q-tab-panel
                name="accessories"
                class="full-width"
                v-if="
                  item.conveyor_type == '' && item.material_handling_equipment == 'Accessories'
                "
              >
                <div class="row">
                  <div class="col-12">
                    <label class="font-12 text-bold text-primary">Accessories</label>
                    <q-select map-options @input="emitItem" multiple :rules="[(vall) => !!vall || 'This field is required.']" outlined :options="accesories" v-model="item.accesories" dense rounded label="Select">
                      <template v-slot:selected-item="item">
                        <span class="ellipsis q-pa-none">
                          {{ item.opt['label'] }}
                        </span>
                      </template>
                    </q-select>
                  </div>
                  <q-scroll-area style="height: 300px; width: 100%">
                    <div class="col-12 row" v-for="(accesory, idx) in item.accesories" :key="idx">
                      <div class="col-12 font-12 text-primary text-bold">
                        {{ accesory.label }}
                      </div>
                      <div class="col-6" :class="{'q-pr-md': $q.screen.gt.sm}">
                        <label class="font-12 text-bold text-secondary">Quantity</label>
                        <q-input @input="emitItem" placeholder="1" :rules="[(vall) => !!vall || 'required']" rounded outlined dense v-model="accesory.quantity"></q-input>
                      </div>
                      <div class="col-6" :class="{'q-pr-md': $q.screen.gt.sm}">
                        <label class="font-12 text-bold text-secondary">Size</label>
                        <q-input @input="emitItem" placeholder="12 m" :rules="[(vall) => !!vall || 'required']" rounded outlined dense v-model="accesory.size">
                          <template v-slot:append>
                            <lingitudeSelector :model="'size'" :idx="idx" @unit-of-measure="setAccesoriesUnit" :type="'medidas'" />
                          </template>
                        </q-input>
                      </div>
                      <div class="col-6" style="margin-top: -5px" :class="{'q-pr-md': $q.screen.gt.sm}">
                        <label class="font-12 text-bold text-secondary">Type</label>
                        <q-select @input="emitItem" emit-value map-options :rules="[(vall) => !!vall || 'This field is required.']" outlined :options="gatesTypesOptions" v-model="accesory.type" dense rounded label="Select">
                          <template v-slot:selected-item="item">
                            <span class="ellipsis q-pa-none">
                              {{ item.opt }}
                            </span>
                          </template>
                        </q-select>
                      </div>
                      <div class="col-6" style="margin-top: -5px" v-if="accesory.label.includes('Distributor')" :class="{'q-pr-md': $q.screen.gt.sm}">
                        <label class="font-12 text-bold text-secondary">Outlets</label>
                        <q-input @input="emitItem" placeholder="1" :rules="[(vall) => !!vall || 'required']" rounded outlined dense v-model="accesory.outlets">
                        </q-input>
                      </div>
                    </div>
                  </q-scroll-area>
                </div>
              </q-tab-panel>
              <q-tab-panel
                name="covers"
                class="full-width"
                v-if="
                  item.conveyor_type == 'Belt Conveyor'
                "
              >
                <div class="row">
                  <div class="col-12">
                    <label class="font-12 text-bold text-primary">Tope Cover</label>
                    <q-select @input="emitItem" v-if="item.conveyor_type == 'Belt Conveyor'" emit-value map-options :rules="[(vall) => !!vall || 'This field is required.']" outlined :options="yesOrNotOptions" v-model="item.tope_cover" dense rounded label="Select">
                      <template v-slot:selected-item="item">
                        <span class="ellipsis q-pa-none">
                          {{ item.opt }}
                        </span>
                      </template>
                    </q-select>
                  </div>
                  <div class="col-12">
                    <label class="font-12 text-bold text-primary">Bottom Cover</label>
                    <q-select @input="emitItem" v-if="item.conveyor_type == 'Belt Conveyor'" emit-value map-options :rules="[(vall) => !!vall || 'This field is required.']" outlined :options="yesOrNotOptions" v-model="item.bottom_cover" dense rounded label="Select">
                      <template v-slot:selected-item="item">
                        <span class="ellipsis q-pa-none">
                          {{ item.opt }}
                        </span>
                      </template>
                    </q-select>
                  </div>
                </div>
              </q-tab-panel>
              <q-tab-panel
                name="length"
                class="full-width"
                v-if="
                  item.conveyor_type == 'Curve Chain Conveyor' ||
                  item.conveyor_type == 'Double Deck Chain Conveyor' ||
                  item.conveyor_type == '' && item.material_handling_equipment == 'Chain Loop'
                "
              >
                <div class="row">
                  <div class="col-12 col-md-6"  :class="{'q-pr-md': $q.screen.gt.sm, 'col-md-12': item.conveyor_type == 'Double Deck Chain Conveyor'}">
                    <label v-if="item.conveyor_type == 'Curve Chain Conveyor' || item.conveyor_type == '' && item.material_handling_equipment == 'Chain Loop'" class="font-12 text-bold text-primary">Horizontal Length</label>
                    <label v-if="item.conveyor_type == 'Double Deck Chain Conveyor'" class="font-12 text-bold text-primary">Length without double deck</label>
                    <q-input dense v-if="item.conveyor_type == 'Curve Chain Conveyor' || item.conveyor_type == '' && item.material_handling_equipment == 'Chain Loop'" @input="emitItem" :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.horizontal_length" type="text" placeholder="12 m">
                      <template v-slot:append>
                        <lingitudeSelector :model="'horizontal_length'" @unit-of-measure="setUnitOfMeasure" :type="'medidas'" />
                      </template>
                    </q-input>
                    <q-input dense v-if="item.conveyor_type == 'Double Deck Chain Conveyor'" @input="emitItem" :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.length_without_double_deck" type="text" placeholder="12 m">
                      <template v-slot:append>
                        <lingitudeSelector :model="'length_without_double_deck'" @unit-of-measure="setUnitOfMeasure" :type="'medidas'" />
                      </template>
                    </q-input>
                  </div>
                  <div class="col-12 col-md-6" :class="{'q-pl-md': $q.screen.gt.sm}" v-if="item.conveyor_type == '' && item.material_handling_equipment == 'Chain Loop'">
                    <label class="font-12 text-bold text-primary">Vertical Length</label>
                    <q-input dense @input="emitItem" :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.vertical_length" type="text" placeholder="12 m">
                      <template v-slot:append>
                        <lingitudeSelector :model="'vertical_length'" @unit-of-measure="setUnitOfMeasure" :type="'medidas'" />
                      </template>
                    </q-input>
                  </div>
                  <div class="col-12 col-md-6"  :class="{'q-pl-md': $q.screen.gt.sm && item.conveyor_type == 'Curve Chain Conveyor', 'col-md-12': item.conveyor_type == 'Double Deck Chain Conveyor'}">
                    <label v-if="item.conveyor_type == 'Curve Chain Conveyor'" class="font-12 text-bold text-primary">Incline Length</label>
                    <label v-if="item.conveyor_type == 'Double Deck Chain Conveyor'" class="font-12 text-bold text-primary">Double Deck Length</label>
                    <q-input v-if="item.conveyor_type == 'Curve Chain Conveyor'" dense @input="emitItem" :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.incline_length" type="text" placeholder="12 m">
                      <template v-slot:append>
                        <lingitudeSelector :model="'incline_length'" @unit-of-measure="setUnitOfMeasure" :type="'medidas'" />
                      </template>
                    </q-input>
                    <q-input dense v-if="item.conveyor_type == 'Double Deck Chain Conveyor'" @input="emitItem" :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.double_deck_length" type="text" placeholder="12 m">
                      <template v-slot:append>
                        <lingitudeSelector :model="'double_deck_length'" @unit-of-measure="setUnitOfMeasure" :type="'medidas'" />
                      </template>
                    </q-input>
                  </div>
                  <div class="col-12">
                    <label v-if="item.conveyor_type == 'Curve Chain Conveyor'" class="font-12 text-bold text-primary">Bend Section</label>
                    <q-select @input="emitItem" v-if="item.conveyor_type == 'Curve Chain Conveyor'" emit-value map-options :rules="[(vall) => !!vall || 'This field is required.']" outlined :options="bendSectionoptions" v-model="item.bend_section" dense rounded label="Select">
                      <template v-slot:selected-item="item">
                        <span class="ellipsis q-pa-none">
                          {{ item.opt }}
                        </span>
                      </template>
                    </q-select>
                  </div>
                </div>
              </q-tab-panel>
              <q-tab-panel
                name="valves"
                class="full-width"
                v-if="
                  item.conveyor_type == '' && item.material_handling_equipment == 'Accessories'
                "
              >
                <div class="row">
                  <div class="col-12 col-md-6" :class="{'q-pr-md': $q.screen.gt.sm}">
                    <label class="font-12 text-bold text-primary">Size</label>
                    <q-input dense @input="emitItem" :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.valve_size" type="text" placeholder="12 m">
                      <template v-slot:append>
                        <lingitudeSelector :model="'valve_size'" @unit-of-measure="setUnitOfMeasure" :type="'medidas'" />
                      </template>
                    </q-input>
                  </div>
                  <div class="col-12 col-md-6" :class="{'q-pl-md': $q.screen.gt.sm}">
                    <label class="font-12 text-bold text-primary">Type</label>
                    <q-select @input="emitItem" emit-value map-options :rules="[(vall) => !!vall || 'This field is required.']" outlined :options="gatesTypesOptions" v-model="item.valve_type" dense rounded label="Select">
                      <template v-slot:selected-item="item">
                        <span class="ellipsis q-pa-none">
                          {{ item.opt }}
                        </span>
                      </template>
                    </q-select>
                  </div>
                  <div class="col-12 col-md-6" :class="{'q-pr-md': $q.screen.gt.sm}">
                    <label class="font-12 text-bold text-primary">Size distributor</label>
                    <q-input dense @input="emitItem" :rules="[(vall) => !!vall || 'this field is required.']" outlined rounded v-model="item.distributor_size" type="text" placeholder="12 m">
                      <template v-slot:append>
                        <lingitudeSelector :model="'distributor_size'" @unit-of-measure="setUnitOfMeasure" :type="'medidas'" />
                      </template>
                    </q-input>
                  </div>
                  <div class="col-12 col-md-6" :class="{'q-pl-md': $q.screen.gt.sm}">
                    <label class="font-12 text-bold text-primary">Type distributor</label>
                    <q-select @input="emitItem" emit-value map-options :rules="[(vall) => !!vall || 'This field is required.']" outlined :options="gatesTypesOptions" v-model="item.distributor_type" dense rounded label="Select">
                      <template v-slot:selected-item="item">
                        <span class="ellipsis q-pa-none">
                          {{ item.opt }}
                        </span>
                      </template>
                    </q-select>
                  </div>
                </div>
              </q-tab-panel>
            </q-tab-panels>
          </template>
        </q-splitter>
      </q-form>
    </q-card-section>
  </q-card>
</template>

<script>
import { translate } from 'src/api/translate'
import { listProduct } from 'src/api/products'
import lingitudeSelector from '../../components/partials/longitudeSelector.vue'

export default {
  name: 'ComplementProducts',
  components: {
    lingitudeSelector
  },
  props: {
    selectedItem: {
      type: Object,
      default: () => {
        return {}
      }
    }
  },
  data () {
    return {
      splitterModel: 30,
      products: [],
      item: {},
      tab: 'general',
      chainSpeedOptions: [
        'As Recommended by Manufacturer',
        'Other'
      ],
      gatesTypesOptions: [
        'Manual',
        'Motorized',
        'Pneumatic',
      ],
      optionsSensors: [
        {
          label: 'Speed Sensor',
          value: 'Speed Sensor'
        },
        {
          label: 'Overflow Sensor',
          value: 'Overflow Sensor'
        }
      ],
      bendSectionoptions: [
        '15°',
        '30°',
        '45°'
      ],
      typeBeltOptions: [
        'Open Belt Conveyor',
        'Enclosed Belt Conveyor'
      ],
      tripperBeltOptions: [
        'No',
        'Manual',
        'Motorizado'
      ],
      yesOrNotOptions: [
        'Yes',
        'No'
      ],
      render: true,
      accesories: [
        {
          label: '2 way Valve type K - 45°',
          value: '2 way Valve type K - 45°',
        },
        {
          label: '2 way Valve type Y - 45°',
          value: '2 way Valve type Y - 45°',
        },
        {
          label: '2 way Valve type K - 60°',
          value: '2 way Valve type K - 60°',
        },
        {
          label: '2 way Valve type Y - 60°',
          value: '2 way Valve type Y - 60°',
        },
        {
          label: '3 way Valve type K - 45°',
          value: '3 way Valve type K - 45°',
        },
        {
          label: '3 way Valve type K - 60°',
          value: '3 way Valve type K - 60°',
        },
        {
          label: 'Distributor - 45°',
          value: 'Distributor - 45°',
        },
        {
          label: 'Distributor - 60°',
          value: 'Distributor - 60°',
        },
        {
          label: 'Slide Gates',
          value: 'Slide Gates',
        },
      ]
    }
  },
  methods: {
    async loadProduct () {
      await listProduct()
        .then(resp => {
          this.products = resp.data.success
        })
        .catch(err => {
          if (err.error) {
            if (typeof err.error === 'object') {
              const message = Object.values(err.error).shift();
              if (message.length > 0) {
                const newMessage = message.shift()
                this.$SendNotify("negative", `${newMessage}`, "red-9");
              }
            } else {
              this.$SendNotify("negative", `${err.error}`, "red-9");
            }
          } else {
            this.$SendNotify("negative", err.message, "red-9");
          }
        })
    },
    setProductDensity (e) {
      const isset = this.products.find(data => {
        return data.name.toLowerCase() === e.toLowerCase()
      })
      this.item.density = isset ? `${isset.density} KG/M3` : null
      this.emitItem()
    },
    emitItem () {
      this.reRender()
      this.$emit('set-item', this.item)
    },
    closeModal () {
      // this.$emit('close-modal')
    },
    setUnitOfMeasure (idx, value, model) {
      const modelS = '' + this.item[model]
      const label = modelS.split(' ')
      this.item[model] = `${label.shift()} ${value}`
      this.reRender()
    },
    reRender () {
      this.render = false
      this.render = true
    },
    debounce(body, delay) {
      clearTimeout(this.timeoutId);
      this.timeoutId = setTimeout(() => {
        this.translate(body);
      }, delay);
    },
    doTranslate (e) {
      const text = this.stripHTMLTags(e)
      this.translate(text)
    },
    translate (body) {
      let data = {}
      data.text = body
      data.source = 'es'
      data.target = 'en'
      return translate(data, (resp) => {
        this.$emit("setTranslate", "comments_en", resp.data.success)
        this.item['comments_en'] = resp.data.success
        this.emitItem()
        this.translatePt(body)
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      });
    },
    translatePt (body) {
      let data = {}
      data.text = body
      data.source = 'es'
      data.target = 'pt'
      return translate(data, (resp) => {
        this.$emit("setTranslate", "comments_pt", resp.data.success)
        this.item['comments_pt'] = resp.data.success
        this.emitItem()
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      });
    },
    setAccesoriesUnit (idx, value, model) {
      console.log(idx, value, model)
      const modelS = '' + this.item.accesories[idx].size
      const label = modelS.split(' ')
      this.item.accesories[idx][model] = `${label.shift()} ${value}`
      this.reRender()
    }
  },
  beforeMount () {
    this.item  = JSON.parse(JSON.stringify(this.selectedItem))
    if (this.item.material_handling_equipment !== 'Conveyor') {
      this.optionsSensors.push({
        label: 'Aligment Sensor',
        value: 'Aligment Sensor'
      })
    }
  },
  async created () {
    await this.loadProduct()
  }
}
</script>
