<template>
  <q-page class="bg-main">
    <div class="main-overflow">
      <clientResponse />
    </div>
  </q-page>
</template>

<script>
import clientResponse from 'src/components/front/client/response.vue'

export default {
  name: 'PageClient',
  components: {
    clientResponse
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
