<template>
  <q-page class="bg-main">
    <div class="main-overflow">
      <index />
    </div>
  </q-page>
</template>

<script>
import index from 'src/components/front/index/index.vue'

export default {
  name: 'PageIndex',
  components: {
    index
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
