<template>
  <q-page class="bg-main">
    <div class="main-overflow">
      <recovery />
    </div>
  </q-page>
</template>

<script>
import recovery from 'src/components/front/auth/recovery.vue'

export default {
  name: 'recoveryPage',
  components: {
    recovery
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
