<template>
  <div class="full-width row q-pa-lg">
    <div class="col-12">
      <q-card class="round-10">
        <q-card-section>
          <p class="font-18 text-primary text-bold text-capitalize">
            <span v-if="!$route.params.id">{{$t('newQuote')}}</span>
            <span v-else>{{$t('editQuote')}}</span>
            <span>
              <q-btn v-if="!$route.params.id" @click="loadQuoteShow = true" flat dense icon="search" color="primary" class="float-right">
                <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
                  Load Quote
                </q-tooltip>
              </q-btn>
            </span>
          </p>
        </q-card-section>
        <q-card-section>
          <formQuote />
        </q-card-section>
      </q-card>
    </div>
    <div class="col-12">
      <q-dialog v-model="loadQuoteShow">
        <div class="bg-white full-width relative q-pa-md"  style="position: relative; max-width: 350px">
          <span class="font-18 text-primary text-bold text-capitalize">
            Load quote
          </span>
          <q-btn id="closeModal" flat dense size="sm" color="red" v-close-popup style="height: 30px" icon="close" class="absolute-right">
          </q-btn>
          <q-form @submit="loadQuote" class="row">
            <div class="col-12 q-pa-sm">
              <q-input dense debounce="1000" v-model="reference" label="Code" rounded outlined :rules="[val => !!val || 'this field is required']">
              </q-input>
            </div>
            <div class="col-12 q-pa-sm text-center" style="margin-top: -20px">
              <q-btn :loading="loading" rounded size="md" densed class="text-capitalize" label="Load" type="submit" color="primary" />
            </div>
          </q-form>
        </div>
      </q-dialog>
    </div>
  </div>
</template>

<script>
import formQuote from './components/form'

export default {
  name: 'maincomponent',
  components: {
    formQuote
  },
  computed: {
  },
  data () {
    return {
      reference: null,
      loadQuoteShow: false,
      loading: false
    }
  },
  methods: {
    loadQuote () {
      this.loading = true
      this.$store.dispatch("quote/ref", this.reference)
        .then(resp => {
          this.loading = false
          this.reference = null
          this.loadQuoteShow = false
        })
        .catch(err => {
          this.loading = false
          this.$SendNotify("negative", err, "red-9")
          console.log(err)
        });
    }
  },
  beforeMount () {
  }
}
</script>
