<template>
  <div class="full-width q-pa-lg row">
    <div class="col-12">
      <tableQuote @loadQuote="list" ref="tableMains" :data="quotes" />
    </div>
  </div>
</template>

<script>
import tableQuote from './components/table'

export default {
  name: 'maincomponent',
  components: {
    tableQuote
  },
  computed: {
    quotes () {
      return this.$store.getters['quote/quotes']
    }
  },
  data () {
    return {
      date: {}
    }
  },
  methods: {
    list () {
      var query = ""
      this.$store.dispatch('quote/all', query)
        .then((resp) => {
        })
        .catch((err) => {
          this.$SendNotify('negative', err, 'red')
          console.log(err)
        })
    },
    getDate() {
      var d = new Date(Date.now()),
        month = "" + (d.getMonth() + 1),
        day = "" + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;

      return [year, month, day].join("-");
    },
    filterByDate() {
      if (!this.$refs.tableMains.date.max) {
        return false
      }
      if (!this.$refs.tableMains.date.min) {
        return false
      }
      if (!this.$refs.tableMains.date.min) return false;
      if (!this.$refs.tableMains.date.max) {
        this.$refs.tableMains.date.max = this.getDate()
      }
      var min = this.$refs.tableMains.date.min
      var max = this.$refs.tableMains.date.max
      var query = "?start=" + min + "&end=" + max
      this.$store.dispatch("quote/all", query)
        .then(resp => {
          this.allDomicilios = resp.data.success
        })
        .catch(err => {
          this.$SendNotify("negative", err, "red-9")
          console.log(err)
        });
    }
  },
  beforeMount () {
    this.list()
  }
}
</script>
