<template>
  <q-form @submit="createRequisition" class="row" style="margin-top: -30px">
    <div class="col-12 col-md-4 q-pa-sm">
      <q-input
        :rules="[(val) => !!val || 'this field is required.']"
        outlined
        rounded
        v-model="requisition.title"
        type="text"
        label="Project title"
      >
      </q-input>
    </div>
    <div class="col-12 col-md-4 q-pa-sm">
      <q-select @input="generateCode" use-input hide-selected fill-input input-debounce="0" @filter="filterCountries" outlined label="Country" rounded v-model="requisition.country" :options="countriesOptions" :option-value="opt => Object(opt) === opt && 'code' in opt ? opt.code : ''" :option-label="opt => Object(opt) === opt && 'name' in opt ? opt.name : ''" :rules="[val => !!val || 'this field is required.']" emit-value map-options />
    </div>
    <div class="col-12 col-md-4 q-pa-sm" v-if="render">
      <q-input
        :rules="[(val) => !!val || 'this field is required.']"
        outlined
        readonly
        rounded
        v-model="requisition.reference"
        type="text"
        label="# Requisition"
      >
      </q-input>
    </div>
    <div class="col-12 col-md-4 q-pa-sm">
      <q-input
        :rules="[(val) => !!val || 'this field is required.']"
        outlined
        rounded
        v-model="requisition.seismic_zone"
        type="text"
        label="Seismic zone"
      >
      </q-input>
    </div>
    <div class="col-12 col-md-4 q-pa-sm" v-if="render">
      <q-select :rules="[(val) => !!val || 'This field is required.']" outlined :options="voltagesUnitites" v-model="requisition.voltage" @input="reRender" rounded label="Voltage" />
      <!--<q-select outlined label="Selected provider" rounded v-model="requisition.selected_provider" :options="providersOptions" :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : ''" :option-label="opt => Object(opt) === opt && 'label' in opt ? opt.label : ''" :rules="[val => !!val || 'this field is required.']" emit-value map-options />-->
    </div>
    <div class="col-12 col-md-4 q-pa-sm" v-if="render">
      <q-input
        :rules="[(val) => !!val || 'this field is required.']"
        outlined
        rounded
        v-model="requisition.reference_manual"
        type="text"
        label="# Requisition"
      >
      </q-input>
    </div>
    <div class="col-12 col-md-4 q-pa-sm" v-if="requisition && requisition.id">
      <q-checkbox @input="reRender" v-model="requisition.review_up" label="Increase review number"></q-checkbox>
    </div>
    <div class="col-12 q-pa-sm">
      <p class="font-14 text-primary text-bold text-capitalize">
        Silos ({{silos.length}}) <q-btn icon="add" @click="pushNewSilo" color="primary" flat dense />
      </p>
      <silosList
        @setSilos="setSilos"
        @reloadProducts="loadProduct"
        :silos="silos"
        :productsList="products"
      />
    </div>
    <div class="col-12 q-pa-sm q-mt-md">
      <label for="" class="font-12 text-primary text-bold">
        Comments
      </label>
      <q-tabs
        inline-label
        v-model="lang"
        style="margin-top: -20px"
        class="text-primary text-left pull-left float-right"
      >
        <q-tab name="es" label="Spanish" />
        <q-tab name="en" label="English" />
        <q-tab name="pt" label="Portugues" />
      </q-tabs>
      <q-tab-panels v-model="lang" animated class="shadow-0 rounded-borders q-mt-md full-width">
        <q-tab-panel name="es">
          <q-editor
            @paste="handlePaste"
            v-model="requisition.comments"
            min-height="7rem"
            @input="debounce(requisition.comments, 1000)"
            debounce="2000"
            :toolbar="[
              [
                {
                  label: $q.lang.editor.align,
                  icon: $q.iconSet.editor.align,
                  fixedLabel: true,
                  list: 'only-icons',
                  options: ['left', 'center', 'right', 'justify']
                },
                {
                  label: $q.lang.editor.align,
                  icon: $q.iconSet.editor.align,
                  fixedLabel: true,
                  options: ['left', 'center', 'right', 'justify']
                }
              ],
              ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
              ['token', 'hr', 'link', 'custom_btn'],
              ['print', 'fullscreen'],
              [
                {
                  label: $q.lang.editor.formatting,
                  icon: $q.iconSet.editor.formatting,
                  list: 'no-icons',
                  options: [
                    'p',
                    'h1',
                    'h2',
                    'h3',
                    'h4',
                    'h5',
                    'h6',
                    'code'
                  ]
                },
                {
                  label: $q.lang.editor.fontSize,
                  icon: $q.iconSet.editor.fontSize,
                  fixedLabel: true,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'size-1',
                    'size-2',
                    'size-3',
                    'size-4',
                    'size-5',
                    'size-6',
                    'size-7'
                  ]
                },
                {
                  label: $q.lang.editor.defaultFont,
                  icon: $q.iconSet.editor.font,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'default_font',
                    'arial',
                    'arial_black',
                    'comic_sans',
                    'courier_new',
                    'impact',
                    'lucida_grande',
                    'times_new_roman',
                    'verdana'
                  ]
                },
                'removeFormat'
              ],
              ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

              ['undo', 'redo'],
              ['viewsource']
            ]"
            :fonts="{
              arial: 'Arial',
              arial_black: 'Arial Black',
              comic_sans: 'Comic Sans MS',
              courier_new: 'Courier New',
              impact: 'Impact',
              lucida_grande: 'Lucida Grande',
              times_new_roman: 'Times New Roman',
              verdana: 'Verdana'
            }"
          />
        </q-tab-panel>
        <q-tab-panel name="en">
          <q-editor
            @paste="handlePaste"
            v-model="requisition.comments_en"
              min-height="7rem"
            :toolbar="[
              [
                {
                  label: $q.lang.editor.align,
                  icon: $q.iconSet.editor.align,
                  fixedLabel: true,
                  list: 'only-icons',
                  options: ['left', 'center', 'right', 'justify']
                },
                {
                  label: $q.lang.editor.align,
                  icon: $q.iconSet.editor.align,
                  fixedLabel: true,
                  options: ['left', 'center', 'right', 'justify']
                }
              ],
              ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
              ['token', 'hr', 'link', 'custom_btn'],
              ['print', 'fullscreen'],
              [
                {
                  label: $q.lang.editor.formatting,
                  icon: $q.iconSet.editor.formatting,
                  list: 'no-icons',
                  options: [
                    'p',
                    'h1',
                    'h2',
                    'h3',
                    'h4',
                    'h5',
                    'h6',
                    'code'
                  ]
                },
                {
                  label: $q.lang.editor.fontSize,
                  icon: $q.iconSet.editor.fontSize,
                  fixedLabel: true,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'size-1',
                    'size-2',
                    'size-3',
                    'size-4',
                    'size-5',
                    'size-6',
                    'size-7'
                  ]
                },
                {
                  label: $q.lang.editor.defaultFont,
                  icon: $q.iconSet.editor.font,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'default_font',
                    'arial',
                    'arial_black',
                    'comic_sans',
                    'courier_new',
                    'impact',
                    'lucida_grande',
                    'times_new_roman',
                    'verdana'
                  ]
                },
                'removeFormat'
              ],
              ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

              ['undo', 'redo'],
              ['viewsource']
            ]"
            :fonts="{
              arial: 'Arial',
              arial_black: 'Arial Black',
              comic_sans: 'Comic Sans MS',
              courier_new: 'Courier New',
              impact: 'Impact',
              lucida_grande: 'Lucida Grande',
              times_new_roman: 'Times New Roman',
              verdana: 'Verdana'
            }"
          />
        </q-tab-panel>
        <q-tab-panel name="pt">
          <q-editor
            @paste="handlePaste"
            v-model="requisition.comments_pt"
              min-height="7rem"
            :toolbar="[
              [
                {
                  label: $q.lang.editor.align,
                  icon: $q.iconSet.editor.align,
                  fixedLabel: true,
                  list: 'only-icons',
                  options: ['left', 'center', 'right', 'justify']
                },
                {
                  label: $q.lang.editor.align,
                  icon: $q.iconSet.editor.align,
                  fixedLabel: true,
                  options: ['left', 'center', 'right', 'justify']
                }
              ],
              ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
              ['token', 'hr', 'link', 'custom_btn'],
              ['print', 'fullscreen'],
              [
                {
                  label: $q.lang.editor.formatting,
                  icon: $q.iconSet.editor.formatting,
                  list: 'no-icons',
                  options: [
                    'p',
                    'h1',
                    'h2',
                    'h3',
                    'h4',
                    'h5',
                    'h6',
                    'code'
                  ]
                },
                {
                  label: $q.lang.editor.fontSize,
                  icon: $q.iconSet.editor.fontSize,
                  fixedLabel: true,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'size-1',
                    'size-2',
                    'size-3',
                    'size-4',
                    'size-5',
                    'size-6',
                    'size-7'
                  ]
                },
                {
                  label: $q.lang.editor.defaultFont,
                  icon: $q.iconSet.editor.font,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'default_font',
                    'arial',
                    'arial_black',
                    'comic_sans',
                    'courier_new',
                    'impact',
                    'lucida_grande',
                    'times_new_roman',
                    'verdana'
                  ]
                },
                'removeFormat'
              ],
              ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

              ['undo', 'redo'],
              ['viewsource']
            ]"
            :fonts="{
              arial: 'Arial',
              arial_black: 'Arial Black',
              comic_sans: 'Comic Sans MS',
              courier_new: 'Courier New',
              impact: 'Impact',
              lucida_grande: 'Lucida Grande',
              times_new_roman: 'Times New Roman',
              verdana: 'Verdana'
            }"
          />
        </q-tab-panel>
      </q-tab-panels>
    </div>
    <div class="col-12 text-center" :class="{'col-md-12 q-pa-none': !requisition.id}">
      <q-btn :loading="loading" rounded size="md" densed class="text-capitalize" :label="$t('save')" type="submit" color="primary" />
    </div>
    <q-dialog v-model="openCropModal">
      <q-card class="cropModal">
        <q-card-section>
          <cropper
            class="cropper"
            style="width: 100%; height: 300px"
            :src="pasteImage"
            :stencil-props="{
              aspectRatio: 16/8
            }"
            ref="cropper"
          ></cropper>
          <center>
            <q-btn class="q-mt-sm" rounded color="primary" @click="crop">
              Crop
            </q-btn>
            <q-btn v-close-popup round size="5pt" icon="close" color="red" unelevated class="absolute-top-right">
              <q-tooltip content-class="bg-red">
                Close
              </q-tooltip>
            </q-btn>
          </center>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-form>
</template>

<script>
import { generateKey, translate } from 'src/api/translate'
import countrys from 'src/utilities/country.json'
import silosList from './silos'
import { generateCode } from 'src/api/requisitions'
import { listProduct } from 'src/api/products'
import { Cropper } from 'vue-advanced-cropper'
import 'vue-advanced-cropper/dist/style.css';

export default {
  // name: 'ComponentName',
  props: {
    requisition: Object,
    loading: Boolean
  },
  computed: {
  },
  components: {
    silosList,
    Cropper
  },
  data() {
    return {
      countries: countrys,
      countriesOptions: countrys,
      silos: [],
      data: {},
      providersOptions: [
        { id: 15, label: 'SYMAGA' },
        { id: 27, label: 'SILO MASTER' },
        { id: 16, label: 'SUKUP MFG' },
      ],
      render: true,
      products: [],
      voltagesUnitites: [
        "220/380 V - 3F – 50Hz",
        "254/440V - 3F – 60Hz",
        "277/460V - 3F – 60Hz",
        "220/480V - 3F – 60Hz"
      ],
      pasteImage: '',
      openCropModal: false,
      image: '',
      lang: 'es',
      timeoutId: null
    };
  },
  methods: {
    createRequisition() {
      this.silos = this.silos.map(data => {
        data.seismic_zone = this.requisition.seismic_zone
        return data
      })
      this.requisition.silos = this.silos
      this.$emit('saveRequisition', this.requisition)
    },
    filterCountries (val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.countriesOptions = this.countries.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    pushNewSilo () {
      this.data.type = null
      this.data.product = null
      this.data.density = ''
      this.data.quantity = 1
      this.data.density = ''
      this.data.diameter = ''
      this.data.height = ''
      this.data.voltage = ''
      this.data.capacity = ''
      this.data.powersweep_head_angle = '27°'
      this.data.runway = 'No'
      this.data.thermometry_system = "No"
      this.data.accesories = []
      this.data.complement = {
        conveyor_weight: '150 Kg/m',
        other: '',
        other_accesories: false,
        powersweep_head_angle: '27°',
        cupula: 'No',
        alero: 'No',
        tower_support: 'No',
        goal_frame_support: 'No',
        maintenance_platform: 'No'
      }
      this.data.seismic_zone = this.requisition.seismic_zone
      this.silos.push(this.data)
      this.requisition.total_silo = this.silos.length
      this.data = {}
    },
    setSilos (silos) {
      this.silos = silos
      this.requisition.total_silo = this.silos.length
    },
    generateCode (country) {
      return generateCode(country, (resp) => {
        this.requisition.reference = resp.data.success
        this.render = false
        this.render = true
      }, (err) => {
        this.$SendNotify("negative", err.message, "red-9");
      })
    },
    reRender () {
      this.render = false
      this.render = true
    },
    async loadProduct () {
      await listProduct()
        .then(resp => {
          this.products = resp.data.success
        })
        .catch(err => {
          if (err.error) {
            if (typeof err.error === 'object') {
              const message = Object.values(err.error).shift();
              if (message.length > 0) {
                const newMessage = message.shift()
                this.$SendNotify("negative", `${newMessage}`, "red-9");
              }
            } else {
              this.$SendNotify("negative", `${err.error}`, "red-9");
            }
          } else {
            this.$SendNotify("negative", err.message, "red-9");
          }
        })
    },
    handlePaste (e) {
      const items = event.clipboardData.items;
      for (let i = 0; i < items.length; i++) {
        const item = items[i];
        if (item.type.indexOf('image') !== -1) {
          e.preventDefault()
          const blob = item.getAsFile();
          const reader = new FileReader();
          reader.onload = (event) => {
            this.pasteImage = event.target.result;
          };
          reader.readAsDataURL(blob);
          this.openCropModal = true
          break; // Solo manejamos la primera imagen encontrada
        }
      }
    },
    crop () {
      const { coordinates, canvas, } = this.$refs.cropper.getResult();
      console.log(coordinates)
			this.coordinates = coordinates;
			// You able to do different manipulations at a canvas
			// but there we just get a cropped image, that can be used
			// as src for <img/> to preview result
			this.requisition.comments += `<br><br><br><img id="cropepImg" style="margin-top: 20px" height="400px" width="720px" src="${canvas.toDataURL()}" />`
      this.requisition.comments_en += `<br><br><br><img id="cropepImg" style="margin-top: 20px" height="400px" width="720px" src="${canvas.toDataURL()}" />`
      this.requisition.comments_pt += `<br><br><br><img id="cropepImg" style="margin-top: 20px" height="400px" width="720px" src="${canvas.toDataURL()}" />`
      this.pasteImage = ''
      this.openCropModal = false
    },
    stripHTMLTags(text) {
      return text.replace(/<[^>]+>/g, '');
    },
    doTranslate (e) {
      const text = this.stripHTMLTags(e)
      this.translate(text)
    },
    translate (body) {
      let data = {}
      data.text = body
      data.source = 'es'
      data.target = 'en'
      return translate(data, (resp) => {
        this.$emit("setTranslate", "comments_en", resp.data.success)
        this.translatePt(body)
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      });
    },
    translatePt (body) {
      let data = {}
      data.text = body
      data.source = 'es'
      data.target = 'pt'
      return translate(data, (resp) => {
        this.$emit("setTranslate", "comments_pt", resp.data.success)
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      });
    },
    debounce(body, delay) {
      clearTimeout(this.timeoutId);
      this.timeoutId = setTimeout(() => {
        this.translate(body);
      }, delay);
    }
  },
  beforeMount () {
    if (this.requisition.silos && this.requisition.silos.length > 0) {
      this.silos = this.requisition.silos
    }
  },
  async created () {
    await this.loadProduct()
  }
};
</script>
