<template>
  <div class="row">
    <div class="col-12">
      <div class="q-pa-md" style="max-width: 100%; margin-top: -40px">
        <q-list separator>
          <q-item v-for="(pdf, idx) in requisition.pdf" :key="idx">
            <q-item-section>
              <q-item-label>{{pdf.provider}}</q-item-label>
              <q-item-label caption lines="2">
                {{pdf.pdf}}
              </q-item-label>
              <q-item-label caption lines="1">
                Document Adjunt: {{pdf.croquis.length}}
              </q-item-label>
            </q-item-section>
            <q-item-section side top>
              <q-item-label caption>
                <q-btn type="a" :href="pdf.pdf" target="blank" flat dense icon="picture_as_pdf" color="primary" size="md">
                  <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
                    Show requisition
                  </q-tooltip>
                </q-btn>
              </q-item-label>
              <q-btn @click="showCroquis(pdf.croquis)" target="blank" flat dense icon="description" color="green-9" size="md">
                <q-tooltip content-class="bg-green-9 text-capitalize" :offset="[10, 10]">
                  Show Croquis
                </q-tooltip>
              </q-btn>
              <q-btn @click="sendEmail(pdf)" icon="send" flat dense size="md" color="orange-9">
                <q-tooltip content-class="bg-orange-9 text-capitalize" :offset="[10, 10]">
                  Send requisition
                </q-tooltip>
              </q-btn>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
    </div>
  </div>
</template>

<script>
import { sendFirstEmail } from 'src/api/requisitions'

export default {
  // name: 'ComponentName',
  props: {
    requisition: Object
  },
  computed: {
  },
  components: {
  },
  data() {
    return {
      all: false
    };
  },
  methods: {
    showCroquis (croquis) {
      for (var i = 0; i < croquis.length; i++) {
        window.open(croquis[i], '_blank')
      }
    },
    sendEmail (pdf) {
      this.$q.dialog({
        title: 'Send requisition',
        message: '¿Are you sure you want to send this requisition?',
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
        this.confirmSendEmail(pdf)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    confirmSendEmail (pdf, event) {
      pdf.all = this.all
      return sendFirstEmail(pdf, (resp) => {
        this.$SendNotify('positive', resp.data.success, 'primary')
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
      })
    }
  },
  beforeMount () {
  }
};
</script>
