<template>
  <section class="row">
    <div class="col-12 font-12 text-primary text-bold">
      SILOS SUPPLIERS <q-checkbox @input="selectedAll" style="margin-top: -5px" label="All" class="float-right" v-model="allSupplierSilo"></q-checkbox>
    </div>
    <div v-show="render" class="col-12 col-md-4 relative" v-for="(silo, idx) in silosProvider" :key="idx">
      <q-checkbox color="primary" @input="reRender" :label="silo.name" v-model="silo.selected">
        <q-tooltip class="bg-primary" content-class="bg-primary">
          {{ silo.email }}
        </q-tooltip>
      </q-checkbox>
      <q-btn style="position: absolute; top: 0px" flat dense size="8pt" color="secondary" @click="openPdf(silo.id)" class="q-ml-sm" rounded icon="picture_as_pdf" v-if="validatePdf(silo.id)">
        <q-tooltip content-class="bg-secondary">
          Show pdf
        </q-tooltip>
      </q-btn>
    </div>

    <div class="col-12 font-12 text-primary text-bold q-mt-lg">
      SILOS UNLOADING <q-checkbox @input="selectedAllUnloading" style="margin-top: -5px" label="All" class="float-right" v-model="allUnloadingSilo"></q-checkbox>
    </div>
    <div v-show="render" class="col-12 col-md-4 relative" v-for="silo in silosProviderUnloading" :key="silo.email">
      <q-checkbox @input="reRender" :label="silo.name" v-model="silo.selected">
        <q-tooltip class="bg-primary" content-class="bg-primary">
          {{ silo.email }}
        </q-tooltip>
      </q-checkbox>
      <q-btn style="position: absolute; top: 0px" flat dense size="8pt" color="secondary" @click="openPdf(silo.id)" class="q-ml-sm" rounded icon="picture_as_pdf" v-if="validatePdf(silo.id)">
        <q-tooltip content-class="bg-secondary">
          Show pdf
        </q-tooltip>
      </q-btn>
    </div>

    <div class="col-12 font-12 text-primary text-bold q-mt-lg">
      SILOS THERMOMETRY <q-checkbox @input="selectedAllThermometry" style="margin-top: -5px" label="All" class="float-right" v-model="allThermometrySilo"></q-checkbox>
    </div>
    <div v-show="render" class="col-12 col-md-4 relative" v-for="silo in silosThermometryProvider" :key="silo.email">
      <q-checkbox @input="reRender" :label="silo.name" v-model="silo.selected">
        <q-tooltip class="bg-primary" content-class="bg-primary">
          {{ silo.email }}
        </q-tooltip>
      </q-checkbox>
      <q-btn style="position: absolute; top: 0px" flat dense size="8pt" color="secondary" @click="openPdf(silo.id)" class="q-ml-sm" rounded icon="picture_as_pdf" v-if="validatePdf(silo.id)">
        <q-tooltip content-class="bg-secondary">
          Show pdf
        </q-tooltip>
      </q-btn>
    </div>
    <div class="col-12 q-mt-md">
      <q-separator></q-separator>
    </div>
    <div class="col-12 q-mt-md">
      <div class="row full-width">
        <div class="col-12 col-md-3">
          <q-btn :class="{'full-width q-mt-md': $q.screen.lt.md }" v-close-popup no-caps unelevated rounded label="Cancel" color="grey" class="full-width"></q-btn>
        </div>
        <div class="col-12 col-md-4 text-right">
          <q-btn @click="showPdfs" :class="{'full-width q-mt-md': $q.screen.lt.md }" no-caps unelevated rounded label="Build PDF" color="orange" icon-right="picture_as_pdf"></q-btn>
        </div>
        <div class="col-12 col-md-5 text-right">
          <q-btn @click="sendFirstEmail" :loading="loadingSendMail" :disable="pdfsGenerate.length === 0" :class="{'full-width q-mt-md': $q.screen.lt.md }" no-caps unelevated rounded label="Send requisitions" color="green" icon-right="send"></q-btn>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { filterRequisitions } from 'src/api/requisitions'
import { generatePdf, sendFirstEmail } from 'src/api/requisitions'

export default {
  // name: 'ComponentName',
  props: {
    providersS: Array,
    unloadingS: Array,
    thermometryS: Array,
    requisition: Object
  },
  computed: {
  },
  components: {
  },
  data () {
    return {
      silosProvider: [],
      silosProviderUnloading: [],
      silosThermometryProvider: [],
      render: true,
      allSupplierSilo: false,
      allUnloadingSilo: false,
      allThermometrySilo: false,
      pdfsGenerate: [],
      loadingSendMail: false
    }
  },
  methods: {
    reRender () {
      this.render = false
      this.render = true
    },
    selectedAll () {
      this.silosProvider = this.silosProvider.map(data => {
        data.selected = this.allSupplierSilo
        return data
      })
    },
    selectedAllUnloading () {
      this.silosProviderUnloading = this.silosProviderUnloading.map(data => {
        data.selected = this.allUnloadingSilo
        return data
      })
    },
    selectedAllThermometry () {
      this.silosThermometryProvider = this.silosThermometryProvider.map(data => {
        data.selected = this.allThermometrySilo
        return data
      })
    },
    async showPdfs () {
      const data = {
        requisition: this.requisition,
        silosProvider: this.silosProvider.filter(data => { return data.selected === true }),
        silosProviderUnloading: this.silosProviderUnloading.filter(data => { return data.selected === true }),
        silosThermometryProvider: this.silosThermometryProvider.filter(data => { return data.selected === true }),
      }
      this.$q.loading.show()
      await generatePdf(data)
        .then(resp => {
          this.$q.loading.hide()
          this.pdfsGenerate = resp.data.success
          this.$SendNotify("primary", `Pdf build success.`, "primary");
        })
        .catch(err => {
          this.$q.loading.hide()
          console.log(err);
          if (err.errors) {
            const message = Object.values(err.errors).shift();
            const newMessage = message.shift()
            this.$SendNotify("negative", `${newMessage}`, "red-9");
          } else {
            this.$SendNotify("negative", err.message, "red-9");
          }
        })
    },
    loadRequisition () {
      filterRequisitions(this.requisition.uuid, (resp) => {
        this.pdfsGenerate = resp.data.success.pdf
      }, (err) => {
        console.log(err);
        if (err.errors) {
          const message = Object.values(err.errors).shift();
          const newMessage = message.shift()
          this.$SendNotify("negative", `${newMessage}`, "red-9");
        } else {
          this.$SendNotify("negative", err.message, "red-9");
        }
      })
    },
    validatePdf (id) {
      const issetPdf = this.pdfsGenerate.find(data => {
        return data.provider_id === id
      })
      if (issetPdf) {
        return true
      } else {
        return false
      }
    },
    openPdf (id) {
      const issetPdf = this.pdfsGenerate.find(data => {
        return data.provider_id === id
      })
      if (issetPdf) {
        window.open(issetPdf.pdf, '__blank')
      }
    },
    async sendFirstEmail () {
      const data = {
        requisition: { id: this.requisition, uuid: this.requisition.uuid },
        silosProvider: this.silosProvider.filter(data => { return data.selected === true }),
        silosProviderUnloading: this.silosProviderUnloading.filter(data => { return data.selected === true }),
        silosThermometryProvider: this.silosThermometryProvider.filter(data => { return data.selected === true }),
      }
      // send first email
      this.loadingSendMail = true
      await sendFirstEmail(data)
        .then(resp => {
          this.$SendNotify("positive", `Requisition send successfully`, "primary");
          this.loadingSendMail = false
          this.$emit('close')
        })
        .catch(err => {
          console.log(err);
          this.loadingSendMail = false
          if (err.errors) {
            const message = Object.values(err.errors).shift();
            const newMessage = message.shift()
            this.$SendNotify("negative", `${newMessage}`, "red-9");
          } else {
            this.$SendNotify("negative", err.message, "red-9");
          }
        })
    }
  },
  async beforeMount () {
    await this.loadRequisition()
    this.providersS.map(data => {
      data.selected = false
      this.silosProvider.push(data)
    })
    this.unloadingS.map(data => {
      data.selected = false
      this.silosProviderUnloading.push(data)
    })
    this.thermometryS.map(data => {
      data.selected = false
      this.silosThermometryProvider.push(data)
    })
  }
}
</script>
