<template>
  <div class="full-width">
    <q-markup-table v-if="render" separator="cell" flat bordered>
      <thead>
        <tr>
          <th class="text-left" style="width: 180px">
            Type
          </th>
          <th class="text-left">
            Product
            <q-btn @click="$emit('reloadProducts')" flat dense size="7pt" color="primary" round icon="refresh">
              <q-tooltip content-class="bg-primary">
                Reload products
              </q-tooltip>
            </q-btn>
          </th>
          <th class="text-left" style="min-width: 100px">
            Quantity
          </th>
          <th class="text-left" style="min-width: 100px">
            Density
          </th>
          <th class="text-left" style="min-width: 140px">
            Diameter
          </th>
          <th class="text-left" style="min-width: 140px">
            Height
          </th>
          <!--<th class="text-left" style="width: 100px">
            Voltage
          </th>-->
          <th class="text-left" style="min-width: 160px">
            Capacity (Tn + 6%)
          </th>
          <th class="text-left">
            <center>
              Show
            </center>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(silo, idx) in silos" :key="idx">
          <td class="text-left" style="widtd: 180px">
            <q-select @input="setSilo" :rules="[(val) => !!val || 'This field is required.']" outlined :options="types" v-model="silo.type" dense rounded label="Silo type" />
          </td>
          <td class="text-left" style="width: 180px">
            <q-select :option-value="opt => Object(opt) === opt && 'label' in opt ? opt.label : null" :option-label="opt => Object(opt) === opt && 'label' in opt ?  opt.label : ''" emit-value map-options @input="setProductDensity(idx)" :rules="[(val) => !!val || 'This field is required.']" outlined :options="products" v-model="silo.product" dense rounded label="Product" />
          </td>
          <td class="text-left" style="min-width: 120px">
            <q-input dense @input="setSilo" :rules="[(val) => !!val || 'this field is required.']" outlined rounded v-model="silo.quantity" type="number" label="Quantity" />
          </td>
          <td class="text-left">
            <q-input dense @input="setSilo" :rules="[(val) => !!val || 'this field is required.']" outlined rounded v-model="silo.density" type="text" label="Density" />
          </td>
          <td class="text-left">
            <q-input dense @input="setSilo" :rules="[(val) => !!val || 'this field is required.']" outlined rounded v-model="silo.diameter" type="text" label="Diameter">
              <template v-slot:append>
                <lingitudeSelector :idx="idx" :model="'diameter'" :type="'medidas'" @unit-of-measure="setUnitOfMeasure" />
              </template>
            </q-input>
          </td>
          <td class="text-left">
            <q-input dense @input="setSilo" :rules="[(val) => !!val || 'this field is required.']" outlined rounded v-model="silo.height" type="text" label="Height">
              <template v-slot:append>
                <lingitudeSelector :idx="idx" :model="'height'" :type="'medidas'" @unit-of-measure="setUnitOfMeasure" />
              </template>
            </q-input>
          </td>
          <!--<td class="text-left">
            <q-select :rules="[(val) => !!val || 'This field is required.']" outlined :options="voltagesUnitites" v-model="silo.voltage" @input="reRender" dense rounded label="Voltage" />
          </td>-->
          <td class="text-left">
            <q-input dense @input="calculateVolumenM3(idx, silo)" debounce="1000" :rules="[(val) => !!val || 'this field is required.']" outlined rounded v-model="silo.capacity" type="number" label="Capacity" />
          </td>
          <td class="text-left">
            <center>
              <q-btn style="margin-top: -20px" @click="calculateVolumenM3(idx, silo)" flat dense icon="edit" color="primary" />
              <q-btn style="margin-top: -20px" @click="deleteSilo(idx)" flat dense icon="delete" color="red-9" />
            </center>
          </td>
        </tr>
      </tbody>
    </q-markup-table>
    <q-dialog v-model="siloModal">
      <q-card class="round-10" style="max-width: 800px">
        <q-card-section>
          <p class="text-h5 text-primary text-bold text-capitalize text-left text-capitalize">
            Additional information
            <span class="float-right" style="margin-top: -10px">
              <q-btn flat dense icon="close" v-close-popup color="red-9" />
            </span>
          </p>
        </q-card-section>
        <q-card-section>
          <modalField @setSiloComplement="setSiloComplement" :volumen="parseFloat(volumen)" :suggests="suggest" :indexed="selectedSiloIdx" :silo="siloSelect" />
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import modalField from './siloOtherField'
import lingitudeSelector from './partials/longitudeSelector.vue'
import { deleteSiloRequisition } from 'src/api/requisitions'

export default {
  // name: 'ComponentName',
  props: {
    silos: Array,
    productsList: Array,
  },
  computed: {
    products () {
      return this.productsList.map(data => {
        return {
          label: data.name,
          density: data.density
        }
      })
    }
  },
  components: {
    modalField,
    lingitudeSelector,
  },
  data() {
    return {
      types: ['Fondo conico', 'Fondo plano'],
      render: true,
      siloModal: false,
      selectedSiloIdx: null,
      siloSelect: {},
      volumen: 0,
      suggest: [],
      voltagesUnitites: [
        "220/380 V - 3F – 50Hz",
        "254/440V - 3F – 60Hz",
        "277/460V - 3F – 60Hz",
        "220/480V - 3F – 60Hz"
      ]
    };
  },
  methods: {
    setSilo () {
      this.$emit('setSilos', this.silos)
      this.reRender()
    },
    reRender () {
      this.render = false
      this.render = true
    },
    setProductDensity (idx) {
      const search = this.products.find(data => data.label === this.silos[idx].product)
      this.silos[idx].density = `${search.density} KG/M3`
      this.setSilo()
    },
    openSiloModal (idx, silo) {
      if (!silo.type) {
        this.$SendNotify("negative", 'Select the type of silo', "red-9")
        return false
      }
      if (!silo.product) {
        this.$SendNotify("negative", 'Select the silo product', "red-9")
        return false
      }
      if (!silo.density) {
        this.$SendNotify("negative", 'Insert the density of the product', "red-9")
        return false
      }
      if (!silo.capacity) {
        this.$SendNotify("negative", 'Enter silo capacity', "red-9")
        return false
      }
      this.setSilo()
      this.selectedSiloIdx = idx
      this.siloSelect = silo
      console.log(silo)
      this.siloModal = true
    },
    calculateVolumenM3 (idx, silo) {
      this.volumen = 0
      if (!silo.type) {
        this.$SendNotify("negative", 'Select the type of silo', "red-9")
        return false
      }
      if (!silo.product) {
        this.$SendNotify("negative", 'Select the silo product', "red-9")
        return false
      }
      if (!silo.density) {
        this.$SendNotify("negative", 'Insert the density of the product', "red-9")
        return false
      }
      if (!silo.capacity) {
        this.$SendNotify("negative", 'Enter silo capacity', "red-9")
        return false
      }
      const tnM3 = parseFloat(silo.density) / 1000
      this.volumen = parseFloat(silo.capacity) / parseFloat(tnM3) / 1.06
      this.volumen = this.volumen.toFixed(2)
      this.openSiloModal(idx, silo)
    },
    setSiloComplement (silo) {
      this.silos[this.selectedSiloIdx] = silo
      this.setSilo()
      this.siloModal = false
    },
    deleteSilo (idx) {
      this.$q.dialog({
        title: 'Delete requisition silo',
        message: '¿Are you sure you want to delete this requisition silo?',
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
        this.cofirmDeleteSilo(idx)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    cofirmDeleteSilo (idx) {
      if (this.silos[idx].id) {
        return deleteSiloRequisition(this.silos[idx].id, (resp) => {
          this.silos.splice(idx, 1)
          this.setSilo()
          this.$SendNotify("negative", resp.data.success, "red-9");
        }, (err) => {
          this.$SendNotify("negative", err.message, "red-9");
        })
        return false
      }
      this.silos.splice(idx, 1)
      this.setSilo()
    },
    setUnitOfMeasure (idx, value, model) {
      if (this.silos[idx][model]) {
        const modelS = '' + this.silos[idx][model]
        const label = modelS.split(' ')
        this.silos[idx][model] = `${label.shift()} ${value}`
      } else {
        this.silos[idx][model] = value
      }
      this.reRender()
    },
    clearVoltage (idx) {
      this.silos[idx].voltage = ''
      this.reRender()
    }
  }
};
</script>
