<template>
  <q-form @submit="saveData">
    <div class="row no-gutters" style="margin-top: -30px">
      <!--<div class="col-12">
        <label class="text-bold font-12 text-primary">Silo model</label>
        <q-select dense rounded outlined v-model="silo.silo_model_id" :options="suggests" label="Selecciona una opción" :rules="[val => !!val || 'this field is required.']" :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : null" :option-label="opt => Object(opt) === opt && 'reference' in opt ?  opt.reference + ' - ' + opt.provider.name + ' - ' + opt.volumen + 'M3' : ''" emit-value map-options></q-select>
      </div>-->
      <div class="col-12 q-mb-md">
        <label class="text-bold font-12 text-primary" for="">Volumen(M3): {{volumen}}</label>
      </div>
      <section class="silos-complements full-width">
        <q-splitter
          v-model="splitterModel"
          style="height: auto; width: 100%"
        >
          <template v-slot:before>
            <q-tabs
              v-model="tab"
              vertical
              class="text-primary font-12"
            >
              <q-tab v-if="silo.type === 'Fondo conico'" name="hopper_type" label="Hopper and use" class="font-12" />
              <q-tab v-if="silo.type === 'Fondo conico'" name="discharge_gate" label="Discharge gate" class="font-12" />
              <q-tab name="Aerations" label="Aeration system" class="font-12" />
              <q-tab name="CatWalk" label="CatWalk" />
              <q-tab v-if="silo.type != 'Fondo conico'" name="unloading_system" label="Unloading system" />
              <q-tab v-if="silo.type != 'Fondo conico'" name="thermometry_system" label="Thermometry system" />
              <q-tab name="accesories" label="Accesories" />
            </q-tabs>
          </template>

          <template v-slot:after>
            <q-tab-panels
              v-model="tab"
              animated
              swipeable
              vertical
              transition-prev="jump-up"
              transition-next="jump-up"
            >
            <!--hooper and use-->
            <q-tab-panel v-if="silo.type === 'Fondo conico'" name="hopper_type" class="full-width">
              <div class="full-width" style="width: min-width: 320px">
                <div class="font-12 text-bold text-primary">Hopper type</div>
                  <p style="margin-top: -2px">
                    <span><q-radio v-model="complement.tolva" val="45" label="45°" /></span><span><q-radio v-model="complement.tolva" val="60" label="60°" /></span>
                  </p>
              </div>
              <div class="col-12 col-md-12">
                <label class="text-bold font-12 text-primary">Use</label>
                <q-select style="width: 240px" dense rounded outlined v-model="complement.use" :options="uses" label="Selecciona una opción" :rules="[val => !!val || 'this field is required.']"></q-select>
              </div>
              <div class="col-12" v-if="complement.use === 'Trabajo'">
                <label class="text-bold font-12 text-primary">Short legs base</label>
                <p style="margin-top: -2px">
                  <span><q-radio v-model="complement.legs" val="Si" label="Si" /></span><span><q-radio v-model="complement.legs" val="No" label="No" /></span>
                </p>
              </div>
              <div class="col-12" v-if="complement.use === 'Expedición'">
                <label class="text-bold font-12 text-primary">Truck dispatch structure</label>
                <p style="margin-top: -2px">
                  <span><q-radio v-model="complement.truck_dispatch_structure" val="Si" label="Si" /></span><span><q-radio v-model="complement.truck_dispatch_structure" val="No" label="No" /></span>
                </p>
              </div>
            </q-tab-panel>
            <!--hooper and use-->
            <q-tab-panel v-if="silo.type === 'Fondo conico'" name="discharge_gate" class="full-width">
              <div class="full-width" style="width: min-width: 320px">
                <div class="font-12 text-bold text-primary">Discharge gate</div>
                <div class="col-12 q-mt-md">
                  <label class="text-bold font-12 text-primary">Manual door</label>
                  <div class="row">
                    <div class="col-12 col-md-8">
                      <p style="margin-top: -2px">
                        <span><q-radio v-model="complement.manual_door" val="Si" label="Si" /></span><span><q-radio v-model="complement.manual_door" val="No" label="No" /></span>
                      </p>
                    </div>
                    <!--<div class="col-12 col-md-6" v-if="complement.manual_door == 'Si'">
                      <q-input rounded dense outlined label="Manual door quantity" v-model="complement.manual_door_quantity"></q-input>
                    </div>-->
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-12 col-md-8">
                      <label class="text-bold font-12 text-primary">Electric door</label>
                      <p style="margin-top: -2px">
                        <span><q-radio v-model="complement.electric_door" val="Si" label="Si" /></span><span><q-radio v-model="complement.electric_door" val="No" label="No" /></span>
                      </p>
                    </div>
                    <!--<div class="col-12 col-md-6 q-mt-md" v-if="complement.electric_door == 'Si'">
                      <q-input rounded dense outlined label="Electric door quantity" v-model="complement.electric_door_quantity"></q-input>
                    </div>-->
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                    <div class="col-12 col-md-8">
                      <label class="text-bold font-12 text-primary">Neumatic gate</label>
                      <p style="margin-top: -2px">
                        <span><q-radio v-model="complement.neumatic_gate" val="Si" label="Si" /></span><span><q-radio v-model="complement.neumatic_gate" val="No" label="No" /></span>
                      </p>
                    </div>
                    <!--<div class="col-12 col-md-6 q-mt-md" v-if="complement.neumatic_gate == 'Si'">
                      <q-input rounded dense outlined label="Neumatic door quantity" v-model="complement.neumatic_gate_quantity"></q-input>
                    </div>-->
                  </div>
                </div>
              </div>
            </q-tab-panel>
              <!--sistema de areacion-->
              <q-tab-panel name="Aerations" class="full-width">
                <div class="full-width" style="width: min-width: 320px">
                  <div class="font-12 text-bold text-primary">Select Aeration system</div>
                  <q-option-group
                    v-if="silo.type === 'Fondo plano'"
                    v-model="silo.aeration_system"
                    :options="aerationOptions"
                    inline
                    color="primary"
                  />
                  <q-option-group
                    v-if="silo.type === 'Fondo conico'"
                    v-model="silo.aeration_system"
                    :options="yesOrNoOption"
                    inline
                    color="primary"
                  />
                </div>
              </q-tab-panel>
              <!--Pasarelas-->
              <q-tab-panel name="CatWalk" class="full-width">
                <section class="full-width row" v-if="render">
                  <div class="col-12">
                    <q-scroll-area style="height: 400px; width: 400px" :thumb-style="thumbStyle" :content-style="contentStyle" :content-active-style="contentActiveStyle">
                      <div class="row">
                        <div class="col-12 col-md-6 font-12">
                          <div class="font-12 text-bold text-primary">Will have catwalk</div>
                          <div class="q-gutter-sm">
                            <q-radio @input="reRender" v-model="silo.runway" checked-icon="task_alt" unchecked-icon="panorama_fish_eye" val="Si" label="Si" />
                            <q-radio @input="clearCatWalkData" v-model="silo.runway" checked-icon="task_alt" unchecked-icon="panorama_fish_eye" val="No" label="No" />
                          </div>
                        </div>
                        <div class="col-12 col-md-6 font-12" v-if="silo.runway === 'Si'">
                          <label class="text-bold text-primary">Conveyor width</label>
                          <p style="margin-top: -2px">
                            <q-input @input="reRender" dense :rules="[(val) => !!val || 'this field is required.']" outlined rounded v-model="complement.conveyor_width" type="text" label="mm.">
                              <template v-slot:append>
                                <lingitudeSelector :model="'conveyor_width'" @unit-of-measure="setUnitOfMeasure" :type="'medidas'" />
                              </template>
                            </q-input>
                          </p>
                        </div>
                        <div class="col-12 col-md-6 font-12 q-pl-sm q-pr-sm" style="margin-top: -10px" v-if="silo.runway === 'Si'">
                          <label class="text-bold text-primary">Conveyor weight</label>
                          <p style="margin-top: -2px">
                            <q-input @input="reRender" dense outlined rounded v-model="complement.conveyor_weight" type="text" label="150 KG x metro.">
                              <template v-slot:append>
                                <lingitudeSelector :model="'conveyor_weight'" :type="'peso'" @unit-of-measure="setUnitOfMeasure" />
                              </template>
                            </q-input>
                          </p>
                        </div>
                        <div class="col-12 col-md-6 font-12 q-pl-sm" style="margin-top: -10px" v-if="silo.runway === 'Si'">
                          <label class="text-bold text-primary">Total length</label>
                          <p style="margin-top: -2px">
                            <q-input @input="reRender" dense :rules="[(val) => !!val || 'this field is required.']" outlined rounded v-model="complement.total_length" type="text" label="m [ft].">
                              <template v-slot:append>
                                <lingitudeSelector :model="'total_length'" :type="'medidas'" @unit-of-measure="setUnitOfMeasure" />
                              </template>
                            </q-input>
                          </p>
                        </div>
                        <div class="col-12 col-md-6 font-12 q-pl-sm" style="margin-top: -10px" v-if="silo.runway === 'Si'">
                          <label class="text-bold text-primary">Peak Support</label>
                          <p style="margin-top: -2px">
                            <span><q-radio v-model="complement.cupula" val="Si" @input="reRender" label="Si" /></span><span><q-radio @input="reRender" v-model="complement.cupula" val="No" label="No" /></span>
                          </p>
                        </div>
                        <div class="col-12 col-md-6 q-pl-sm" style="margin-top: -10px" v-if="silo.runway === 'Si' && complement.cupula == 'Si'">
                          <label class="text-bold text-primary">Peak support quantity</label>
                          <p style="margin-top: -2px">
                            <q-input dense outlined rounded v-model="complement.cupula_quantity" type="text" label="Quantity">
                            </q-input>
                          </p>
                        </div>
                        <div class="col-12 col-md-6 font-12 q-pl-sm" style="margin-top: -10px" v-if="silo.runway === 'Si'">
                          <label class="text-bold text-primary">GoalPost</label>
                          <p style="margin-top: -2px">
                            <span><q-radio v-model="complement.alero" val="Si" label="Si" @input="reRender" /></span><span><q-radio v-model="complement.alero" val="No" label="No" @input="reRender" /></span>
                          </p>
                        </div>
                        <div class="col-12 col-md-6 q-pl-sm" style="margin-top: -10px" v-if="silo.runway === 'Si' && complement.alero == 'Si'">
                          <label class="text-bold text-primary">GoalPost quantity</label>
                          <p style="margin-top: -2px">
                            <q-input dense outlined rounded v-model="complement.alero_quantity" type="text" label="Quantity">
                            </q-input>
                          </p>
                        </div>
                        <div class="col-12 col-md-6 font-12 q-pl-sm" style="margin-top: -10px" v-if="silo.runway === 'Si'">
                          <label class="text-bold text-primary">Tower Support</label>
                          <p style="margin-top: -2px">
                            <span><q-radio v-model="complement.tower_support" @input="reRender" val="Si" label="Si" /></span><span><q-radio @input="reRender" v-model="complement.tower_support" val="No" label="No" /></span>
                          </p>
                        </div>
                        <div class="col-12 col-md-6 q-pl-sm" style="margin-top: -10px" v-if="silo.runway === 'Si' && complement.tower_support == 'Si'">
                          <label class="text-bold text-primary">Tower support quantity</label>
                          <p style="margin-top: -2px">
                            <q-input dense outlined rounded v-model="complement.tower_support_quantity" type="text" label="Quantity">
                            </q-input>
                          </p>
                        </div>
                        <div class="col-12 col-md-6 font-12 q-pl-sm" style="margin-top: -10px" v-if="silo.runway === 'Si'">
                          <label class="text-bold text-primary">Goal frame support</label>
                          <p style="margin-top: -2px">
                            <span><q-radio v-model="complement.goal_frame_support" @input="reRender" val="Si" label="Si" /></span><span><q-radio @input="reRender" v-model="complement.goal_frame_support" val="No" label="No" /></span>
                          </p>
                        </div>
                        <div class="col-12 col-md-6 q-pl-sm" style="margin-top: -10px" v-if="silo.runway === 'Si' && complement.goal_frame_support == 'Si'">
                          <label class="text-bold text-primary">Goal frame quantity</label>
                          <p style="margin-top: -2px">
                            <q-input dense outlined rounded v-model="complement.goal_frame_support_quantity" type="text" label="Quantity">
                            </q-input>
                          </p>
                        </div>
                        <div class="col-12 col-md-6 font-12 q-pl-sm" style="margin-top: -10px" v-if="silo.runway === 'Si'">
                          <label class="text-bold text-primary">Maintenance platform</label>
                          <p style="margin-top: -2px">
                            <span><q-radio v-model="complement.maintenance_platform" @input="reRender" val="Si" label="Si" /></span><span><q-radio @input="reRender" v-model="complement.maintenance_platform" val="No" label="No" /></span>
                          </p>
                        </div>
                        <div class="col-12 col-md-6 q-pl-sm" style="margin-top: -10px" v-if="silo.runway === 'Si' && complement.maintenance_platform == 'Si'">
                          <label class="text-bold text-primary">Maintenance platform quantity</label>
                          <p style="margin-top: -2px">
                            <q-input dense outlined rounded v-model="complement.maintenance_platform_quantity" type="text" label="Quantity">
                            </q-input>
                          </p>
                        </div>
                        <q-tabs
                          inline-label
                          v-if="silo.runway === 'Si'"
                          v-model="lang"
                          style="margin-top: 0px"
                          class="text-primary text-left pull-left full-width float-right"
                        >
                          <q-tab name="es" label="Es" />
                          <q-tab name="en" label="En" />
                        </q-tabs>
                        <q-tab-panels v-model="lang" animated class="shadow-0 rounded-borders q-mt-md full-width">
                          <q-tab-panel name="es">
                            <div class="col-12" v-if="complement.tower_support === 'Si'" style="margin-top: -10px">
                              <label class="text-bold text-primary">Tower Support comment</label>
                              <q-input debounce="1000" @input="translate(complement.tower_support_comment, 'tower_support_comment_en')" counter dense :rules="[(val) => !!val || 'this field is required.', (val) => val.length < 201 || 'Maximum 200 characters']" outlined rounded v-model="complement.tower_support_comment" type="text" label="Comment">
                              </q-input>
                            </div>
                            <div v-if="silo.runway === 'Si'" class="col-12" style="margin-top: 0px">
                              <label class="text-bold text-primary">Other</label>
                              <q-input debounce="1000" counter outlined rounded type="textarea" :rules="[val => val.length < 251 || 'Maximum 250 characters']" v-model="complement.other" @input="translate(complement.other, 'other_en')" min-height="5rem" />
                            </div>
                          </q-tab-panel>
                          <q-tab-panel name="en">
                            <div class="col-12" v-if="complement.tower_support === 'Si'" style="margin-top: -10px">
                              <label class="text-bold text-primary">Tower Support comment</label>
                              <q-input counter dense :rules="[(val) => !!val || 'this field is required.', (val) => val.length < 201 || 'Maximum 200 characters']" outlined rounded v-model="complement.tower_support_comment_en" type="text" label="Comment">
                              </q-input>
                            </div>
                            <div v-if="silo.runway === 'Si'" class="col-12" style="margin-top: 0px">
                              <label class="text-bold text-primary">Other</label>
                              <q-input counter outlined rounded type="textarea" :rules="[val => val.length < 251 || 'Maximum 250 characters']" v-model="complement.other_en" min-height="5rem" />
                            </div>
                          </q-tab-panel>
                        </q-tab-panels>
                      </div>
                    </q-scroll-area>
                  </div>
                </section>
              </q-tab-panel>
              <!--Sistema de descarga-->
              <q-tab-panel name="unloading_system" class="full-width">
                <section class="full-width row">
                  <div class="col-12">
                    <div class="font-12 text-bold text-primary">Unloading system</div>
                    <q-option-group
                      v-model="silo.unloading_system"
                      :options="unloadingSystem"
                      inline
                      color="primary"
                    />
                  </div>
                  <div class="col-12 col-md-6 q-mt-sm" v-if="silo.unloading_system === 'Barredora' || silo.unloading_system === 'Paddle sweep' || silo.unloading_system === 'Hidrascrew'">
                    <label class="font-12 text-bold text-primary">Cap. sweep auger</label>
                    <p>
                      <q-input dense :rules="[(val) => !!val || 'this field is required.']" outlined rounded v-model="silo.capacity_sweepers" type="text" label="t/h [bu/h].">
                        <template v-slot:append>
                          <lingitudeSelector :model="'capacity_sweepers'" :type="'catwalk'" @unit-of-measure="setUnitOfMeasure" />
                        </template>
                      </q-input>
                    </p>
                  </div>
                  <div class="col-12 col-md-6 q-mt-md q-pr-sm text-left" v-if="silo.unloading_system === 'Power sweep'">
                    <label class="font-12 text-bold text-primary">Extension</label>
                    <p>
                      <q-input dense :rules="[(val) => !!val || 'this field is required.']" outlined rounded v-model="silo.powersweep_extension" type="text" label="m [ft].">
                        <template v-slot:append>
                          <lingitudeSelector :model="'powersweep_extension'" :type="'medidas'" @unit-of-measure="setUnitOfMeasure" />
                        </template>
                      </q-input>
                    </p>
                  </div>
                  <div class="col-12 col-md-6 q-mt-md q-pl-sm text-left" v-if="silo.unloading_system === 'Power sweep'">
                    <label class="font-12 text-bold text-primary">Capacity</label>
                    <p>
                      <q-input dense :rules="[(val) => !!val || 'this field is required.']" outlined rounded v-model="silo.powersweep_capacity" type="text" label="Th | Bu/h.">
                        <template v-slot:append>
                          <lingitudeSelector :model="'powersweep_capacity'" :type="'catwalk'" @unit-of-measure="setUnitOfMeasure" />
                        </template>
                      </q-input>
                    </p>
                  </div>
                  <div class="col-12 col-md-12 text-left" style="margin-top: -15px" v-if="silo.unloading_system === 'Power sweep'">
                    <label class="font-12 text-bold text-primary">Head</label>
                    <p>
                      <q-option-group
                        v-model="silo.powersweep_head"
                        :options="powersweepHeadOptions"
                        inline
                        color="primary"
                      />
                    </p>
                  </div>
                  <div class="col-12" v-if="silo.powersweep_head === 'Inclinado' && silo.unloading_system == 'Power sweep'">
                    <label class="font-12 text-bold text-primary">Angle</label>
                    <p>
                      <q-input dense :rules="[(val) => !!val || 'this field is required.']" outlined rounded v-model="complement.powersweep_head_angle" type="text" label="m [ft].">
                        <template v-slot:append>
                        </template>
                      </q-input>
                    </p>
                  </div>
                  <div class="col-12" v-if="silo.powersweep_head === 'Vertical' && silo.unloading_system == 'Power sweep'">
                    <label class="font-12 text-bold text-primary">Measures</label>
                    <p>
                      <q-input dense :rules="[(val) => !!val || 'this field is required.']" outlined rounded v-model="complement.powersweep_head_measures" type="text" label="M, Mm, Ft.">
                        <template v-slot:append>
                          <lingitudeSelector :model="'powersweep_head_measures'" :type="'medidas'" @unit-of-measure="setUnitOfMeasure" />
                        </template>
                      </q-input>
                    </p>
                  </div>
                  <div class="col-12 col-md-12 text-left" style="margin-top: 0px" v-if="silo.unloading_system">
                    <label class="font-12 text-bold text-primary">Unloading system comment</label>
                    <q-tabs
                      inline-label
                      v-model="lang"
                      style="margin-top: 0px"
                      class="text-primary text-left full-width pull-left float-right"
                    >
                      <q-tab name="es" label="Es" />
                      <q-tab name="en" label="En" />
                    </q-tabs>
                    <q-tab-panels v-model="lang" animated class="shadow-0 rounded-borders q-mt-md full-width">
                      <q-tab-panel name="es">
                        <p>
                          <q-input
                            v-model="silo.unloading_system_comment"
                            outlined
                            dense
                            debounce="1000"
                            @input="translate2(silo.unloading_system_comment, 'unloading_system_comment_en')"
                            counter
                            rounded
                            :rules="[
                              val => val.length < 201 || 'maximum 200 characters'
                            ]"
                          ></q-input>
                        </p>
                      </q-tab-panel>
                      <q-tab-panel name="en">
                        <p>
                          <q-input
                            v-model="silo.unloading_system_comment_en"
                            outlined
                            dense
                            counter
                            rounded
                            :rules="[
                              val => val.length < 201 || 'maximum 200 characters'
                            ]"
                          ></q-input>
                        </p>
                      </q-tab-panel>
                    </q-tab-panels>
                  </div>
                </section>
              </q-tab-panel>
              <!--Sistema de termometris-->
              <q-tab-panel name="thermometry_system" class="full-width">
                <section class="full-width row">
                  <div class="col-12 col-md-6">
                    <div class="font-12 text-bold text-primary">Thermometry</div>
                    <p>
                      <span><q-radio v-model="silo.thermometry_system" @input="reRender" val="Si" label="Si" /></span><span><q-radio v-model="silo.thermometry_system" @input="clearThermometrySystemType" val="No" label="No" /></span>
                    </p>
                  </div>
                  <div class="col-12 col-md-6 text-left" style="margin-top: 0px" v-if="silo.thermometry_system === 'Si'">
                    <label class="font-12 text-bold text-primary">Type</label>
                    <p>
                      <span><q-radio v-model="silo.thermometry_system_type" val="Portatil" label="Portatil" /></span><span><q-radio v-model="silo.thermometry_system_type" val="Automatico" label="Automatico" /></span>
                    </p>
                  </div>
                  <div class="col-12 col-md-12 text-left" style="margin-top: 0px" v-if="silo.thermometry_system === 'Si'">
                    <label class="font-12 text-bold text-primary">Thermometry system comment</label>
                    <q-tabs
                      inline-label
                      v-model="lang"
                      style="margin-top: 0px"
                      class="text-primary text-left full-width pull-left float-right"
                    >
                      <q-tab name="es" label="Es" />
                      <q-tab name="en" label="En" />
                    </q-tabs>
                    <q-tab-panels v-model="lang" animated class="shadow-0 rounded-borders q-mt-md full-width">
                      <q-tab-panel name="es">
                        <p>
                          <q-input
                            v-model="silo.thermometry_system_comment"
                            @input="translate2(silo.thermometry_system_comment, 'thermometry_system_comment_en')"
                            outlined
                            debounce="1000"
                            dense
                            counter
                            rounded
                            :rules="[
                              val => val.length < 201 || 'maximum 200 characters'
                            ]"
                          ></q-input>
                        </p>
                      </q-tab-panel>
                      <q-tab-panel name="en">
                        <p>
                          <q-input
                            v-model="silo.thermometry_system_comment_en"
                            outlined
                            dense
                            counter
                            rounded
                            :rules="[
                              val => val.length < 201 || 'maximum 200 characters'
                            ]"
                          ></q-input>
                        </p>
                      </q-tab-panel>
                    </q-tab-panels>
                  </div>
                </section>
              </q-tab-panel>
              <!--Sistema de termometris-->
              <q-tab-panel name="accesories" class="full-width">
                <section class="full-width row">
                  <div class="col-12 col-md-6">
                    <div class="font-12 text-bold text-primary">
                      Accesories
                      <q-btn flat size="10pt" rounded @click="listAccesoriesData" color="primary" dense icon="refresh">
                        <q-tooltip content-class="bg-primary">
                          Reload accesories
                        </q-tooltip>
                      </q-btn>
                    </div>
                  </div>
                  <div class="col-12 full-width q-mt-sm">
                    <div class="row">
                      <q-option-group
                        v-model="siloAccesories"
                        :options="accesories"
                        inline
                        type="checkbox"
                        color="primary"
                      />
                      <q-checkbox v-model="complement.other_accesories" label="Others"></q-checkbox>
                    </div>
                  </div>
                  <div class="col-12 q-mt-sm" v-if="complement.other_accesories">
                    <label class="font-12 text-bold text-primary">Accesories</label>
                    <q-tabs
                      inline-label
                      v-model="lang"
                      style="margin-top: 0px"
                      class="text-primary text-left full-width pull-left float-right"
                    >
                      <q-tab name="es" label="Es" />
                      <q-tab name="en" label="En" />
                    </q-tabs>
                    <q-tab-panels v-model="lang" animated class="shadow-0 rounded-borders q-mt-md full-width">
                      <q-tab-panel name="es">
                        <q-input
                          rounded
                          debounce="1000"
                          counter
                          :rules="[
                            vall => vall.length < 250 || 'El complemento debe tener maximo 250 caracteres'
                          ]"
                          outlined type="textarea"
                          v-model="complement.accesories_complement"
                          @input="translate(complement.accesories_complement, 'accesories_complement_en')
                        "></q-input>
                      </q-tab-panel>
                      <q-tab-panel name="en">
                        <q-input
                          rounded
                          outlined type="textarea"
                          v-model="complement.accesories_complement_en"
                        ></q-input>
                      </q-tab-panel>
                    </q-tab-panels>
                  </div>
                </section>
              </q-tab-panel>
            </q-tab-panels>
          </template>
        </q-splitter>
      </section>
      <div class="col-12 q-mt-sm text-center">
        <q-btn type="submit" :disable="uploadImage" rounded size="md" densed class="text-capitalize" :label="$t('save')" color="primary" />
      </div>
    </div>
  </q-form>
</template>

<script>
import { uploadCroquis } from 'src/api/requisitions'
import lingitudeSelector from './partials/longitudeSelector.vue'
import { listAccesory } from 'src/api/accesories'
import { generateKey, translate } from 'src/api/translate'

export default {
  // name: 'ComponentName',
  props: {
    indexed: Number,
    silo: Object,
    volumen: Number,
    suggests: Array
  },
  computed: {
  },
  components: {
    lingitudeSelector
  },
  data () {
    return {
      complement: {
        conveyor_weight: '150',
        powersweep_head_angle: '27°',
        cupula: 'No',
        alero: 'No',
        tower_support: 'No',
        goal_frame_support: 'No'
      },
      uses: ['Humedo', 'Reposo', 'Expedición', 'Trabajo'],
      aerationOptions: [
        { label: 'Ariacion channels', value: 'Ariacion channels' },
        { label: 'Full floor', value: 'Full floor' },
      ],
      yesOrNoOption: [
        { label: 'Si', value: 'Si' },
        { label: 'No', value: 'No' },
      ],
      siloAccesories: [],
      accesories: [],
      unloadingSystem: [
        {
          label: 'Sweep auger',
          value: 'Barredora'
        },
        {
          label: 'Power sweep',
          value: 'Power sweep'
        },
        {
          label: 'Paddle sweep',
          value: 'Paddle sweep'
        },
        {
          label: 'Hidrascrew',
          value: 'Hidrascrew'
        }
      ],
      croquis: null,
      oldCroquis: null,
      uploadImage: false,
      tab: this.silo.type === 'Fondo conico' ? 'hopper_type' : 'Aerations',
      splitterModel: 40,
      powersweepHeadOptions: [
        {
          label: 'Horizontal',
          value: 'Horizontal'
        },
        {
          label: 'Inclinado',
          value: 'Inclinado'
        },
        {
          label: 'Vertical',
          value: 'Vertical'
        }
      ],
      render: true,
      contentStyle: {
        backgroundColor: 'rgba(0,0,0,0.02)',
        color: '#555'
      },
      contentActiveStyle: {
      },
      thumbStyle: {
        right: '2px',
        borderRadius: '5px',
        backgroundColor: '#033a78',
        width: '5px',
        opacity: 0.75
      },
      otherAccesories: false,
      lang: 'es'
    }
  },
  methods: {
    saveData () {
      const validate = this.validateData()
      if (validate) {
        return false
      }
      // send data
      this.silo.complement = this.complement
      this.silo.accesories = this.siloAccesories
      this.$emit('setSiloComplement', this.silo)
    },
    uploadCroquis () {
      this.loadingImage = true
      var formData = new FormData()
      formData.append('croquis', this.croquis)
      formData.append('oldCroquis', this.oldCroquis)
      this.uploadImage = true
      return uploadCroquis(formData, (resp) => {
          this.uploadImage = false
          this.silo.croquis = resp.data.success.croquis
          this.oldCroquis = resp.data.success.name
        }, (err) => {
          console.log(err);
            if (err.errors) {
              const message = Object.values(err.errors).shift();
              const newMessage = message.shift()
              this.$SendNotify("negative", `${newMessage}`, "red-9");
            } else {
              this.$SendNotify("negative", err.message, "red-9");
            }
            this.loading = false;
        });
    },
    clearCatWalkData () {
      this.complement.cupula = null
      this.complement.tower_support = null
      this.complement.alero = null
      this.complement.conveyor_width = null
      this.complement.total_length = null
      this.complement.total_length = null
      this.reRender()
    },
    clearThermometrySystemType () {
      this.silo.thermometry_system_type = null
      this.reRender()
    },
    setUnitOfMeasure (idx, value, model) {
      if (this.complement[model]) {
        const modelS = '' + this.complement[model]
        const label = modelS.split(' ')
        this.complement[model] = `${label.shift()} ${value}`
        this.reRender()
      } else if (this.silo[model]) {
        const modelS = '' + this.silo[model]
        const label = modelS.split(' ')
        this.silo[model] = `${label.shift()} ${value}`
        this.reRender()
      } else {
        return false
      }
    },
    reRender () {
      this.render = false
      this.render = true
    },
    validateData () {
      if (!this.silo.aeration_system) {
        this.$SendNotify('negative', 'Please select aeration system option', 'red')
        return true
      }
      if (!this.silo.runway) {
        this.$SendNotify('negative', 'Please select catwalk option', 'red')
        return true
      } else {
        if (this.silo.runway) {
          if (this.complement.alero === 'No') {
            this.complement.alero_quantity = null
          }
          if (this.complement.cupula === 'No') {
            this.complement.cupula_quantity = null
          }
          if (this.complement.tower_support === 'No') {
            this.complement.tower_support_quantity = null
            this.complement.tower_support_comment = null
          }
          if (this.complement.alero === 'Si' && !this.complement.alero_quantity) {
            this.$SendNotify('negative', 'Please enter goalpost quantity', 'red')
            return true
          }
          if (this.complement.cupula === 'Si' && !this.complement.cupula_quantity) {
            this.$SendNotify('negative', 'Please enter peak Support quantity', 'red')
            return true
          }
          if (this.complement.tower_support === 'Si' && !this.complement.tower_support_quantity) {
            this.$SendNotify('negative', 'Please enter tower Support quantity', 'red')
            return true
          }
        }
      }
      if (this.silo.type === 'Fondo plano') {
        if (!this.silo.thermometry_system) {
          this.$SendNotify('negative', 'Please select thermometry system option', 'red')
          return true
        } else {
          if (this.silo.thermometry_system === 'Si') {
            if (!this.silo.thermometry_system_type) {
              this.$SendNotify('negative', 'Please select thermometry system type', 'red')
              return true
            }
          }
        }
        if (!this.silo.unloading_system) {
          this.$SendNotify('negative', 'Please select unloading system option', 'red')
          return true
        } else {
          if (this.silo.unloading_system === 'Barredora' || this.silo.unloading_system === 'Paddle sweep' || this.silo.unloading_system === 'Hidrascrew') {
            if (!this.silo.capacity_sweepers) {
              this.$SendNotify('negative', 'Please enter capacity sweep auger', 'red')
              return true
            }
          } else {
            if (!this.silo.powersweep_extension) {
              this.$SendNotify('negative', 'Please select powersweep extension', 'red')
              return true
            }
            if (!this.silo.powersweep_capacity) {
              this.$SendNotify('negative', 'Please select powersweep capacity', 'red')
              return true
            }
            if (!this.silo.powersweep_head) {
              this.$SendNotify('negative', 'Please select powersweep head', 'red')
              return true
            }
          }
        }
      }
      if (this.silo.type === 'Fondo conico') {
        if (!this.complement.tolva) {
          this.$SendNotify('negative', 'Please select tolva option', 'red')
          return true
        }
        if (!this.complement.use) {
          this.$SendNotify('negative', 'Please select use option', 'red')
          return true
        }
      }
    },
    async listAccesoriesData () {
      await listAccesory()
        .then(resp => {
          this.accesories = resp.data.success.map(data => {
            return {
              label: data.name,
              value: data.name
            }
          })
        })
        .catch(err => {
          if (err.error) {
            if (typeof err.error === 'object') {
              const message = Object.values(err.error).shift();
              if (message.length > 0) {
                const newMessage = message.shift()
                this.$SendNotify("negative", `${newMessage}`, "red-9");
              }
            } else {
              this.$SendNotify("negative", `${err.error}`, "red-9");
            }
          } else {
            this.$SendNotify("negative", err.message, "red-9");
          }
        })
    },
    translate (body, model) {
      let data = {}
      data.text = body
      data.source = 'es'
      data.target = 'en'
      return translate(data, (resp) => {
        this.complement[model] = resp.data.success
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      });
    },
    translate2 (body, model) {
      let data = {}
      data.text = body
      data.source = 'es'
      data.target = 'en'
      return translate(data, (resp) => {
        this.silo[model] = resp.data.success
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      });
    }
  },
  beforeMount () {
    this.listAccesoriesData()
    this.complement = this.silo.complement ? this.silo.complement : {
      conveyor_weight: '150',
      cupula: 'No',
      alero: 'No',
      tower_support: 'No',
      goal_frame_support: 'No'
    }
    this.siloAccesories = this.silo.accesories
  }
}
</script>
