<template>
  <q-table
    :pagination.sync="pagination"
    ref="requisitionTable"
    tabindex="0"
    :filter="search"
    :data="typeRequisition == 'silo' ? requisitions : requisitions"
    :columns="typeRequisition == 'silo' ? columns : columnsMaterial"
    row-key="id"
    class="shadow-0 table round-10"
  >
    <template v-slot:top-left>
      <div class="row">
        <p class="font-18 text-primary text-bold">
          {{$t('requisition')}}
          <span v-if="typeRequisition == 'material'">Material</span>
          <span v-else>Silo</span>
        </p>
        <q-btn :to="typeRequisition == 'silo' ? 'requisitions/create?type=silo' : 'requisitions/create?type=material'" icon="add" color="primary" flat dense siz style="margin-top: -12px">
          <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
            Create requisition
          </q-tooltip>
        </q-btn>
      </div>
    </template>
    <template v-slot:top-right>
      <div class="row">
        <div class="col-12 col-md-4 col-sm-12 q-pa-sm text-center">
          <label class="text-bold text-primary" style="font-size: 12pt">Start</label>
          <q-input @input="filterByDate" type="date" outlined dense rounded v-model="date.min" />
        </div>
        <div class="col-12 col-md-4 col-sm-12 q-pa-sm text-center">
          <label class="text-bold text-primary" style="font-size: 12pt">End</label>
          <q-input @input="filterByDate" type="date"  outlined dense rounded v-model="date.max"/>
        </div>
        <div class="col-12 col-md-4 col-sm-12 q-pa-sm text-center">
          <label class="text-bold text-primary" style="font-size: 12pt">Search</label>
          <q-input rounded label="Search" dense outlined  debounce="300" v-model="search" class="q-pl-sm q-pr-sm q-mb-sm" placeholder="">
          </q-input>
        </div>
      </div>
    </template>
    <template v-slot:body="props">
      <q-tr :props="props" v-if="typeRequisition == 'silo'">
        <q-td key="id" :props="props">
          <p class="font-11">{{props.row.id}}</p>
        </q-td>
        <q-td key="code" :props="props">
          <p class="font-11">{{props.row.reference}}</p>
        </q-td>
        <q-td key="manual" :props="props">
          <p class="font-11">{{props.row.reference_manual}}</p>
        </q-td>
        <q-td key="name" :props="props">
          <p class="font-11 text-capitalize">{{props.row.title}}</p>
        </q-td>
        <q-td key="country" :props="props">
          <p class="font-11 text-capitalize">{{props.row.country}}</p>
        </q-td>
        <q-td key="silos" :props="props">
          <p class="font-11 text-capitalize">{{props.row.total_silo}}</p>
        </q-td>
        <q-td key="user" :props="props">
          <p class="font-11 text-capitalize">{{props.row.user ? props.row.user : '-'}}</p>
        </q-td>
        <q-td key="option" :props="props">
          <q-btn flat dense icon="edit" color="primary" :to="`/dashboard/requisitions/edit/${props.row.uuid}?type=silo`">
            <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
              Edit requisition
            </q-tooltip>
          </q-btn>
          <q-btn flat dense icon="picture_as_pdf" color="orange-9" @click="$emit('showProviderModalOpen', props.row)">
            <q-tooltip content-class="bg-orange text-capitalize" :offset="[10, 10]">
              Generate and Send requisition email
            </q-tooltip>
          </q-btn>
          <q-btn v-if="user.rol === 'admin'" flat dense icon="delete" color="red-9" @click="confirmDelete(props.row)">
            <q-tooltip content-class="bg-red-9 text-capitalize" :offset="[10, 10]">
              Delete requisition
            </q-tooltip>
          </q-btn>
        </q-td>
      </q-tr>
      <q-tr :props="props" v-if="typeRequisition == 'material'">
        <q-td key="id" :props="props">
          <p class="font-11">{{props.row.id}}</p>
        </q-td>
        <q-td key="reference" :props="props">
          <p class="font-11">{{props.row.reference_manual}}</p>
        </q-td>
        <q-td key="manual" :props="props">
          <p class="font-11">{{props.row.reference}}</p>
        </q-td>
        <q-td key="voltage" :props="props">
          <p class="font-11">{{props.row.voltage}}</p>
        </q-td>
        <q-td key="country" :props="props">
          <p class="font-11">{{props.row.country}}</p>
        </q-td>
        <q-td key="providers" :props="props">
          <p class="font-11">{{props.row.providers}}</p>
        </q-td>
        <q-td key="option" :props="props">
          <q-btn flat dense icon="edit" color="primary" :to="`/dashboard/requisitions/edit/${props.row.uuid}?type=material`">
            <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
              Edit requisition
            </q-tooltip>
          </q-btn>
          <q-btn flat dense icon="picture_as_pdf" color="orange-9" @click="$emit('showProviderModalOpen', props.row)">
            <q-tooltip content-class="bg-orange text-capitalize" :offset="[10, 10]">
              Generate and Send requisition email
            </q-tooltip>
          </q-btn>
          <q-btn v-if="user.rol === 'admin'" flat dense icon="delete" color="red-9" @click="confirmDelete(props.row)">
            <q-tooltip content-class="bg-red-9 text-capitalize" :offset="[10, 10]">
              Delete requisition
            </q-tooltip>
          </q-btn>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script>

export default {
  // name: 'ComponentName',
  props: {
    requisitions: Array,
    typeRequisition: String
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    }
  },
  components: {
  },
  data () {
    return {
      pagination: {
        sortBy: 'ASC',
        descending: false,
        page: 1,
        rowsPerPage: 12
      },
      loading: false,
      columns: [
        { name: 'id', required: true, label: 'Id', align: 'center', field: row => row._id, sortable: false, classes: 'ellipsis', style: 'width: 100px' },
        { name: 'code', required: true, label: 'Reference', align: 'center', field: row => row._id, sortable: false, classes: 'ellipsis', style: 'width: 100px' },
        { name: 'manual', required: true, label: 'Internal reference ', align: 'center', field: row => row._id, sortable: false, classes: 'ellipsis', style: 'width: 100px' },
        { name: 'name', align: 'center', label: 'Title', field: row => row.name, sortable: false },
        { name: 'country', align: 'center', classes: 'ellipsis', label: 'Country', field: row => row.email, sortable: false, align: 'center', style: 'width: 100px' },
        { name: 'silos', label: 'Total silos', field: row => row.role, align: 'center', sortable: false },
        { name: 'user', label: 'Usuario', field: row => row.user, align: 'center', sortable: false },
        { name: 'option', align: 'center', label: 'Show', sortable: false }
      ],
      columnsMaterial: [
        {name: 'id', required: true, label: 'Id', align: 'center', field: row => row.id, sortable: false, classes: 'ellipsis', style: 'width: 100px' },
        {name: 'reference', required: true, label: 'Reference', align: 'center', field: row => row.reference, sortable: false, classes: 'ellipsis', style: 'width: 100px' },
        { name: 'manual', required: true, label: 'Internal reference ', align: 'center', field: row => row._id, sortable: false, classes: 'ellipsis', style: 'width: 100px' },
        {name: 'voltage', required: true, label: 'Voltage', align: 'center', field: row => row.voltage, sortable: false, classes: 'ellipsis', style: 'width: 100px' },
        {name: 'country', required: true, label: 'Country', align: 'center', field: row => row.country, sortable: false, classes: 'ellipsis', style: 'width: 100px' },
        {name: 'providers', required: true, label: 'Suppliers', align: 'center', field: row => row.providers, sortable: false, classes: 'ellipsis', style: 'width: 100px' },
        {name: 'option', required: true, label: 'Show', align: 'center', field: row => row.option, sortable: false, classes: 'ellipsis', style: 'width: 100px' },
      ],
      search: '',
      date: {}
    }
  },
  methods: {
    confirmDelete (requisition) {
      this.$q.dialog({
        title: 'Delete requisition',
        message: '¿Are you sure you want to delete this requisition?',
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
        this.delete(requisition.uuid)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    delete (id) {
      if (this.typeRequisition == 'silo') {
        this.$store.dispatch("requisition/removeRequisition", id)
          .then(resp => {
            this.loading = false
            this.requisition = {}
            this.$SendNotify("negative", resp.data.success, "red-9")
            this.$emit('listRequisition')
          })
          .catch(err => {
            console.log(err);
            if (err.errors) {
              const message = Object.values(err.errors).shift();
              const newMessage = message.shift()
              this.$SendNotify("negative", `${newMessage}`, "red-9");
            } else {
              this.$SendNotify("negative", err.message, "red-9");
            }
            this.loading = false;
          });
        return true
      } else {
        this.$store.dispatch("requisition/removeRequisitionMechanical", id)
          .then(resp => {
            this.loading = false
            this.requisition = {}
            this.$SendNotify("negative", resp.data.success, "red-9")
            this.$emit('listRequisitionMechanical')
          })
          .catch(err => {
            console.log(err);
            if (err.errors) {
              const message = Object.values(err.errors).shift();
              const newMessage = message.shift()
              this.$SendNotify("negative", `${newMessage}`, "red-9");
            } else {
              this.$SendNotify("negative", err.message, "red-9");
            }
            this.loading = false;
          });
          return true;
      }
    },
    filterByDate() {
      if (!this.date.max) {
        return false
      }
      if (!this.date.min) {
        return false
      }
      if (!this.date.min) return false;
      if (!this.date.max) {
        this.date.max = this.getDate()
      }
      var min = this.date.min
      var max = this.date.max
      var query = "?start=" + min + "&end=" + max
      if (this.typeRequisition == 'silo') {
        this.$store.dispatch("requisition/listRequisitions", query)
          .then(resp => {
            this.allDomicilios = resp.data.success
          })
          .catch(err => {
            this.$SendNotify("negative", err, "red-9")
            console.log(err)
          });
        return true
      } else{
        this.$store.dispatch("requisition/listRequisitionsMechanical", query)
          .then((resp) => {
            this.allDomicilios = resp.data.success
          })
          .catch((err) => {
            console.log(err);
            if (err.errors) {
              const message = err.errors.shift();
              this.$Notify("negative", `${message.msg}`, "red-9");
            } else {
              this.$Notify("negative", err, "red-9");
            }
            this.loading = false;
          });
      }
    },
    getDate() {
      var d = new Date(Date.now()),
        month = "" + (d.getMonth() + 1),
        day = "" + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2) month = "0" + month;
      if (day.length < 2) day = "0" + day;

      return [year, month, day].join("-");
    }
  }
}
</script>
