<template>
  <q-page>
    <addRequisition />
  </q-page>
</template>

<script>
import addRequisition from 'src/components/back/requisition/add.vue'

export default {
  name: 'mainRequisition',
  components: {
    addRequisition
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
