<template>
  <q-page>
    <indexRequisition />
  </q-page>
</template>

<script>
import indexRequisition from 'src/components/back/requisition/main.vue'

export default {
  name: 'mainRequisition',
  components: {
    indexRequisition
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
