<template>
  <div class="full-width row q-pa-lg">
    <div class="col-12">
      <q-card class="round-10">
        <q-card-section>
          <p class="font-18 text-primary text-bold text-capitalize">
            <span v-if="!$route.params.id">{{$t('newItem')}}</span>
            <span v-else>{{$t('editItem')}}</span>
          </p>
        </q-card-section>
        <q-card-section>
          <formClient />
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>
import formClient from './components/form'

export default {
  name: 'maincomponent',
  components: {
    formClient
  },
  computed: {
  },
  data () {
    return {
    }
  },
  methods: {
    listProviders () {
      this.$store.dispatch('provider/all', '')
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  beforeMount () {
    this.listProviders()
  }
}
</script>
