<template>
  <div class="full-width q-pa-lg row">
    <div class="col-12">
      <tableItems :data="items" />
    </div>
  </div>
</template>

<script>
import tableItems from './components/table'

export default {
  name: 'maincomponent',
  components: {
    tableItems
  },
  computed: {
    items () {
      return this.$store.getters['item/items']
    }
  },
  data () {
    return {
    }
  },
  methods: {
    list () {
      this.$store.dispatch('item/all')
        .then((resp) => {
        })
        .catch((err) => {
          this.$SendNotify('negative', err, 'red')
          console.log(err)
        })
    }
  },
  beforeMount () {
    this.list()
  }
}
</script>
