<template>
  <q-list>
    <q-item to="/dashboard" clickable v-ripple class="q-pa-none" :class="{ 'active': $route.path === '/dashbord' }">
      <q-item-section class="q-pt-sm q-pb-sm desktop-only">
        <q-item-label class="text-center">
          <q-img src="images/logo.png" width="170px" />
        </q-item-label>
      </q-item-section>
      <q-item-section class="q-pt-sm q-pb-sm mobile-only" v-show="mini">
        <q-item-label class="text-center">
          <q-img src="images/logo.png" width="130px" />
        </q-item-label>
      </q-item-section>
    </q-item>
    <q-separator color="secondary" class="" />
    <q-item v-if="user.rol !== 'CAD'" clickable v-ripple class="q-pt-none q-pb-none" :class="{ 'active': $route.path === '/dashboard/quotes' || $route.path === '/dashboard/items' || $route.path === '/dashboard/trash' || $route.path === '/dashboard/items/create' || $route.path === '/dashboard/quotes/create'}">
      <q-item-section avatar>
        <q-avatar size="30pt" color="primary" text-color="white" icon="request_quote" />
      </q-item-section>
      <q-item-section class="q-pt-md">
        <p class="font-12 text-weight-bolder text-primary text-capitalize">
          {{$t('quote')}}
        </p>
      </q-item-section>
      <q-menu
        anchor="top right"
        self="top left"
      >
        <q-list>
          <q-item to="/dashboard/quotes" clickable v-ripple class="q-pt-none q-pb-none" :class="{ 'active': $route.path === '/dashbord/quotes' }">
            <q-item-section avatar>
              <q-avatar size="30pt" color="primary" text-color="white" icon="request_quote" />
            </q-item-section>
            <q-item-section class="q-pt-md">
              <p class="font-12 text-weight-bolder text-primary text-capitalize">
                {{$t('quote')}}
              </p>
            </q-item-section>
          </q-item>
          <q-item to="/dashboard/items" clickable v-ripple class="q-pt-none q-pb-none" :class="{ 'active': $route.path === '/dashbord/items' }">
            <q-item-section avatar>
              <q-avatar size="30pt" color="primary" text-color="white" icon="category" />
            </q-item-section>
            <q-item-section class="q-pt-md">
              <p class="font-12 text-weight-bolder text-primary text-capitalize">
                {{$t('items')}}
              </p>
            </q-item-section>
          </q-item>
          <q-item to="/dashboard/trash" clickable v-ripple class="q-pt-none q-pb-none" :class="{ 'active': $route.path === '/dashbord/quotes' }">
            <q-item-section avatar>
              <q-avatar size="30pt" color="primary" text-color="white" icon="recycling" />
            </q-item-section>
            <q-item-section class="q-pt-md">
              <p class="font-12 text-weight-bolder text-primary text-capitalize">
                Quote Trash
              </p>
            </q-item-section>
          </q-item>
        </q-list>
      </q-menu>
    </q-item>
    <q-item clickable v-ripple class="q-pt-none q-pb-none" :class="{ 'active': $route.path === '/dashboard/requisitions' ||  $route.path === '/dashboard/products' ||  $route.path === '/dashboard/accesories' || $route.path === '/dashboard/products/create' || $route.path === '/dashboard/requisitions/create'}">
      <q-item-section avatar>
        <q-avatar size="30pt" color="primary" text-color="white" icon="pending_actions" />
      </q-item-section>
      <q-item-section class="q-pt-md">
        <p class="font-12 text-weight-bolder text-primary text-capitalize">
          {{$t('requisition')}}
        </p>
      </q-item-section>
      <q-menu
        anchor="top right"
        self="top left"
      >
        <q-list>
          <q-item to="/dashboard/requisitions?type=silo" clickable v-ripple class="q-pt-none q-pb-none" :class="{ 'active': $route.path === '/dashbord/quotes' }">
            <q-item-section avatar>
              <q-avatar size="30pt" color="primary" text-color="white" icon="pending_actions" />
            </q-item-section>
            <q-item-section class="q-pt-md">
              <p class="font-12 text-weight-bolder text-primary text-capitalize">
                {{$t('silo')}}
              </p>
            </q-item-section>
          </q-item>
          <q-item to="/dashboard/requisitions?type=material " clickable v-ripple class="q-pt-none q-pb-none" :class="{ 'active': $route.path === '/dashbord/quotes' }">
            <q-item-section avatar>
              <q-avatar size="30pt" color="primary" text-color="white" icon="precision_manufacturing" />
            </q-item-section>
            <q-item-section class="q-pt-md">
              <p class="font-12 text-weight-bolder text-primary text-capitalize">
                Material Handling Equipment
              </p>
            </q-item-section>
          </q-item>
          <q-item to="/dashboard/products" clickable v-ripple class="q-pt-none q-pb-none" :class="{ 'active': $route.path === '/dashbord/products' }">
            <q-item-section avatar>
              <q-avatar size="30pt" color="primary" text-color="white" icon="kebab_dining" />
            </q-item-section>
            <q-item-section class="q-pt-md">
              <p class="font-12 text-weight-bolder text-primary text-capitalize">
                {{$t('products')}}
              </p>
            </q-item-section>
          </q-item>
          <q-item to="/dashboard/accesories" clickable v-ripple class="q-pt-none q-pb-none" :class="{ 'active': $route.path === '/dashbord/accesories' }">
            <q-item-section avatar>
              <q-avatar size="30pt" color="primary" text-color="white" icon="category" />
            </q-item-section>
            <q-item-section class="q-pt-md">
              <p class="font-12 text-weight-bolder text-primary text-capitalize">
                {{$t('accesory')}}
              </p>
            </q-item-section>
          </q-item>
        </q-list>
      </q-menu>
    </q-item>
    <q-item v-if="user.rol !== 'CAD'" to="/dashboard/purchase-orders" clickable v-ripple class="q-pt-none q-pb-none" :class="{ 'active': $route.path === '/dashbord/purchase-orders' }">
      <q-item-section avatar>
        <q-avatar size="30pt" color="primary" text-color="white" icon="shopping_basket" />
      </q-item-section>
      <q-item-section class="q-pt-md">
        <p class="font-12 text-weight-bolder text-primary text-capitalize">
          {{$t('purchaseOrder')}}
        </p>
      </q-item-section>
    </q-item>
    <q-separator v-if="user.rol !== 'CAD'" color="secondary" />
    <q-item v-if="user.rol !== 'CAD'" to="/dashboard/clients" clickable v-ripple class="q-pt-none q-pb-none" :class="{ 'active': $route.path === '/dashbord/clients' }">
      <q-item-section avatar>
        <q-avatar size="30pt" color="primary" text-color="white" icon="supervisor_account" />
      </q-item-section>
      <q-item-section class="q-pt-md">
        <p class="font-12 text-weight-bolder text-primary text-capitalize">
          {{$t('clients')}}
        </p>
      </q-item-section>
    </q-item>
    <q-item v-if="user.rol !== 'CAD'" to="/dashboard/dealers" clickable v-ripple class="q-pt-none q-pb-none" :class="{ 'active': $route.path === '/dashbord/dealers' }">
      <q-item-section avatar>
        <q-avatar size="30pt" color="primary" text-color="white" icon="agriculture" />
      </q-item-section>
      <q-item-section class="q-pt-md">
        <p class="font-12 text-weight-bolder text-primary text-capitalize">
          {{$t('dealers')}}
        </p>
      </q-item-section>
    </q-item>
    <q-item v-if="user.rol === 'admin' || user.rol === 'CAD'" to="/dashboard/providers" clickable v-ripple class="q-pt-none q-pb-none" :class="{ 'active': $route.path === '/dashbord/providers' }">
      <q-item-section avatar>
        <q-avatar size="30pt" color="primary" text-color="white" icon="precision_manufacturing" />
      </q-item-section>
      <q-item-section class="q-pt-md">
        <p class="font-12 text-weight-bolder text-primary text-capitalize">
          {{$t('provider')}}
        </p>
      </q-item-section>
    </q-item>
    <q-separator color="secondary" />
    <q-item v-if="user.rol === 'admin'" to="/dashboard/users" clickable v-ripple class="q-pt-none q-pb-none" :class="{ 'active': $route.path === '/dashbord/users' }">
      <q-item-section avatar>
        <q-avatar size="30pt" color="primary" text-color="white" icon="person" />
      </q-item-section>
      <q-item-section class="q-pt-md">
        <p class="font-12 text-weight-bolder text-primary text-capitalize">
          {{$t('person')}}
        </p>
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script>

export default {
  // name: 'ComponentName',
  props: {
    mini: Boolean
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    }
  },
  data () {
    return {
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
