.bg-main
  background-image: url('/images/bg-main.jpg')
  background-repeat: no-repeat
  background-size: cover
  object-fit: cover
  height: 100%

.main-overflow
  background: #0000005c
  height: 100vh
  width: 100vw

.font-14
  font-size: 14pt

.font-12
  font-size: 12pt

.font-10
  font-size: 10pt

.font-9
  font-size: 9pt !important

.font-11
  font-size: 11pt

.font-18
  font-size: 18pt

.font-20
  font-size: 20pt

.active
  background: #03903417

.q-dialog__backdrop
    background: rgb(0 0 0 / 24%) !important

.btn-edit-profile-photo
  width: 35px
  border-radius: 50%
  margin-top: -25px
  margin-left: 50px
  z-index: 9999999999999
  position: relative

.relative
  position: relative

.q-field--outlined.q-field--readonly
  .q-field__control:before
    border-style: dashed
    border-color: red !important

.price-label
  border-radius: 50px
  border: 1px solid rgba(0, 0, 0, 0.24)
  transition: border-color 0.36s cubic-bezier(0.4, 0, 0.2, 1)
  padding: .7em
  margin-top: -17px
  cursor: text

.price-label2
  border-radius: 50px
  border: 1px solid rgba(0, 0, 0, 0.24)
  transition: border-color 0.36s cubic-bezier(0.4, 0, 0.2, 1)
  padding: .9em
  margin-top: -17px
  cursor: text !important
  text-align: left

.price-label23
  border-radius: 50px
  border: 1px solid red
  border-style: dashed
  transition: border-color 0.36s cubic-bezier(0.4, 0, 0.2, 1)
  padding: .9em
  margin-top: -17px
  cursor: text !important
  text-align: left

.q-field__label2
  top: 5px
  left: -2px
  text-align: left
  transform: scale(0.75)
  font-size: 14px
  line-height: 20px
  font-weight: 400
  color: rgba(0, 0, 0, 0.6)

.q-router-link--exact-active
  background: #03903417
  border-radius: 0px 0px 0px 0px

.round-10
  border-radius: 10px !important

.form-card-login
  width: 100%

.q-menu
  border-radius: 10px 10px 10px 10px

.font-12
  font-size: 12pt !important

.cropModal
  width: 1000px
  height: 380px

.mechanic-requisition
  width: 1000px

.reload-product-mechanic
  position: absolute
  top: 0px
  left: 60px
