<template>
  <div class="row q-pa-lg">
    <div class="col-12">
      <tableProviders :data="providers" />
    </div>
  </div>
</template>

<script>
import tableProviders from './components/table'

export default {
  name: 'mainProviderss',
  components: {
    tableProviders
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    },
    providers () {
      return this.$store.getters['provider/providers']
    }
  },
  data () {
    return {
    }
  },
  methods: {
    getProviders () {
      this.$store.dispatch('provider/all', '')
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  beforeMount () {
  },
  created () {
    this.getProviders()
  }
}
</script>
