<template>
  <q-page>
    <addQuotes />
  </q-page>
</template>

<script>
import addQuotes from 'src/components/back/quote/add.vue'

export default {
  name: 'addQuote',
  components: {
    addQuotes
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
