<template>
  <q-page>
    <indexQuote />
  </q-page>
</template>

<script>
import indexQuote from 'src/components/back/quote/index.vue'

export default {
  name: 'mainQuote',
  components: {
    indexQuote
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
