<template>
  <div class="full-width row q-pa-lg">
    <div class="col-12">
      <q-card class="round-10">
        <q-card-section>
          <p class="font-18 text-primary text-bold text-capitalize">
            <span v-if="!$route.params.id">Create requisition {{ type }}</span>
            <span v-else>Edit requisition {{ type }}</span>
          </p>
        </q-card-section>
        <q-card-section v-if="render">
          <formRequisition v-if="type == 'silo'" @setTranslate="setTranslate" @saveRequisition="saveRequisition" :requisition="requisition" :loading="loading" />
          <formRequisitionMechanic @setTranslate="setTranslateMechanics" :requisitionObj="requisitionMechanic" v-else />
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>
import formRequisition from './components/form'
import formRequisitionMechanic from './mechanics/form'
import { filterRequisitions, filterRequisitionsMaterial  } from 'src/api/requisitions'

export default {
  name: 'maincomponent',
  components: {
    formRequisition,
    formRequisitionMechanic
  },
  computed: {
  },
  data () {
    return {
      requisition: {
        selected_provider: 15,
        review_up: false,
        comments: '',
        comments_en: '',
        comments_pt: ''
      },
      requisitionMechanic: {
        refence: '',
        voltage: '',
        country: '',
        providers: [],
        comments: '',
        comments_en: '',
        comments_pt: ''
      },
      loading: false,
      render: true,
      type: 'silo'
    }
  },
  methods: {
    saveRequisition (requisition) {
      this.requisition = requisition
      if (this.requisition.id) {
        this.loading = true
        this.$store.dispatch("requisition/editRequisition", this.requisition)
          .then(resp => {
            this.loading = false
            this.requisition = {}
            this.$SendNotify("positive", resp.data.success, "primary")
            this.$RoutePush('/dashboard/requisitions?type=silo')
          })
          .catch(err => {
            console.log(err);
              if (err.errors) {
                const message = Object.values(err.errors).shift();
                const newMessage = message.shift()
                this.$SendNotify("negative", `${newMessage}`, "red-9");
              } else {
                this.$SendNotify("negative", err.message, "red-9");
              }
              this.loading = false;
          });
        return false
      }
      this.loading = true
      this.$store.dispatch("requisition/saveRequisitions", this.requisition)
        .then(resp => {
          this.loading = false
          this.requisition = {}
          this.$SendNotify("positive", resp.data.success, "primary")
          this.$RoutePush('/dashboard/requisitions?type=silo')
        })
        .catch(err => {
          console.log(err);
            if (err.errors) {
              const message = Object.values(err.errors).shift();
              const newMessage = message.shift()
              this.$SendNotify("negative", `${newMessage}`, "red-9");
            } else {
              this.$SendNotify("negative", err.message, "red-9");
            }
            this.loading = false;
        });
    },
    setTranslate (model, body) {
      this.requisition[model] = body
    },
    setTranslateMechanics (model, body) {
      this.requisitionMechanic[model] = body
    }
  },
  async beforeMount () {
    const { type } = this.$route.query
    this.type = type
    if (type == 'silo') {
      if (this.$route.params.id) {
        this.render = false
        return filterRequisitions(this.$route.params.id, (resp) => {
          this.requisition = resp.data.success
          this.requisition.review_up = false
          this.render = true
        }, (err) => {
          this.$Notify("negative", err.message, "red-9");
        });
      }
      return true
    } else {
      if (this.$route.params.id) {
        this.render = false
        try {
          const { data } = await filterRequisitionsMaterial(this.$route.params.id)
          this.requisitionMechanic = data.success
          this.requisitionMechanic.review_up = false
          this.render = true
        } catch (error) {
          console.log(error)
        }
      }
    }
  }
}
</script>
