<template>
  <div class="full-width q-pa-lg row">
    <div class="col-12">
      <tableRequisition :typeRequisition="typeDOcument" @showProviderModalOpen="showProviderModalOpen" @sendRequisition="sendRequisition" @filterRequisition="filterRequisition" @showComments="showComments" @listRequisitionMechanical="listRequisitionMechanical" @listRequisition="listRequisition" :requisitions="requisitions" />
    </div>
    <q-dialog v-model="showCommentsModal">
      <q-card style="width: 450px">
        <q-card-section>
          <p class="text-primary text-bold text-capitalize text-h5" v-if="type === 1">
            Comments requisition {{requisition.id}}
          </p>
          <p class="text-primary text-bold text-capitalize text-h5" v-if="messages.id">
            Requisition {{messages.reference}}
          </p>
          <q-btn flat dense icon="close" class="absolute-top-right" v-close-popup color="red-9">
            <q-tooltip content-class="bg-red-9 text-capitalize" :offset="[10, 10]">
             Close
            </q-tooltip>
          </q-btn>
          <q-separator />
        </q-card-section>
        <q-card-section>
          <p class="font-12 text-justify" v-if="type === 1">
            {{requisition.comments}}
          </p>
          <div class="full-width" v-if="type === 2">
            <pdfRequisition :requisition="messages" />
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="showProviderModal">
      <q-card style="width: 650px" class="round-10">
        <q-card-section>
          <p class="text-primary text-bold text-capitalize text-h5">
            Requisition {{ requisition.reference }}
          </p>
          <q-btn flat dense icon="close" class="absolute-top-right" style="top: 10px; right: 10px" v-close-popup color="red-9">
            <q-tooltip content-class="bg-red-9 text-capitalize" :offset="[10, 10]">
             Close
            </q-tooltip>
          </q-btn>
          <q-separator />
        </q-card-section>
        <q-card-section style="margin-top: -15px">
          <providerListSelector @close="showProviderModal = false" :requisition="requisition" :thermometryS="thermometrySiloProvider" :unloadingS="unloadingSiloProviders" :providersS="siloProviders" />
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="openModalPdfs">
      <q-card style="width: 650px" class="round-10">
        <q-card-section>
          <p class="text-primary text-bold text-capitalize text-h5">
            Requisition material {{ requisition.reference }}
          </p>
          <q-btn flat dense icon="close" class="absolute-top-right" style="top: 10px; right: 10px" v-close-popup color="red-9">
            <q-tooltip content-class="bg-red-9 text-capitalize" :offset="[10, 10]">
             Close
            </q-tooltip>
          </q-btn>
          <q-separator />
        </q-card-section>
        <q-card-section>
          <ListPdfMechanical :pdfs="pdfsGenerated" />
        </q-card-section>
        <q-card-section>
          <div class="row">
            <div class="col-12 col-md-4"></div>
            <div class="col-12 col-md-4" :class="{'q-pr-md': $q.screen.gt.sm}">
              <q-btn v-close-popup unelevated color="grey" rounded class="full-width" label="Cancel"></q-btn>
            </div>
            <div class="col-12 col-md-4" :class="{'q-pl-md': $q.screen.gt.sm}">
              <q-btn :loading="loadingPdfMechanical" @click="sendEmailsPdf" unelevated color="secondary" rounded class="full-width" label="Send email"></q-btn>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import tableRequisition from "./components/table";
import ListPdfMechanical from "./mechanics/listPdfs";
import pdfRequisition from "./components/pdfRequisition";
import providerListSelector from "./components/providerListSelector";
import { sendEmailMessage, generatePdfs } from 'src/api/requisitions'
import { sendEmailsToProviders } from 'src/api/requisitions'

export default {
  // name: 'ComponentName',
  components: {
    tableRequisition,
    pdfRequisition,
    providerListSelector,
    ListPdfMechanical,
  },
  computed: {
    requisitions() {
      return this.$store.getters["requisition/requisitions"];
    }
  },
  data () {
    return {
      showCommentsModal: false,
      requisition: {},
      messages: {},
      type: 1,
      showProviderModal: false,
      siloProviders: [
        { name: 'Symaga', email: 'ana.sanchez@symaga.com', id: 15 },
        { name: 'Sukup', email: 'eorozco@sukup.com', id: 16 },
        { name: 'MasterSilo', email: 'ignacio.cervera@silomaster.eu', id: 27 },
        { name: 'Silo Prado', email: 'g.moreno@pradosilos.com', id: 66 },
        { name: 'Simeza', email: 'pablo.garcia@simeza.com', id: 55 },
      ],
      unloadingSiloProviders: [
        { name: 'SUDENGA', email: 'rfastert@Sudenga.com', id: 20 },
        { name: 'Morillon', email: 'vincent@morillon.com.br', id: 28 },
      ],
      thermometrySiloProvider: [
        { name: 'Igrain', email: 'ta@i-grain.net', id: 24 },
      ],
      typeDOcument: 'silo',
      pdfsGenerated: [],
      openModalPdfs: false,
      loadingPdfMechanical: false
    }
  },
  methods: {
    listRequisition () {
      this.$store
        .dispatch("requisition/listRequisitions", '')
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err);
          if (err.errors) {
            const message = err.errors.shift();
            this.$SendNotify("negative", `${message.msg}`, "red-9");
          } else {
            this.$SendNotify("negative", err, "red-9");
          }
          this.loading = false;
        });
    },
    saverequisition (requisition) {
    },
    clearrequisition () {
      this.requisition = {
      }
    },
    filterRequisition (requisition) {
      this.$RoutePush('/dashboard/requisitions/edit/' + requisition.uuid)
    },
    removeRequisition (requisition) {
    },
    showComments (requisition) {
      this.requisition = requisition
      this.showCommentsModal = true
    },
    sendRequisition (requisition) {
      this.$q.dialog({
        title: 'Generate requisitions',
        message: 'The pdf of the requisitions of both silos and sweep auger and thermometry will be generated.',
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
        this.generatePdfs(requisition)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    generatePdfs (requisition) {
      return sendEmailMessage(requisition.id, (resp) => {
        this.messages = resp.data.success
        this.type = 2
        this.showCommentsModal = true
      }, (err) => {
        console.log(err);
        if (err.errors) {
          const message = Object.values(err.errors).shift();
          const newMessage = message.shift()
          this.$SendSendNotify("negative", `${newMessage}`, "red-9");
        } else {
          this.$SendSendNotify("negative", err.message, "red-9");
        }
      })
    },
    showProviderModalOpen (requisition) {
      if (this.typeDOcument == 'silo') {
        this.requisition = requisition
        this.showProviderModal = !this.showProviderModal
        return true
      } else {
        this.$q.dialog({
          title: 'Generate requisitions pdf',
          message: 'We will proceed to generate the pdf of the material handling equipment requisition',
          cancel: true,
          persistent: false,
          className: 'dialog-bg-red text-white'
        }).onOk(() => {
          this.requisition = requisition
          this.generatePdfsMechanical(requisition)
        })
      }
    },
    loadProviders () {
      this.$store.dispatch('provider/all', '?enable_pdf=true')
        .then((resp) => {
          resp.data.success.map(data => {
            const obj = {
              name: data.name,
              email: data.email,
              id: data.id
            }
            if (data.type === 'Silo') {
              this.siloProviders.push(obj)
            }
            if (data.type === 'Unloading') {
              this.unloadingSiloProviders.push(obj)
            }
            if (data.type === 'Thermometry') {
              this.thermometrySiloProvider.push(obj)
            }
          })
        })
        .catch((err) => {
          console.log(err)
        })
    },
    listRequisitionMechanical () {
      this.$store
        .dispatch("requisition/listRequisitionsMechanical", '')
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err);
          if (err.errors) {
            const message = err.errors.shift();
            this.$SendNotify("negative", `${message.msg}`, "red-9");
          } else {
            this.$SendNotify("negative", err, "red-9");
          }
          this.loading = false;
        });
    },
    async generatePdfsMechanical (requisition) {
      const datas = {
        requisitionId: requisition.id
      }
      try {
        this.$q.loading.show()
        const {data} = await generatePdfs(datas)
        this.pdfsGenerated = data.success
        this.openModalPdfs = true
      } catch (error) {
        if (error.errors) {
          const message = error.errors.shift();
          this.$SendNotify("negative", `${message.msg}`, "red-9");
        } else {
          this.$SendNotify("negative", error, "red-9");
        }
      } finally {
        this.$q.loading.hide()
      }
    },
    async sendEmailsPdf () {
      this.loadingPdfMechanical = true
      try {
        const data = {
          pdfs: this.pdfsGenerated
        }
        const response = await sendEmailsToProviders(data)
        if (response.data.success) {
          this.loadingPdfMechanical = false
          this.$SendNotify("positive", `${response.data.success}`, "primary");
          this.openModalPdfs = false
        }
      } catch (error) {
        if (error.errors) {
          const message = error.errors.shift();
          this.$SendNotify("negative", `${message.msg}`, "red-9");
        } else {
          this.$SendNotify("negative", error, "red-9");
        }
      } finally {
        this.loadingPdfMechanical = false
      }
    }
  },
  async created () {
    const { type } = this.$route.query
    if (type == 'silo') {
      await this.listRequisition()
      await this.loadProviders()
    } else {
      await this.listRequisitionMechanical()
    }
  },
  beforeMount () {
    const { type } = this.$route.query
    this.typeDOcument = type
  }
}
</script>
