<template>
  <div class="row q-pa-lg">
    <div class="col-12">
      <q-card class="round-10">
        <q-card-section>
          <p class="font-18 text-primary text-bold text-capitalize">
            <span v-if="!$route.params.id">{{$t('newClient')}}</span>
            <span v-else>{{$t('ditUser')}}</span>
          </p>
        </q-card-section>
        <q-card-section>
          <formUsers />
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>
import formUsers from './components/form'

export default {
  name: 'maincomponent',
  components: {
    formUsers
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    }
  },
  data () {
    return {
    }
  },
  methods: {
  },
  beforeMount () {
  },
  created () {
  }
}
</script>
