<template>
  <div class="row q-pa-lg">
    <div class="col-12">
      <tableUsers :data="users" />
    </div>
  </div>
</template>

<script>
import tableUsers from './components/table'

export default {
  name: 'maincomponent',
  components: {
    tableUsers
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    },
    users () {
      return this.$store.getters['user/users']
    }
  },
  data () {
    return {
    }
  },
  methods: {
    getUsers () {
      this.$store.dispatch('user/all')
        .then((resp) => {
        })
        .catch((err) => {
          console.log(err)
        })
    }
  },
  beforeMount () {
  },
  created () {
    this.getUsers()
  }
}
</script>
