<template>
  <q-page>
    <addProduct />
  </q-page>
</template>

<script>
import addProduct from 'src/components/back/products/add.vue'

export default {
  name: 'indexProducts',
  components: {
    addProduct
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
