<template>
  <q-page>
    <indexProduct />
  </q-page>
</template>

<script>
import indexProduct from 'src/components/back/products/index.vue'

export default {
  name: 'indexProducts',
  components: {
    indexProduct
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
