<template>
  <q-form @submit="saveClient" class="row" style="margin-top: -30px">
    <div class="col-12 col-md-6 q-pa-sm">
      <q-input v-model="provider.name" label="Name" rounded outlined :rules="[val => !!val || 'this field is required']" />
    </div>
    <div class="col-12 col-md-6 q-pa-sm">
      <q-input v-model="provider.manager" label="Manager" rounded outlined :rules="[val => !!val || 'this field is required']" />
    </div>
    <div class="col-12 col-md-6 q-pa-sm">
      <q-select @input="setCode" use-input hide-selected fill-input input-debounce="0" @filter="filterCitiesSelect" outlined label="Country" rounded v-model="provider.country" :options="countriesOptions" :option-value="opt => Object(opt) === opt && 'code' in opt ? opt.code : ''" :option-label="opt => Object(opt) === opt && 'name' in opt ? opt.name : ''" :rules="[val => !!val || 'this field is required.']" emit-value map-options />
    </div>
    <div class="col-12 col-md-6 q-pa-sm">
      <q-input v-model="provider.address" label="Address" rounded outlined :rules="[val => !!val || 'this field is required']" />
    </div>
    <div class="col-12 col-md-6 q-pa-sm">
      <q-input v-model="provider.email" label="Email" rounded outlined :rules="[val => !!val || 'This field is required.', val => val.includes('@') || 'The mail must have @', val => val.includes('.') || 'The email entered must end in .com, .org, etc']" />
    </div>
    <div class="col-12 col-md-6 q-pa-sm">
      <q-input v-model="provider.phone" label="Phone" rounded outlined :rules="[val => !!val || 'this field is required']" />
    </div>
    <div class="col-12 col-md-6 q-pa-sm">
      <label for="" class="text-primary font-12 text-bold">
        Type provider
      </label>
      <q-option-group v-model="provider.type" :options="types" color="primary" inline />
    </div>
    <div class="col-12 col-md-6 q-pa-sm">
      <q-checkbox v-model="provider.enable_pdf" label="Enable in requisition silo list" rounded outlined :rules="[val => !!val || 'this field is required']" />
    </div>
    <div class="col-12 text-center q-mt-lg">
      <q-btn :loading="loading" rounded size="md" densed class="text-capitalize" :label="$t('save')" type="submit" color="primary" />
    </div>
  </q-form>
</template>

<script>
import countrys from 'src/utilities/country.json'
import { show, editProvider } from 'src/api/provider'

export default {
  name: 'formAddClient',
  components: {
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    }
  },
  data () {
    return {
      provider: {
        enable_pdf: false
      },
      loading: false,
      countries: countrys,
      countriesOptions: countrys,
      types: [
        {
          label: 'Silo',
          value: 'Silo'
        },
        {
          label: 'Unloading',
          value: 'Unloading'
        },
        {
          label: 'Thermometry',
          value: 'Thermometry'
        }
      ]
    }
  },
  methods: {
    saveClient () {
      this.loading = true
      if (this.provider.id) {
        return editProvider(this.provider, (resp) => {
          this.$RoutePush('/dashboard/providers')
          this.$SendNotify('positive', resp.data.success, 'primary')
          this.loading = false
        }, (err) => {
          this.loading = false
          console.log(err)
          this.$SendNotify('negative', err, 'red-9')
        })
        return true
      }
      this.$store.dispatch('provider/add', this.provider)
        .then((resp) => {
          this.$SendNotify('positive', resp.data.success, 'primary')
          this.loading = false
          if (this.$route.path !== '/dashboard/items/create') {
            this.$RoutePush('/dashboard/providers')
          } else {
            document.querySelector('#closeModal').click()
          }
        })
        .catch((err) => {
          this.loading = false
          console.log(err)
          this.$SendNotify('negative', err, 'red-9')
        })
    },
    filterCitiesSelect (val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.countriesOptions = this.countries.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    setCode (country) {
      var search = this.countries.filter(data => {
        return data.code === country
      })
      this.provider.phone = search[0].dial_code
    }
  },
  beforeMount () {
    if (this.$route.params.id) {
      return show(this.$route.params.id, (resp) => {
        this.provider = resp.data.success
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      })
    }
  },
  created () {
  }
}
</script>
