<template>
  <q-form @submit="saveClient" class="row" style="margin-top: -30px">
    <div class="col-12 col-md-6 q-pa-sm">
      <q-input v-model="users.first_name" label="Name" rounded outlined :rules="[val => !!val || 'this field is required']" />
    </div>
    <div class="col-12 col-md-6 q-pa-sm">
      <q-input v-model="users.last_name" label="Last name" rounded outlined :rules="[val => !!val || 'this field is required']" />
    </div>
    <div class="col-12 col-md-12 q-pa-sm">
      <q-input v-model="users.email" label="Email" rounded outlined :rules="[val => !!val || 'This field is required.', val => val.includes('@') || 'The mail must have @', val => val.includes('.') || 'The email entered must end in .com, .org, etc']" />
    </div>
    <div v-if="$route.params.id" class="col-12 col-md-6 q-pa-sm">
      <q-input v-model="users.password" type="password" label="Password" rounded outlined :rules="[val => !!val || 'This field is required', val => val.length >= 8 || 'This field needs a minimum of 8 characters.']" />
    </div>
    <div v-if="$route.params.id" class="col-12 col-md-6 q-pa-sm">
      <q-input rounded outlined label="Confirm password" type="password" :rules="[val => !!val || 'This field is required', val => val.length >= 8 || 'This field needs a minimum of 8 characters.', val => val === users.password || 'Passwords do not match']" v-model="users.password_confirmation" label-color="grey" color="primary" />
    </div>
    <div class="col-12 col-md-12 q-pa-sm">
      <q-select outlined label="User type" rounded v-model="users.user_type_id" :options="type" :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : ''" :option-label="opt => Object(opt) === opt && 'label' in opt ? opt.label : ''" :rules="[val => !!val || 'this field is required.']" emit-value map-options />
    </div>
    <div class="col-12 text-center">
      <q-btn :loading="loading" rounded size="md" densed class="text-capitalize" :label="$t('save')" type="submit" color="primary" />
    </div>
  </q-form>
</template>

<script>
import { showUser, edit } from 'src/api/user'

export default {
  name: 'formAddClient',
  components: {
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    }
  },
  data () {
    return {
      users: {},
      type: [
        {
          id: 1,
          label: 'Support'
        },
        {
          id: 2,
          label: 'Standard'
        },
        {
          id: 3,
          label: 'Admin'
        },
        {
          id: 4,
          label: 'CAD'
        }
      ],
      loading: false
    }
  },
  methods: {
    saveClient () {
      this.loading = true
      if (this.users.id) {
        return edit(this.users, (resp) => {
          this.$RoutePush('/dashboard/users')
          this.$SendNotify('positive', resp.data.success, 'primary')
          this.loading = false
        }, (err) => {
          this.loading = false
          console.log(err)
          this.$SendNotify('negative', err, 'red-9')
        })
        return true
      }
      this.$store.dispatch('user/post', this.users)
        .then((resp) => {
          this.$RoutePush('/dashboard/users')
          this.$SendNotify('positive', resp.data.success, 'primary')
          this.loading = false
        })
        .catch((err) => {
          this.loading = false
          console.log(err)
          this.$SendNotify('negative', err, 'red-9')
        })
    }
  },
  beforeMount () {
    if (this.$route.params.id) {
      return showUser(this.$route.params.id, (resp) => {
        this.users = resp.data.success
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      })
    }
  },
  created () {
  }
}
</script>
