<template>
  <q-table :pagination.sync="pagination" ref="userTable" tabindex="0" :filter="search" :data="data" :columns="columns" row-key="id" class="shadow-0 round-10 table">
    <template v-slot:top-left class="q-pa-sm">
      <q-btn to="/dashboard/users/create" icon="add" color="primary" flat>
        <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
          {{$t('newClient')}}
        </q-tooltip>
      </q-btn>
    </template>
    <template v-slot:top-right class="q-pa-sm">
      <q-input rounded label="Search" dense outlined  debounce="300" v-model="search" class="q-pl-sm q-pr-sm q-mb-sm" placeholder="">
      </q-input>
    </template>
    <template v-slot:body="props">
      <q-tr :props="props">
        <q-td key="id" :props="props">
          <p class="font-12">{{props.row.id}}</p>
        </q-td>
        <q-td key="name" :props="props">
          <p class="font-12 text-capitalize">{{props.row.first_name}} {{props.row.last_name}}</p>
        </q-td>
        <q-td key="email" :props="props">
          <p class="font-12">{{props.row.email}}</p>
        </q-td>
        <q-td key="rol" :props="props">
          <p class="font-12 text-capitalize">{{props.row.rol}}</p>
        </q-td>
        <q-td key="option" :props="props">
          <q-btn :to="'/dashboard/users/edit/' +  props.row.uuid" icon="edit" flat densed color="primary" dense>
            <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
              {{$t('edit')}}
            </q-tooltip>
          </q-btn>
          <q-btn v-if="user.rol === 'admin'" @click="confirmDelete(props.row.uuid)" icon="delete" flat densed color="red" dense>
            <q-tooltip content-class="bg-red-9 text-capitalize" :offset="[10, 10]">
              {{$t('delete')}}
            </q-tooltip>
          </q-btn>
        </q-td>
      </q-tr>
    </template>
  </q-table>
</template>

<script>
import { domain } from 'src/api/data'
import { deleteUser } from 'src/api/user'

export default {
  // name: 'ComponentName',
  props: {
    data: Array
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    }
  },
  components: {
  },
  data () {
    return {
      pagination: {
        sortBy: 'ASC',
        descending: false,
        page: 1,
        rowsPerPage: 20
      },
      url: domain,
      loading: false,
      columns: [
        { name: 'id', required: true, label: 'Id', align: 'center', field: row => row.id, sortable: false, classes: 'ellipsis', style: 'width: 100px' },
        { name: 'name', align: 'center', label: this.$t('name'), field: row => row.first_name, sortable: false },
        { name: 'email', align: 'center', classes: 'ellipsis', label: this.$t('email'), field: row => row.email, sortable: false, align: 'center', style: 'width: 100px' },
        { name: 'rol', label: this.$t('type'), field: row => row.rol, align: 'center', sortable: false },
        { name: 'option', align: 'center', label: this.$t('show'), sortable: false }
      ],
      search: ''
    }
  },
  methods: {
    confirmDelete (id) {
      this.$q.dialog({
        title: this.$t('delete'),
        message: this.$t('userDelete'),
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
        this.delete(id)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    delete (id) {
      return deleteUser(id, (resp) => {
        this.$parent.getUsers()
        this.$SendNotify('negative', resp.data.success, 'red-9')
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      })
    }
  }
}
</script>
