<template>
  <q-page>
    <indexClients />
  </q-page>
</template>

<script>
import indexClients from 'src/components/back/clients/index.vue'

export default {
  name: 'mainp',
  components: {
    indexClients
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
