<template>
  <q-layout view="lHr lpR fFf">
    <q-page-container>
      <q-ajax-bar ref="bar" position="top" color="primary" size="5px"/>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { domain } from 'src/api/data'

export default {
  name: 'MainLayout',
  computed: {
    user () {
      return this.$store.getters['auth/getUserData']
    },
    status () {
      return this.$store.getters['auth/getAuthState']
    }
  },
  data () {
    return {
      url: domain
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
