<template>
  <q-form v-if="render" @submit="saveClient" class="row" style="margin-top: -50px">
    <div class="col-12">
      <center>
        <q-avatar class="shadow-8" size="120px" color="primary">
          <img :src="url + '/images/profile/' + users.image" />
        </q-avatar>
        <div class="btn-edit-profile-photo shadow-8 bg-primary">
          <q-btn @click="openImageInput" :loading="loadingImage" class="" dense round flat icon="photo_camera" color="white">
            <q-tooltip content-class="bg-primary" :offset="[10, 10]">
              {{$t('profileImage')}}
            </q-tooltip>
          </q-btn>
        </div>
      </center>
      <q-file @input="updatePhoto" style="display: none" v-model="file" ref="profilePhoto" />
    </div>
    <div class="col-12 col-md-6 q-pa-sm q-mt-lg">
      <q-input :readonly="!editProfile" @input="reRender" v-model="user.first_name" label="Name" rounded outlined :rules="[val => !!val || 'this field is required']" />
    </div>
    <div class="col-12 col-md-6 q-pa-sm q-mt-lg">
      <q-input :readonly="!editProfile" @input="reRender" v-model="user.last_name" label="Last name" rounded outlined :rules="[val => !!val || 'this field is required']" />
    </div>
    <div class="col-12 col-md-12 q-pa-sm">
      <q-input :readonly="!editProfile" @input="reRender" v-model="user.email" label="Email" rounded outlined :rules="[val => !!val || 'This field is required.', val => val.includes('@') || 'The mail must have @', val => val.includes('.') || 'The email entered must end in .com, .org, etc']" />
    </div>
    <div class="col-12 col-md-12 q-pa-sm">
      <q-input readonly @input="reRender" v-model="users.rol" label="Rol" rounded outlined :rules="[val => !!val || 'this field is required']" />
    </div>
    <div class="col-12 col-md-6 q-pa-sm" v-if="editProfile">
      <q-input @input="reRender" v-model="user.password" type="password" label="Password" rounded outlined :rules="[val => !!val || 'This field is required', val => val.length >= 8 || 'This field needs a minimum of 8 characters.']" />
    </div>
    <div class="col-12 col-md-6 q-pa-sm" v-if="editProfile">
      <q-input @input="reRender" rounded outlined label="Confirm password" type="password" :rules="[val => !!val || 'This field is required', val => val.length >= 8 || 'This field needs a minimum of 8 characters.', val => val === user.password || 'Passwords do not match']" v-model="user.password_confirmation" label-color="grey" color="primary" />
    </div>
    <div class="col-12 text-center q-mt-lg">
      <q-btn :loading="loading" v-if="editProfile" rounded size="md" densed class="text-capitalize q-ml-md" :label="$t('save')" type="submit" color="primary" />
      <q-btn type="a" v-else rounded size="md" densed class="text-capitalize" :label="$t('editPassword')" @click="editProfile = !editProfile" color="primary" />
    </div>
  </q-form>
</template>

<script>
import { showUser, edit } from 'src/api/user'
import { domain } from 'src/api/data'

export default {
  name: 'formAddClient',
  components: {
  },
  computed: {
    users () {
      return this.$store.getters['auth/user']
    }
  },
  data () {
    return {
      user: {},
      type: [
        {
          id: 1,
          label: 'Support'
        },
        {
          id: 2,
          label: 'Standard'
        },
        {
          id: 3,
          label: 'Admin'
        }
      ],
      loading: false,
      render: true,
      editProfile: false,
      url: domain,
      loadingImage: false,
      file: null
    }
  },
  methods: {
    saveClient () {
      this.loading = true
      if (this.users.id) {
        this.user.profile = true
        return edit(this.user, (resp) => {
          this.$SendNotify('positive', this.$t('updateProfile'), 'primary')
          this.loading = false
          this.$store.dispatch('auth/setUser', resp.data.user)
          this.editProfile = false
        }, (err) => {
          this.loading = false
          console.log(err)
          this.$SendNotify('negative', err, 'red-9')
        })
        return true
      }
      this.$store.dispatch('user/post', this.user)
        .then((resp) => {
          this.$SendNotify('positive', resp.data.success, 'primary')
          this.loading = false
        })
        .catch((err) => {
          this.loading = false
          console.log(err)
          this.$SendNotify('negative', err, 'red-9')
        })
    },
    reRender () {
      this.render = false
      this.render = true
    },
    updatePhoto () {
      this.loadingImage = true
      var formData = new FormData()
      formData.append('file', this.file)
      this.$store.dispatch('auth/changePhoto', formData)
        .then((resp) => {
          this.loadingImage = false
          this.file = null
          this.$SendNotify('positive', this.$t('changeImage'), 'primary')
        })
        .catch((err) => {
          this.loadingImage = false
          this.$SendNotify('negative', err, 'red-9')
        })
    },
    openImageInput () {
      this.$refs.profilePhoto.pickFiles()
    },
    initUser () {
      this.user.name = this.users.username
      this.user.first_name = this.users.first_name
      this.user.last_name = this.users.last_name
      this.user.email = this.users.email
      this.user.image = this.users.image
      this.user.uuid = this.users.uuid
      this.user.id = this.users.id
      this.user.rol = this.users.rol
    }
  },
  beforeMount () {
    this.initUser()
  },
  created () {
  }
}
</script>
