<template>
  <div style="max-width: 320px">
    <div class="row q-pa-none">
      <div class="col-12 col-xs-12 col-sm-12 col-md-12 q-pa-none">
        <q-input ref="resultnput" class="text-right" outlined dense readonly v-model="label" />
        <GlobalEvents @keydown.49="doStuff(1)" @keydown.50="doStuff(2)" @keydown.51="doStuff(3)" @keydown.52="doStuff(4)" @keydown.53="doStuff(5)" @keydown.54="doStuff(6)" @keydown.55="doStuff(7)" @keydown.56="doStuff(8)" @keydown.57="doStuff(9)" @keydown.48="doStuff(0)" @keyup.+="doStuff('+')" @keyup.-="doStuff('-')" @keydown.backspace="doStuff('backspace')" @keydown.190="doStuff('.')" @keydown.110="doStuff('.')" @keydown.111="doStuff('/')" @keyup.*="doStuff('*')" @keydown.escape="doStuff('C')" @keydown.enter="doStuff('=')" @keydown.97="doStuff(1)" @keydown.98="doStuff(2)" @keydown.99="doStuff(3)" @keydown.100="doStuff(4)" @keydown.101="doStuff(5)" @keydown.102="doStuff(6)" @keydown.103="doStuff(7)" @keydown.104="doStuff(8)" @keydown.105="doStuff(9)" @keydown.96="doStuff(0)" />
      </div>
    </div>
    <div class="row q-mt-sm">
      <div class="col-12 col-sm-8 col-md-8">
        <div class="row full-width">
          <div class="col-6 q-pa-sm">
            <q-btn class="full-width full-height" @click="doStuff('+')" color="primary" dense icon="+" />
          </div>
          <div class="col-6 q-pa-sm">
            <q-btn class="full-width full-height" @click="doStuff('-')" color="primary" dense icon="-" />
          </div>
          <div class="col-6 q-pa-sm">
            <q-btn class="full-width full-height" @click="doStuff('*')" color="primary" dense icon="*" />
          </div>
          <div class="col-6 q-pa-sm">
            <q-btn class="full-width full-height" @click="doStuff('/')" color="primary" dense icon="/" />
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="row full-width">
          <div class="col-12 q-pa-sm">
            <q-btn class="full-width full-height" @click="doStuff('=')" color="primary" dense icon="=" />
          </div>
          <div class="col-12 q-pa-sm">
            <q-btn class="full-width full-height" @click="doStuff('C')" color="primary" dense label="c" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GlobalEvents from 'vue-global-events'

export default {
  // name: 'ComponentName',
  props: {
    type: Number
  },
  components: {
    GlobalEvents 
  },
  data () {
    return {
      current: 0,
      a: 0,
      label: ''
    }
  },
  methods: {
    doStuff (data) {
      let temp
      if(Number(data) || data == 0){
        temp =  data
        if( this.current === 0 ) this.current = ""
        this.current += "" + temp
        this.label += "" + temp
      }
      if(!Number(data)) {
        switch ( data ) {
          case "/": {
            this.divide()
            break
          }
          case "backspace": {
            this.backspace()
            break
          }
          case "C": {
            this.clear()
            break
          }
          case "*": {
            this.multiply()
            break
          }
          case "-": {
            this.minus()
            break
          }
          case "+": {
            this.plus()
            break
          }
          case "x²": {
            this.square()
            break
          }
          case "(": {
            this.openbracket()
            break
          }
          case ")": {
            this.closebracket()
            break
          }
          case "=": {
            this.equals()
            break
          }
          case "±": {
            this.plusMinus()
            break
          }
          case "%": {
            this.percent()
            break
          }
          case ".": {
            this.decimal()
            break
          }
          case "sin": {
            this.sin()
            break
          }
          case "cos": {
            this.cos()
            break
          }
          case "tan": {
            this.tan()
            break
          }
          this.ln()
          break
          case "e": {
            this.exp()
            break
          }
          case "∘": {
            this.degrees()
            break
          }
          case "x!": {
            this.factorial()
            break
          }
          case "rad": {
            this.radians()
            break
          }
          case "√": {
            this.squareRoot()
            break
          }
          case "x^": {
            this.exponent()
            break
          }
          case "π": {
            this.pi()
            break
          }
          case "log": {
            this.log()
            break
          }
        }
      }
    },
    clear () {
      this.current = 0
      this.a = 0
      this.label = ''
      this.$refs.resultnput.focus()
    },
    backspace () {
      if (this.current.substring) {
        this.current = this.current.substring(0, this.current.length - 1)
        this.label = this.label.substring(0, this.label.length - 1)
      }
    },
    multiply () {
      this.current += "*"
      this.label += "*"
      this.a = null
      this.$refs.resultnput.focus()
    },
    divide () {
      this.current +=  "/"
      this.label +=  "/"
      this.a = null
      this.$refs.resultnput.focus()
    },
    openbracket () {
      this.current +=  "("
    },
    closebracket () {
      this.current +=  ")"
    },
    plus () {
      this.current += "+"
      this.label +=  "+"
      this.a = null
      this.$refs.resultnput.focus()
    },
    minus () {
      this.current +=  "-"
      this.label +=  "-"
      this.a = null
      this.$refs.resultnput.focus()
    },
    decimal () {
      this.current +=  "."
      this.label +=  "."
    },
    plusMinus () {
      if ( (this.current !== 0) && this.current.charAt(0) === "-" )  {
        this.current = this.current.slice(1)
      } else {
        this.current = "-" + this.current
      }
    },
    equals () {
      if (this.current.indexOf && (this.current).indexOf("^") > -1) {
        var base = (this.current).slice(0, (this.current).indexOf("^"));
        var exponent = (this.current).slice((this.current).indexOf("^") + 1)
        this.current = eval("Math.pow(" + base + "," + exponent + ")")
      } else {
        this.current = eval(this.current)
      }
      this.label +=  "=" + this.current
      this.a = this.current
      this.$refs.resultnput.focus()
      this.emitVal()
    },
    factorial () {
      var number = 1;
      if (this.current === 0) {
        this.current = "1"
      } else if (this.current < 0) {
        this.current = NaN
      } else {
        var number = 1
        for (var i = this.current; i > 0; i--) {
          number *=  i
        }
        this.current = number
      }
    },
    pi () {
      this.current = (this.current * Math.PI)
    },
    square () {
      this.current = (this.current * this.current)
    },
    squareRoot () {
      this.current = Math.sqrt(this.current)
    },
    percent () {
      this.current = this.current / 100
    },
    sin () {
      this.current = Math.sin(this.current)
    },
    cos () {
      this.current = Math.cos(this.current)
    },
    tan () {
      this.current = Math.tan(this.current)
    },
    log () {
      this.current = Math.log10(this.current)
    },
    ln () {
      this.current = Math.log(this.current)
    },
    exponent () {
      this.current += "^"
    },
    exp () {
      this.current = Math.exp(this.current)
    },
    radians () {
      this.current = this.current * (Math.PI / 180)
    },
    degrees () {
      this.current = this.current * (180 / Math.PI)
    },
    logs (e) {
      console.log(e)
    },
    emitVal () {
      if (this.type === 1) {
        this.$emit('setCost', this.a)
      }
      if (this.type === 2) {
        this.$emit('setWeight', this.a)
      }
      if (this.type === 3) {
        this.$emit('setAccesoriesPrice', this.a)
      }
      if (this.type === 4) {
        this.$emit('setOceanPrice', this.a)
      }
    }
  },
  beforeMount () {
  }
}
</script>
