<template>
  <div class="row q-pa-lg">
    <div class="col-12">
      <tableUsers :data="quotes" @getUser="getUsers" />
    </div>
  </div>
</template>

<script>
import tableUsers from './components/table'

export default {
  name: 'maincomponent',
  components: {
    tableUsers
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    },
    quotes () {
      return this.$store.getters['quote/quotes']
    }
  },
  data () {
    return {
    }
  },
  methods: {
    getUsers () {
      this.$store.dispatch("quote/allTrashed")
        .then(resp => {
          this.allDomicilios = resp.data.success
        })
        .catch(err => {
          this.$SendNotify("negative", err, "red-9")
          console.log(err)
        });
    }
  },
  beforeMount () {
  },
  created () {
    this.getUsers()
  }
}
</script>
