<template>
  <q-form class="row" @submit="saveInterval">
    <div class="col-12 q-mt-sm">
      <label class="font-12 text-primary text-bold">
        Email interval ({{quote.emailInterval}} Days) 
      </label>
      <q-input v-model.integer="interval.day" type="number" :rules="[val => !!val || 'this field is required']" rounded outlined color="primary" />
    </div>
    <div class="col-12 text-center">
      <q-btn :loading="loading" rounded size="md" densed class="text-capitalize" :label="$t('save')" type="submit" color="primary" />
    </div>
  </q-form>
</template>

<script>
import { changeInterval } from 'src/api/quotes'

export default {
  name: 'maincomponent',
  props: {
    quote: {
      type: Object
    }
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    }
  },
  components: {
  },
  data () {
    return {
      interval: {},
      loading: false
    }
  },
  methods: {
    saveInterval () {
      this.interval.quote_id = this.quote.id
      this.loading = true
      return changeInterval(this.interval, (resp) => {
        this.$SendNotify('positive', resp.data.success, 'primary')
        this.$emit('listOpportunities')
        this.loading = false
      }, (err) => {
        this.loading = false
        console.log(err)
        this.$SendNotify('negative', err, 'red-9')
      })
    }
  },
  beforeMount () {
  },
  created () {
  }
}
</script>
