<template>
  <div class="row q-pa-lg">
    <div class="col-12 q-mt-lg col-md-3 q-pa-sm">
      <div class="row full-width bg-primary q-pa-sm" style="border-radius: 10px">
        <div class="col-2 col-md-2 q-pt-sm text-center">
          <q-avatar size="30pt" class="text-primary" color="white" text-color="white">
            <q-icon size="30px" name="supervisor_account" color="primary" />
          </q-avatar>
        </div>
        <div class="col-6 col-md-6 q-pt-sm text-center">
          <span class="font-18 text-white text-bold text-capitalize">
            {{$t('clients')}}
          </span>
        </div>
        <div class="col-3 col-md-3 q-mt-sm text-center">
          <p class="font-18 text-white text-bold">
            <ICountUp :delay="delay" :endVal="clients" :options="options" />
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 q-mt-lg col-md-3 q-pa-sm">
      <div class="row full-width bg-primary q-pa-sm" style="border-radius: 10px">
        <div class="col-2 col-md-2 q-pt-sm text-center">
          <q-avatar size="30pt" class="text-primary" color="white" text-color="white">
            <q-icon size="30px" name="agriculture" color="primary" />
          </q-avatar>
        </div>
        <div class="col-6 col-md-6 q-pt-sm text-center">
          <span class="font-18 text-white text-bold text-capitalize">
            {{$t('dealers')}}
          </span>
        </div>
        <div class="col-3 col-md-3 q-mt-sm text-center">
          <p class="font-18 text-white text-bold">
            <ICountUp :delay="delay" :endVal="dealers" :options="options" />
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 q-mt-lg col-md-3 q-pa-sm">
      <div class="row full-width bg-primary q-pa-sm" style="border-radius: 10px">
        <div class="col-2 col-md-2 q-pt-sm text-center">
          <q-avatar size="30pt" class="text-primary" color="white" text-color="white">
            <q-icon size="30px" name="person" color="primary" />
          </q-avatar>
        </div>
        <div class="col-6 col-md-6 q-pt-sm text-center">
          <span class="font-18 text-white text-bold text-capitalize">
            {{$t('person')}}
          </span>
        </div>
        <div class="col-3 col-md-3 q-mt-sm text-center">
          <p class="font-18 text-white text-bold">
            <ICountUp :delay="delay" :endVal="persons" :options="options" />
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 q-mt-lg col-md-3 q-pa-sm">
      <div class="row full-width bg-primary q-pa-sm" style="border-radius: 10px">
        <div class="col-2 col-md-2 q-pt-sm text-center">
          <q-avatar size="30pt" class="text-primary" color="white" text-color="white">
            <q-icon size="30px" name="category" color="primary" />
          </q-avatar>
        </div>
        <div class="col-6 col-md-6 q-pt-sm text-center">
          <span class="font-18 text-white text-bold text-capitalize">
            {{$t('items')}}
          </span>
        </div>
        <div class="col-3 col-md-3 q-mt-sm text-center">
          <p class="font-18 text-white text-bold">
            <ICountUp :delay="delay" :endVal="items" :options="options" />
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ICountUp from 'vue-countup-v2'
import { getCount } from 'src/api/main'

export default {
  name: 'maincomponent',
  props: {
    clients: {
      type: Number
    },
    dealers: {
      type: Number
    },
    persons: {
      type: Number
    },
    items: {
      type: Number
    }
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    }
  },
  components: {
    ICountUp
  },
  data () {
    return {
      delay: 1000,
      options: {
        useEasing: true,
        useGrouping: true,
        separator: ',',
        decimal: '.',
        prefix: '',
        suffix: ''
      }
    }
  },
  methods: {
  },
  beforeMount () {
  },
  created () {
  }
}
</script>
