<template>
  <div class="row q-pa-lg" style="margin-top: -30px">
    <div class="col-12">
      <q-markup-table class="q-pa-none shadow-0">
        <thead>
          <tr>
            <th class="text-center text-bold">Client</th>
            <th class="text-center text-bold">Phone</th>
            <th class="text-center text-bold">Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center">{{opportunity.client.fullname}}</td>
            <td class="text-center">{{opportunity.client.cellphone}}</td>
            <td class="text-center">{{opportunity.client.email}}</td>
          </tr>
        </tbody>
      </q-markup-table>
      <q-markup-table class="q-pa-none shadow-0" v-if="opportunity.clietComment">
        <tbody>
          <tr>
            <q-td>
              <label class="text-primary text-bold font-12">Client response:</label>
              <p class="font-11 text-capitalize">{{opportunity.clietComment}}</p>.
            </q-td>
          </tr>
        </tbody>
      </q-markup-table>
      <q-markup-table class="q-pa-none shadow-0">
        <tbody>
          <tr>
            <td class="text-center">
              <q-btn @click="openWs(opportunity.client.cellphone)" icon="whatsapp" round size="12pt" color="green">
                <q-tooltip content-class="bg-green text-capitalize" :offset="[10, 10]">
                  WhatsApp
                </q-tooltip>
              </q-btn>
              <q-btn type="a" :href="'mailto:' + opportunity.client.email" icon="email" class="q-ml-sm" round size="12pt" color="primary">
                <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
                  Email
                </q-tooltip>
              </q-btn>
            </td>
          </tr>
        </tbody>
      </q-markup-table>
    </div>
  </div>
</template>

<script>
export default {
  name: 'opportunityMainshow',
  props: {
    opportunity: {
      type: Object
    }
  },
  computed: {
  },
  components: {
  },
  data () {
    return {
    }
  },
  methods: {
    openWs (number) {
      window.open('https://api.whatsapp.com/send/?phone=' + number, '_blank')
    }
  },
  beforeMount () {
  },
  created () {
  }
}
</script>
