<template>
  <div class="row q-pl-sm q-pr-sm" style="margin-top: -20px">
    <div class="col-12">
      <q-table :pagination.sync="pagination" ref="userTable" tabindex="0" :filter="search" :data="data" :columns="columns" row-key="id" class="shadow-0 table">
        <template v-slot:top class="q-pa-sm">
          <div class="row q-mt-sm full-width justify-end">
            <div class="col-12 col-md-6">
              <p class="text-h5 text-uppercase text-bold text-primary">
                opportunity list
              </p>
            </div>
            <div class="col-12 col-md-4 q-pr-sm">
              <q-select @input="filterStatus" dense label="Filter by status" rounded outlined v-model="user_status" :options="options" :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : null" :option-label="opt => Object(opt) === opt && 'label' in opt ?  opt.label : ''" :option-disable="opt => Object(opt) === opt ? opt.inactive === true : true" emit-value map-options>
              </q-select>
            </div>
            <div class="col-12 col-md-2">
              <q-input rounded label="Search" dense outlined  debounce="300" v-model="search" class="q-pl-sm q-pr-sm q-mb-sm" placeholder="">
              </q-input>
            </div>
            <div class="col-12 col-md-3 q-mt-sm" :class="{'q-pr-md': $q.screen.gt.sm}">
              <div class="row full-width bg-primary q-pt-sm" style="border-radius: 10px">
                <div class="col-2 col-md-2 q-pt-sm text-center">
                  <q-avatar size="20pt" class="text-primary" color="white" text-color="white">
                    <q-icon size="22px" name="attach_money" color="primary" />
                  </q-avatar>
                </div>
                <div class="col-4 col-md-4 q-pt-sm text-center">
                  <span class="font-14 text-white text-bold text-capitalize">
                    TOTAL
                  </span>
                </div>
                <div class="col-3 col-md-3 q-mt-sm text-center">
                  <p class="font-14 text-white text-bold">
                    $<ICountUp :delay="delay" :endVal="total" :options="optionsCount" />
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-3 q-mt-sm" :class="{'q-pl-md q-pr-md': $q.screen.gt.sm}">
              <div class="row full-width bg-primary q-pt-sm" style="border-radius: 10px">
                <div class="col-2 col-md-2 q-pt-sm text-center">
                  <q-avatar size="20pt" class="text-primary" color="white" text-color="white">
                    <q-icon size="22px" name="attach_money" color="primary" />
                  </q-avatar>
                </div>
                <div class="col-4 col-md-4 q-pt-sm text-center">
                  <span class="font-14 text-white text-bold text-capitalize">
                    WIN
                  </span>
                </div>
                <div class="col-3 col-md-3 q-mt-sm text-center">
                  <p class="font-14 text-white text-bold">
                    $<ICountUp :delay="delay" :endVal="win" :options="optionsCount" />
                  </p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-3 q-mt-sm" :class="{'q-pl-md': $q.screen.gt.sm}">
              <div class="row full-width bg-primary q-pt-sm" style="border-radius: 10px">
                <div class="col-2 col-md-2 q-pt-sm text-center">
                  <q-avatar size="20pt" class="text-primary" color="white" text-color="white">
                    <q-icon size="22px" name="attach_money" color="primary" />
                  </q-avatar>
                </div>
                <div class="col-4 col-md-4 q-pt-sm text-center">
                  <span class="font-14 text-white text-bold text-capitalize">
                    LOSE
                  </span>
                </div>
                <div class="col-3 col-md-3 q-mt-sm text-center">
                  <p class="font-14 text-white text-bold">
                    $<ICountUp :delay="delay" :endVal="lose" :options="optionsCount" />
                  </p>
                </div>
              </div>
            </div>
          </div>
        </template>
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="id" :props="props" class="relative">
              <p class="font-10 q-pt-md">{{props.row.code}}</p>
              <q-chip @click.native="showQuote(props.row.uuid)" v-if="props.row.clientStatus_id === 7" color="primary" size="8px" style="position: absolute; top: 0px; left: 10px" class="text-white cursor-pointer">Negotiate</q-chip>
              <q-chip v-if="props.row.emailPause" size="8px" color="red" class="text-white" style="margin-top: -110px; margin-right: -50px">
                <span>Email paused</span>
              </q-chip>
            </q-td>
            <q-td key="client" :props="props">
              <p class="font-10 q-pt-md text-capitalize">{{props.row.client}}</p>
            </q-td>
            <q-td key="lastEmail" :props="props">
              <p class="font-10 q-pt-md text-capitalize">{{props.row.lastEmail}}</p>
            </q-td>
            <q-td key="nextEmail" :props="props">
              <p class="font-10 q-pt-md text-capitalize">
                {{props.row.nextEmail}}
                <q-chip size="8px" color="primary" class="text-white" style="margin-top: -40px; margin-left: -30px">
                  (Interval {{props.row.emailInterval}})
                </q-chip>
              </p>
            </q-td>
            <q-td key="clientStatus" :props="props">
              <p class="font-10 q-pt-md text-capitalize">{{props.row.clientStatus}}</p>
            </q-td>
            <q-td key="total" :props="props">
              <p class="font-10 q-pt-md text-capitalize">
                {{$price(props.row.total, '$')}}
              </p>
            </q-td>
            <q-td key="options" :props="props">
              <p class="font-10 q-pt-md text-capitalize">
                <q-btn :disable="!props.row.status" @click="showQuote(props.row.uuid)" icon="search" flat densed color="secondary" dense>
                  <q-tooltip content-class="bg-secondary text-capitalize" :offset="[10, 10]">
                    Show
                  </q-tooltip>
                </q-btn>
                <q-btn @click="sendEmail(props.row)" :disable="!props.row.status" v-if="props.row.id && user.rol === 'admin'" class="text-capitalize" flat dense color="primary" icon-right="send">
                  <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
                    Send email
                  </q-tooltip>
                </q-btn>
                <q-btn :disable="!props.row.status" flat @click="completeQuote(props.row.id)" class="text-capitalize" dense desed color="blue"icon-right="check_circle">
                  <q-tooltip content-class="bg-blue text-capitalize" :offset="[10, 10]">
                    Quote complete
                  </q-tooltip>
                </q-btn>
                <q-btn :disable="!props.row.status" @click="pauseEmail(props.row)" :icon="props.row.emailPause ? 'play_arrow' : 'stop'" flat densed :color="props.row.emailPause ? 'lime-9' : 'deep-orange-10'" dense>
                  <q-tooltip content-class="text-capitalize" :content-class="props.row.emailPause ? 'bg-lime-9' : 'bg-deep-orange-10'" :offset="[10, 10]">
                    <span v-if="props.row.emailPause">Resume email send</span>
                    <span v-else>Pause email send</span>
                  </q-tooltip>
                </q-btn>
                <q-btn :disable="!props.row.status" flat @click="setInterval(props.row)" class="text-capitalize" dense desed color="purple"icon-right="event">
                  <q-tooltip content-class="bg-purple text-capitalize" :offset="[10, 10]">
                    Email interval
                  </q-tooltip>
                </q-btn>
                <q-btn flat @click="showPdfs(props.row)" class="text-capitalize" dense desed color="orange"icon-right="picture_as_pdf">
                  <q-tooltip content-class="bg-orange text-capitalize" :offset="[10, 10]">
                    Quote pdf
                  </q-tooltip>
                </q-btn>
                <q-btn @click="removeOpportunity(props.row.id)" icon="delete" flat densed color="red" dense>
                  <q-tooltip content-class="bg-red text-capitalize" :offset="[10, 10]">
                    Remove Opportunity
                  </q-tooltip>
                </q-btn>
              </p>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
    <q-dialog v-model="statusModal">
      <div class="bg-white relative q-pa-md"  style="position: relative">
        <span class="font-18 text-primary text-bold text-capitalize">
          <span>Quote information # {{quote.code}}</span>
        </span>
        <q-btn id="closeModal" flat dense size="sm" color="red" v-close-popup style="height: 30px" icon="close" class="absolute-right">
        </q-btn>
        <div class="row q-mt-lg">
          <div class="col-12">
            <opportunityShow :opportunity="quote" />
          </div>
        </div>
      </div>
    </q-dialog>
    <q-dialog v-model="intervalModal">
      <div class="bg-white relative q-pa-md"  style="position: relative">
        <span class="font-18 text-primary text-bold text-capitalize">
          <span>Quote # {{quote.code}}</span>
        </span>
        <q-btn id="closeModal" flat dense size="sm" color="red" v-close-popup style="height: 30px" icon="close" class="absolute-right">
        </q-btn>
        <div class="row">
          <div class="col-12">
            <appointmentInterval @listOpportunities="listOpportunities" :quote="quote" />
          </div>
        </div>
      </div>
    </q-dialog>
    <q-dialog v-model="sendEmailModal">
      <div class="bg-white full-width relative q-pa-md"  style="position: relative">
        <span class="font-18 text-primary text-bold text-capitalize">
          <span>Quote email send proccess</span>
        </span>
        <q-btn id="closeModal" flat dense size="sm" color="red" v-close-popup style="height: 30px" icon="close" class="absolute-right">
        </q-btn>
        <q-form @submit="conformEmailSend" class="row">
          <div class="row">
            <div class="col-12">
              <p> You are about to confirm the quote: <b>{{quote.code}}</b>, by carrying out this process we will proceed to send the emails of the client, the dealer if it exists and the administrator who validated and confirmed the offer.</p>
              <p class="font-12 text-capitalize text-justify"><b>Quote blueprints: </b>
                <a :href="quote.blueprintsUrl" target="_blank" style="text-decoration: none">
                  {{quote.blueprints}}
                </a>
              </p>
            </div>
            <div class="text-left col-12" style="margin-top">
              <label class="text-bold text-primary">Send email to</label>
              <q-checkbox v-model="quotedBy" label="Quote create" />
              <q-checkbox v-model="dealer" label="Dealer" />
              <q-checkbox v-model="approve" label="User approve" />
              <q-checkbox v-model="other" label="Other" />
            </div>
          </div>
          <div class="col-12" v-if="other">
            <div class="row">
              <div class="col-12 col-md-6 q-pa-sm">
                <label class="text-bold font-12 text-primary text-capitalize">
                  Extra contact email
                </label>
                <q-input rounded outlined v-model="email_contact_2"  />
              </div>
              <div class="col-12 col-md-6 q-pa-sm">
                <label class="text-bold font-12 text-primary text-capitalize">
                  Extra contact email
                </label>
                <q-input rounded outlined v-model="email_contact_3"  />
              </div>
            </div>
          </div>
          <div class="col-12 text-center q-mt-md">
            <q-btn :loading="loading" rounded size="md" densed class="text-capitalize" label="Send email" icon-right="send" type="submit" color="primary" />
          </div>
        </q-form>
      </div>
    </q-dialog>
    <q-dialog @hide="clearPdfData" v-model="openPdf" persistent :maximized="maximizedToggle" transition-show="slide-up" transition-hide="slide-down">
      <q-card class="d-flex flex-center">
        <q-bar class="bg-primary">
          <p class="text-white font-12 q-mt-md text-bold" v-if="labelOpportunity">PDF {{labelOpportunity.code}}</p>
          <q-space />
          <q-btn color="white" dense flat icon="close" v-close-popup>
            <q-tooltip class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>
        <q-card-section class="q-pa-none full-height row d-flex flex-center">
          <div v-if="visibleLoading" class="centerLoadingPdf">
            <q-spinner-gears size="72px" color="primary" />
            <p class="font-12 text-bold text-primary">Generating pdf...</p>
          </div>
          <iframe v-show="showPdfIsLoaded" id="pdfIframe" :src="pdfSrc" style="width: 100%; height: 100vh" frameBorder="0"></iframe>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { show, showPdf, completeQuote, removeOportunities, quoteEmailPlay, sendEmail } from 'src/api/quotes'
import opportunityShow from './opportunityShow'
import appointmentInterval from './appointmentInterval'
import ICountUp from 'vue-countup-v2'
import pdf from 'vue-pdf'

export default {
  name: 'opportunitiesChart',
  props: {
    opportunities: Array,
    total: Number,
    win: Number,
    lose: Number
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    }
  },
  components: {
    opportunityShow,
    ICountUp,
    appointmentInterval,
    pdf
  },
  data () {
    return {
      options: [
        {
          id: 10,
          label: 'Todos'
        },
        {
          id: 0,
          label: 'Sin confirmar'
        },
        {
          id: 5,
          label: 'El proyecto sufrira una modificación'
        },
        {
          id: 2,
          label: 'Suspendido Temporalmente'
        },
        {
          id: 3,
          label: 'Se ha decidido por otro proveedor'
        },
        {
          id: 4,
          label: 'Suspendido definitivamente'
        },
        {
          id: 7,
          label: 'Estamos listos para negociar el proyecto'
        },
        {
          id: 6,
          label: 'Esta en estudio. aun no se ha tomado decisión'
        }
      ],
      columns: [
        { name: 'id', required: true, label: 'Code', align: 'center', field: row => row.id, sortable: false, classes: 'ellipsis', style: 'width: 100px' },
        { name: 'client', label: this.$t('clients'), field: row => row.client, align: 'center', sortable: false },
        { name: 'lastEmail', label: 'Last Email', field: row => row.client, lastEmail: 'center', sortable: false },
        { name: 'nextEmail', label: 'Next Email', field: row => row.nextEmail, lastEmail: 'center', sortable: false },
        { name: 'clientStatus', label: 'Status', field: row => row.clientStatus, align: 'center', sortable: false },
        { name: 'total', label: 'Total', field: row => row.total, align: 'center', sortable: false },
        { name: 'options', label: 'Options', align: 'center', sortable: false }
      ],
      search: '',
      pagination: {
        sortBy: 'ASC',
        descending: false,
        page: 1,
        rowsPerPage: 20
      },
      quote: {},
      statusModal: false,
      sendEmailModal: false,
      user_status: null,
      data: this.opportunities,
      delay: 1000,
      optionsCount: {
        useEasing: true,
        useGrouping: true,
        separator: ',',
        decimal: '.',
        prefix: '',
        suffix: ''
      },
      intervalModal: false,
      quotedBy: false,
      dealer: false,
      approve: true,
      other: false,
      loading: false,
      openPdf: false,
      pdfSrc: null,
      maximizedToggle: true,
      showPdfIsLoaded: false,
      visibleLoading: true,
      labelOpportunity: null,
      email_contact_2: '',
      email_contact_3: '',
    }
  },
  methods: {
    showQuote (uuid) {
      return show(uuid, (resp) => {
        this.quote = resp.data.success
        this.statusModal = !this.statusModal
        //  this.reRender()
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      })
    },
    filterStatus () {
      if (this.user_status === 10) {
        this.data = this.opportunities
        return true
      }
      this.data = this.opportunities.filter(data => {
        return data.user_status === this.user_status
      })
    },
    showPdfs (pdf) {
      if (pdf) {
        // window.open(pdf, '_blank')
        this.pdfSrc = pdf.pdf
        this.labelOpportunity = pdf
        window.open(this.pdfSrc, '_blank')
      }
    },
    completeQuote (uuid) {
      this.$q.dialog({
        title: 'Quote',
        message: '¿Are you sure you want complete this quote?',
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
      }).onOk(() => {
        this.confirmComplete(uuid)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    confirmComplete (uuid) {
      var data = {}
      data.uuid = uuid
      return completeQuote(data, (resp) => {
        this.$SendNotify('positive', 'Quote complete success.', 'primary')
        this.$emit('listOpportunities')
      }, (err) => {
        this.uploadPlan = false
        this.$SendNotify('negative', err, 'red-9')
      })
    },
    removeOpportunity (uuid) {
      this.$q.dialog({
        title: 'Opportunities',
        message: '¿Are you sure you want to delete this opportunity?, the offert will no longer be followed up.',
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
      }).onOk(() => {
        this.confirmRemove(uuid)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    confirmRemove (uuid) {
      var data = {}
      data.uuid = uuid
      return removeOportunities(data, (resp) => {
        this.$SendNotify('negative', resp.data.success, 'red')
        this.$emit('listOpportunities')
      }, (err) => {
        this.uploadPlan = false
        this.$SendNotify('negative', err, 'red-9')
      })
    },
    setInterval (opportunity) {
      this.quote = opportunity
      this.intervalModal = !this.intervalModal
    },
    listOpportunities () {
      this.$emit('listOpportunities')
      this.intervalModal = !this.intervalModal
    },
    pauseEmail (opportunity) {
      let message
      if (!opportunity.emailPause) {
        message = '¿You want to stop sending emails to this opportunity?'
      } else {
        message = '¿Do you want to activate the sending of email to this opportunity again?'
      }
      this.$q.dialog({
        title: 'Email',
        message: message,
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
      }).onOk(() => {
        this.confirmPause(opportunity)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    confirmPause (quote) {
      let message
      var data = {}
      data.quote_id = quote.id
      if (quote.emailPause) {
        data.pause = false
         message = 'Email sending activated  egain.'
      } else {
        message = 'Email sending disabled.'
        data.pause = true
      }
      return quoteEmailPlay(data, (resp) => {
        this.$SendNotify('positive', message, 'primary')
        this.$emit('listOpportunities')
      }, (err) => {
        this.uploadPlan = false
        this.$SendNotify('negative', err, 'red-9')
      })
    },
    sendEmail (opportunity) {
      this.quote = opportunity
      this.sendEmailModal = !this.sendEmailModal
    },
    conformEmailSend () {
      let title
      this.$q.dialog({
        title: title,
        message: '¿Are you sure you want to send this opportunity to the client? This offer will be followed up if you confirm?',
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
      }).onOk(() => {
        this.toggleStatus()
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    toggleStatus () {
      this.quote.quotedBy = this.quotedBy
      this.quote.dealer = this.dealer
      this.quote.approve = this.approve
      this.quote.other = this.other
      this.quote.email_contact_2 = this.email_contact_2
      this.quote.email_contact_3 = this.email_contact_3
      this.loading = true
      return sendEmail(this.quote, (resp) => {
        this.$SendNotify('positive', resp.data.success, 'primary')
        this.$emit('listOpportunities')
        this.loading = false
      }, (err) => {
        this.loading = false
        console.log(err)
        this.$SendNotify('negative', err, 'red-9')
      })
    },
    loadPdf () {
      this.showPdfIsLoaded = true
      this.visibleLoading = false
    },
    clearPdfData () {
      this.showPdfIsLoaded = false
      this.visibleLoading = true
    }
  },
  beforeMount () {
  },
  created () {
  }
}
</script>
