<template>
  <div class="row q-pl-sm q-pr-sm" style="margin-top: -20px">
    <div class="col-12">
      <q-table :pagination.sync="pagination" ref="userTable" tabindex="0" :filter="search" :data="opportunities" :columns="columns" row-key="id" class="shadow-0 table">
        <template v-slot:top>
          <div class="row q-mt-sm full-width justify-end">
            <div class="col-12 col-md-10">
              <p class="text-h5 text-uppercase text-bold text-primary">
                requisition track list
              </p>
            </div>
            <div class="col-12 col-md-2">
              <q-input rounded label="Search" dense outlined  debounce="300" v-model="search" class="q-pl-sm q-pr-sm q-mb-sm" placeholder="" />
            </div>
          </div>
        </template>
        <template v-slot:body="props">
          <q-tr :props="props">
            <q-td key="id" :props="props" class="relative">
              <p class="font-10 q-pt-md">{{props.row.reference}}</p>
              <q-chip v-if="props.row.emailPause" size="8px" color="red" class="text-white" style="margin-top: -110px; margin-right: -50px">
                <span>Email paused</span>
              </q-chip>
            </q-td>
            <q-td key="provider" :props="props">
              <p class="font-10 q-pt-md text-capitalize">{{props.row.provider}}</p>
            </q-td>
            <q-td key="lastEmail" :props="props">
              <p class="font-10 q-pt-md text-capitalize">{{props.row.lastEmail}}</p>
            </q-td>
            <q-td key="nextEmail" :props="props">
              <p class="font-10 q-pt-md text-capitalize">{{props.row.nextEmail}}</p>
              <q-chip size="8px" color="primary" class="text-white" style="margin-top: -110px; margin-left: 10px">
                  (Interval 1)
              </q-chip>
            </q-td>
            <q-td key="options" :props="props">
              <p class="font-10 text-capitalize" style="margin-top: -10px">
                <q-btn @click="sendEmail(props.row)" v-if="props.row.id && user.rol === 'admin'" class="text-capitalize" flat dense color="primary" icon-right="send">
                  <q-tooltip content-class="bg-primary text-capitalize" :offset="[10, 10]">
                    Send email
                  </q-tooltip>
                </q-btn>
                <q-btn flat @click="completeRequisition(props.row.id)" class="text-capitalize" dense desed color="blue" icon-right="check_circle">
                  <q-tooltip content-class="bg-blue text-capitalize" :offset="[10, 10]">
                    Complete requisition
                  </q-tooltip>
                </q-btn>
                <q-btn @click="pauseEmail(props.row)" :icon="props.row.emailPause ? 'play_arrow' : 'stop'" flat densed :color="props.row.emailPause ? 'lime-9' : 'deep-orange-10'" dense>
                  <q-tooltip :content-class="props.row.emailPause ? 'bg-lime-9 text-capitalize' : 'text-capitalize bg-deep-orange-10'" :offset="[10, 10]">
                    <span v-if="props.row.emailPause">Resume email send</span>
                    <span v-else>Pause email send</span>
                  </q-tooltip>
                </q-btn>
                <q-btn flat @click="showPdfs(props.row)" class="text-capitalize" dense desed color="orange" icon-right="picture_as_pdf">
                  <q-tooltip content-class="bg-orange text-capitalize" :offset="[10, 10]">
                    Requisition pdf
                  </q-tooltip>
                </q-btn>
              </p>
            </q-td>
          </q-tr>
        </template>
      </q-table>
    </div>
  </div>
</template>

<script>
import { sendOneRequisition, completeRequisitions, emailPlay } from 'src/api/requisitions'

export default {
  name: 'opportunitiesRequisition',
  props: {
    opportunities: Array
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    }
  },
  components: {
  },
  data () {
    return {
      columns: [
        { name: 'id', required: true, label: 'Code', align: 'center', field: row => row.reference, sortable: true, classes: 'ellipsis', style: 'width: 100px' },
        { name: 'provider', label: 'Provider', field: row => row.provider, sortable: false },
        { name: 'lastEmail', label: 'Last email', field: row => row.nextEmail, sortable: true },
        { name: 'nextEmail', label: 'Next email', field: row => row.nextEmail, sortable: true },
        { name: 'options', label: 'Options', align: 'center', sortable: false }
      ],
      search: '',
      pagination: {
        sortBy: 'ASC',
        descending: false,
        page: 1,
        rowsPerPage: 20
      }
    }
  },
  methods: {
    showPdfs (pdf) {
      if (pdf) {
        // window.open(pdf, '_blank')
        this.pdfSrc = pdf.pdf
        this.labelOpportunity = pdf
        window.open(this.pdfSrc, '_blank')
      }
    },
    async sendEmail (pdf) {
      this.$q.dialog({
        title: 'Requisition',
        message: '¿Are you sure you want send this requisition email?',
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
      }).onOk(() => {
        this.confirmSendOne(pdf)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    async confirmSendEmail (pdf) {
      pdf.all = this.all
      this.$q.loading.show()
      await sendOneRequisition(pdf)
        .then(resp => {
          this.$q.loading.hide()
          this.$SendNotify('positive', resp.data.success, 'primary')
        })
        .catch(err => {
          this.loading = false
          console.log(err)
          this.$q.loading.hide()
          this.$SendNotify('negative', err, 'red-9')
        })
    },
    completeRequisition (id) {
      this.$q.dialog({
        title: 'Requisition',
        message: '¿Are you sure you want complete this requisition?',
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
      }).onOk(() => {
        this.confirmComplete(id)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    confirmComplete (id) {
      var data = {}
      data.id = id
      this.$q.loading.show()
      return completeRequisitions(data, (resp) => {
        this.$SendNotify('positive', resp.data.success, 'primary')
        this.$q.loading.hide()
        this.$emit('listOpportunitiesRequisitions')
      }, (err) => {
        this.uploadPlan = false
        this.$q.loading.hide()
        this.$SendNotify('negative', err, 'red-9')
      })
    },
    pauseEmail (opportunity) {
      let message
      if (!opportunity.emailPause) {
        message = '¿You want to stop sending emails to this requisition?'
      } else {
        message = '¿Do you want to activate the sending of email to this requisition again?'
      }
      this.$q.dialog({
        title: 'Email',
        message: message,
        cancel: true,
        persistent: false,
        className: 'dialog-bg-red text-white'
      }).onOk(() => {
      }).onOk(() => {
        this.confirmPause(opportunity)
      }).onCancel(() => {
      }).onDismiss(() => {
      })
    },
    confirmPause (quote) {
      let message
      var data = {}
      data.id = quote.id
      if (quote.emailPause) {
        data.pause = false
         message = 'Email sending activated  egain.'
      } else {
        message = 'Email sending disabled.'
        data.pause = true
      }
      this.$q.loading.show()
      return emailPlay(data, (resp) => {
        this.$SendNotify('positive', message, 'primary')
        this.$q.loading.hide()
        this.$emit('listOpportunitiesRequisitions')
      }, (err) => {
        this.uploadPlan = false
        this.$q.loading.hide()
        this.$SendNotify('negative', err, 'red-9')
      })
    }
  },
  beforeMount () {
  },
  created () {
  }
}
</script>
