<template>
  <q-form @submit="saveRequisition" class="row" style="margin-top: -30px">
    <div class="col-12 col-md-4 q-pa-sm" v-if="render">
      <q-select :rules="[(val) => !!val || 'This field is required.']" outlined :options="voltagesUnitites" v-model="requisition.voltage" @input="reRender" rounded label="Voltage" />
      <!--<q-select outlined label="Selected provider" rounded v-model="requisition.selected_provider" :options="providersOptions" :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : ''" :option-label="opt => Object(opt) === opt && 'label' in opt ? opt.label : ''" :rules="[val => !!val || 'this field is required.']" emit-value map-options />-->
    </div>
    <div class="col-12 col-md-4 q-pa-sm" v-if="render">
      <q-select @input="generateReference" use-input hide-selected fill-input input-debounce="0" @filter="filterCountries" outlined label="Country" rounded v-model="requisition.country" :options="countriesOptions" :option-value="opt => Object(opt) === opt && 'code' in opt ? opt.code : ''" :option-label="opt => Object(opt) === opt && 'name' in opt ? opt.name : ''" :rules="[val => !!val || 'this field is required.']" emit-value map-options />
    </div>
    <div class="col-12 col-md-4 q-pa-sm" v-if="render">
      <q-input
        :rules="[(val) => !!val || 'this field is required.']"
        outlined
        readonly
        rounded
        v-model="requisition.reference"
        type="text"
        label="# Requisition"
      >
      </q-input>
    </div>
    <div class="col-12 col-md-6 q-pa-sm">
      <q-input
        :rules="[(val) => !!val || 'this field is required.']"
        outlined
        rounded
        v-model="requisition.reference_manual"
        type="text"
        label="Referencia"
      >
      </q-input>
    </div>
    <div class="col-12 col-md-6 q-pa-sm">
      <q-select
        use-input
        fill-input
        input-debounce="0"
        @filter="filterProviders"
        outlined
        multiple
        label="Suppliers"
        rounded
        v-model="requisition.providers"
        :options="providersOps"
        :option-value="opt => Object(opt) === opt && 'id' in opt ? opt.id : ''"
        :option-label="opt => Object(opt) === opt && 'name' in opt ? opt.name : ''"
        :rules="[val => !!val || 'this field is required.']"
        emit-value
        map-options
      />
    </div>
    <div class="col-12 q-pa-sm">
      <p class="font-14 text-primary text-bold text-capitalize">
        Items ({{items.length}}) <q-btn icon="add" @click="pushNewitem" color="primary" flat dense />
      </p>
      <q-markup-table v-if="render" separator="cell" flat bordered>
        <thead>
          <tr>
            <th class="text-left" style="width: 13%">
              Tag
            </th>
            <th class="text-left" style="width: 30%">
              Material Handling Equipment
            </th>
            <th class="text-left" style="width: 30%">
              Conveyor Type
            </th>
            <th class="text-left" style="width: 20%">
              <center>
                Show
              </center>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, idx) in items" :key="idx">
            <td class="text-left" style="width: 13%">
              <q-input
                :rules="[(val) => !!val || 'this field is required.']"
                outlined
                dense
                rounded
                v-model="item.tag"
                type="text"
              >
              </q-input>
            </td>
            <td class="text-left" style="width: 33%">
              <q-select @input="clearConveyorType(item, idx)" :rules="[(val) => !!val || 'This field is required.']" outlined :options="materialHandlingEquipmentOptions" v-model="item.material_handling_equipment" dense rounded />
            </td>
            <td class="text-left text-center" style="width: 33%">
              <q-select v-if="item.material_handling_equipment == 'Conveyor'" :disable="item.material_handling_equipment !== 'Conveyor'" :rules="[(val) => item.material_handling_equipment == 'Conveyor' && !!val || 'This field is required.']" @input="validateItem(idx, item)" outlined :options="conveyorType" v-model="item.conveyor_type" dense rounded />
              <span v-else>
                <center>-</center>
              </span>
            </td>
            <td class="text-left">
              <center>
                <q-btn style="margin-top: -20px" @click="validateItem(idx, item)" flat dense icon="edit" color="primary">
                  <q-tooltip content-class="bg-primary">
                    Edit item
                  </q-tooltip>
                </q-btn>
                <q-btn v-if="idx > 0 && !item.product" style="margin-top: -20px" @click="copyData(idx - 1, idx)" flat dense icon="content_copy" color="green-9">
                  <q-tooltip content-class="bg-green-9">
                    Copy item preview
                  </q-tooltip>
                </q-btn>
                <q-btn style="margin-top: -20px" @click="deleteItem(idx)" flat dense icon="delete" color="red-9">
                  <q-tooltip content-class="bg-red-9">
                    Delete item
                  </q-tooltip>
                </q-btn>
              </center>
            </td>
          </tr>
        </tbody>
      </q-markup-table>
    </div>
    <div class="col-12 q-pa-sm q-mt-md">
      <label for="" class="font-12 text-primary text-bold">
        Comments
      </label>
      <q-tabs
        inline-label
        v-model="lang"
        style="margin-top: -20px"
        class="text-primary text-left pull-left float-right"
      >
        <q-tab name="es" label="Spanish" />
        <q-tab name="en" label="English" />
        <q-tab name="pt" label="Portugues" />
      </q-tabs>
      <q-tab-panels v-model="lang" animated class="shadow-0 rounded-borders q-mt-md full-width">
        <q-tab-panel class="q-pa-none" name="es">
          <q-editor
            v-model="requisition.comments"
            min-height="7rem"
            @input="debounce(requisition.comments, 1000)"
            debounce="2000"
            @paste="handlePaste"
            :toolbar="[
              [
                {
                  label: $q.lang.editor.align,
                  icon: $q.iconSet.editor.align,
                  fixedLabel: true,
                  list: 'only-icons',
                  options: ['left', 'center', 'right', 'justify']
                },
                {
                  label: $q.lang.editor.align,
                  icon: $q.iconSet.editor.align,
                  fixedLabel: true,
                  options: ['left', 'center', 'right', 'justify']
                }
              ],
              ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
              ['token', 'hr', 'link', 'custom_btn'],
              ['print', 'fullscreen'],
              [
                {
                  label: $q.lang.editor.formatting,
                  icon: $q.iconSet.editor.formatting,
                  list: 'no-icons',
                  options: [
                    'p',
                    'h1',
                    'h2',
                    'h3',
                    'h4',
                    'h5',
                    'h6',
                    'code'
                  ]
                },
                {
                  label: $q.lang.editor.fontSize,
                  icon: $q.iconSet.editor.fontSize,
                  fixedLabel: true,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'size-1',
                    'size-2',
                    'size-3',
                    'size-4',
                    'size-5',
                    'size-6',
                    'size-7'
                  ]
                },
                {
                  label: $q.lang.editor.defaultFont,
                  icon: $q.iconSet.editor.font,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'default_font',
                    'arial',
                    'arial_black',
                    'comic_sans',
                    'courier_new',
                    'impact',
                    'lucida_grande',
                    'times_new_roman',
                    'verdana'
                  ]
                },
                'removeFormat'
              ],
              ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

              ['undo', 'redo'],
              ['viewsource']
            ]"
            :fonts="{
              arial: 'Arial',
              arial_black: 'Arial Black',
              comic_sans: 'Comic Sans MS',
              courier_new: 'Courier New',
              impact: 'Impact',
              lucida_grande: 'Lucida Grande',
              times_new_roman: 'Times New Roman',
              verdana: 'Verdana'
            }"
          />
        </q-tab-panel>
        <q-tab-panel class="q-pa-none" name="en">
          <q-editor
            v-model="requisition.comments_en"
            min-height="7rem"
            :toolbar="[
              [
                {
                  label: $q.lang.editor.align,
                  icon: $q.iconSet.editor.align,
                  fixedLabel: true,
                  list: 'only-icons',
                  options: ['left', 'center', 'right', 'justify']
                },
                {
                  label: $q.lang.editor.align,
                  icon: $q.iconSet.editor.align,
                  fixedLabel: true,
                  options: ['left', 'center', 'right', 'justify']
                }
              ],
              ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
              ['token', 'hr', 'link', 'custom_btn'],
              ['print', 'fullscreen'],
              [
                {
                  label: $q.lang.editor.formatting,
                  icon: $q.iconSet.editor.formatting,
                  list: 'no-icons',
                  options: [
                    'p',
                    'h1',
                    'h2',
                    'h3',
                    'h4',
                    'h5',
                    'h6',
                    'code'
                  ]
                },
                {
                  label: $q.lang.editor.fontSize,
                  icon: $q.iconSet.editor.fontSize,
                  fixedLabel: true,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'size-1',
                    'size-2',
                    'size-3',
                    'size-4',
                    'size-5',
                    'size-6',
                    'size-7'
                  ]
                },
                {
                  label: $q.lang.editor.defaultFont,
                  icon: $q.iconSet.editor.font,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'default_font',
                    'arial',
                    'arial_black',
                    'comic_sans',
                    'courier_new',
                    'impact',
                    'lucida_grande',
                    'times_new_roman',
                    'verdana'
                  ]
                },
                'removeFormat'
              ],
              ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

              ['undo', 'redo'],
              ['viewsource']
            ]"
            :fonts="{
              arial: 'Arial',
              arial_black: 'Arial Black',
              comic_sans: 'Comic Sans MS',
              courier_new: 'Courier New',
              impact: 'Impact',
              lucida_grande: 'Lucida Grande',
              times_new_roman: 'Times New Roman',
              verdana: 'Verdana'
            }"
          />
        </q-tab-panel>
        <q-tab-panel class="q-pa-none" name="pt">
          <q-editor
            v-model="requisition.comments_pt"
            min-height="7rem"
            :toolbar="[
              [
                {
                  label: $q.lang.editor.align,
                  icon: $q.iconSet.editor.align,
                  fixedLabel: true,
                  list: 'only-icons',
                  options: ['left', 'center', 'right', 'justify']
                },
                {
                  label: $q.lang.editor.align,
                  icon: $q.iconSet.editor.align,
                  fixedLabel: true,
                  options: ['left', 'center', 'right', 'justify']
                }
              ],
              ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
              ['token', 'hr', 'link', 'custom_btn'],
              ['print', 'fullscreen'],
              [
                {
                  label: $q.lang.editor.formatting,
                  icon: $q.iconSet.editor.formatting,
                  list: 'no-icons',
                  options: [
                    'p',
                    'h1',
                    'h2',
                    'h3',
                    'h4',
                    'h5',
                    'h6',
                    'code'
                  ]
                },
                {
                  label: $q.lang.editor.fontSize,
                  icon: $q.iconSet.editor.fontSize,
                  fixedLabel: true,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'size-1',
                    'size-2',
                    'size-3',
                    'size-4',
                    'size-5',
                    'size-6',
                    'size-7'
                  ]
                },
                {
                  label: $q.lang.editor.defaultFont,
                  icon: $q.iconSet.editor.font,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'default_font',
                    'arial',
                    'arial_black',
                    'comic_sans',
                    'courier_new',
                    'impact',
                    'lucida_grande',
                    'times_new_roman',
                    'verdana'
                  ]
                },
                'removeFormat'
              ],
              ['quote', 'unordered', 'ordered', 'outdent', 'indent'],

              ['undo', 'redo'],
              ['viewsource']
            ]"
            :fonts="{
              arial: 'Arial',
              arial_black: 'Arial Black',
              comic_sans: 'Comic Sans MS',
              courier_new: 'Courier New',
              impact: 'Impact',
              lucida_grande: 'Lucida Grande',
              times_new_roman: 'Times New Roman',
              verdana: 'Verdana'
            }"
          />
        </q-tab-panel>
      </q-tab-panels>
    </div>
    <div class="col-12 text-center q-mt-lg" :class="{'col-md-12 q-pa-none': !requisition.id}">
      <q-btn :loading="loading" rounded size="md" densed class="text-capitalize" :label="$t('save')" type="submit" color="primary" />
    </div>
    <q-dialog persistent v-model="dialogProduct">
      <ItemsComplement ref="" @close-modal="closeModal" @set-item="setItem" :selectedItem="selectedItem" />
    </q-dialog>
    <q-dialog v-model="copyItemData" @before-show="loadProduct">
      <q-card v-if="copyItemData" class="round-10 mechanic-requisition">
        <q-card-section>
          <p class="text-h5 text-bold text-primary">
            <span class="text-bold">Copy preview data </span>
            <q-btn color="red" flat dense round v-close-popup icon="close" class="float-right">
              <q-tooltip class="bg-red-9">
                Close
              </q-tooltip>
            </q-btn>
          </p>
        </q-card-section>
        <q-card-section style="margin-top: -30px">
          <q-form class="row" @submit="copyDataSet">
            <div class="col-12 col-md-6" :class="{'q-pr-md': $q.screen.gt.sm}">
              <label class="font-12 text-bold text-primary">Product</label>
              <q-btn class="reload-product-mechanic" @click="loadProduct" flat dense size="7pt" color="primary" round icon="refresh">
                <q-tooltip content-class="bg-primary">
                  Reload products
                </q-tooltip>
              </q-btn>
              <q-select :option-value="opt => Object(opt) === opt && 'name' in opt ? opt.name : null" :option-label="opt => Object(opt) === opt && 'name' in opt ?  opt.name : ''" emit-value map-options @input="setProductDensity" :rules="[(vall) => !!vall || 'This field is required.']" outlined :options="products" v-model="previewItem.product" dense rounded label="Select" />
            </div>
            <div class="col-12 col-md-6" :class="{'q-pl-md': $q.screen.gt.sm}">
              <label class="font-12 text-bold text-primary">Density</label>
              <q-input dense outlined rounded v-model="previewItem.density" type="text" placeholder="90 KG/M3" />
            </div>
            <div class="col-12 col-md-6" :class="{'q-pr-md': $q.screen.gt.sm}">
              <label class="font-12 text-bold text-primary">Quantity</label>
              <q-input type="number" dense outlined rounded v-model.number="previewItem.quantity" placeholder="1" />
            </div>
            <div class="col-12 col-md-6" :class="{'q-pl-md': $q.screen.gt.sm}">
              <label class="font-12 text-bold text-primary">Capacity</label>
              <q-input dense outlined rounded v-model="previewItem.capacity" type="text" placeholder="1">
                <template v-slot:append>
                  <lingitudeSelector :model="'capacity'" @unit-of-measure="setUnitOfMeasure" :type="'capacity'" />
                </template>
              </q-input>
            </div>
            <div class="col-12 col-md-6 q-mt-md" :class="{'q-pr-md': $q.screen.gt.sm}">
              <label class="font-12 text-bold text-primary">Chain Speed</label>
              <q-select clearable emit-value map-options outlined :options="chainSpeedOptions" v-model="previewItem.chain_speed" dense rounded label="Select">
                <template v-slot:selected-item="item">
                  <span class="ellipsis q-pa-none">
                    {{ item.opt }}
                  </span>
                </template>
              </q-select>
            </div>
            <div v-if="previewItem.chain_speed == 'Other'" class="col-12 col-md-6 q-mt-md" :class="{'q-pl-md': $q.screen.gt.sm}">
              <label class="font-12 text-bold text-primary">Chain speed other</label>
              <q-input dense outlined rounded v-model="previewItem.chain_speed_other" type="text" placeholder="12 M/S">
                <template v-slot:append>
                  <lingitudeSelector :model="'chain_speed_other'" @unit-of-measure="setUnitOfMeasure" :type="'velocity'" />
                </template>
              </q-input>
            </div>
            <div class="col-12 col-md-6 q-mt-md" :class="{'q-pl-md': $q.screen.gt.sm && previewItem.chain_speed != 'Other', 'q-pr-md': $q.screen.gt.sm && previewItem.chain_speed == 'Other'}">
              <label class="font-12 text-bold text-primary">Length (I-O)</label>
              <q-input dense outlined rounded v-model="previewItem.inlet_to_outlet" type="text" placeholder="Lenght">
                <template v-slot:append>
                  <lingitudeSelector :model="'inlet_to_outlet'" @unit-of-measure="setUnitOfMeasure" :type="'medidas'" />
                </template>
              </q-input>
            </div>
            <div
              class="col-12 col-md-6 q-mt-md"
              :class="{
                'q-pr-md': $q.screen.gt.sm && previewItem.chain_speed != 'Other',
                'q-pl-md': $q.screen.gt.sm && previewItem.chain_speed == 'Other'
              }"
            >
              <label class="font-12 text-bold text-primary">Inlets</label>
              <q-input dense outlined rounded v-model="previewItem.inlet" type="number" placeholder="5" />
            </div>
            <div class="col-12 col-md-12 text-center">
              <q-btn type="submit" color="primary" label="Copy" rounded no-caps></q-btn>
            </div>
          </q-form>
        </q-card-section>
      </q-card>
    </q-dialog>
    <q-dialog v-model="openCropModal">
      <q-card class="cropModal">
        <q-card-section>
          <cropper
            class="cropper"
            style="width: 100%; height: 300px"
            :src="pasteImage"
            :stencil-props="{
              aspectRatio: 16/8
            }"
            ref="cropper"
          ></cropper>
          <center>
            <q-btn class="q-mt-sm" rounded color="primary" @click="crop">
              Crop
            </q-btn>
            <q-btn v-close-popup round size="5pt" icon="close" color="red" unelevated class="absolute-top-right">
              <q-tooltip content-class="bg-red">
                Close
              </q-tooltip>
            </q-btn>
          </center>
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-form>
</template>

<script>
import { listProduct } from 'src/api/products'
import countrys from 'src/utilities/country.json'
import { translate } from 'src/api/translate'
import { generateMechanicalReference, saveMechanicalRequisition, updateMechanicalRequisition } from 'src/api/requisitions'
import ItemsComplement from './partials/itemsComplement.vue'
import lingitudeSelector from '../components/partials/longitudeSelector.vue'

export default {
  name: 'formRequisitionMechanics',
  props: {
    requisitionObj: Object
  },
  components: {
    ItemsComplement,
    lingitudeSelector,
  },
  watch: {
    requisitionObj () {
      this.requisition = JSON.parse(JSON.stringify(this.requisitionObj))
    }
  },
  computed: {
    user () {
      return this.$store.getters['auth/user']
    },
    providers () {
      return this.$store.getters['provider/providers']
    }
  },
  data () {
    return {
      render: true,
      requisition: {},
      voltagesUnitites: [
        "220/380 V - 3F - 50Hz",
        "254/440V - 3F - 60Hz",
        "277/460V - 3F - 60Hz",
        "220/480V - 3F - 60Hz"
      ],
      countries: countrys,
      countriesOptions: countrys,
      providersOps: [],
      providerOptions: [],
      items: [],
      materialHandlingEquipmentOptions: [
        'Conveyor',
        'Bucket Elevator',
        'Chain Loop',
        'Accessories',
      ],
      conveyorType: [
        'Chain Conveyor',
        'Curve Chain Conveyor',
        'Double Deck Chain Conveyor',
        'Belt Conveyor',
        'Screw Conveyor',
      ],
      lang: 'es',
      dialogProduct: false,
      selectedItem: {},
      selectedIdx: 0,
      loading: false,
      copyItemData: false,
      previewItem: {},
      products: [],
      chainSpeedOptions: [
        'As Recommended by Manufacturer',
        'Other'
      ],
      tags: {
        CC: 1,
        BC: 1,
        SC: 1,
        BE: 1,
        CL: 1,
        ACC: 1,
      },
      pasteImage: null,
      openCropModal: false
    }
  },
  methods: {
    async saveRequisition () {
      this.requisition.items = this.items
      delete this.requisition.refence
      try {
        this.loading = true
        let response = null
        if (!this.requisition.id) {
          response = await saveMechanicalRequisition(this.requisition)
        } else {
          response = await updateMechanicalRequisition(this.requisition)
        }
        this.$SendNotify("positive", 'Requisition saved successfully', "primary")
        this.requisition = {}
        this.$router.push({
          path: '/dashboard/requisitions?type=material'
        })
      } catch (err) {
        if (err.errors) {
          const message = Object.values(err.errors).shift();
          const newMessage = message.shift()
          this.$SendNotify("negative", `${newMessage}`, "red-9");
        } else {
          this.$SendNotify("negative", err.message, "red-9");
        }
        this.loading = false;
      } finally {
        this.loading = false
      }
    },
    filterCountries (val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.countriesOptions = this.countries.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    filterProviders (val, update, abort) {
      update(() => {
        const needle = val.toLowerCase()
        this.providersOps = this.providerOptions.filter(v => v.name.toLowerCase().indexOf(needle) > -1)
      })
    },
    reRender () {
      this.render = false
      this.render = true
    },
    loadProviders () {
      this.$store.dispatch('provider/all', '')
        .then((resp) => {
          this.providersOps = resp.data.success
          this.providerOptions = resp.data.success
        })
        .catch((err) => {
          console.log(err)
        })
    },
    pushNewitem () {
      const data = {
        material_handling_equipment: null,
        conveyor_type: null,
        tag: null,
        complement: {},
        product: null,
        density: null,
        quantity: null,
        capacity: null,
        chain_speed: null,
        sensors: []
      }
      this.items.push(data)
    },
    validateItem (idx, item) {
      this.selectedItem = item
      if ( this.selectedItem.material_handling_equipment == 'Conveyor' &&  !this.selectedItem.conveyor_type) {
        return false
      }
      if (!item.tag && item.material_handling_equipment == 'Conveyor' && item.conveyor_type)
        this.getTag(item.conveyor_type, idx)
      if (!item.tag && item.material_handling_equipment != 'Conveyor')
        this.getTag(item.material_handling_equipment, idx)
      this.selectedIdx = idx
      this.dialogProduct = true
    },
    deleteItem (idx) {
      const tag = this.items[idx].tag.split('-').shift();
      this.tags[tag] = this.tags[tag] - 1
      this.items.splice(idx, 1)
    },
    debounce(body, delay) {
      clearTimeout(this.timeoutId);
      this.timeoutId = setTimeout(() => {
        this.translate(body);
      }, delay);
    },
    doTranslate (e) {
      const text = this.stripHTMLTags(e)
      this.translate(text)
    },
    translate (body) {
      let data = {}
      data.text = body
      data.source = 'es'
      data.target = 'en'
      return translate(data, (resp) => {
        this.$emit("setTranslate", "comments_en", resp.data.success)
        this.requisition['comments_en'] = resp.data.success
        this.translatePt(body)
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      });
    },
    translatePt (body) {
      let data = {}
      data.text = body
      data.source = 'es'
      data.target = 'pt'
      return translate(data, (resp) => {
        this.$emit("setTranslate", "comments_pt", resp.data.success)
        this.requisition['comments_pt'] = resp.data.success
      }, (err) => {
        this.$SendNotify('negative', err, 'red-9')
        console.log(err)
      });
    },
    setItem (item) {
      this.items[this.selectedIdx] = item
    },
    closeModal () {
      this.selectedItem = {}
      this.selectedIdx = 0
      this.dialogProduct = false
    },
    clearConveyorType (item, idx) {
      if (this.items[idx].material_handling_equipment != 'Conveyor') {
        this.items[idx] = {
          material_handling_equipment: item.material_handling_equipment,
          conveyor_type: '',
          complement: {},
          product: null,
          density: null,
          quantity: null,
          capacity: null,
          chain_speed: null,
          sensors: []
        }
        this.selectedItem = {}
        this.selectedItem = this.items[idx]
        this.selectedIdx = idx
        this.dialogProduct = true
      }
      this.reRender()
      if (item.material_handling_equipment == 'Conveyor' && item.conveyor_type.length > 0)
        this.getTag(item.conveyor_type, idx)
      else
        this.getTag(item.material_handling_equipment, idx)
    },
    async generateReference () {
      try {
        const data = {
          country: this.requisition.country
        }
        const response = await generateMechanicalReference(data)
        if (response.data.code) {
          this.requisition.reference = response.data.code
          this.reRender()
        }
      } catch (error) {
        console.log(error)
      }
    },
    async copyData (idxPreview, idxItem) {
      this.selectedIdx = idxItem
      this.selectedItem = {}
      this.previewItem = JSON.parse(JSON.stringify(this.items[idxPreview]))
      this.copyItemData = true
    },
    async loadProduct () {
      await listProduct()
        .then(resp => {
          this.products = resp.data.success
        })
        .catch(err => {
          if (err.error) {
            if (typeof err.error === 'object') {
              const message = Object.values(err.error).shift();
              if (message.length > 0) {
                const newMessage = message.shift()
                this.$SendNotify("negative", `${newMessage}`, "red-9");
              }
            } else {
              this.$SendNotify("negative", `${err.error}`, "red-9");
            }
          } else {
            this.$SendNotify("negative", err.message, "red-9");
          }
        })
    },
    setProductDensity (e) {
      const isset = this.products.find(data => {
        return data.name.toLowerCase() === e.toLowerCase()
      })
      this.previewItem.density = isset ? `${isset.density} KG/M3` : null
    },
    setUnitOfMeasure (idx, value, model) {
      const modelS = '' + this.previewItem[model]
      const label = modelS.split(' ')
      this.previewItem[model] = `${label.shift()} ${value}`
      this.reRender()
    },
    copyDataSet () {
      if (this.previewItem.product)
        this.items[this.selectedIdx].product = this.previewItem.product
      if (this.previewItem.density)
        this.items[this.selectedIdx].density = this.previewItem.density
      if (this.previewItem.capacity)
        this.items[this.selectedIdx].capacity = this.previewItem.capacity
      if (this.previewItem.quantity)
        this.items[this.selectedIdx].quantity = this.previewItem.quantity
      if (this.previewItem.chain_speed)
        this.items[this.selectedIdx].chain_speed = this.previewItem.chain_speed
      if (this.previewItem.chain_speed_other)
        this.items[this.selectedIdx].chain_speed_other = this.previewItem.chain_speed_other
      if (this.previewItem.inlet_to_outlet)
        this.items[this.selectedIdx].inlet_to_outlet = this.previewItem.inlet_to_outlet
      if (this.previewItem.inlet)
        this.items[this.selectedIdx].inlet = this.previewItem.inlet
      this.previewItem = {}
      this.copyItemData = false
      this.selectedItem = this.items[this.selectedIdx]
      this.dialogProduct = true
      this.reRender()
    },
    getTag (transport, idx) {
      switch (transport) {
        case 'Chain Conveyor':
          this.setTagInItem('CC', idx)
          break;
        case 'Curve Chain Conveyor':
          this.setTagInItem('CC', idx)
          break;
        case 'Double Deck Chain Conveyor':
          this.setTagInItem('CC', idx)
          break;
        case 'Belt Conveyor':
          this.setTagInItem('BC', idx)
          break;
        case 'Screw Conveyor':
          this.setTagInItem('SC', idx)
          break;
        case 'Bucket Elevator':
          this.setTagInItem('BE', idx)
          break;
        case 'Chain Loop':
          this.setTagInItem('CL', idx)
          break;

        default:
          this.setTagInItem('ACC', idx)
          break;
      }
    },
    setTagInItem (tag, idx) {
      let tagLabel = `${tag}-${this.tags[tag]}`
      this.tags[tag] = this.tags[tag] + 1
      // set items tag
      this.items[idx].tag = tagLabel
    },
    handlePaste (e) {
      const items = event.clipboardData.items;
      for (let i = 0; i < items.length; i++) {
        const item = items[i];
        if (item.type.indexOf('image') !== -1) {
          e.preventDefault()
          const blob = item.getAsFile();
          const reader = new FileReader();
          reader.onload = (event) => {
            this.pasteImage = event.target.result;
          };
          reader.readAsDataURL(blob);
          this.openCropModal = true
          break; // Solo manejamos la primera imagen encontrada
        }
      }
    },
    crop () {
      const { coordinates, canvas, } = this.$refs.cropper.getResult();
      console.log(coordinates)
			this.coordinates = coordinates;
			// You able to do different manipulations at a canvas
			// but there we just get a cropped image, that can be used
			// as src for <img/> to preview result
			this.requisition.comments += `<br><br><br><img id="cropepImg" style="margin-top: 20px" height="400px" width="720px" src="${canvas.toDataURL()}" />`
      this.requisition.comments_en += `<br><br><br><img id="cropepImg" style="margin-top: 20px" height="400px" width="720px" src="${canvas.toDataURL()}" />`
      this.requisition.comments_pt += `<br><br><br><img id="cropepImg" style="margin-top: 20px" height="400px" width="720px" src="${canvas.toDataURL()}" />`
      this.pasteImage = ''
      this.openCropModal = false
    }
  },
  beforeMount () {
    this.requisition = JSON.parse(JSON.stringify(this.requisitionObj))
    if (this.requisition.items) {
      this.items = this.requisition.items
      const arr = Object.keys(this.tags)
      for (const tag of arr) {
        const isset = this.items.filter(item => {
          if (tag !== 'ACC')
            return item.tag.substring(0, 2) === tag
          else
            return item.tag.substring(0, 3) === tag
        })
        if (isset.length > 0) {
          const item = isset.pop()
          const split = item.tag.split('-')
          this.tags[tag] = parseInt(split.pop()) + 1
        }
      }
    }
  },
  async created () {
    if (this.providers.length < 1) {
      this.loadProviders()
    } else {
      this.providersOps = this.providers
      this.providerOptions = this.providers
    }
  }
}
</script>
