<template>
  <div class="row">
    <div class="col-12">
      <q-list>
        <q-item v-for="(pdf, idx) in pdfs" :key="idx">
          <q-item-section avatar>
            <q-avatar class="bg-primary">
              <q-icon name="picture_as_pdf" class="text-white" color="white"></q-icon>
            </q-avatar>
          </q-item-section>
          <q-item-section>
            <q-item-label class="font-12 text-primary text-bold">
              {{ pdf.provider }}
            </q-item-label>
            <q-item-label @click="showPdf(pdf.path)" caption lines="2" class="font-10 cursor-pointer">
              {{ pdf.path }}
            </q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-btn color="primary" icon="visibility" @click="showPdf(pdf.path)" size="12pt" unelevated round flat dense></q-btn>
          </q-item-section>
        </q-item>
      </q-list>
    </div>
  </div>
</template>

<script>

export default {
  // name: 'ListPdf',
  props: {
    pdfs: {
      type: Array,
      default: () => {
        return []
      }
    }
  },
  computed: {
  },
  data () {
    return {
      selecteds: []
    }
  },
  methods: {
    showPdf (pdf) {
      window.open(pdf, '_blank')
    }
  },
  async created () {
  },
  beforeMount () {
  }
}
</script>
