<template>
  <q-form @submit="onSubmit">
    <div class="container form-login">
      <div class="row">
        <div class="col-12">
          <center>
            <q-img src="images/logo.png" width="250px" />
          </center>
        </div>
        <div class="col-12 q-mt-lg q-pt-lg text-center">
          <p class="text-bold text-h4 text-primary text-capitalize">
            {{$t('login')}}
          </p>
        </div>
        <div class="col-12 q-mt-md">
          <q-input label="Email" rounded outlined :rules="[val => !!val || 'This field is required.', val => val.includes('@') || 'The mail must have @', val => val.includes('.') || 'The email entered must end in .com, .org, etc']" v-model="user.email" label-color="grey" color="primary">
          </q-input>
        </div>
        <div class="col-12 q-mt-md">
          <q-input label="Password" rounded outlined type="password" :rules="[val => !!val || 'this field is required']" v-model="user.password" label-color="grey" color="primary">
          </q-input>
        </div>
        <div class="col-12 q-mt-md text-center">
          <q-btn :loading="loading" type="submit" rounded class="text-capitalize" :label="$t('login')" size="md" color="primary" />
        </div>
        <div class="col-12 q-mt-xl text-center">
          <q-btn to="/recovery" flat densed class="text-capitalize" :label="$t('forgot')" color="primary" />
        </div>
      </div>
    </div>
  </q-form>
</template>

<script>

export default {
  // name: 'ComponentName',
  components: {
  },
  computed: {
  },
  data () {
    return {
      user: {},
      loading: false
    }
  },
  methods: {
    onSubmit () {
      this.loading = true
      this.$store.dispatch('auth/loginUser', this.user)
        .then((resp) => {
          this.$RoutePush('/dashboard')
          this.loading = false
        })
        .catch((err) => {
          this.loading = false
          this.$SendNotify('negative', err, 'red')
          console.log(err)
        })
    }
  },
  beforeMount () {
  }
}
</script>
