<template>
  <div class="row d-flex flex-center items-center justify-center" style="height: 100vh">
    <div class="col-12 col-md-3">
      <div class="row full-width">
        <div class="col-12">
          <q-card class="round-10 form-card-login">
            <q-card-section>
              <loginForm />
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import loginForm from './form'

export default {
  // name: 'ComponentName',
  components: {
    loginForm
  },
  computed: {
  },
  data () {
    return {
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
