<template>
  <q-form @submit="onSubmit">
    <div class="container form-login">
      <div class="row">
        <div class="col-12">
          <center>
            <q-img src="images/logo.png" width="250px" />
          </center>
        </div>
        <div class="col-12 q-pa-sm q-mt-lg q-pt-lg">
          <p class="text-bold text-h4 text-center text-primary text-capitalize">
            <span v-if="!$route.params.uuid">
              {{$t('recover')}}
            </span>
            <span v-else>{{$t('setPassword')}}</span>
          </p>
        </div>
        <div class="col-12 q-pa-sm" v-if="!$route.params.uuid">
          <q-input rounded outlined label="Email" :rules="[val => !!val || 'This field is required.', val => val.includes('@') || 'The mail must have @', val => val.includes('.') || 'The email entered must end in .com, .org, etc']" v-model="user.email" label-color="grey" color="primary">
          </q-input>
        </div>
        <div v-if="$route.params.uuid" class="col-12 col-md-6 q-pa-sm" :class="{ 'col-md-12': $route.params.uuid }">
          <q-input rounded outlined label="Password" type="password" :rules="[val => !!val || 'This field is required', val => val.length >= 8 || 'This field needs a minimum of 8 characters.']" v-model="user.password" label-color="grey" color="primary">
          </q-input>
        </div>
        <div v-if="$route.params.uuid" class="col-12 col-md-6 q-pa-sm" :class="{ 'col-md-12': $route.params.uuid }">
          <q-input rounded outlined label="Confirm password" type="password" :rules="[val => !!val || 'This field is required', val => val.length >= 8 || 'This field needs a minimum of 8 characters.', val => val === user.password || 'Passwords do not match']" v-model="user.password_confirmation" label-color="grey" color="primary">
          </q-input>
        </div>
        <div class="col-12 q-mt-md text-center">
          <q-btn :loading="loading" type="submit" class="text-capitalize" :label="$t('changeBtn')" size="md" rounded color="primary" />
        </div>
      </div>
    </div>
  </q-form>
</template>

<script>
import { changeForUser } from 'src/api/user'

export default {
  // name: 'ComponentName',
  components: {
  },
  computed: {
  },
  data () {
    return {
      user: {},
      loading: false
    }
  },
  methods: {
    onSubmit () {
      this.loading = true
      if (this.$route.params.uuid) {
        this.user.uuid = this.$route.params.uuid
        return changeForUser(this.user, (resp) => {
          this.loading = false
          this.user = {}
          this.$SendNotify('positive', resp.data.success, 'primary')
          this.$RoutePush('/')
        }, (err) => {
          this.loading = false
          this.$SendNotify('negative', err, 'red-9')
          console.log(err)
        })
        return true
      }
      this.$store.dispatch('auth/changePassword', this.user)
        .then((resp) => {
          this.loading = false
          this.user = {}
          this.$SendNotify('positive', resp.data.success, 'primary')
        })
        .catch((err) => {
          this.loading = false
          this.$SendNotify('negative', err, 'red')
          console.log(err)
        })
    }
  },
  beforeMount () {
  }
}
</script>
