<template>
  <div class="row d-flex flex-center items-center justify-center" style="height: 100vh">
    <div class="col-12 col-md-3 bg-login-mobile">
      <div class="row full-width flex-center items-center justify-center full-height" style="position: relative">
        <div class="col-12">
          <q-card class="round-10">
            <q-card-section>
              <recoveryForm />
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import recoveryForm from './recoveryForm'

export default {
  // name: 'ComponentName',
  components: {
    recoveryForm
  },
  computed: {
  },
  data () {
    return {
    }
  },
  methods: {
  },
  beforeMount () {
  }
}
</script>
